//============================================
// Office
//============================================


// Office Image
//============================================

.office_image
  max-width: 288px
  margin-bottom: $space
  +mq($bp-md)
    max-width: 100%