{{&gt; organisms-header }}
&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero}}
  {{/ page-hero }}

  {{# page-research-points }}
    {{&gt; organisms-latest-highlights }}
  {{/ page-research-points }}

  {{# page-research-projects }}
    {{&gt; organisms-latest-post }}
  {{/ page-research-projects }}

  {{# page-description }}
    {{&gt; organisms-block-typography }}
  {{/ page-description }}

  {{# page-search }}
    {{&gt; organisms-search-section }}
  {{/ page-search }}

  {{# page-content }}
    {{&gt; organisms-block-text }}
  {{/ page-content }}
&lt;/main&gt;
{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}