{{&gt; organisms-header-it }}
&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero }}
  {{/ page-hero }}
  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;p&gt;
          Se sei interessato a studiare o a fare un tirocinio all&rsquo;estero, puoi scegliere tra uno dei seguenti programmi internazionali:
        &lt;/p&gt;
      &lt;/div&gt;
      {{&gt; organisms-block-links }}
    &lt;/div&gt;
  &lt;/section&gt;
  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Come partecipare&lt;/h3&gt;
        &lt;p&gt;
          In unibz hai la possibilit&agrave; di frequentare uno o pi&ugrave; semestri  in &lt;a href=&quot;#&quot;&gt;universit&agrave; partner&lt;/a&gt; in tutto il mondo. Per partecipare, devi superare una selezione. Nei &lt;a href=&quot;#&quot;&gt;bandi di selezione Erasmus+ e Programma Accordi Bilaterali&lt;/a&gt; troverai i requisiti, le modalit&agrave; e le scadenze delle candidature.
          Il Servizio Relazioni Internazionali &egrave; il tuo riferimento per informazioni, candidature, finanziamenti e tutte le questioni relative alla mobilit&agrave; internazionale. Contattaci!
      &lt;/div&gt;
      {{&gt; molecules-block-contact }}
    &lt;/div&gt;
  &lt;/section&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}