<div class="unibz">
  <p><a href="#" class="btn-small">Button small</a></p>
  <p><a href="#" class="btn">Button</a></p>
  <p><a href="#" class="btn-big">Button big</a></p>
  <p><a href="#" class="btn-alt-small">Alternate Button Small</a></p>
  <p><a href="#" class="btn-alt">Alternate Button</a></p>
  <p><a href="#" class="btn-alt-big">Alternate Button Big</a></p>
  <p><a href="#" class="btn-disabled-small">Disabled Button Small</a></p>
  <p><a href="#" class="btn-disabled">Disabled Button</a></p>
  <p><a href="#" class="btn-disabled-big">Disabled Button Big</a></p>
  <p><a href="#" class="btn-text">Text Button</a></p>
  <p style="padding: 20px; background-color: #007be4;"><a href="#" class="btn-text-alt">Alternate Text Button</a></p>
</div>

<!--
<div class="des-art">
  <p><a href="#" class="btn">Button</a></p>
  <p><a href="#" class="btn-alt">Alternate Button</a></p>
</div>
-->