<a href="#" class="btn btn-filter {{ class }}">
  <span class="btn-filter_label">{{ button }}</span>
  <span class="btn-filter_counter">({{ span }})</span>
  <span class="btn-filter_close">✕</span>
</a>