<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width" />
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->
		<link rel="stylesheet" href="../../css/main.css?{{ cacheBuster }}" />

		<!-- Load Roboto Mono from google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto+Mono:300' rel='stylesheet' type='text/css'>
		
		<!-- Load Utopia Std font with typekit -->
		<script src="//use.typekit.net/myx3lhv.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

		<!-- Load FF DIN Pro font with myfonts -->
		<script type="text/javascript">
	    (function() {
	        var path = '//easy.myfonts.net/v2/js?sid=161376(font-family=FF+DIN+Pro+Medium)&sid=161377(font-family=FF+DIN+Pro+Light)&sid=161379(font-family=FF+DIN+Pro)&sid=161790(font-family=FF+DIN+Pro+Light+Italic)&key=0osDKRA3h9',
	            protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
	            trial = document.createElement('script');
	        trial.type = 'text/javascript';
	        trial.async = true;
	        trial.src = protocol + path;
	        var head = document.getElementsByTagName("head")[0];
	        head.appendChild(trial);
	    })();
		</script>
	</head>
	<body class="{{ bodyClass }}">