<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->
		<link rel="stylesheet" href="../../css/main.css" />

		<!-- Load Roboto Mono from google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto+Mono:300' rel='stylesheet' type='text/css'>
		
		<script src="//use.typekit.net/myx3lhv.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
	</head>
	<body class={{ faculty }}>