&lt;nav class=&quot;navAlphabet&quot;&gt;
  &lt;div class=&quot;navAlphabet-inner&quot;&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;A&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;B&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;C&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;D&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;E&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;F&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;G&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;H&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;I&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;J&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;K&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;L&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;M&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;N&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;O&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;P&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;Q&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;R&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;S&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;T&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;U&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;V&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;W&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;Z&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;Y&lt;/span&gt;
    &lt;span class=&quot;navAlphabet_letter&quot;&gt;Z&lt;/span&gt;
  &lt;/div&gt;
&lt;/nav&gt;