&lt;div class=&quot;block block-news g-row&quot;&gt;
  {{# empty }}
  &lt;a class=&quot;b-thumb g g-sm-8&quot; href=&quot;{{ url }}&quot;&gt;
    &lt;div class=&quot;b-thumb-empty&quot;&gt;{{&gt; atoms-heading-3 }}&lt;/div&gt;
  &lt;/a&gt;
  {{/ empty }}
  {{^ empty }}
  &lt;a class=&quot;b-thumb g g-sm-8&quot; href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-landscape-4x3 }}
  &lt;/a&gt;
  {{/ empty }}
  &lt;div class=&quot;b-text g g-sm-15 g-sm-push-1&quot;&gt;
    {{&gt; atoms-text-time }}
    {{&gt; atoms-heading-2 }}
    {{&gt; atoms-text-paragraph }}
    {{&gt; atoms-button-text-primary }}
  &lt;/div&gt;
&lt;/div&gt;