{{# lectures }}
  &lt;div class=&quot;typography typography-left&quot;&gt;
    {{&gt; atoms-heading-3 (class:&quot;h-theme&quot;)}}
  &lt;/div&gt;
  &lt;div class=&quot;blockLectures&quot;&gt;
    {{# lecture }}
      {{&gt; molecules-block-lecture }}
    {{/ lecture }}
  &lt;/div&gt;
{{/ lectures }}