{{&gt; organisms-header-it }}
&lt;main&gt;
  {{# master-hero }}
    {{&gt; organisms-hero }}
  {{/ master-hero }}

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;p class=intro-med&gt;
          La creativit&agrave; imprenditoriale ha bisogno di una solida preparazione. Se la prima difficilmente pu&ograve; essere insegnata, fornire la seconda &egrave; invece l&rsquo;obiettivo del corso di laurea magistrale in Imprenditorialit&agrave; e Innovazione.
          Se vuoi diventare un imprenditore o vuoi semplicemente realizzare una tua idea e creare una startup, ti forniamo gli strumenti necessari per offrire prodotti e servizi innovativi sul mercato.
        &lt;/p&gt;
        &lt;p&gt;
          Le &lt;a href=&quot;{{ link.pages-study-3-languages-it }}&quot;&gt;lingue di insegnamento&lt;/a&gt; sono il tedesco, l&rsquo;italiano e l&rsquo;inglese.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;glance&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        &lt;h3 class=&quot;glance_title&quot;&gt;Il corso in breve&lt;/h3&gt;
        &lt;div class=&quot;glance_text&quot;&gt;
          &lt;ul&gt;
            &lt;li&gt;Classe di laurea: LM-77&lt;/li&gt;
            &lt;li&gt;Crediti ECTS: 120&lt;/li&gt;
            &lt;li&gt;Durata del corso di studi: 2 anni&lt;/li&gt;
            &lt;li&gt;Lingue di insegnamento: italiano, tedesco e inglese&lt;/li&gt;
            &lt;li&gt;Posti di studio: 35 UE + 5 non-UE&lt;/li&gt;
            &lt;li&gt;Campus: Bolzano&lt;/li&gt;
            &lt;li&gt;Tasse annuali: 1343,50&euro;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Struttura&lt;/h3&gt;
        &lt;p&gt;
          I due anni di corso si tengono presso il campus di Bolzano e fondono pratica e teoria. Un esempio &egrave; il &quot;Laboratorio di Imprenditorialit&agrave;&quot; nel quale applichi a situazioni reali ci&ograve; che hai  appreso a lezione. Nell&rsquo;insegnamento di &quot;Lean Entrepreneurship&quot;, invece, il professore ti guider&agrave; nel processo di avviamento di una start up.
        &lt;/p&gt;
        &lt;p&gt;
          Oltre al tirocinio, nel secondo anno potrai partecipare a un viaggio di studio assieme ai professori. Lo scorso anno, ad esempio, gli studenti si sono recati a Tolosa per conoscerne l&rsquo;ecosistema di imprese e startup: hanno cos&igrave; potuto visitare l&rsquo;Airbus e parlare con venture capitalist per capire come presentare al meglio i loro progetti a possibili finanziatori.
        &lt;/p&gt;
        &lt;a href=&quot;{{ link.pages-study-plan-entrepr }}&quot; class=&quot;btn&quot;&gt;Il piano di studi&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;mediaBlock&quot;&gt;
        &lt;a class=&quot;mediaBlock_figure&quot; href=&quot;#&quot;&gt;
          &lt;img class=&quot;mediaBlock_thumb&quot; src=&quot;https://dl.dropboxusercontent.com/u/13990214/www/unibz/entrep-people.png&quot; alt=&quot;&quot;&gt;
        &lt;/a&gt;
        &lt;div class=&quot;mediaBlock_body&quot;&gt;
          &lt;h2 class=&quot;mediaBlock_title&quot;&gt;Persone&lt;/h2&gt;
          &lt;p&gt;
            Direttore del corso di studio: &lt;a href=&quot;#&quot;&gt;Prof. Alessandro Narduzzo&lt;/a&gt;&lt;br&gt;
            Rappresentante degli studenti: Leo Brugger&lt;br&gt;
            Altri professori: &lt;a href=&quot;#&quot;&gt;Prof. Christian Lechner Manfred&lt;/a&gt;, &lt;a href=&quot;#&quot;&gt;Prof. Fabrizio Durante&lt;/a&gt;, &lt;a href=&quot;#&quot;&gt;Prof. Maurizio Murgia&lt;/a&gt;
          &lt;/p&gt;
          &lt;a href=&quot;#&quot; class=&quot;btn-text btn-text-alt mediaBlock_btn&quot;&gt;Altre persone&lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Prospettive professionali&lt;/h3&gt;
        &lt;p&gt;
          Una volta laureato, sarai in grado di avviare un&rsquo;impresa. Potrai proporti come project manager per lo sviluppo di nuovi prodotti e per la gestione delle innovazioni in imprese gi&agrave; esistenti oppure proseguire gli studi con un master di secondo livello o un dottorato di ricerca.
        &lt;/p&gt;
        &lt;h3&gt;Daniel Kaneider, Bolzano&lt;/h3&gt;
        &lt;img class=&quot;left&quot; src=&quot;https://dl.dropboxusercontent.com/u/13990214/www/unibz/entrep-trestimonial.jpg&quot; alt=&quot;&quot;&gt;
        &lt;p class=&quot;testimonial_text&quot;&gt;
          Ho sempre voluto fondare un'impresa tutta mia. La motivazione non mi manca e le energie nemmeno. Grazie ai corsi seguiti e al costante accompagnamento dei professori, ho dato vita a una start up, Wams. Cosa facciamo? Produciamo calze di lana! Cerchiamo di portare avanti e al tempo stesso di innovare la prestigiosa tradizione manufatturiera italiana in questo settore. So quello che voglio - fare l&rsquo;imprenditore - e questa laurea mi ha aiutato a credere in quello che faccio.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Ammissione&lt;/h3&gt;
        &lt;p&gt;
          La motivazione conta, sia nel mondo dell&rsquo;impresa che per accedere a questa laurea magistrale! Verranno valutati i tuoi studi universitari, una lettera o un video motivazionale e l&rsquo;idea per una nuova impresa (o, in alternativa, il risultato del test GMAT).
        &lt;/p&gt;
        &lt;p&gt;
          Per essere ammesso dovrai dimostrare un livello di conoscenza pari a C1 nella prima lingua e B2 nella seconda lingua. Se non possiedi un certificato linguistico riconosciuto, puoi sostenere un &lt;a href=&quot;#&quot;&gt;esame di lingua&lt;/a&gt; presso unibz.
        &lt;/p&gt;
        &lt;p&gt;
          Trovi tutte le informazioni sui documenti necessari per la preiscrizione nel &lt;a href=&quot;#&quot;&gt;Manifesto degli studi&lt;/a&gt;.
        &lt;/p&gt;
        &lt;p&gt;Contattaci al tel. +39 0471 012100 oppure a &lt;a href=&quot;#&quot;&gt;study@unibz.it&lt;/a&gt;&lt;/p&gt;
        {{# master-submit }}
          {{&gt; atoms-button-big }}
        {{/ master-submit }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;
&lt;/main&gt;
{{&gt; organisms-footer-it-eco }}