{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}

  {{# page-intro }}
    {{&gt; organisms-block-text }}
  {{/ page-intro }}

  {{# page-lectures }}
    {{&gt; organisms-grid-title }}
  {{/ page-lectures }}

  {{# page-details }}
    {{&gt; organisms-block-text }}
  {{/ page-details }}
&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}