&lt;div class=&quot;block media-block&quot;&gt;
  &lt;a href=&quot;{{ url }}&quot;&gt;
  	&lt;div class=&quot;b-thumb&quot; style=&quot;background-image:url('http://placekitten.com/g/600/400')&quot;&gt;&lt;/div&gt;
  &lt;/a&gt;
	&lt;div class=&quot;b-text&quot;&gt;
		{{&gt; atoms-heading-2 }}
		{{&gt; atoms-paragraph }}
    {{&gt; atoms-button-text-alternate }}
	&lt;/div&gt;
&lt;/div&gt;