&lt;div class=&quot;unibz&quot;&gt;
  &lt;div class=&quot;block media-block&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;
    	&lt;div class=&quot;b-thumb&quot; style=&quot;background-image:url('http://placekitten.com/g/600/400')&quot;&gt;&lt;/div&gt;
    &lt;/a&gt;
  	&lt;div class=&quot;b-text&quot;&gt;
  		&lt;h2 class=&quot;h4 b-title&quot;&gt;{{ headline.short }}&lt;/h2&gt;
  		&lt;p&gt;{{ excerpt.medium }}&lt;/p&gt;
      &lt;a class=&quot;b-link&quot; href=&quot;{{ url }}&quot;&gt;Visit library page&lt;/a&gt;
  	&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;