{{&gt; organisms-header }}
&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero }}
  {{/ page-hero }}
  &lt;div class=&quot;l-container&quot;&gt;

  &lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}