{{# error }}
  <input {{ form.class }}  type="text" placeholder="{{ form.placeholder }}">
{{/ error }}
{{^ error }}
  <input {{ form.class }}  type="text" placeholder="{{ form.placeholder }}">
{{/ error }}