{{# error }}
  <input class="is-error" type="text" placeholder="{{ forms.input.placeholder.text }}">
{{/ error }}
{{^ error }}
  <input type="text" placeholder="{{ forms.input.placeholder.text }}">
{{/ error }}