<form class="form_input-search {{ class }}" role="search">
  <input class="form_input" type="search" placeholder="{{ span }}">
  <a class="form_input-searchButton" href="#"><i class="i i-search-gray"></i></a>
</form>