{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}

  {{# page-jobs }}
    &lt;section class=&quot;l-section&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        &lt;div class=&quot;typography&quot;&gt;
          {{&gt; atoms-heading-3 }}
        &lt;/div&gt;
        {{&gt; organisms-block-links }}
      &lt;/div&gt;
    &lt;/section&gt;
  {{/ page-jobs }}
&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}