&lt;nav id=&quot;nav-faculties&quot; class=&quot;js-nav navLinks&quot; data-nav-level=&quot;2&quot;&gt;
  &lt;ul class=&quot;nav_wrap navLinks_wrap&quot;&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Scienze e Tecnologie informatiche&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Economia&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Scienze della Formazione&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Design e Arti&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item&quot; href=&quot;{{ link.pages-faculty-natech }}&quot;&gt;Scienze e Tecnologie&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav id=&quot;nav-university&quot; class=&quot;js-nav navLinks {{ class }}&quot; data-nav-level=&quot;2&quot;&gt;
  &lt;ul class=&quot;nav_wrap navLinks_wrap&quot;&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Profilo&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Organizzazione&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Cooperazione&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Offerte lavorative&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Bandi e concorsi&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Ufficio stampa&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;