{{> organisms-header-de }}
<main class="home">
  <section class="hero hero-home" role="banner"></section>
  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <p class="intro">
          Die <strong>Freie Universität Bozen</strong> befindet sich in einer der attraktivesten Regionen Europas an der Schnittstelle zwischen dem deutschen und italienischen Kultur- und Wirtschaftsraum. Die Dreisprachigkeit in <a href="#">Lehre</a> und <a href="#">Forschung</a> sowie ein ideales Studienumfeld und eine exzellente Ausstattung zeichnen sie aus.
        </p>
      </div>
    </div>
  </section>
  
  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Fakultäten</h3>
        <p>
          Die unibz ist keine Volluniversität. Ihr Studienangebot an den 5 Fakultäten und die Schwerpunkte in der Forschung spiegeln ihre starke regionale Verwurzelung und ihre gleichzeitige internationale Vernetzung wider.
        </p>
      </div>
      <!--
      {{# faculties}}
        {{> organisms-block-links }}
      {{/ faculties }}
      -->
      <div class="blockLink_wrapper g-row">
        <div class="g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_edu">
          <a class="blockLink" href="#">Bildungswissenschaften</a>
        </div>
        <div class="g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_eco">
          <a class="blockLink" href="#">Wirtschaftswissenschaften</a>
        </div>
        <div class="g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_comp-science">
          <a class="blockLink" href="#">Informatik</a>
        </div>
        <div class="g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_des-art">
          <a class="blockLink" href="#">Design und Künste</a>
        </div>
        <div class="g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_science-tech">
          <a class="blockLink" href="{{ link.pages-faculty-natech }}">Naturwissenschaften und Technik</a>
        </div>
      </div>
    </div>
  </section>

  <div class="banner" role="banner" style="background-image:url('https://dl.dropboxusercontent.com/u/13990214/www/unibz/homepage-study-unibz.jpg')">
      <div class="l-container">
        <h2 class="banner_subTitle">Studieren an der unibz</h2>
        <p class="banner_text">
          Wir bieten mehrsprachige Studienprogramme in Deutsch, Italienisch und Englisch an sowie ein ideales Umfeld für Studium und Forschung in einer Region mit hohem Freizeitwert und überdurchschnittlicher Lebensqualität.
        </p>
        <a href="{{ link.pages-study-at-unibz }}" class="btn">Mehr info</a>
      </div>
  </div>

  <section class="l-section">
    <div class="l-container">
        <div class="typography">
          <h2>Forschung</h2>
          <img class="right" src="https://dl.dropboxusercontent.com/u/13990214/www/unibz/research.jpg" alt="">
          <p>
            Interdisziplinarität und Nachhaltigkeit ebenso wie lokale und internationale Themen bestimmen die Ausrichtung der Forschung an der unibz. Geforscht wird an allen fünf Fakultäten und an drei Kompetenzzentren. Die Forschungsfinanzierung erfolgt über interne Mittel und in jüngster Zeit vermehrt über nationale und europäische Finanzierungsprogramme und Drittmittel.
          </p>
          <a class="btn" href="#">Projekte</a>
        </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
        <div class="typography">
          <h2>Verantwortung für Region und Gesellschaft</h2>
          <p>
            Neben Lehre und Forschung erachtet es die unibz als einen weiteren wichtigen Auftrag, mit Region und Gesellschaft in eine kooperative Austauschbeziehung zu treten. Dies geschieht über gezielte Formen des <a href="#">Wissens- und Technologietransfers</a>, verstärkte Kooperationen mit <a href="#">Unternehmen</a>, einem vielfältigen Angebot im Bereich des <a href="#">Lebenslangen Lernens</a> (JuniorUni, Studium Generale und Senior Student Card) sowie nicht zuletzt als Partnerinstitution für kulturelle Institutionen und Initiativen.
          </p>
          <a class="btn" href="#">Mehr info</a>
        </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      {{# library }}
        {{> molecules-media-block }}
      {{/ library }}
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h2>News</h2>
        {{# news }}
          {{> molecules-block-post }}
        {{/ news }}
        <a class="btn" href="#">Alle news</a>
      </div>
    </div>
  </section>

  <div class="academia">
    <div class="l-container">
      <div class="typography">
        <h2>Academia #70</h2>
        <p>
          Academia ist das Magazin der EURAC und unibz.
        </p>
        <img class="left" src="https://dl.dropboxusercontent.com/u/13990214/www/unibz/academia.jpeg" alt="">
        <span style="text-transform: uppercase; font-size: smaller">Titelthema</span>
        <p class="h4">Tra marmotte e sensori</p class="h4">
        <p>
          La Val di Mazia è entrata a far parte del consorzio internazionale LTER (Long Term Ecological Research Network) che comprende diversi siti di monitoraggio in tutto il mondo.
        </p>
        <p class="h4">Scheitern ist kein Makel</p class="h4">
        <p>
          Es gehört zum Repertoire eines Startuppers. Worauf es wirklich ankommt: möglichst früh und billig zu scheitern, um beim nächsten Mal einen Hit zu landen.
        </p>
        <p class="h4">(Citizen) Journalist</p class="h4">
        <p>
          American journalist Marc Cooper explains why journalists as we know them are a dying species.
        </p>
        <a class="btn bg-academia" href="#">Online lesen</a>
      </div>
    </div>
  </div>

</main>
{{> organisms-footer }}