{{> organisms-header }}
<main>
  {{# hero }}
    {{> organisms-hero }}
  {{/ hero }}
  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <p class="intro">
          Die Freie Universität Bozen befindet sich an der Schnittstelle zwischen dem deutschen und italienischen Kultur- und Wirtschaftsraum. Die Dreisprachigkeit in <a href="#">Lehre</a> und <a href="#">Forschung</a> sowie ein ideales Studienumfeld und eine exzellente Ausstattung zeichnen uns aus.
        </p>
      </div>
    </div>
  </section>
  
  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Fakultäten</h3>
        <p>
          Occupy small batch bespoke yr brunch, hashtag listicle selfies farm-to-table lomo salvia taxidermy chambray freegan Blue Bottle. Irony McSweeney's Odd Future Brooklyn blog sriracha.
        </p>
      </div>
      {{# faculties}}
        {{> organisms-block-links }}
      {{/ faculties }}
    </div>
  </section>

  <section class="l-section">
    {{# banner }}
      {{> organisms-banner }}
    {{/ banner }}
  </section>

  <section class="l-section">
    <div class="l-container">
        <div class="typography">
          <h2>Forschung</h2>
          <img src="https://dl.dropboxusercontent.com/u/13990214/www/unibz/research.jpg" alt="">
          <p>
            Interdisziplinarität und Nachhaltigkeit ebenso wie lokale und internationale Themen bestimmen die Ausrichtung der Forschung an der unibz. Geforscht wird an allen fünf Fakultäten und an drei Kompetenzzentren. Die Forschungsfinanzierung erfolgt über interne Mittel und in jüngster Zeit vermehrt über nationale und europäische Finanzierungsprogramme und Drittmittel.
          </p>
        </div>
    </div>
  </section>


  <section class="l-section">
    <div class="l-container">
      {{# library }}
        {{> molecules-media-block }}
      {{/ library }}
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h2>Latest news</h2>
        {{# news }}
          {{> molecules-block-post }}
        {{/ news }}
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="academia">
      <div class="l-container">
        <div class="typography">
          <h2>Academia</h2>
        </div>
        {{# academia }}
          {{> molecules-block-post }}
        {{/ academia }}
      </div>
    </div>
  </section>

</main>
{{> organisms-footer }}