{{> organisms-header }}
<main class="{{ faculty }}">
  {{# faculty-hero }}
    {{> organisms-hero }}
  {{/ faculty-hero }}
  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <p>
          An der 2007 gegründeten Fakultät für Naturwissenschaften und Technik lehren und forschen 22 Professoren und eine ständig steigende Anzahl an Forschern in den Bereichen Agrarwissenschaften und Umweltmanagement sowie Industrie-, Maschinen- und Energieingenieurwesen. 
        </p>
        <img class="left" src="https://dl.dropboxusercontent.com/u/13990214/www/unibz/climate_large.jpg" alt="">
        <p>
          Das Prinzip der Nachhaltigkeit und der konsequent angewandte interdisziplinäre Ansatz bildet die Grundlage für die Lösung komplexer Probleme bei der Erschließung von Berggebieten, in den Bereichen Energieeffizienz, Nahrungsmittelproduktion und -qualität sowie Prozess- und Produktinnovationen für die Industrie.
        </p>
        <p>
          Die über 300 Studierenden finden an der Fakultät aufgrund der guten Betreuungrelation und der modernen Ausstattung (Labore, Lehrräume, Bibliothek) optimale Studienbedingungen. Austauschmöglichkeiten und internationale Kooperationen mit Universitäten weltweit bieten Studierenden, Forschern und Professoren sehr gute Bedingungen für eine wissenschaftliche Karriere auch innerhalb der Universität.
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    {{# faculty-banner }}
      {{> organisms-banner }}
    {{/ faculty-banner }}
  </section>
  
  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Bachelors</h3>
        {{# faculty-bachelor }}
          {{> organisms-block-links }}
        {{/ faculty-bachelor }}

        <h3>Masters</h3>
        {{# faculty-master }}
          {{> organisms-block-links }}
        {{/ faculty-master }}

        <h3>PhDs</h3>
        {{# faculty-phd }}
          {{> organisms-block-links }}
        {{/ faculty-phd }}
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
        <div class="typography">
          <h2>Forschung</h2>
          <img class="right" src="https://dl.dropboxusercontent.com/u/13990214/www/unibz/natech-research.jpg" alt="">
          <p>
            Die Forschungsschwerpunkte der Fakultät liegen in den Bereichen Energieeffizienz, Alpine Technologien, Innovation im Industriesektor sowie Lebensmittelproduktion und -technologie. Derzeit arbeiten die Forscher an 77 Projekten mit einem Gesamtvolumen von 3,2 Mio. Euro (62% davon Drittmittel). Im Spätsommer 2015 sind zwei neue Forschungslabore für den Bereich Lebensmitteltechnologie und Energieproduktion eingerichtet und zwei weitere - für Alpine Technologie und Klimahaus - mit State-of-the-Art Technologie ausgestattet worden. Die Fakultät verfügt insgesamt über 16 Labore, in denen ein junges Forscherteam in insbesondere für die Südtiroler Wirtschaft strategischen Sektoren tätig ist.
          </p>
        </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      {{# faculty-person }}
        {{> molecules-media-block }}
      {{/ faculty-person }}
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h2>Partner</h2>
        <img src="https://dl.dropboxusercontent.com/u/13990214/www/unibz/finite_large.jpg" alt="">
        <p>
          Laimburg, Technopark, aziende
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h2>Latest news</h2>
        {{# faculty-news }}
          {{> molecules-block-post }}
        {{/ faculty-news }}
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h2>Upcoming events</h2>
      </div>
      {{# faculty-event }}
        {{> molecules-block-event }}
      {{/ faculty-event }}
    </div>
  </section>
</main>
{{> organisms-footer }}