{{> organisms-header-de }}
<main>
  <section class="hero" role="banner" style="background-image:url(https://dl.dropboxusercontent.com/u/13990214/www/unibz/tourism-hero.jpg)">
    <div class="hero-inner">
      <h1 class="hero_title">
        <span class="hero_titleLabel">Bachelor in</span>
        Tourismus-, Sport- und Eventmanagement</h1>
      </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <p class="intro-med">
          Die Lehrveranstaltungen finden am Campus der Universität in Bruneck statt. Während des Studiums eignen Sie sich Kenntnisse im internationalen Tourismusmanagement an. Sie lernen, Veranstaltungen zielgerichtet und systematisch zu konzipieren, zielgruppengerecht zu kommunizieren und erfolgreich umzusetzen. Lehrende aus verschiedensten Ländern vermitteln Fachkenntnisse für Tourismusexpertinnen und -experten  und Event- und Sportmanagerinnen und -manager von morgen.
        </p>
        <p>
          Die <a href="{{ link.pages-study-3-languages-de }}">Unterrichtssprachen</a> sind Deutsch, Italienisch und Englisch.
        </p>
      </div>
    </div>
  </section>

  <div class="glance">
    <div class="l-container">
      <h3 class="glance_title">Kurzinfo zum Studiengang</h3>
      <div class="glance_text">
        <ul>
          <li>Bachelorklasse: L-18</li>
          <li>ECTS: 180</li>
          <li>Regelstudienzeit: 3 Jahre</li>
          <li>Unterrichtssprachen: Italienisch, Deutsch und Englisch</li>
          <li>Studienplätze: 110 EU + 5 Nicht-EU</li>
          <li>Campus: Bruneck</li>
          <li>Studiengebühren: 1343,50€</li>
        </ul>
      </div>
    </div>
  </div>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Aufbau</h3>
        <p>
          Im ersten Studienabschnitt steht das Erlernen von betriebswirtschaftlichen, volkswirtschaftlichen und juristischen Grundlagen im Mittelpunkt. In der zweiten Studienhälfte definieren Sie anhand einer Reihe fachspezifischer Lehrveranstaltungen aus den Bereichen Tourismus-, Sport- und Eventmanagement Ihren Schwerpunkt. Das Studium setzt sich dabei zu gleichen Teilen aus theoretischen und anwendungsorientierten Lehrveranstaltungen zusammen.
          Ein besonderes Lehrangebot des Studienganges ist der <a href="#">Tourism Management Club</a> (TMC): ein Team von 15 Studierenden organisiert jedes Jahr in Eigenregie eine Vortragsreihe, zu der nahmhafte Referentinnen und Referenten aus Wirtschaft und Wissenschaft zu aktuellen Themen und Entwicklungen aus den Bereichen Tourismus und Sport- und Eventmanagement.
          Während eines Pflichtpraktikums, das ein Großteil der Studierenden im Ausland absolviert,  erhalten Sie die Möglichkeit, Ihre erworbenen Kenntnisse und Kompetenzen praktisch umzusetzen.
        </p>
        <a href="{{ link.pages-study-plan-tourism }}" class="btn">Studienplan</a>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="mediaBlock">
        <a class="mediaBlock_figure" href="#">
          <img class="mediaBlock_thumb" src="https://dl.dropboxusercontent.com/u/13990214/www/unibz/tourism-people.png" alt="">
        </a>
        <div class="mediaBlock_body">
          <h2 class="mediaBlock_title">Personen</h2>
          <p>
            Studiengangsleiter: <a href="#">Prof. Dr. Oswin Maurer</a><br>
            Studentenvertreter: Isabel Carolin Maria Vescia<br>
            Weitere Professoren: <a href="#">Prof. Dr. Andreas Heinrich Hamel</a>, <a href="#">Prof. Linda Osti</a>, <a href="#">Dr. Serena Volo</a>, <a href="#">Dr. Mattia Cai</a>
          </p>
          <a href="#" class="btn-text btn-text-alt mediaBlock_btn">Weitere Personen</a>
        </div>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Austauschprogramme und Praktika</h3>
        <p>
          Die Unibz bietet derzeit mehr als 100 <a href="#">Austauschabkommen</a> mit Partneruniversitäten weltweit und verfügt über ein breites Netzwerk an Kooperationen mit <a href="#">Praktikumsbetrieben</a> im In- und Ausland.
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Mögliche Berufsfelder</h3>
        <p>
          Nach Studienabschluss eröffnen sich Ihnen vielfältige Möglichkeiten. Sie können als Abteilungsleiter, Junior Manager, als Fachkräfte in Freizeiteinrichtungen, in Tourismusorganisationen, in der Hotellerie und in Sportclubs und Sportorganisationen tätig sein. Aber auch der Einstieg in Event- und PR-Agenturen oder bei Messe- und Kongressveranstaltern ist möglich. Ferner können Sie an Ihren Bachelorabschluss ein weiterführendes Masterstudium im internationalen Management, Tourismus-, Sport- und Eventmanagement oder Betriebsführung und Betriebsorganisation anschließen.
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Susanna Peisert aus Stuttgart</h3>
        <img class="left" src="https://dl.dropboxusercontent.com/u/13990214/www/unibz/tourism-testimonial.jpg" alt="">
        <p class="testimonial_text">
          Ich habe mich für diesen Studiengang aufgrund der dreisprachigen Ausrichtung und der optimalen Studienbedingungen entschieden. Das obligatorische Praktikum und die vielfältigen Austauschmöglichkeiten, ich war beispielsweise an der University of Lethbridge in Kanada, sind ein weiterer Pluspunkt.
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Zulassung</h3>
        <p>
          Voraussetzung für die Zulassung ist der Nachweis von Niveau B2 in zwei der drei Unterrichtssprachen (Italienisch, Deutsch, Englisch).
          Wenn Sie kein anerkanntes Sprachzertifikat besitzen, können Sie die <a href="#">Sprachprüfung</a> an der unibz ablegen.
        </p>
        <h4>Bewerbungsverfahren</h4>
        <ol>
          <li>Online-Bewerbung bis zum 22. Juli 2016.</li>
          <li>
            Auswahlkriterien: Notendurchschnitt des drittletzten und vorletzten Schuljahres (90%), Motivationsschreiben (10%).
          </li>
        </ol>
        <p>
          Mehr Infos im <a href="#">Studienmanifest</a>. Das Studienmanifest enthält Informationen über Studiengang, Studienplan, Zulassungstitel, erforderliche Sprachkompetenzen, Bewerbung, Auswahlverfahren, Immatrikulation und Studiengebühren.
        </p>

        {{# bachelor-submit }}
          {{> atoms-button-big }}
        {{/ bachelor-submit }}
      </div>
    </div>
  </section>
</main>
{{> organisms-footer-de-eco }}