{{> organisms-header }}
<main>
  {{# bachelor-hero }}
    {{> organisms-hero }}
  {{/ bachelor-hero }}

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Beschreibung des Studienganges</h3>
        <p>
          Die Lehrveranstaltungen finden am Campus der Universität in Bruneck, einer Zweigstelle der Fakultät für Wirtschaftswissenschaften, statt.
          Während des Studiums eignen Sie sich Kenntnisse im internationalen Tourismusmanagement an. Sie lernen, Veranstaltungen zu konzipieren, zu planen und zu implementieren. Internationale Professoren und Dozenten, die über ein breites Fachwissen verfügen und sich in der Forschung engagieren, sorgen für eine optimale Studienbetreuung und ebnen den Weg für die touristischen Fachleute sowie für die Event- und Sportmanager von morgen.
        </p>
        <p>
          Die Unterrichtssprachen sind Deutsch, Italienisch und Englisch.
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="glance">
      <div class="l-container">
        <h3 class="glance_title">Kurz info zum Studiengang</h3>
        <div class="glance_text">
          <ul>
            <li>Bachelorklasse: L-33 </li>
            <li>ECTS: 180</li>
            <li>Regelstudienzeit: 3 Jahre</li>
            <li>Unterrichtssprachen: Italienisch, Deutsch und Englisch</li>
            <li>Studienplätze: 50 EU + 5 Nicht-EU</li>
            <li>Campus: Brunek</li>
            <li>Studiengebühren: 1343,50€</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Aufbau des Studienganges</h3>
        <p>
          In der ersten Studienhälfte lernen Sie betriebswirtschaftliche, volkswirtschaftliche und juridische Grundlagen kennen. Dazu gehören zum Beispiel Veranstaltungen zu Rechtssystemen, Rechnungswesen oder Kommunikation und Strategie.
          In der zweiten Studienhälfte besuchen Sie fachspezifische Lehrveranstaltungen aus den Bereichen Tourismus-, Sport- und Eventmanagement. Das Studium setzt sich dabei zu gleichen Teilen aus theoretischen und anwendungsorientierten Lehrveranstaltungen zusammen.
          Während eines Pflichtpraktikums erhalten Sie zudem die Möglichkeit, ihre erworbenen Kenntnisse und Kompetenzen praktisch umzusetzen. Aufgrund der internationalen Ausrichtung des Studienganges sollten Sie das Praktikum möglichst im Ausland absolvieren. So können Sie Auslandserfahrungen sammeln und gleichzeitig Ihre Fremdsprachenkenntnisse erweitern.
        </p>
        {{# bachelor-structure }}
          {{> atoms-button }}
        {{/ bachelor-structure }}
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Mögliche Berufsfelder</h3>
        <p>
          Nach Studienabschluss eröffnen sich Ihnen vielfältige Möglichkeiten. Sie können als Abteilungsleiter, Junior Manager, als Fachkräfte in Freizeiteinrichtungen, in Tourismusorganisationen, in der Hotellerie und in Sportclubs und Sportorganisationen tätig sein. Aber auch der Einstieg in Event- und PR-Agenturen oder bei Messe- und Kongressveranstaltern ist möglich. Ferner können Sie an ihren Bachelorabschluss ein weiterführendes Masterstudium in internationalem Management, Tourismus-, Sport- und Eventmanagement oder Betriebsführung und Betriebsorganisation anschließen.
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Zulassung</h3>
        <p>
          Voraussetzung für die Zulassung ist der Nachweis von Niveau B2 in zwei der drei Unterrichtssprachen (Italienisch, Deutsch, Englisch).
          Wenn Sie kein anerkanntes Sprachzertifikat besitzen, können Sie die <a href="#">Sprachprüfung</a> an der unibz ablegen.
        </p>
        <h4>Bewerbungsverfahren</h4>
        <ol>
          <li>Online-Bewerbung bis zum 22. Juli 2016.</li>
          <li>
            Auswahlkriterien: Notendurchschnitt des drittletzten und vorletzten Schuljahres (90%), Motivationsschreiben (10%).
          </li>
        </ol>
        <p>Mehr Infos im <a href="#">Studienmanifest</a>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        {{# bachelor-submit }}
          {{> atoms-button-big }}
        {{/ bachelor-submit }}
      </div>
    </div>
  </section>
</main>
{{> organisms-footer }}