{{> organisms-header }}
<main class="js-main">
  {{# bachelor-hero }}
    {{> organisms-hero }}
  {{/ bachelor-hero }}

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <p>
          Wenn Sie sich für dieses Studium entscheiden, sollten Sie keine Scheu davor haben, wirtschaftliche, politische und gesellschaftliche Fragestellungen aus verschiedenen Perspektiven zu betrachten. Welche wirtschaftspolitischen Handlungsmöglichkeiten haben politische Akteure, welchen Einfluss haben diese auf gesellschaftspolitische Entwicklungen und welche wirtschaftlichen Zusammenhänge bestehen? All diese Fragen lernen Sie während ihrer Studienzeit zu beantworten. Darüber hinaus werden Fragen der Politik aufgeworfen - warum beispielsweise Staaten in den Krieg ziehen oder Frieden schließen oder wie sich Demokratie in einem Staat entwickelt. Im Bereich der Philosophie fördern renommierte Professoren zudem die Entwicklung des analytischen Denkens.
        </p>
        <p>
          Die Unterrichtssprachen sind Deutsch, Italienisch und Englisch.
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="glance">
      <div class="l-container">
        <h3 class="glance_title">Kurzinfo zum Studiengang</h3>
        <div class="glance_text">
          <ul>
            <li>Bachelorklasse: L-33 </li>
            <li>ECTS: 180</li>
            <li>Regelstudienzeit: 3 Jahre</li>
            <li>Unterrichtssprachen: Italienisch, Deutsch und Englisch</li>
            <li>Studienplätze: 50 EU + 5 Nicht-EU</li>
            <li>Campus: Bozen</li>
            <li>Studiengebühren: 1343,50€</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Aufbau</h3>
        <p>
          Dieser Studiengang ist interdisziplinär ausgerichtet und verbindet Volkswirtschaftslehre, Politikwissenschaften und Philosophie. Der Schwerpunkt liegt auf der Volkswirtschaftslehre: Sie vertiefen insbesondere klassische wirtschaftswissenschaftliche Fächer wie Allgemeine Betriebswirtschaftslehre, Finanzmärkte und Institutionen, Ökonometrie, Mathematik und  Statistik. Fächer wie Politikwissenschaften, Grundlinien der Philosophie, Öffentliches und Europäisches Recht und Wirtschaftsrecht runden das Angebot ab. Ein besonderer Fokus wird auf die Fremdsprachen gelegt. Es sind sowohl ein Praktikum als auch ein Auslandsaufenthalt vorgesehen.
        </p>
        {{# bachelor-structure }}
          {{> atoms-button }}
        {{/ bachelor-structure }}
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Mögliche Berufsfelder</h3>
        <p>
          Sie können im Dienstleistungssektor und Journalismus oder in öffentlichen und privaten Organisationen beziehungsweise gemeinnützigen Einrichtungen tätig sein. Die Mehrheit der Studierenden entschließt sich jedoch für ein Weiterstudium in Bereichen wie beispielsweise internationales Management oder internationale Beziehungen.
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Elena la Rocca, Absolventin des Studienganges</h3>
        <img class="left" src="http://studiengaenge.zeit.de/uploads/images/course/ad68749/statement/2014_19_uni084FB_1.jpg" alt="">
        <p>
          My name is Elena, I am 21 years old and I come from Milan. I'm studying Economics and Social Sciences, commonly known as PPE. The reason I chose unibz? Because I can switch from one language to the other and create 'Genglitalian' neologisms (a mix of German, English and Italian) and the others do understand me! After my Abitur at the Deutsche Schule Mailand, I wanted to keep up my multilingualism. I did not want to study languages; I wanted to study in more languages. With PPE it was love at first sight: Philosophie, Politica and Economics – three study areas that intertwine in three languages. I can talk 'gemischt', communicating in the most spontaneous way 'quello che mi passa per la testa'. And that's what I like about unibz!
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Zulassung</h3>
        <p>
          Voraussetzung für die Zulassung ist der Nachweis von Niveau B2 in zwei der drei Unterrichtssprachen (Italienisch, Deutsch, Englisch).
          Wenn Sie kein anerkanntes Sprachzertifikat besitzen, können Sie die <a href="#">Sprachprüfung</a> an der unibz ablegen.
        </p>
        <h4>Bewerbungsverfahren</h4>
        <ol>
          <li>Online-Bewerbung bis zum 22. Juli 2016.</li>
          <li>
            Auswahlkriterien: Notendurchschnitt des drittletzten und vorletzten Schuljahres (90%), Motivationsschreiben (10%).
          </li>
        </ol>
        <p>
          Mehr Infos im <a href="#">Studienmanifest</a>. Das Studienmanifest enthält Informationen über Studiengang, Studienplan, Zulassungstitel, erforderliche Sprachkompetenzen, Bewerbung, Auswahlverfahren, Immatrikulation und Studiengebühren.
        </p>

        {{# bachelor-submit }}
          {{> atoms-button-big }}
        {{/ bachelor-submit }}
      </div>
    </div>
  </section>
</main>
{{> organisms-footer }}