{{> organisms-header }}
<main>
  {{# master-hero }}
    {{> organisms-hero }}
  {{/ master-hero }}

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <p class="intro-med">
          EMMA (Environmental Management of Mountain Areas) è un corso di laurea magistrale internazionale offerto in collaborazione con l’Università di Innsbruck. Il titolo di studio rilasciato è valido sia in Italia che in Austria.
          Grazie alla formazione interdisciplinare, una volta laureato, avrai le competenze teoriche e pratiche necessarie per operare come specialista in ecologia del paesaggio delle aree alpine.
        </p>
        <p>
          La lingua ufficiale del corso è l'inglese. Saranno però offerti corsi opzionali in italiano e tedesco.
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="glance">
      <div class="l-container">
        <h3 class="glance_title">Il corso in breve</h3>
        <div class="glance_text">
          <ul>
            <li>Classe di laurea: LM-37</li>
            <li>Crediti ECTS: 120</li>
            <li>Durata del corso di studi: 2 anni</li>
            <li>Lingue di insegnamento: inglese</li>
            <li>Posti di studio: 25 UE + 10 non-UE</li>
            <li>Campus: Bolzano e Innsbruck</li>
            <li>Tasse annuali: 1343,50€</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Struttura</h3>
        <p>
          Il primo anno seguirai le lezioni presso la Facoltà di Scienze e Tecnologie a Bolzano; il secondo anno, invece, le lezioni si terranno presso la Facoltà di Biologia e la Facoltà di Scienze Tecnologiche a Innsbruck.
          Ecologia del paesaggio, idrologia, telerilevamento e statistica applicata saranno alcune delle discipline fondamentali che studierai durante il corso. A queste, affiancherai materie come il management delle foreste montane o dei sistemi agricoli nei territori montani, il restauro degli ecosistemi, la pianificazione del paesaggio, il turismo e lo sviluppo agrario sostenibile. 
          Il corso prevede inoltre escursioni, progetti di studio e la stesura della tesi magistrale. In queste occasioni dovrai impiegare quanto appreso a lezione per risolvere problemi pratici.
        </p>
        {{# master-structure }}
          {{> atoms-button }}
        {{/ master-structure }}
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Prospettive professionali</h3>
        <p>
          Il corso ti prepara alla professione di Dottore Forestale ed Ambientale.
        </p>
        <p>
          Una volta laureato, potrai monitorare gli ecosistemi montani, gestire in maniera sostenibile le risorse ambientali, realizzare piani di sviluppo turistico ed agrituristico, progettare interventi selvicolturali e di rimboschimento, riqualificare ambienti degradati ed effettuare valutazioni di impatto ambientale e analisi dei rischi idro-geologici in aree montane.
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Ammissione</h3>
        <p>
          Per accedere a EMMA, devi essere in possesso di una laurea triennale nei settori dell’ingegneria e delle scienze naturali e dimostrare un livello di conoscenza della lingua inglese B2. Se non disponi di un certificato linguistico internazionale, puoi sostenere un <a href="#">esame di lingua</a> presso unibz.
        </p>
        <p>
          Trovi tutte le informazioni sui documenti necessari per la preiscrizione nel <a href="#">Manifesto degli studi</a>.
        </p>

        {{# master-submit }}
          {{> atoms-button-big }}
        {{/ master-submit }}
      </div>
    </div>
  </section>
</main>
{{> organisms-footer }}