{{> organisms-header }}
<main class="js-main">
  {{# master-hero }}
    {{> organisms-hero }}
  {{/ master-hero }}

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <p>
          La creatività imprenditoriale ha bisogno di una solida preparazione. Se la prima difficilmente può essere insegnata, fornire la seconda è invece l’obiettivo del corso di laurea magistrale in Imprenditorialità e Innovazione.
          Se vuoi diventare un imprenditore o vuoi semplicemente realizzare una tua idea e creare una startup, ti forniamo gli strumenti necessari per offrire prodotti e servizi innovativi sul mercato.
        </p>
        <p>
          Le lingue di insegnamento sono il tedesco, l’italiano e l’inglese.
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="glance">
      <div class="l-container">
        <h3 class="glance_title">Il corso in breve</h3>
        <div class="glance_text">
          <ul>
            <li>Classe di laurea: LM-77</li>
            <li>Crediti ECTS: 120</li>
            <li>Durata del corso di studi: 2 anni</li>
            <li>Lingue di insegnamento: italiano, tedesco e inglese</li>
            <li>Posti di studio: 35 UE + 5 non-UE</li>
            <li>Campus: Bolzano</li>
            <li>Tasse annuali: 1343,50€</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Struttura</h3>
        <p>
          I due anni di corso si tengono presso il campus di Bolzano e fondono pratica e teoria. Un esempio è il "Laboratorio di Imprenditorialità" nel quale applichi a situazioni reali ciò che hai  appreso a lezione. Nell’insegnamento di "Lean Entrepreneurship", invece, il professore ti guiderà nel processo di avviamento di una start up.
        </p>
        <p>
          Oltre al tirocinio, nel secondo anno potrai partecipare a un viaggio di studio assieme ai professori. Lo scorso anno, ad esempio, gli studenti si sono recati a Tolosa per conoscerne l’ecosistema di imprese e startup: hanno così potuto visitare l’Airbus e parlare con venture capitalist per capire come presentare al meglio i loro progetti a possibili finanziatori.
        </p>
        {{# master-structure }}
          {{> atoms-button }}
        {{/ master-structure }}
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Prospettive professionali</h3>
        <p>
          Una volta laureato, sarai in grado di avviare un’impresa. Potrai proporti come project manager per lo sviluppo di nuovi prodotti e per la gestione delle innovazioni in imprese già esistenti oppure proseguire gli studi con un master di secondo livello o un dottorato di ricerca.
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Ammissione</h3>
        <p>
          La motivazione conta, sia nel mondo dell’impresa che per accedere a questa laurea magistrale! Verranno valutati i tuoi studi universitari, una lettera o un video motivazionale e l’idea per una nuova impresa (o, in alternativa, il risultato del test GMAT).
        </p>
        <p>
          Per essere ammesso dovrai dimostrare un livello di conoscenza pari a C1 nella prima lingua e B2 nella seconda lingua. Se non possiedi un certificato linguistico riconosciuto, puoi sostenere un <a href="#">esame di lingua</a> presso unibz.
        </p>
        <p>
          Trovi tutte le informazioni sui documenti necessari per la preiscrizione nel <a href="#">Manifesto degli studi</a>.
        </p>
        {{# master-submit }}
          {{> atoms-button-big }}
        {{/ master-submit }}
      </div>
    </div>
  </section>
</main>
{{> organisms-footer }}