{{> organisms-header }}
<main class="t_des-art">
	<div class="l-container">
		{{> atoms-heading-1 (headline.short:"Faculty of Design and Art", class:"class='h1 u-ta-center u-push-btm-double u-sm-padd-btm-double'") }}
		<section class="l-section u-push-btm-double">
			{{> atoms-heading-3 (headline.short:"Tenured full professor", class:"class='h3 u-ta-center u-push-btm'") }}
			<div class="g-row g-sm-clear-2 g-md-clear-3 g-lg-clear-4">
				{{# contract-professor }}
					<div class="g g-sm-12 g-md-8 g-lg-6">
						{{> molecules-block-person }}
					</div>
				{{/ contract-professor }}
			</div>
		</section>
		<section class="l-section u-push-btm-double">
			{{> atoms-heading-3 (headline.short:"Tenured associate professors", class:"class='h3 u-ta-center u-push-btm'") }}
			<div class="g-row g-sm-clear-2 g-md-clear-3 g-lg-clear-4">
				{{# contract-professor }}
					<div class="g g-sm-12 g-md-8 g-lg-6">
						{{> molecules-block-person }}
					</div>
				{{/ contract-professor }}
			</div>
		</section>
		<section class="l-section u-push-btm-double">
			{{> atoms-heading-3 (headline.short:"Researcher with a fixed-term contract", class:"class='h3 u-ta-center u-push-btm'") }}
			<div class="g-row g-sm-clear-2 g-md-clear-3 g-lg-clear-4">
				{{# contract-professor }}
					<div class="g g-sm-12 g-md-8 g-lg-6">
						{{> molecules-block-person }}
					</div>
				{{/ contract-professor }}
			</div>
		</section>
		<section class="l-section u-push-btm-double">
			{{> atoms-heading-3 (headline.short:"Teaching staff", class:"class='h3 u-ta-center u-push-btm'") }}
			<div class="g-row g-sm-clear-2 g-md-clear-3 g-lg-clear-4">
				{{# contract-professor }}
					<div class="g g-sm-12 g-md-8 g-lg-6">
						{{> molecules-block-person }}
					</div>
				{{/ contract-professor }}
			</div>
		</section>
		<section class="l-section u-push-btm-double">
			{{> atoms-heading-3 (headline.short:"Research assistants", class:"class='h3 u-ta-center u-push-btm'") }}
			<div class="g-row g-sm-clear-2 g-md-clear-3 g-lg-clear-4">
				{{# contract-professor }}
					<div class="g g-sm-12 g-md-8 g-lg-6">
						{{> molecules-block-person }}
					</div>
				{{/ contract-professor }}
			</div>
		</section>
	</div>
</main>
{{> organisms-footer }}