{{> organisms-header }}
<main>
  {{# page-hero }}
    {{> organisms-hero }}
  {{/ page-hero }}
  <div class="l-container">
    <section class="l-section">
      <p>
        La laurea da sola non basta. Per cogliere le opportunità che si presentano sul mercato del lavoro internazionale, occorre abbinare le competenze specifiche apprese nel corso degli studi, alla conoscenza delle lingue.
        Per questa ragione, la Libera Università di Bolzano (unibz) ti offre l’opportunità – unica in Europa – di studiare in italiano, tedesco e inglese e di vivere in Alto Adige, un territorio che funge da cerniera tra il mondo culturale ed economico mediterraneo e quello germanico.
      </p>
      <p>
        Grazie alla provenienza internazionale del personale docente e del corpo studentesco, in unibz la conoscenza delle lingue è una realtà vissuta quotidianamente da tutti: studenti, professori, ricercatori e personale amministrativo.
      </p>
    </section>
    <section class="l-section">
      <h2 class="h3">I requisiti linguistici per l’ammissione (in entrata)</h2>
      <p>
        Per essere ammesso a unibz, devi soddisfare specifici requisiti linguistici, individuati secondo il Quadro Comune Europeo di Riferimento e provati da uno dei seguenti <a href="#">certificati di lingua riconosciuti</a> oppure tramite un <a href="#">test al computer</a> presso il Centro Linguistico.
      </p>
    </section>
    <section class="l-section">
      <h2 class="h3">I requisiti linguistici per potersi laureare (in uscita)</h2>
      <p>
        L’obiettivo dichiarato di uno studio in tre lingue è quello di farti raggiungere, alla fine degli studi, un livello linguistico più alto di quello iniziale. Grazie a percorsi mirati offerti dal Centro linguistico, sarai in grado di raggiungere, entro la laurea (o laurea magistrale), i requisiti linguistici richiesti in uscita.
      </p>
    </section>
    <section class="l-section">
      TABELLE DA RIVEDERE
    </section>
    <section class="l-section">
      <h2 class="h3">Certificare le lingue</h2>
      <p>Puoi dimostrare le competenze linguistiche nei seguenti modi:</p>
      <ol>
        <li>
          dichiarando, nel portale di preiscrizione, che la principale lingua di insegnamento nell’anno della maturità era l’italiano, il tedesco o l’inglese (corrisponde al livello C1);
        </li>
        <li>
          dichiarando, nel portale di preiscrizione, di aver conseguito un diploma di laurea o laurea magistrale in italiano, tedesco o inglese;
        </li>
        <li>
          caricando, nel portale di preiscrizione, un <a href="#">certificato di lingua riconosciuto</a> dal Centro linguistico d’ateneo;
        </li>
        <li>
          superando il <a href="#">test al computer</a> del Centro linguistico.
        </li>
      </ol>
      <p>
        Se hai già conoscenze anche nella terza lingua (a un livello minimo B1) e non hai ancora un certificato, ti consigliamo di sottoporti al test per l’accertamento anche di questa lingua.
      </p>
      {{# button-simulation }}
        {{> atoms-button-big }}
      {{/ button-simulation }}
    </section>
    <section class="l-section">
      <h2 class="h3">Apprendere le lingue</h2>
      <p>
        Il Centro linguistico ti accompagna lungo tutto il percorso di studi, offrendoti corsi di lingua gratuiti a più livelli e con diverse modalità (corsi intensivi prima dell’inizio del I semestre e tra il I e il II semestre nonché lezioni di 4 ore a settimana durante il semestre).
      </p>
      <p>
        Per preparare i neo-iscritti delle triennali, a settembre di ogni anno, si tengono inoltre i cosiddetti corsi pre-semestrali che hanno l’obiettivo di mettere i partecipanti nelle condizioni di poter frequentare le lezioni nella terza lingua. Allo stesso modo, anche gli iscritti alle magistrali trilingui devono frequentare un corso intensivo a febbraio.
      </p>
      {{# button-competence }}
        {{> atoms-button-big }}
      {{/ button-competence }}
      <p>
        Oltre ai corsi, il Centro linguistico offre consulenze linguistiche personalizzate e ulteriori modalità di <a href="#">apprendimento autonomo</a>.
      </p>
    </section>
  </div>
</main>
{{> organisms-footer }}