{{> organisms-header }}
<main class="{{ faculty }}">
  {{# page-hero }}
    {{> organisms-hero }}
  {{/ page-hero }}
  <div class="l-container">
    <div class="typography">
      <p>
        Ein einfacher Studienabschluss reicht heute oft nicht mehr aus. Schlüsselkompetenzen, Praktika und Auslandsaufenthalte  spielen bei der Jobsuche eine immer größere Rolle. “Sprachen sind der Schlüssel zur Welt”, sagte schon Wilhelm von Humboldt und gegenwärtig sicherlich auch einer der Schlüssel zur Arbeitswelt. 
      </p>
      <p>
        Die dreispachigen Studiengänge der unibz bieten eine in Europa einzigartige Kombination aus Fachstudium und Sprachenlernen. Studiert werden nicht nur die Sprachen sondern in den drei Sprachen Italienisch, Deutsch und Englisch und das in einer Region, Südtirol, die mit ihrer Mehrsprachigkeit und ihrer Position an der Schnittstelle zwischen dem italienischen und deutschen Kultur- und Wirtschaftsraum ein ideales Studienumfeld darstellt.
      </p>
      <p>
        Dreisprachig studieren bedeutet zum Beispiel konkret, am Morgen eine Vorlesung in Volkswirtschaftslehre zu hören, anschließend zu einem Seminar über „Linguaggio e scrittura accademica“ zu gehen und sich am Nachmittag mit dem Erasmus-Tutor auf Englisch über ein anstehendes Auslandssemester zu unterhalten. Studierende der unibz wechseln spielend von einer in die andere Sprache.
      </p>

      <h2>Sprachliche Voraussetzungen für die Zulassung</h2>
      <p>
        Um an der unibz zu einem Studiengang zugelassen werden zu können, müssen Sie die jeweils vorgesehenen sprachlichen Voraussetzungen erfüllen. Die angegebenen Sprachniveaus basieren auf dem Gemeinsamen Europäischen Referenzrahmen für Sprachen (GeR)  und sie können entweder über <a href="https://www.unibz.it/de/students/languagecentre/Documents/Esami%20e%20titoli%20riconosciuti_2012-2013.pdf">international anerkannte Sprachzertifikate</a> oder über eine <a href="{{ link.pages-language-exam }}">computerbasierte Prüfung</a> hier vor Ort nachgewiesen werden.
      </p>
      <h2>Sprachliche Voraussetzungen bei Studienabschluss</h2>
      <p>
        Die Mehrzahl der Studierenden verfügt zu Studienbeginn nicht in allen drei Sprachen über ausreichende Sprachkenntnisse. Es ist das erklärte Ziel der unibz, die Sprachkenntisse der Studierenden während des Studiums in allen drei Sprachen nicht nur im Rahmen der kostenlosen Sprachkurse zu verbessern, sondern auch in Vorlesungen über die Fachsprache und während der anderen Vorlesungen. Bei Abschluss des Studiums werden die Sprachniveaus der Studierenden nochmals überprüft (Abgangsniveau) und im so genannten einem Language Diploma Supplement als Anhang zum Abschlusszeugnis fest gehalten, ein Mehrwert, den die unibz bietet.
      </p>
      
      <h3>Bachelorsstudiengänge</h3>
      <div class="table_container">
      <div class="table_inner">
        <table>
          <thead>
            <tr>
              <th>Sprache</th>
              <th>Eingangsniveau mindestens</th>
              <th>Nach einem Jahr mindestens</th>
              <th>Abgangsniveau mindestens</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1. Sprache</td>
              <td>B2</td>
              <td>–</td>
              <td>C1</td>
            </tr>
            <tr>
              <td>2. Sprache</td>
              <td>B2</td>
              <td>–</td>
              <td>B2+</td>
            </tr>
            <tr>
              <td>3. Sprache</td>
              <td>A0</td>
              <td>B1*</td>
              <td>B2</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      <small>*Niveau A2 für die Studiengänge an der Fakultät für Naturwissenschaften und Technik</small>

      <h3>Masterstudiengänge</h3>
      <p>
        Die sprachlichen Voraussetzungen variieren von Studiengang zu Studiengang:
      </p>
      <div class="table_container">
      <div class="table_inner">
        <table>
          <thead>
            <tr>
              <th>Fakultät</th>
              <th>Master</th>
              <th>Eingangsniveau mindestens</th>
              <th>Abgangsniveau mindestens</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Wirtschaft</td>
              <td>
                Ökonomie und Management des öffentlichen Sektors<br>
                Unternehmensführung und Innovation
              </td>
              <td>
                1. Sprache: C1<br>
                2. Sprache: B2<br>
                3. Sprache: A0
              </td>
              <td>
                1. Sprache: C1<br>
                2. Sprache: C1<br>
                3. Sprache: B1
              </td>
            </tr>
            <tr>
              <td>Bildunswissenschaften</td>
              <td>Innovation in Forschung und Praxis Sozialer Arbeit</td>
              <td>
                1. Sprache: C1<br>
                2. Sprache: B2<br>
                3. Sprache: A0
              </td>
              <td>
                1. Sprache: C1<br>
                2. Sprache: C1<br>
                3. Sprache: B1
              </td>
            </tr>
            <tr>
              <td>Informatik</td>
              <td>Informatik</td>
              <td>Vedi <a href="#">Manifesto</a></td>
              <td>
                1. Sprache: C1<br>
                2. Sprache: C1<br>
                3. Sprache: B1
              </td>
            </tr>
            <tr>
              <td>Naturwissenschaften und Technik</td>
              <td>Energy Engineering</td>
              <td>
                1. Sprache: C1<br>
                2. Sprache: C1<br>
                3. Sprache: B1
              </td>
              <td>–</td>
            </tr>
            <tr>
              <td>Naturwissenschaften und Technik</td>
              <td>Umweltmanagement in Bergregionen</td>
              <td>Englisch B2</td>
              <td>–</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>

      <h3>Master in Bildungswissenschaften für den Primarbereich</h3>
      <h4>Italienische und deutsche Abteilung</h4>
      <div class="table_container">
      <div class="table_inner">
        <table>
          <thead>
            <tr>
              <th>Sprache</th>
              <th>Eingangsniveau mindestens</th>
              <th>Abgangsniveau mindestens</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1. Sprache</td>
              <td>C1</td>
              <td>C1</td>
            </tr>
            <tr>
              <td>2. Sprache</td>
              <td>B2</td>
              <td>C1</td>
            </tr>
            <tr>
              <td>3. Sprache</td>
              <td>A0</td>
              <td>B2</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      <h4>Ladinische Abteilung</h4>
      <div class="table_container">
      <div class="table_inner">
        <table>
          <thead>
            <tr>
              <th>Sprache</th>
              <th>Eingangsniveau mindestens</th>
              <th>Abgangsniveau mindestens</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1. Sprache</td>
              <td>B2</td>
              <td>C1</td>
            </tr>
            <tr>
              <td>2. Sprache</td>
              <td>B1</td>
              <td>C1</td>
            </tr>
            <tr>
              <td>Ladinisch</td>
              <td>B2</td>
              <td>C1</td>
            </tr>
            <tr>
              <td>Englisch</td>
              <td>A0</td>
              <td>B2</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      <p>
        Der Oberschulabschluss an einer dreisprachigen Oberschule der ladinischen Ortschaften Südtirols gilt als Nachweis für die deutsche und italienische Sprache (entspricht Niveau B2 in den beiden Sprachen).
      </p>


      <h2>Nachweis der erforderlichen Sprachkompetenzen</h2>
      <p>So können Sie die Sprachkompetenzen für das Studium nachweisen:</p>
      <ol type="a">
        <li>
          Sie erklären im Bewerbungsformular, dass Deutsch, Italienisch oder Englisch die Hauptunterrichtssprache im Jahr Ihrer Reifeprüfung war (entspricht Niveau C1); 
        </li>
        <li>
          Sie erklären im Bewerbungsformular, dass Sie ein Bachelor- oder Masterstudium in Deutsch, Italienisch oder Englisch absolviert haben;
        </li>
        <li>
          Sie laden ein vom Sprachenzentrum der unibz <a href="https://www.unibz.it/de/students/languagecentre/Documents/Esami%20e%20titoli%20riconosciuti_2012-2013.pdf">anerkanntes Sprachzertifikat</a> im Bewerbungsportal hoch;
        </li>
        <li>
          Sie bestehen eine <a href="{{ link.pages-language-exam }}">computerbasierte Sprachprüfung</a> hier vor Ort.
        </li>
      </ol>
      <p>
        Falls Sie über Sprachkompetenzen in der 3. Sprache verfügen, empfehlen wir Ihnen, diese wie oben beschrieben nachzuweisen
      </p>
      {{# button-simulation }}
        {{> atoms-button-big }}
      {{/ button-simulation }}
      <h2>Der Spracherwerb</h2>
      <p>
        Das Sprachenzentrum begleitet Sie während ihrer gesamten Studienlaufbahn und bietet kostenfreie Sprachkurse an. Das Spektrum reicht vom Vorsemester - den intensiven Sprachkursen vor Studienbeginn - über die Sprachkurse während des Semesters bis hin zu Vorbereitungskursen für internationale Sprachzertifikate. 
      </p>
      {{# button-competence }}
        {{> atoms-button-big }}
      {{/ button-competence }}
      <p>
        Daneben bietet das Sprachenzentrum Ihnen eine personalisierte Sprachlernberatung zum autonomen Lernen an, mit Hilfe dessen Sie ihren individuellen Weg suchen und finden können.
      </p>
    </div>
  </div>
</main>
{{> organisms-footer }}