{{> organisms-header-de }}
<main>
  {{# page-hero }}
    {{> organisms-hero }}
  {{/ page-hero }}
  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <p class="intro-med">
          Auf dieser Seite finden Bewerberinnen und Bewerber alle für das Studium relevanten Informationen von A wie Aufnahmeverfahren bis Z wie Zulassung.
        </p>
        
        <h3>Dreisprachig studieren</h3>
        <img class="left" src="http://unibz.github.io/wireframes/study/studienberatung.jpg" alt="">
        <p>
          Ein Großteil der Studiengänge an der unibz ist dreisprachig, das heißt die Vorlesungen werden zum Teil in Deutsch, Italienisch und Englisch gehalten.
        </p>
        <p>
          Für die Zulassung zu einem Bachelorstudium ist ein Nachweis auf <a href="#">Niveau B2</a> in mindestens 2 der drei Unterrichtssprachen erforderlich. <a href="#">Sprachanforderungen im Detail</a>.
        </p>
        <p>
          Für den Nachweis der Sprachkenntnisse kann entweder ein anerkanntes <a href="#">Sprachzertifikat</a> eingereicht oder eine <a href="#">Prüfung am Sprachenzentrum</a> abgelegt werden. Ein Schulabschluss in einer der drei Sprachen gilt als Sprachnachweis auf Niveau C1.
        </p>
        
        <h3>Bewerbung</h3>
        <ol>
          <li>Informationen einholen</li>
          <li>Online-Bewerbung</li>
          <li>Auswahlverfahren</li>
          <li>Bestätigung des Studienplatzes und Immatrikulation</li>
        </ol>
        
        <h3>Immatrikulation</h3>
        <ol>
          <li>Erste Rate der Studiengebühren bezahlen und Bestätigung im Portal hochladen</li>
          <li>Online-Immatrikulation im Portal durchführen</li>
        </ol>
      </div>
    </div>
  </section>
      
  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Wohnen</h3>
        <img class="right" src="http://unibz.github.io/wireframes/study/univercity.jpg" alt="">
        <p>
          Am Campus Bozen und Brixen stehen Studierenden mehr als 600 Wohnheimplätze zur Verfügung. Die Miete beläuft sich auf 290€ pro Monat im Einzelzimmer und auf 220€ in einem Doppelzimmer.
        </p>
        <p>
          Die Antragsstellung für 2015/16 ist ab 14. April 2015 möglich. Die Plätze werden in chronologischer Reihenfolge zugewiesen, deshalb ist es ratsam den Antrag frühzeitig zu stellen. Die Plätze werden zwischen Juli und August zugewiesen.
        </p>
        <p>
          Für die Wohnheime zuständig ist das <a href="#">Amt für Hochschulförderung</a>.
        </p>
        <p>
          WG-Zimmer findet ihr auf <a href="#">accomodationunibz.blogspot.com</a> und am schwarzen Brett der drei Campus.
        </p>
        <p>
          Alle Studierenden können beim Amt für Hochschulförderung um eine <a href="#">ordentliche Studienbeihilfe</a> ansuchen. Diese beträgt je nach Einkommen zwischen 1400€ und 5800€ pro Jahr.
        </p>
        <p>
          Studierenden mit einem Notenurchschnitt von mindestens 27 können nach dem ersten Jahr außerdem ein <a href="#">Leistungsstipendium</a> beantragen.
        </p>
        
        <h3>ABO+</h3>
        <p>
          Studierende der unibz können für 150€ das <a href="#">ABO+</a> der Provinz beantragen, und damit alle öffentlichen Verkehrsmittel in Südtirol sowie Züge bis nach Trient benutzen.
        </p>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Studienberatung</h3>
        <p>
          Für eine individuelle Beratung oder Informationen zu den <a href="#">Studiengängen</a> können Sie sich an die Studienberatung wenden.
        </p>
      </div>
      <div class="contactBlock">
        <div class="contactBlock_elem contactBlock_info">
          <p class="elem_item">Info Point</p>
          <p class="elem_item">Universitätsplatz 1 - piazza Università, 1</p>
          <p class="elem_item">I - 39100 Bozen-Bolzano</p>
          <p class="elem_item">Tel +39 0471 012500</p>
          <p class="elem_item">Fax +39 0471 012509</p>
          <a href="#">study@unibz.it</a>
        </div>
        <div class="contactBlock_elem contactBlock_time">
          <p>Orari di apertura</p>
          <p class="elem_item">InfoPoint A1.01</p>
          <p class="elem_item">Lunedí 14:00 – 16:00</p>
          <p class="elem_item">Martedí e giovedí 10:00 – 12:30</p>
        </div>
      </div>
    </div>
  </section>
      
  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Open Day</h3>
        <p>
          Einmal im Jahr öffnet unibz ihre Tore für zukünftige Studierende. Heuer ist das am 13. März 2015. Neben der Universität können auch die Studentenheime besichtigt werden und Sprachprüfungen abgelegt werden.
        </p>
      </div>
      <div class="embed embed-16-9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DBc_InK3Cl4" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Barrierefreiheit</h3>
        <p>
          Studieninteressierte mit Behinderungen können sich mit Fragen und Problemen (behindertengerechte Einrichtungen, Beantragung von Hilfsmitteln usw.) an die Studienberatung wenden.
        </p>
        <p>
          Die Universität organisiert auf Anfrage behindertengerechte Aufnahmeprüfungen und stellt den Studierenden technische und didaktische Hilfsmittel zur Verfügung.
        </p>
      </div>
    </div>
  </div>
</main>
{{> organisms-footer }}