{{> organisms-header-de }}
<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}
  <div class="l-container">
    <div class="typography">
      <p>Die nächsten Prüfungstermine:</p>
      <ul>
        <li>ab 12. Juli (Anmeldung vom 09.05.2016 bis 07.07.2016)*</li>
        <li>ab 26. Juli (Anmeldung vom 08.07.2016 bis 22.07.2016)*</li>
      </ul>
      <p>
        NB: Bitte die Uhrzeit für die Anmeldung beachten (siehe Bewerbungsportal).
      </p>
      <p>
        Die Prüfungen finden gegebenenfalls auch an den jeweils darauf folgenden Tagen statt.
      </p>
      <p>
        Bitte beachten Sie beim Anlegen des Benutzerkontos für die Bewerbung darauf, dass Ihre persönlichen Angaben mit den Daten in Ihrem Identitätsausweis übereinstimmen! Diesen Ausweis müssen Sie zu Beginn der Prüfung vorlegen. 
      </p>
      <p>
        Für Kandidatinnen und Kandidaten der C1-Prüfungen sind – über die computergestützten Prüfungen hinaus – Zusatzprüfungen vorgesehen. Nur wer die jeweilige Prüfung am PC bestanden hat, wird zu diesen Prüfungen zugelassen. Der Kalender für diese Prüfungen wird am Tag der Prüfung am PC veröffentlicht.
      </p>
      {{# button-exam }}
        {{> atoms-button }}
      {{/ button-exam }}
      <p>
        Die Demo-Version ist genauso aufgebaut wie der „echte“ computerbasierte Test und besteht aus drei Teilen, nämlich Grammatik/Wortschatz, Leseverstehen und Hörverstehen. Am Ende erhalten Sie ein kurzes graphisches Feedback zum Testverlauf. Außerdem können Sie die Demo-Version ausdrucken und einem Lehrer oder Sprachlernberater vorlegen, um besser zu verstehen, wo Sie eventuell Nachholbedarf haben.  
      </p>
      <p>
        Bevor Sie anfangen noch ein paar Tipps:
      </p>
      <ul>
        <li>Machen Sie den Test möglichst ungestört und ohne Unterbrechungen</li>
        <li>
          Nehmen Sie keine Hilfsmittel zur Hand. Die haben Sie auch während der „echten“ Prüfung nicht!
        </li>
        <li>
          Halten Sie einen Kopfhörer für den Testteil „Hörverstehen“ bereit.
        </li>
        <li>
          Nehmen Sie sich Zeit für diesen Test.  
        </li>
      </ul>
      <p>
        Viel Erfolg wünscht Ihnen das Team des Sprachenzentrums.
      </p>
      {{# button-test }}
        {{> atoms-button }}
      {{/ button-test }}
    </div>
  </div>
</main>
{{> organisms-footer }}