{{> organisms-header }}
<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}
  <div class="l-container">
    <div class="typography">
      <h2>Anmeldung zur Sprachprüfung </h2>
      <p>Die nächste Prüfungstermine:</p>
      <ul>
        <li>ab 14. Juli (Anmeldung vom 01.05.2015 bis 08.07.2015)*</li>
        <li>ab 28. Juli (Anmeldung vom 09.07.2015 bis 24.07.2015)*</li>
      </ul>
      <p>
        NB: Bitte die Uhrzeit für die Anmeldung beachten (siehe Bewerbungsportal).
      </p>
      <p>
        Die Prüfungen finden gegebenenfalls auch an den jeweils darauf folgenden Tagen statt.
      </p>
      <p>
        Bitte achten Sie beim Anlegen des Benutzerkontos für die Bewerbung darauf, dass Ihre persönlichen Angaben, mit den Daten in Ihrem Identitätsausweis übereinstimmen! Diesen Ausweis müssen Sie zu Beginn der Prüfung vorlegen. 
      </p>
      <p>
        Für Kandidatinnen und Kandidaten der C1-Prüfungen sind – über die computergestützten Prüfungen hinaus – Zusatzprüfungen vorgesehen. Nur wer die jeweilige Prüfung am PC bestanden hat, wird zu diesen Prüfungen zugelassen. Der Kalender für diese Prüfungen wird am Tag der Prüfung am PC veröffentlicht.
      </p>
      {{# button-exam }}
        {{> atoms-button }}
      {{/ button-exam }}
      <h2>Simulation der Sprachprüfung</h2>
      <p>
        Möchten Sie die computerbasierte Sprachprüfung online und von zu Hause aus probieren? In drei Schritten gelangen Sie zum Demo-Test:
      </p>
      <ol>
        <li>klicken Sie auf den untenstehenden beigefügten Link;</li>
        <li>
          wählen Sie die Sprache, in der Sie die Prüfung machen wollen (Englisch, Italienisch, Deutsch);
        </li>
        <li>
          wählen Sie das Niveau des Tests aus (B1 oder B2).
        </li>
      </ol>
      <p>
        Die Demo-Version ist genauso aufgebaut wie der „echte“ computerbasierte Test und besteht aus drei Teilen, nämlich Grammatik/Wortschatz, Leseverstehen und Hörverstehen. Am Ende erhalten Sie ein kurzes graphisches Feedback zum Testverlauf. Außerdem können Sie die Demo-Version ausdrucken und einem Lehrer oder Sprachlernberater vorlegen, um besser zu verstehen, wo Sie eventuell Nachholbedarf haben.  
      </p>
      <p>
        Bevor Sie anfangen noch ein paar Tipps:
      </p>
      <ul>
        <li>Machen Sie den Test möglichst ungestört und ohne Unterbrechungen</li>
        <li>
          Nehmen Sie keine Hilfsmittel zur Hand. Die haben Sie auch während der „echten“ Prüfung nicht!
        </li>
        <li>
          Halten Sie einen Kopfhörer für den Testteil „Hörverstehen“ bereit.
        </li>
        <li>
          Nehmen Sie sich Zeit für diesen Test.  
        </li>
      </ul>
      <p>
        Viel Erfolg wünscht Ihnen das Team des Sprachenzentrums.
      </p>
      {{# button-test }}
        {{> atoms-button }}
      {{/ button-test }}
    </div>
  </div>
</main>
{{> organisms-footer }}