{{> organisms-header }}
<main>
  {{# page-hero }}
    {{> organisms-hero }}
  {{/ page-hero }}
  <div class="l-container">
    <div class="typography">
      <p>
        Sei uno studente iscritto a unibz e sei interessato a studiare o fare un tirocinio all’estero?
      </p>
      <p>
        Puoi scegliere uno dei seguenti programmi internazionali:
      </p>
    </div>
    {{> organisms-link }}
    <div class="typography">
      <h3>Partecipare ai programmi</h3>
      <p>
        Nell’ambito dei programmi offerti da unibz, hai la possibilità di scegliere fra molte <a href="#">università partner</a> in tutto il mondo.
      </p>
      <p>
        Per partecipare, occorre candidarsi e superare un procedimento di selezione. I <a href="#">bandi di selezione Erasmus+ e Programma Accordi Bilaterali</a> illustrano i requisiti, le modalità e le scadenze per candidarsi.
      </p>
      <h3>Servizio Relazioni Internazionali</h3>
      <p>
        Il Servizio Relazioni Internazionali è il tuo riferimento per informazioni, candidature, finanziamenti ecc.
      </p>
    </div>
  </div>
</main>
{{> organisms-footer }}