{{> organisms-header-it }}
<main>
  {{# page-hero }}
    {{> organisms-hero }}
  {{/ page-hero }}
  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <p>
          Se sei interessato a studiare o a fare un tirocinio all’estero, puoi scegliere tra uno dei seguenti programmi internazionali:
        </p>
      </div>
      {{> organisms-block-links }}
    </div>
  </section>
  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <h3>Come partecipare</h3>
        <p>
          In unibz hai la possibilità di frequentare uno o più semestri  in <a href="#">università partner</a> in tutto il mondo. Per partecipare, devi superare una selezione. Nei <a href="#">bandi di selezione Erasmus+ e Programma Accordi Bilaterali</a> troverai i requisiti, le modalità e le scadenze delle candidature.
          Il Servizio Relazioni Internazionali è il tuo riferimento per informazioni, candidature, finanziamenti e tutte le questioni relative alla mobilità internazionale. Contattaci!
      </div>
      {{> molecules-block-contact }}
    </div>
  </section>
</main>
{{> organisms-footer-it }}