{{> organisms-header }}
<main class="{{ faculty }}">
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}
  <div class="l-container">
    <div class="typography">
      <p>
        Il corso di laurea comprende 180 crediti formativi universitari (CFU). La durata del corso di studio è di 3 anni. La descrizione dei singogli insegnamenti sono disponibili sulla pagina dei corsi. 
      </p>
      <h3>1° anno</h3>
    </div>
    <div class="blockLectures">
      {{# lectures-year-one }}
        {{> molecules-block-lecture }}
      {{/ lectures-year-one }}
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
    </div>
    <div class="typography">
      <h3>2° anno</h3>
    </div>
    <div class="blockLectures">
      {{# lectures-year-two }}
        {{> molecules-block-lecture }}
      {{/ lectures-year-two }}
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
    </div>
    <div class="typography">
      <h3>3° anno</h3>
    </div>
    <div class="blockLectures">
      {{# lectures-year-three }}
        {{> molecules-block-lecture }}
      {{/ lectures-year-three }}
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
    </div>
  </div>
</main>
{{> organisms-footer }}