{{> organisms-header-it }}
<main class="{{ faculty }}">
  <section class="hero-small" role="banner">
    <div class="hero-inner">
      <h1 class="hero_title">
        Piano degli studi<br>Imprenditorialità e Innovazione
      </h1>
    </div>
  </section>
  <div class="l-container">
    <div class="typography">
      <p>
        Il corso di <a href="{{ link.pages-master-entrepr }}">laurea magistrale biennale in Imprenditorialità e Innovazione</a> comprende 120 crediti formativi universitari (CFU). La descrizione dei singoli insegnamenti è disponibile sulla pagina dei corsi. 
      </p>
      <h3>1° anno</h3>
    </div>
    <div class="blockLectures">
      {{# lectures-year-one }}
        {{> molecules-block-lecture }}
      {{/ lectures-year-one }}
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
    </div>
    <div class="typography">
      <h3>2° anno</h3>
    </div>
    <div class="blockLectures">
      {{# lectures-year-two }}
        {{> molecules-block-lecture }}
      {{/ lectures-year-two }}
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
    </div>
    <div class="typography">
      <p>
        *Attività caratterizzanti<br>Gli studenti dovranno scegliere due dei seguenti insegnamenti pari a 12 CFU in totale:
      </p>
      <ul>
        <li>Ricerche di mercato, 6 CFU</li>
        <li>Marketing industriale e gestione vendite, 6 CFU</li>
        <li>Progetto NPD (Sviluppo nuovi prodotti), 6 CFU</li>
      </ul>
    </div>
  </div>
</main>
{{> organisms-footer-it-eco }}