{{> organisms-header }}
<main class="{{ faculty }}">
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}
  <div class="l-container">
    <div class="typography">
      <p>
        Der Studiengang <a href="{{ link.pages-bachelor-tourism }}">Bachelor in Tourismus-, Sport- und Eventmanagement</a> umfasst 22 Lehrveranstaltungen mit insgesamt 159 Kreditpunkten (KP). Dazu kommen noch 21 KP (12 KP für Lehrveranstaltungen nach Wahl der Studierenden, 3 KP für die Abschlussarbeit und 6 KP für ein Pflichtpraktikum. Die regelstudienzeit beträgt 3 Jahre.
      </p>
      <h3>1. Jahr</h3>
    </div>
    <div class="blockLectures">
      {{# lectures-year-one }}
        {{> molecules-block-lecture }}
      {{/ lectures-year-one }}
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
    </div>
    <div class="typography">
      <h3>2. Jahr</h3>
    </div>
    <div class="blockLectures">
      {{# lectures-year-two }}
        {{> molecules-block-lecture }}
      {{/ lectures-year-two }}
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
    </div>
    <div class="typography">
      <h3>3. Jahr</h3>
    </div>
    <div class="blockLectures">
      {{# lectures-year-three }}
        {{> molecules-block-lecture }}
      {{/ lectures-year-three }}
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
      <div class="blockLecture"></div>
    </div>
    <div class="typography">
      <p>
        * Die Prüfungen müssen in 2 der 3 angebotenen Fremdsprachen - Grundfachsprache Wirtschaft abgelegt werden, wobei die Hauptunterrichtssprache der Oberschule nicht gewählt werden darf. 
      </p>
      <h5>Fachtypische Lehrveranstaltung (1)</h5>
      <p>
        Die Studierenden müssen eine der nachfolgenden Lehrveranstaltungen zu 6 KP wählen:<br>
        Destinationsentwicklung<br>
        Ökonomik des Tourismus<br>
        Sport- und Eventwirtschaft
      </p>
      <h5>Fachtypische Lehrveranstaltungen (2)</h5>
      <p>
        Die Studierenden müssen eine der nachfolgenden Lehrveranstaltungen zu 6 KP wählen:<br>
        Management von Sport- und Eventinfrastrukturen<br>
        Eventmanagement und -planung<br>
        Distributionskanäle und Mittler im Tourismus<br>
        Management von Reise- und Transportunternehmen
      </p>
      <h5>Fachtypische Lehrveranstaltungen (3)</h5>
      <p>
        Die Studierenden müssen eine der nachfolgenden Lehrveranstaltungen zu 6 KP wählen:<br>
        Nachhaltiger Tourismus und ländliche Entwicklung<br>
        Tourismus und regionale Produkte<br>
      </p>
      <h5>Benachbarte/zusätzliche Lehrveranstaltungen (4)</h5>
      <p>
        Die Studierenden müssen eine der nachfolgenden Lehrveranstaltungen zu 6 KP wählen:<br>
        Internationales Tourismusmanagement<br>
        Internationales Sport- und Eventmanagement<br>
        Strategisches Tourismusmarketing und -management<br>
        Sport- und Eventmarketing und Sponsorship<br>
      </p>
    </div>
  </div>
</main>
{{> organisms-footer }}