{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}

  {{# page-jobs }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography typography-left">
          {{> atoms-heading-3 }}
        </div>
        {{> organisms-block-links }}
      </div>
    </section>
  {{/ page-jobs }}
</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}