{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}
  {{# page-jobs }}
    {{> organisms-block-typography }}
  {{/ page-jobs }}
</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}