{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}

  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        <p><a class="typographyLink-download" href="#">Organisationsmodell</a> genehmigt vom Universitätsrat am 19. April 2013</p>
        <h3>Gremien</h3>
        <h5>Leitungsgremien</h5>
        <ul>
          <li><a href="#">Universitätsrat</a></li>
          <li><a href="#">Präsident, Vizepräsident</a></li>
          <li><a href="#">Senat</a></li>
          <li><a href="#">Rektor, Prorektoren</a></li>
          <li><a href="#">Universitätsdirektor</a></li>
        </ul>
        <h5>Zentrale akademische Gremien</h5>
        <ul>
          <li><a href="#">Forschungskommission</a></li>
          <li><a href="#">Studienkommission</a></li>
          <li><a href="#">Qualitätspräsidium</a></li>
        </ul>
        <h5>Gremien der Fakultäten</h5>
        <ul>
          <li><a href="#">Dekane und Dekaninnen der Fakultäten</a></li>
          <li><a href="#">Fakultätsräte</a></li>
          <li><a href="#">Studiengangsräte</a></li>
          <li><a href="#">Paritätisch-didaktische Kommissionen</a></li>
        </ul>
        <h5>Weitere Gremien</h5>
        <ul>
          <li><a href="#">Rechnungsprüferkollegium</a></li>
          <li><a href="#">Evaluierungskomitee</a></li>
          <li><a href="#">Disziplinarkommission</a></li>
          <li><a href="#">Ethikkommission</a></li>
          <li><a href="#">Studierendenbeirat</a></li>
          <li><a href="#">Beirat für Chancengleichheit</a></li>
        </ul>
        <h3>Verwaltung</h3>
        <h5>Universitätsleitung und Stabsstellen</h5>
        <ul>
          <li><a href="#">Sekretariat des Präsidenten und des Vizepräsidenten</a></li>
          <li><a href="#">Sekretariat des Rektors und der Prorektoren</a></li>
          <li><a href="#">Sekretariat des Universitätsdirektors</a></li>
          <li><a href="#">Controlling</a></li>
          <li><a href="#">Presse und Veranstaltungsmanagement</a></li>
          <li><a href="#">Qualität und Strategieentwicklung </a></li>
          <li><a href="#">Rechtsangelegenheiten</a></li>
        </ul>
        <h5>Bereiche und Servicestellen</h5>
        <ul>
          <li><a href="#">Finanzen und Rechnungswesen</a></li>
          <ul>
            <li><a href="#">Bilanz- und Rechnungswesen</a></li>
            <li><a href="#">Einkauf</a></li>
          </ul>
          <li><a href="#">ICT und Facility Management</a></li>
          <ul>
            <li><a href="#">Facility Management</a></li>
            <li><a href="#">ICT</a></li>
          </ul>
          <li><a href="#">Lehre und Forschung</a></li>
          <ul>
            <li><a href="#">Forschung und Innovation</a></li>
            <li><a href="#">Studium und Lehre</a></li>
          </ul>
          <li><a href="#">Personal</a></li>
          <ul>
            <li><a href="#">Lehrpersonal</a></li>
            <li><a href="#">Verwaltungspersonal</a></li>
          </ul>
          <li><a href="#">Sprachenzentrum</a></li>
          <li><a href="#">Studentische Dienste</a></li>
          <ul>
            <li><a href="#">Internationale Beziehungen</a></li>
            <li><a href="#">Praktika- und Jobservice</a></li>
            <li><a href="#">Studienberatung</a></li>
            <li><a href="#">Studentensekretariat</a></li>
          </ul>
          <li><a href="#">Universitätsbibliothek</a></li>
        </ul>
        <h5>Fakultätssekretariate</h5>
        <ul>
          <li><a href="#">Wirtschaftswissenschaften</a></li>
          <li><a href="#">Bildungswissenschaften</a></li>
          <li><a href="#">Informatik</a></li>
          <li><a href="#">Design und Künste</a></li>
          <li><a href="#">Naturwissenschaften und Technik</a></li>
        </ul>
      </div>
    </div>
  </section>

</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}