{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero }}
  {{/ page-hero }}

  {{# page-intro }}
    {{> organisms-block-typography }}
  {{/ page-intro }}

  {{# page-study-course }}
    {{> organisms-accordion-study-courses }}
  {{/ page-study-course }}

  {{# page-glance }}
    {{> organisms-block-glance }}
  {{/ page-glance }}
  
  {{# page-wohnen }}
    {{> organisms-block-typography }}
  {{/ page-wohnen }}

  {{# page-contact }}
    {{> organisms-contact-card }}
  {{/ page-contact }}

  {{# page-open-day }}
    {{> organisms-block-typography }}
  {{/ page-open-day }}
</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}