&lt;section class=&quot;l-section searchSection&quot;&gt;
  &lt;div class=&quot;l-containerSmall&quot;&gt;
    {{&gt; atoms-heading-2 (class:&quot;searchSection_headline&quot;) }}
    {{&gt; atoms-forms-input-search }}
  &lt;/div&gt;
&lt;/section&gt;