&lt;div class=&quot;post&quot;&gt;
  &lt;a href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-heading-5 (class: &quot;post_title&quot;) }}
  &lt;/a&gt;
  &lt;div class=&quot;post_content&quot;&gt;
    {{^ empty }}
      &lt;div class=&quot;post_figure&quot;&gt;
          {{&gt; atoms-image-4x3 (class: &quot;post_thumb&quot;) }}
      &lt;/div&gt;
    {{/ empty }}
    &lt;div class=&quot;post_body&quot;&gt;
      {{&gt; atoms-text-paragraph (class: &quot;post_excerpt&quot;) }}
      {{&gt; atoms-text-date (class: &quot;post_date&quot;) }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;