&lt;div class=&quot;magazine&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;typography&quot;&gt;
      {{&gt; atoms-heading-2 }}
      {{&gt; atoms-text-paragraph }}
      {{&gt; atoms-image-2x3 (class:&quot;magazine_cover&quot;)}}
      {{# articles }}
        {{&gt; atoms-heading-5 }}
        {{&gt; atoms-text-paragraph }}
        {{&gt; atoms-button }}
      {{/ articles }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;