{{&gt; organisms-header }}
&lt;main class=&quot;{{ faculty }}&quot;&gt;
  {{# page-hero }}
    {{&gt; organisms-hero }}
  {{/ page-hero }}
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;typography&quot;&gt;
      &lt;p&gt;
        Ein einfacher Studienabschluss reicht heute oft nicht mehr aus. Schl&uuml;sselkompetenzen, Praktika und Auslandsaufenthalte  spielen bei der Jobsuche eine immer gr&ouml;&szlig;ere Rolle. &ldquo;Sprachen sind der Schl&uuml;ssel zur Welt&rdquo;, sagte schon Wilhelm von Humboldt und gegenw&auml;rtig sicherlich auch einer der Schl&uuml;ssel zur Arbeitswelt. 
      &lt;/p&gt;
      &lt;p&gt;
        Die dreispachigen Studieng&auml;nge der unibz bieten eine in Europa einzigartige Kombination aus Fachstudium und Sprachenlernen. Studiert werden nicht nur die Sprachen sondern in den drei Sprachen Italienisch, Deutsch und Englisch und das in einer Region, S&uuml;dtirol, die mit ihrer Mehrsprachigkeit und ihrer Position an der Schnittstelle zwischen dem italienischen und deutschen Kultur- und Wirtschaftsraum ein ideales Studienumfeld darstellt.
      &lt;/p&gt;
      &lt;p&gt;
        Dreisprachig studieren bedeutet zum Beispiel konkret, am Morgen eine Vorlesung in Volkswirtschaftslehre zu h&ouml;ren, anschlie&szlig;end zu einem Seminar &uuml;ber &bdquo;Linguaggio e scrittura accademica&ldquo; zu gehen und sich am Nachmittag mit dem Erasmus-Tutor auf Englisch &uuml;ber ein anstehendes Auslandssemester zu unterhalten. Studierende der unibz wechseln spielend von einer in die andere Sprache.
      &lt;/p&gt;

      &lt;h2&gt;Sprachliche Voraussetzungen f&uuml;r die Zulassung&lt;/h2&gt;
      &lt;p&gt;
        Um an der unibz zu einem Studiengang zugelassen werden zu k&ouml;nnen, m&uuml;ssen Sie die jeweils vorgesehenen sprachlichen Voraussetzungen erf&uuml;llen. Die angegebenen Sprachniveaus basieren auf dem Gemeinsamen Europ&auml;ischen Referenzrahmen f&uuml;r Sprachen (GeR)  und sie k&ouml;nnen entweder &uuml;ber &lt;a href=&quot;https://www.unibz.it/de/students/languagecentre/Documents/Esami%20e%20titoli%20riconosciuti_2012-2013.pdf&quot;&gt;international anerkannte Sprachzertifikate&lt;/a&gt; oder &uuml;ber eine &lt;a href=&quot;{{ link.pages-language-exam }}&quot;&gt;computerbasierte Pr&uuml;fung&lt;/a&gt; hier vor Ort nachgewiesen werden.
      &lt;/p&gt;
      &lt;h2&gt;Sprachliche Voraussetzungen bei Studienabschluss&lt;/h2&gt;
      &lt;p&gt;
        Die Mehrzahl der Studierenden verf&uuml;gt zu Studienbeginn nicht in allen drei Sprachen &uuml;ber ausreichende Sprachkenntnisse. Es ist das erkl&auml;rte Ziel der unibz, die Sprachkenntisse der Studierenden w&auml;hrend des Studiums in allen drei Sprachen nicht nur im Rahmen der kostenlosen Sprachkurse zu verbessern, sondern auch in Vorlesungen &uuml;ber die Fachsprache und w&auml;hrend der anderen Vorlesungen. Bei Abschluss des Studiums werden die Sprachniveaus der Studierenden nochmals &uuml;berpr&uuml;ft (Abgangsniveau) und im so genannten einem Language Diploma Supplement als Anhang zum Abschlusszeugnis fest gehalten, ein Mehrwert, den die unibz bietet.
      &lt;/p&gt;
      
      &lt;h3&gt;Bachelorsstudieng&auml;nge&lt;/h3&gt;
      &lt;div class=&quot;table_container&quot;&gt;
      &lt;div class=&quot;table_inner&quot;&gt;
        &lt;table&gt;
          &lt;thead&gt;
            &lt;tr&gt;
              &lt;th&gt;Sprache&lt;/th&gt;
              &lt;th&gt;Eingangsniveau mindestens&lt;/th&gt;
              &lt;th&gt;Nach einem Jahr mindestens&lt;/th&gt;
              &lt;th&gt;Abgangsniveau mindestens&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody&gt;
            &lt;tr&gt;
              &lt;td&gt;1. Sprache&lt;/td&gt;
              &lt;td&gt;B2&lt;/td&gt;
              &lt;td&gt;&ndash;&lt;/td&gt;
              &lt;td&gt;C1&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;2. Sprache&lt;/td&gt;
              &lt;td&gt;B2&lt;/td&gt;
              &lt;td&gt;&ndash;&lt;/td&gt;
              &lt;td&gt;B2+&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;3. Sprache&lt;/td&gt;
              &lt;td&gt;A0&lt;/td&gt;
              &lt;td&gt;B1*&lt;/td&gt;
              &lt;td&gt;B2&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
        &lt;/table&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;small&gt;*Niveau A2 f&uuml;r die Studieng&auml;nge an der Fakult&auml;t f&uuml;r Naturwissenschaften und Technik&lt;/small&gt;

      &lt;h3&gt;Masterstudieng&auml;nge&lt;/h3&gt;
      &lt;p&gt;
        Die sprachlichen Voraussetzungen variieren von Studiengang zu Studiengang:
      &lt;/p&gt;
      &lt;div class=&quot;table_container&quot;&gt;
      &lt;div class=&quot;table_inner&quot;&gt;
        &lt;table&gt;
          &lt;thead&gt;
            &lt;tr&gt;
              &lt;th&gt;Fakult&auml;t&lt;/th&gt;
              &lt;th&gt;Master&lt;/th&gt;
              &lt;th&gt;Eingangsniveau mindestens&lt;/th&gt;
              &lt;th&gt;Abgangsniveau mindestens&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody&gt;
            &lt;tr&gt;
              &lt;td&gt;Wirtschaft&lt;/td&gt;
              &lt;td&gt;
                &Ouml;konomie und Management des &ouml;ffentlichen Sektors&lt;br&gt;
                Unternehmensf&uuml;hrung und Innovation
              &lt;/td&gt;
              &lt;td&gt;
                1. Sprache: C1&lt;br&gt;
                2. Sprache: B2&lt;br&gt;
                3. Sprache: A0
              &lt;/td&gt;
              &lt;td&gt;
                1. Sprache: C1&lt;br&gt;
                2. Sprache: C1&lt;br&gt;
                3. Sprache: B1
              &lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;Bildunswissenschaften&lt;/td&gt;
              &lt;td&gt;Innovation in Forschung und Praxis Sozialer Arbeit&lt;/td&gt;
              &lt;td&gt;
                1. Sprache: C1&lt;br&gt;
                2. Sprache: B2&lt;br&gt;
                3. Sprache: A0
              &lt;/td&gt;
              &lt;td&gt;
                1. Sprache: C1&lt;br&gt;
                2. Sprache: C1&lt;br&gt;
                3. Sprache: B1
              &lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;Informatik&lt;/td&gt;
              &lt;td&gt;Informatik&lt;/td&gt;
              &lt;td&gt;Vedi &lt;a href=&quot;#&quot;&gt;Manifesto&lt;/a&gt;&lt;/td&gt;
              &lt;td&gt;
                1. Sprache: C1&lt;br&gt;
                2. Sprache: C1&lt;br&gt;
                3. Sprache: B1
              &lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;Naturwissenschaften und Technik&lt;/td&gt;
              &lt;td&gt;Energy Engineering&lt;/td&gt;
              &lt;td&gt;
                1. Sprache: C1&lt;br&gt;
                2. Sprache: C1&lt;br&gt;
                3. Sprache: B1
              &lt;/td&gt;
              &lt;td&gt;&ndash;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;Naturwissenschaften und Technik&lt;/td&gt;
              &lt;td&gt;Umweltmanagement in Bergregionen&lt;/td&gt;
              &lt;td&gt;Englisch B2&lt;/td&gt;
              &lt;td&gt;&ndash;&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
        &lt;/table&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;h3&gt;Master in Bildungswissenschaften f&uuml;r den Primarbereich&lt;/h3&gt;
      &lt;h4&gt;Italienische und deutsche Abteilung&lt;/h4&gt;
      &lt;div class=&quot;table_container&quot;&gt;
      &lt;div class=&quot;table_inner&quot;&gt;
        &lt;table&gt;
          &lt;thead&gt;
            &lt;tr&gt;
              &lt;th&gt;Sprache&lt;/th&gt;
              &lt;th&gt;Eingangsniveau mindestens&lt;/th&gt;
              &lt;th&gt;Abgangsniveau mindestens&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody&gt;
            &lt;tr&gt;
              &lt;td&gt;1. Sprache&lt;/td&gt;
              &lt;td&gt;C1&lt;/td&gt;
              &lt;td&gt;C1&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;2. Sprache&lt;/td&gt;
              &lt;td&gt;B2&lt;/td&gt;
              &lt;td&gt;C1&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;3. Sprache&lt;/td&gt;
              &lt;td&gt;A0&lt;/td&gt;
              &lt;td&gt;B2&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
        &lt;/table&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;h4&gt;Ladinische Abteilung&lt;/h4&gt;
      &lt;div class=&quot;table_container&quot;&gt;
      &lt;div class=&quot;table_inner&quot;&gt;
        &lt;table&gt;
          &lt;thead&gt;
            &lt;tr&gt;
              &lt;th&gt;Sprache&lt;/th&gt;
              &lt;th&gt;Eingangsniveau mindestens&lt;/th&gt;
              &lt;th&gt;Abgangsniveau mindestens&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody&gt;
            &lt;tr&gt;
              &lt;td&gt;1. Sprache&lt;/td&gt;
              &lt;td&gt;B2&lt;/td&gt;
              &lt;td&gt;C1&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;2. Sprache&lt;/td&gt;
              &lt;td&gt;B1&lt;/td&gt;
              &lt;td&gt;C1&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;Ladinisch&lt;/td&gt;
              &lt;td&gt;B2&lt;/td&gt;
              &lt;td&gt;C1&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;Englisch&lt;/td&gt;
              &lt;td&gt;A0&lt;/td&gt;
              &lt;td&gt;B2&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
        &lt;/table&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;p&gt;
        Der Oberschulabschluss an einer dreisprachigen Oberschule der ladinischen Ortschaften S&uuml;dtirols gilt als Nachweis f&uuml;r die deutsche und italienische Sprache (entspricht Niveau B2 in den beiden Sprachen).
      &lt;/p&gt;


      &lt;h2&gt;Nachweis der erforderlichen Sprachkompetenzen&lt;/h2&gt;
      &lt;p&gt;So k&ouml;nnen Sie die Sprachkompetenzen f&uuml;r das Studium nachweisen:&lt;/p&gt;
      &lt;ol type=&quot;a&quot;&gt;
        &lt;li&gt;
          Sie erkl&auml;ren im Bewerbungsformular, dass Deutsch, Italienisch oder Englisch die Hauptunterrichtssprache im Jahr Ihrer Reifepr&uuml;fung war (entspricht Niveau C1); 
        &lt;/li&gt;
        &lt;li&gt;
          Sie erkl&auml;ren im Bewerbungsformular, dass Sie ein Bachelor- oder Masterstudium in Deutsch, Italienisch oder Englisch absolviert haben;
        &lt;/li&gt;
        &lt;li&gt;
          Sie laden ein vom Sprachenzentrum der unibz &lt;a href=&quot;https://www.unibz.it/de/students/languagecentre/Documents/Esami%20e%20titoli%20riconosciuti_2012-2013.pdf&quot;&gt;anerkanntes Sprachzertifikat&lt;/a&gt; im Bewerbungsportal hoch;
        &lt;/li&gt;
        &lt;li&gt;
          Sie bestehen eine &lt;a href=&quot;{{ link.pages-language-exam }}&quot;&gt;computerbasierte Sprachpr&uuml;fung&lt;/a&gt; hier vor Ort.
        &lt;/li&gt;
      &lt;/ol&gt;
      &lt;p&gt;
        Falls Sie &uuml;ber Sprachkompetenzen in der 3. Sprache verf&uuml;gen, empfehlen wir Ihnen, diese wie oben beschrieben nachzuweisen
      &lt;/p&gt;
      {{# button-simulation }}
        {{&gt; atoms-button-big }}
      {{/ button-simulation }}
      &lt;h2&gt;Der Spracherwerb&lt;/h2&gt;
      &lt;p&gt;
        Das Sprachenzentrum begleitet Sie w&auml;hrend ihrer gesamten Studienlaufbahn und bietet kostenfreie Sprachkurse an. Das Spektrum reicht vom Vorsemester - den intensiven Sprachkursen vor Studienbeginn - &uuml;ber die Sprachkurse w&auml;hrend des Semesters bis hin zu Vorbereitungskursen f&uuml;r internationale Sprachzertifikate. 
      &lt;/p&gt;
      {{# button-competence }}
        {{&gt; atoms-button-big }}
      {{/ button-competence }}
      &lt;p&gt;
        Daneben bietet das Sprachenzentrum Ihnen eine personalisierte Sprachlernberatung zum autonomen Lernen an, mit Hilfe dessen Sie ihren individuellen Weg suchen und finden k&ouml;nnen.
      &lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}