&lt;section class=&quot;l-section&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;g-row&quot;&gt;
      &lt;div class=&quot;g g-md-8 g-lg-8 g-md-push-16&quot;&gt;
      {{# event-image }}
        {{&gt; atoms-image-2x3 (class:&quot;event_poster&quot;)}}
      {{/ event-image }}
      &lt;/div&gt;
      &lt;div class=&quot;g g-md-16 g-lg-14 g-xl-14 g-md-pull-8&quot;&gt;
        {{# event-meta }}
          &lt;div class=&quot;event_meta eventDetail_meta&quot;&gt;
            {{# event-location }}
              {{&gt; atoms-text-span (class: &quot;event_location&quot;) }}
            {{/ event-location }}
            {{# event-date }}
              {{&gt; atoms-text-date (class: &quot;event_date&quot;) }}
            {{/ event-date }}
            {{# event-time }}
              {{&gt; atoms-text-time (class: &quot;event_time&quot;) }}
            {{/ event-time }}
          &lt;/div&gt;
        {{/ event-meta }}
        {{# event-description }}
          {{&gt; atoms-text-paragraph }}
        {{/ event-description }}
      &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;