{{&gt; organisms-header }}

&lt;main class=&quot;home&quot;&gt;
  {{# page-hero }}
    {{&gt; organisms-hero }}
  {{/ page-hero }}
  
  {{# page-faculties }}
    {{&gt; organisms-block-links }}
  {{/ page-faculties }}

  {{# page-banner }}
    {{&gt; organisms-banner }}
  {{/ page-banner }}

  {{# page-research }}
    {{&gt; organisms-block-text }}
  {{/ page-research }}

  {{# page-region }}
    {{&gt; organisms-block-text }}
  {{/ page-region }}

  {{# page-library }}
    {{&gt; organisms-block-media }}
  {{/ page-library }}

  {{# page-news }}
    {{&gt; organisms-latest-post }}
  {{/ page-news }}

  {{# page-events }}
    {{&gt; organisms-latest-events }}
  {{/ page-events }}
&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}