<div class="social">
	<a class="socialItem" href="{{ url }}"><i class="i i-facebook-brand"></i></a>
	<a class="socialItem" href="{{ url }}"><i class="i i-twitter-brand"></i></a>
  <a class="socialItem" href="{{ url }}"><i class="i i-instagram-brand"></i></a>
  <a class="socialItem" href="{{ url }}"><i class="i i-linkedin-brand"></i></a>
</div>