<div class="cookie">
  <p class="u-sm-push-btm-none u-sm-padd-rgt">This website makes use of cookies to enhance browsing experience and provide additional functionality. <a class="cookie_link" href="#">More info</a></p>
  <a class="btn btn-medium btn-alt" href="#">Accept</a>
</div>