<div class="translate">
  <div class="l-container">
    <div class="translate_inner">
      <p class="u-push-btm-none">This page is only avaible in English at the moment. We apology for any inconvinience.</p>
      <a class="translate_close" href="#">✕</a>
    </div>
  </div>
</div>