&lt;section class=&quot;l-section&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;l-container-small {{ container-class }}&quot;&gt;
      {{# latest-post-title }}
        {{&gt; atoms-heading-2 (class: &quot;h2&quot;)}}
      {{/ latest-post-title }}
      {{# latest-post }}
        {{&gt; molecules-block-post }}
      {{/ latest-post }}
      {{# latest-post-button }}
        {{&gt; atoms-button-medium }}
      {{/ latest-post-button }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;