&lt;div class=&quot;tender&quot;&gt;
  {{&gt; atoms-text-span (class:&quot;tender_deadline&quot;) }}
  {{&gt; atoms-text-paragraph (class:&quot;tender_text&quot;) }}
  {{&gt; atoms-heading-5 (class:&quot;tender_title&quot;) }}
  {{# links }}
    {{&gt; atoms-button-text-small (class:&quot;tender_link&quot;) }}
  {{/ links}}
&lt;/div&gt;