&lt;header class=&quot;js-header header&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;header_inner&quot;&gt;
      &lt;a class=&quot;logo&quot; href=&quot;{{ link.pages-homepage }}&quot;&gt;&lt;/a&gt;
      &lt;div class=&quot;nav&quot;&gt;
        {{&gt; molecules-primary-nav-de }}
        {{&gt; molecules-secondary-nav-de }}
        {{&gt; molecules-nav-links-de }}
        {{&gt; molecules-nav-grid-de }}
      &lt;/div&gt;
      &lt;div class=&quot;utility&quot;&gt;
        &lt;a class=&quot;utility_lang&quot; href=&quot;#&quot;&gt;DE ▾&lt;/a&gt;
        &lt;a class=&quot;utility_service&quot; href=&quot;{{ url }}&quot;&gt;Services&lt;/a&gt;
        &lt;div class=&quot;utility_search&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;utility_hamburger&quot;&gt;
          &lt;div class=&quot;burger&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    {{&gt; molecules-nav-mobile }}
  &lt;/div&gt;
&lt;/header&gt;