{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero }}
  {{/ page-hero }}

  {{# page-glance }}
    {{&gt; organisms-block-glance }}
  {{/ page-glance }}
  
  {{# page-study-structure }}
    {{&gt; organisms-block-text }}
  {{/ page-study-structure }}

  {{# page-people }}
    {{&gt; organisms-block-media }}
  {{/ page-people }}

  {{# page-exchange }}
    {{&gt; organisms-block-text }}
  {{/ page-exchange }}

  {{# page-work }}
    {{&gt; organisms-block-text }}
    {{&gt; organisms-testimonial }}
  {{/ page-work }}

  {{# page-admission }}
    {{&gt; organisms-block-text }}
  {{/ page-admission }}
&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}