//============================================
// Block Publication
//============================================

.publication_thumb
  max-width: 100%

.publication_price
  display: inline-block
  vertical-align: middle
  padding: 10px $space-half $space-quarter $space-half

.publication_thumb-none
  width: 180px
  height: 255px
  background-color: $primary
  color: $white
  letter-spacing: 1px
  text-transform: uppercase

.t_unibz
  &.publication_thumb-none
    background-color: $primary

.t_des-art
  &.publication_thumb-none
    background-color: $des-art

.t_eco
  &.publication_thumb-none
    background-color: $eco

.t_edu
  &.publication_thumb-none
    background-color: $edu

.t_comp-science
  &.publication_thumb-none
    background-color: $comp-science

.t_science-tech
  &.publication_thumb-none
    background-color: $science-tech

.t_library
  &.publication_thumb-none
    background-color: $library

.t_itc
  &.publication_thumb-none
    background-color: $itc