&lt;div class=&quot;find_tools-sidebar&quot;&gt;
  {{# search }}
    {{&gt; atoms-button-toggle (class:&quot;find_toolToggle find_toolToggle-search&quot;, icon:&quot;i-search&quot;) }}
    {{&gt; atoms-forms-input-search (class:&quot;find_toolSearch&quot;, icon:&quot;i-search&quot;) }}
  {{/ search }}
  {{# filter }}
    {{&gt; atoms-button-toggle-label (button:&quot;Filter&quot;, icon:&quot;i-filter&quot;) }}
  {{/ filter }}
  {{# calendar }}
    {{&gt; atoms-button-toggle-label (button:&quot;Calendar&quot;, icon:&quot;i-calendar&quot;) }}
  {{/ calendar }}
&lt;/div&gt;