&lt;nav class=&quot;js-nav {{ class }}&quot; data-nav-level=&quot;{{ level }}&quot;&gt;
	&lt;ul class=&quot;nav_wrap&quot;&gt;
    {{# items }}
  		&lt;li&gt;
        &lt;a class=&quot;js-nav_item nav_item&quot; href=&quot;{{ url }}&quot; data-toggle-elem=&quot;{{ toggle }}&quot;&gt;{{ item }}&lt;/a&gt;
      &lt;/li&gt;
    {{/ items }}
	&lt;/ul&gt;
&lt;/nav&gt;