{{# programs }}
&lt;section class=&quot;l-sectionSmall&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
      {{&gt; atoms-heading-3 (class:&quot;h-theme&quot;)}}
      &lt;div class=&quot;program_wrap&quot;&gt;
        {{# program }}
          {{&gt; molecules-block-study-program }}
        {{/ program }}
      &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;
{{/ programs }}