&lt;div class=&quot;social&quot;&gt;
	&lt;a class=&quot;socialItem socialItem-facebook&quot; href=&quot;{{ url }}&quot;&gt;&lt;i class=&quot;i i-facebook&quot;&gt;&lt;/i&gt;&lt;/a&gt;
	&lt;a class=&quot;socialItem socialItem-twitter&quot; href=&quot;{{ url }}&quot;&gt;&lt;i class=&quot;i i-twitter&quot;&gt;&lt;/i&gt;&lt;/a&gt;
  &lt;a class=&quot;socialItem socialItem-linkedin&quot; href=&quot;{{ url }}&quot;&gt;&lt;i class=&quot;i i-linkedin&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;/div&gt;