&lt;section class=&quot;l-section&quot;&gt;
  &lt;div class=&quot;l-containerSmall&quot;&gt;
    {{# latest-events-title }}
      {{&gt; atoms-heading-2 }}
    {{/ latest-events-title }}
    {{# latest-events }}
      {{&gt; molecules-block-event }}
    {{/ latest-events }}
    {{# latest-events-button }}
      {{&gt; atoms-button-text-primary }}
    {{/ latest-events-button }}
  &lt;/div&gt;
&lt;/section&gt;
