{{&gt; organisms-header-de }}
&lt;main class=&quot;{{ faculty }}&quot;&gt;
  {{# master-hero }}
    {{&gt; organisms-hero }}
  {{/ master-hero }}

  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;typography&quot;&gt;
      {{# master-description }}
        {{&gt; atoms-heading-3 }}
        {{&gt; atoms-text-paragraph }}
      {{/ master-description }}
    &lt;/div&gt;
  &lt;/div&gt;

    {{# master-glance }}
      {{&gt; molecules-block-glance }}
    {{/ master-glance }}

  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;typography&quot;&gt;
      {{# master-structure }}
        {{&gt; atoms-heading-3 }}
        {{&gt; atoms-text-paragraph }}
        {{&gt; atoms-button }}
      {{/ master-structure }}

      {{# master-possibility }}
        {{&gt; atoms-heading-3 }}
        {{&gt; atoms-text-paragraph }}
      {{/ master-possibility }}
    &lt;/div&gt;

    {{# master-student }}
      {{&gt; molecules-media-block }}
    {{/ master-student }}

    &lt;div class=&quot;typography&quot;&gt;
      {{# master-admission }}
        {{&gt; atoms-heading-3 }}
        {{&gt; atoms-text-paragraph }}
        {{&gt; atoms-button-big }}
      {{/ master-admission }}
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/main&gt;
{{&gt; organisms-footer }}