{{> organisms-header }}
<main class="home">
  {{# page-hero }}
    {{> organisms-hero}}
  {{/ page-hero }}

  {{# page-intro }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-text-paragraph (class: "intro") }}
        </div>
      </div>
    </section>
  {{/ page-intro }}
  
  {{# page-faculties }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-heading-2 }}
          {{> atoms-text-paragraph }}
        </div>
        {{> organisms-block-links }}
      </div>
    </section>
  {{/ page-faculties }}

  {{# page-banner }}
    {{> organisms-banner }}
  {{/ page-banner }}

  {{# page-research }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-heading-2 }}
          {{> atoms-image-4x3 (class:"right") }}
          {{> atoms-text-paragraph }}
          {{> atoms-button-medium }}
        </div>
      </div>
    </section>
  {{/ page-research }}

  {{# page-region }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-heading-2 }}
          {{> atoms-text-paragraph }}
          {{> atoms-button-medium }}
        </div>
      </div>
    </section>
  {{/ page-region }}

  {{# page-library }}
    <section class="l-section">
      <div class="l-container">
        {{> molecules-media-block }}
      </div>
    </section>
  {{/ page-library }}

  {{# page-news }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-heading-2 }}
          {{> organisms-latest-news }}
        </div>
      </div>
    </section>
  {{/ page-news }}

  {{# page-events }}
    <section class="l-section">
      <div class="l-container-small">
        <div class="typography">
          {{> atoms-heading-2 }}
        </div>
        {{> organisms-latest-events }}
        <div class="typography">
          {{> atoms-button-medium }}
        </div>
      </div>
    </section>
  {{/ page-events }}

  {{# page-magazine }}
    {{> organisms-magazine }}
  {{/ page-magazine }}

</main>
{{# footer }}
  {{> organisms-footer }}
{{/ footer }}