{{> organisms-header }}
<main class="home">
  {{# page-hero }}
    {{> organisms-hero }}
  {{/ page-hero }}

  {{# page-intro }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-text-paragraph (class: "intro") }}
        </div>
      </div>
    </section>
  {{/ page-intro }}
  
  {{# page-faculties }}
    {{> organisms-block-links }}
  {{/ page-faculties }}

  {{# page-banner }}
    {{> organisms-banner }}
  {{/ page-banner }}

  {{# page-research }}
    {{> organisms-block-text }}
  {{/ page-research }}

  {{# page-region }}
    {{> organisms-block-text }}
  {{/ page-region }}

  {{# page-library }}
    {{> organisms-block-media }}
  {{/ page-library }}

  {{# page-news }}
    {{> organisms-latest-post }}
  {{/ page-news }}

  {{# page-events }}
    {{> organisms-latest-event }}
  {{/ page-events }}
</main>
{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}