{{> organisms-header }}
<main class="{{ faculty }}">
  {{> organisms-hero }}
  <div class="l-container">
    {{> atoms-text-paragraph }}
  </div>
  {{> organisms-banner }}
  {{> molecules-tabs }}
</main>
{{> organisms-footer }}