{{> organisms-header }}
<main class="{{ faculty }}">
  {{# bachelor-hero }}
    {{> organisms-hero }}
  {{/ bachelor-hero }}

  <div class="l-container">
    <div class="typography">
      {{# bachelor-description }}
        {{> atoms-heading-3 }}
        {{> atoms-text-paragraph }}
      {{/ bachelor-description }}
    </div>
  </div>

    {{# bachelor-glance }}
      {{> molecules-block-glance }}
    {{/ bachelor-glance }}

  <div class="l-container">
    <div class="typography">
      {{# bachelor-structure }}
        {{> atoms-heading-3 }}
        {{> atoms-text-paragraph }}
        {{> atoms-button }}
      {{/ bachelor-structure }}

      {{# bachelor-possibility }}
        {{> atoms-heading-3 }}
        {{> atoms-text-paragraph }}
      {{/ bachelor-possibility }}
    </div>

    {{# bachelor-student }}
      {{> molecules-media-block }}
    {{/ bachelor-student }}

    <div class="typography">
      {{# bachelor-admission }}
        {{> atoms-heading-3 }}
        {{> atoms-text-paragraph }}
        {{> atoms-button-big }}
      {{/ bachelor-admission }}
    </div>
  </div>

</main>
{{> organisms-footer }}