<main class="{{ faculty }}">
	<div class="l-container">
		{{> atoms-heading-1 (class:"class='h-title h-title-center'") }}
    {{> molecules-nav-alphabet }}
		{{# people }}
			{{> organisms-section-people }}
		{{/ people }}
	</div>
</main>