<main class="{{ faculty }}">
	<div class="l-container">
		{{> atoms-heading-1 (class:"class='headingTitle headingTitle-center'") }}
    <div class="alphabet">
      <div class="alphabet-inner">
        A · B · C · D · E · F · G · H · I · J · K · L · M · N · O · P · Q · R · S · T · U · V · W · X · Y · Z
      </div>
    </div>
		{{# people }}
			{{> organisms-section-people }}
		{{/ people }}
	</div>
</main>