{{> organisms-header }}
<main class="{{ faculty }}">
	<div class="l-container">
    <header class="l-header">
  		{{> atoms-heading-1 (class:"class='h-title h-title-center'") }}
      {{> molecules-scroll-nav-alphabet }}
    </header>
		{{# people }}
      {{> atoms-heading-2 (class:"class='h-subtitle h-subtitle-center'") }}
			{{> organisms-people }}
		{{/ people }}
	</div>
</main>
{{> organisms-footer }}