{{> organisms-header }}
<main class="{{ faculty }}">
	<div class="l-container">

    <header class="l-header">
  		{{> atoms-heading-1 (class:"class='h-title h-title-center'") }}
    </header>
		
    <div class="l-section">
      {{> organisms-calendar }}
    </div>

    {{# timetable-slot  }}
    <div class="timetable_section">
      <div class="g-row">
        <div class="g g-sm-12 u-push-btm-half">
          {{> atoms-text-time (class:"class='timetable_startTime'")}}
        </div>
        <div class="g g-sm-12">
          {{# timetable-element  }}
            <article class="timetable_item">
              <p class="timetable_endTime">Until <time>{{ end-time }}</time></p>
              {{> atoms-heading-3 (class:"class='timetable_title'") }}
              {{> atoms-button-text }}
              <p class="timetable_room">{{ room }}</p>
            </article>
          {{/ timetable-element  }}
        </div>
      </div>
    </div>
    {{/ timetable-slot }}

  </div>
</main>
{{> organisms-footer }}