{{> organisms-header }}
<main>
  {{# page-hero }}
    {{> organisms-hero}}
  {{/ page-hero }}

  {{# page-intro }}
  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        {{> atoms-text-paragraph (class: "intro-bold") }}
      </div>
    </div>
  </section>
  {{/ page-intro }}

  {{# page-description }}
    {{> organisms-block-text }}
  {{/ page-description }}

  {{# page-banner }}
    {{> organisms-banner }}
  {{/ page-banner }}
  
  {{# page-study-courses }}
    {{> organisms-block-links }}
  {{/ page-study-courses }}

  {{# page-research }}
    {{> organisms-block-text }}
  {{/ page-research }}

  {{# page-people }}
    {{> organisms-block-media }}
  {{/ page-people }}

  {{# page-partner }}
    {{> organisms-block-text }}
  {{/ page-partner }}

  {{# page-news }}
    {{> organisms-latest-post }}
  {{/ page-news }}

  {{# page-events }}
    {{> organisms-latest-events }}
  {{/ page-events }}
</main>
{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}