{{> organisms-header }}
<main>
  {{# page-hero }}
    {{> organisms-hero}}
  {{/ page-hero }}

  {{# page-intro }}
  <section class="l-section">
    <div class="l-container">
      <div class="typography">
        {{> atoms-text-paragraph (class: "intro-bold") }}
      </div>
    </div>
  </section>
  {{/ page-intro }}

  {{# page-description }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-image-4x3 (class:"left") }}
          {{> atoms-text-paragraph }}
        </div>
      </div>
    </section>
  {{/ page-description }}

  {{# page-banner }}
    {{> organisms-banner }}
  {{/ page-banner }}
  
  {{# page-study-courses }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{# study-courses }}
            {{> atoms-heading-2 }}
            {{> organisms-block-links }}
          {{/ study-courses }}
        </div>
      </div>
    </section>
  {{/ page-study-courses }}


  {{# page-research }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-heading-2 }}
          {{> atoms-image-4x3 (class:"right") }}
          {{> atoms-text-paragraph }}
          {{> atoms-button-medium }}
        </div>
      </div>
    </section>
  {{/ page-research }}

  {{# page-people }}
    <section class="l-section">
      <div class="l-container">
        {{> molecules-media-block }}
      </div>
    </section>
  {{/ page-people }}

  {{# page-partner }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-heading-2 }}
          {{> atoms-image-4x3 }}
          {{> atoms-text-paragraph }}
        </div>
      </div>
    </section>
  {{/ page-partner }}

  {{# page-news }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-heading-2 }}
          {{> organisms-latest-news }}
        </div>
      </div>
      <div class="typography">
        {{> atoms-button-medium }}
      </div>
    </section>
  {{/ page-news }}

  {{# page-events }}
    <section class="l-section">
      <div class="l-container-small">
        <div class="typography">
          {{> atoms-heading-2 }}
        </div>
        {{> organisms-latest-events }}
        <div class="typography">
          {{> atoms-button-medium }}
        </div>
      </div>
    </section>
  {{/ page-events }}

</main>
{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}