{{> organisms-header }}
<main class="{{ faculty }}">
  <div class="l-container">
    <header class="l-header">
      {{> molecules-heading-group }}
    </header>
    <div class="l-section">
      <div class="g-row">
        <div class="g g-sm-8">
          <img src="http://placekitten.com/g/320/200">
        </div>
        <div class="g g-sm-16">
          <p>
            Rettore della Libera Università di Bolzano, Walter Lorenz insegna presso la Facoltà di Scienze della Formazione nel campus di Bressanone. I suoi interessi di ricerca si concentrano su: storia europea e comparativa del Servizio Sociale, concetti di cittadinanza europea e identità nazionale, i metodi di antirazzismo nel campo dei servizi sociali nel contesto europeo, strategie di “coping” e competenze sociali...
          </p>
        </div>
      </div>
    </div>
    <div class="l-section">
      <h3 class="h-subtitle">Contatti</h3>
      Facoltà di Scienze della Formazione<br>
      Aula: DAN 3.25b, viale Ratisbona, 16<br>
      39042 Bressanone<br>
      T: +39 0472 014150<br>
      F: +39 0472 014009<br>
      walter.lorenz@unibz.it
    </div>
    <div class="l-section">
      <h3 class="h-subtitle">Corsi</h3>
      {{> molecules-block-headline-button }}
    </div>
    <div class="l-section">
      <h3 class="h-subtitle">News</h3>
      {{> molecules-block-post }}
      {{> atoms-button }}
    </div>
    <div class="l-section">
      <h3 class="h-subtitle">Events</h3>
      {{> molecules-block-event }}
      {{> atoms-button }}
    </div>
  </div>
</main>
{{> organisms-footer }}