{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero }}
  {{/ page-hero }}

  {{# page-glance }}
    {{> organisms-block-glance }}
  {{/ page-glance }}
  
  {{# page-study-structure }}
    {{> organisms-block-text }}
  {{/ page-study-structure }}

  {{# page-people }}
    {{> organisms-block-media }}
  {{/ page-people }}

  {{# page-exchange }}
    {{> organisms-block-text }}
  {{/ page-exchange }}

  {{# page-work }}
    {{> organisms-block-text }}
    {{> organisms-testimonial }}
  {{/ page-work }}

  {{# page-admission }}
    {{> organisms-block-text }}
  {{/ page-admission }}
</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}