{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}

  {{# page-intro }}
    {{> organisms-block-text }}
  {{/ page-intro }}

  {{# page-lectures }}
    {{> organisms-lectures }}
  {{/ page-lectures }}

  {{# page-details }}
    {{> organisms-block-text }}
  {{/ page-details }}
</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}