{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}


  {{# page-filters }}
    {{> organisms-filters }}
  {{/ page-filters }}

  {{# page-programs }}
    <section class="l-section">
      <div class="l-container">
        {{# programs }}
          <div class="typography">
            {{> atoms-heading-3 }}
          </div>
          <div class="program_wrap">
            {{# program }}
              {{> molecules-block-study-program }}
            {{/ program }}
          </div>
        {{/ programs }}
      </div>
    </section>
  {{/ page-programs }}
</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}