{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}

  {{# page-programs }}
    {{> organisms-study-programs  }}
  {{/ page-programs }}

  {{# page-details }}
    {{> organisms-block-text }}
  {{/ page-details }}
</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}