{{> organisms-header }}
<main>
  {{# page-hero }}
    {{> organisms-hero }}
  {{/ page-hero }}
  {{# page-description }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-heading-2 }}
          {{> atoms-text-paragraph }}
        </div>
      </div>
    </section>
  {{/ page-description }}
</main>
{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}