{{> organisms-header }}
<main>
  {{# page-hero }}
    {{> organisms-hero }}
  {{/ page-hero }}

  {{# page-description }}
    {{> organisms-block-text }}
  {{/ page-description }}

  {{# page-contact }}
    {{> organisms-contact-card }}
  {{/ page-contact }}

  {{# page-links }}
    {{> organisms-block-links }}
  {{/ page-links }}

  {{# page-glance }}
    {{> organisms-block-glance }}
  {{/ page-glance }}

  {{# page-banner }}
    {{> organisms-banner }}
  {{/ page-banner }}
</main>
{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}