{{> organisms-header }}
<main>
  {{# page-hero }}
    {{> organisms-hero }}
  {{/ page-hero }}

  {{# page-description }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-text-paragraph (class: "intro-bold") }}
          {{> atoms-heading-2 }}
          {{> atoms-text-paragraph }}
        </div>
      </div>
    </section>
  {{/ page-description }}

  {{# page-contact }}
  <section class="l-section">
    <div class="l-container">
      {{> molecules-block-contact }}
    </div>
  </section>
  {{/ page-contact }}

  {{# page-links }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-heading-2 }}
          {{> atoms-text-paragraph }}
        </div>
        {{> organisms-block-links }}
      </div>
    </section>
  {{/ page-links }}

  {{# page-text }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-heading-2 }}
          {{> atoms-text-paragraph }}
          {{> atoms-button }}
        </div>
      </div>
    </section>
  {{/ page-text }}

  {{# page-glance }}
    {{> molecules-block-glance }}
  {{/ page-glance }}

  {{# page-text-image-right }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-heading-2 }}
          {{> atoms-image-4x3 (class:"right") }}
          {{> atoms-text-paragraph }}
          {{> atoms-button }}
        </div>
      </div>
    </section>
  {{/ page-text-image-right }}

  {{# page-banner }}
    {{> organisms-banner }}
  {{/ page-banner }}

  {{# page-text-image-left }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography">
          {{> atoms-heading-2 }}
          {{> atoms-image-4x3 (class:"left") }}
          {{> atoms-text-paragraph }}
        </div>
      </div>
    </section>
  {{/ page-text-image-left }}

</main>
{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}