{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}
  {{> organisms-search-find }}
  {{> organisms-timetable-day }}
</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}