{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}

  <section class="l-section">
    <div class="l-container-small">
      {{# jobs }}
        {{> molecules-block-job }}
      {{/ jobs }}
    </div>
  </section>
  <section class="l-section">
    <div class="l-container-small">
      {{> molecules-nav-pagination }}
    </div>
  </section>
</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}