{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}

  <section class="l-section">
    <div class="l-container">
      {{# news }}
        {{> molecules-block-post }}
      {{/ news }}
    </div>
  </section>

  <section class="l-section">
    <div class="l-container">
      {{> molecules-nav-pagination }}
    </div>
  </section>
</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}