{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}

  <section class="l-section">
    <div class="l-container">
      <div class="g-row">
        <div class="g g-lg-16">
          {{# page-events }}
            {{> molecules-block-event }}
          {{/ page-events }}
        </div>
        <div class="g g-lg-4">
          <!-- Shall we put the filters as a sidebar? What About accesibility -->
        </div>
      </div>
    </div>
  </section>

  <section class="l-section">
    <div class="l-container-small">
      {{> molecules-nav-pagination }}
    </div>
  </section>
</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}