{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}
  {{# page-content }}
    {{> organisms-latest-tenders }}
  {{/ page-content }}
  {{> organisms-pagination }}
</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}