{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}

  {{# page-people }}
  <section class="l-section">
    <div class="l-container">
      {{> organisms-people-section }}
    </div>
  </section>
  {{/ page-people }}

  {{# page-content }}
    <section class="l-section">
      <div class="l-container">
        <div class="typography typography-left">
          {{> atoms-heading-4 (class:"h-theme") }}
          {{> atoms-text-wrapper }}
        </div>
      </div>
    </section>
  {{/ page-content }}
</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}