{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}

  <section class="l-section">
    <div class="l-container">
      {{> molecules-post-header }}

      <div class="typography typography-left">
        {{> atoms-text-paragraph (class:"intro-bold")}}
        
        {{> atoms-text-paragraph }}
      </div>
    </div>
  </section>

</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}