{{> organisms-header }}

<main>
  {{# page-hero }}
    {{> organisms-hero-small }}
  {{/ page-hero }}
  {{> organisms-office }}
  {{# page-people }}
    {{> organisms-people-section }}
  {{/ page-people }}
</main>

{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}