{{> organisms-header }}
<main>
  {{# page-hero }}
    {{> organisms-hero}}
  {{/ page-hero }}

  {{# page-research-points }}
    {{> organisms-latest-highlights }}
  {{/ page-research-points }}

  {{# page-research-projects }}
    {{> organisms-latest-post }}
  {{/ page-research-projects }}

  {{# page-description }}
    {{> organisms-block-typography }}
  {{/ page-description }}

  {{# page-search }}
    {{> organisms-search-section }}
  {{/ page-search }}

  {{# page-content }}
    {{> organisms-block-text }}
  {{/ page-content }}
</main>
{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}