{{> organisms-header }}
<main>
  {{# page-hero }}
    {{> organisms-hero }}
  {{/ page-hero }}
  {{# page-content }}
    {{> organisms-latest-post }}
  {{/ page-content }}
  {{> organisms-pagination }}
</main>
{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}