{{> organisms-header }}
<main>
  {{# page-hero }}
    {{> organisms-hero }}
  {{/ page-hero }}

  {{# page-hours }}
    {{> organisms-block-text }}
  {{/ page-hours }}

  {{# page-services }}
    {{> organisms-block-links }}
  {{/ page-services }}

  {{# page-teaching }}
    {{> organisms-block-media }}
  {{/ page-teaching }}

  {{# page-integrity }}
    {{> organisms-latest-highlights }}
  {{/ page-integrity }}

  {{# page-tools }}
    {{> organisms-block-text }}
  {{/ page-tools }}

  {{# page-news }}
    {{> organisms-latest-post }}
  {{/ page-news }}

</main>
{{# page-footer }}
  {{> organisms-footer }}
{{/ page-footer }}