&lt;ul class=&quot;sg-colors list-reset&quot;&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #007be4;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;$unibz&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;#007be4&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #f86b07;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;$comp&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;#f86b07&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ed331a;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;$dsgn&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;#ed331a&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #6cc3ab;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;$edu&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;#6cc3ab&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ac145a;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;$eco&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;#ac145a&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #1a8c64;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;$tech&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;#1a8c64&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #e1a22e;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;$library&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;#e1a22e&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;