{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;g-row&quot;&gt;
        &lt;div class=&quot;g g-lg-16&quot;&gt;
          {{# news }}
            {{&gt; molecules-block-post }}
          {{/ news }}
        &lt;/div&gt;
        &lt;div class=&quot;g g-lg-4&quot;&gt;
          &lt;!-- Shall we put the filters as a sidebar? What About accesibility --&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      {{&gt; molecules-nav-pagination }}
    &lt;/div&gt;
  &lt;/section&gt;
&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}