&lt;section class=&quot;hero&quot; role=&quot;banner&quot; style=&quot;background-image:url({{ img-background }})&quot;&gt;
  &lt;div class=&quot;hero-inner&quot;&gt;
    {{&gt; atoms-heading-1 (class:&quot;hero_title&quot;) }}
  &lt;/div&gt;
&lt;/section&gt;