&lt;div class=&quot;timetable_tools&quot;&gt;
  {{&gt; atoms-input-search (class:&quot;tt_toolsSearch&quot;)}}
  {{&gt; atoms-button-filter (class:&quot;tt_toolsFilter&quot;) }}
  {{&gt; atoms-button-toggle-calendar (class:&quot;tt_toolsCalendarToggle&quot;)}}
&lt;/div&gt;