{{&gt; organisms-header }}
&lt;main&gt;
  {{# master-hero }}
    {{&gt; organisms-hero }}
  {{/ master-hero }}

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Descrizione del corso&lt;/h3&gt;
        &lt;p&gt;
          EMMA (&lt;em&gt;Environmental Management of Mountain Areas&lt;/em&gt;) &egrave; un corso di laurea magistrale internazionale offerto in collaborazione con l&rsquo;Universit&agrave; di Innsbruck. Il titolo di studio rilasciato &egrave; valido sia in Italia che in Austria.
          Grazie alla formazione interdisciplinare, una volta laureato, avrai le competenze teoriche e pratiche necessarie per operare come specialista in ecologia del paesaggio delle aree alpine.
        &lt;/p&gt;
        &lt;p&gt;
          La lingua ufficiale del corso &egrave; l'inglese. Saranno per&ograve; offerti corsi opzionali in italiano e tedesco.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;glance&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        &lt;h3 class=&quot;glance_title&quot;&gt;Il corso in breve&lt;/h3&gt;
        &lt;div class=&quot;glance_text&quot;&gt;
          &lt;ul&gt;
            &lt;li&gt;Classe di laurea: LM-370&lt;/li&gt;
            &lt;li&gt;Crediti ECTS: 120&lt;/li&gt;
            &lt;li&gt;Durata del corso di studi: 2 anni&lt;/li&gt;
            &lt;li&gt;Lingue di insegnamento: inglese&lt;/li&gt;
            &lt;li&gt;Posti di studio: 25 UE + 10 non-UE&lt;/li&gt;
            &lt;li&gt;Campus: Bolzano e Innsbruck&lt;/li&gt;
            &lt;li&gt;Tasse annuali: 1343,50&euro;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Struttura del corso&lt;/h3&gt;
        &lt;p&gt;
          Il primo anno seguirai le lezioni presso la Facolt&agrave; di Scienze e Tecnologie a Bolzano; il secondo anno, invece, le lezioni si terranno presso la Facolt&agrave; di Biologia e la Facolt&agrave; di Scienze Tecnologiche a Innsbruck.
          Ecologia del paesaggio, idrologia, telerilevamento e statistica applicata saranno alcune delle discipline fondamentali che studierai durante il corso. A queste, affiancherai materie come il management delle foreste montane o dei sistemi agricoli nei territori montani, il restauro degli ecosistemi, la pianificazione del paesaggio, il turismo e lo sviluppo agrario sostenibile. 
          Il corso prevede inoltre escursioni, progetti di studio e la stesura della tesi magistrale. In queste occasioni dovrai impiegare quanto appreso a lezione per risolvere problemi pratici.
        &lt;/p&gt;
        {{# master-structure }}
          {{&gt; atoms-button }}
        {{/ master-structure }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Prospettive professionali&lt;/h3&gt;
        &lt;p&gt;
          Il corso ti prepara alla professione di Dottore Forestale ed Ambientale.
        &lt;/p&gt;
        &lt;p&gt;
          Una volta laureato, potrai monitorare gli ecosistemi montani, gestire in maniera sostenibile le risorse ambientali, realizzare piani di sviluppo turistico ed agrituristico, progettare interventi selvicolturali e di rimboschimento, riqualificare ambienti degradati ed effettuare valutazioni di impatto ambientale e analisi dei rischi idro-geologici in aree montane.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Ammissione&lt;/h3&gt;
        &lt;p&gt;
          Per accedere a EMMA, devi essere in possesso di una laurea triennale nei settori dell&rsquo;ingegneria e delle scienze naturali e dimostrare un livello di conoscenza della lingua inglese B2. Se non disponi di un certificato linguistico internazionale, puoi sostenere un &lt;a href=&quot;#&quot;&gt;esame di lingua&lt;/a&gt; presso unibz.
        &lt;/p&gt;
        &lt;p&gt;
          Trovi tutte le informazioni sui documenti necessari per la preiscrizione nel &lt;a href=&quot;#&quot;&gt;Manifesto degli studi&lt;/a&gt;.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        {{# bachelor-submit }}
          {{&gt; atoms-button-big }}
        {{/ bachelor-submit }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}