{{&gt; organisms-header-de }}
&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;typography&quot;&gt;
      &lt;p&gt;Die n&auml;chsten Pr&uuml;fungstermine:&lt;/p&gt;
      &lt;ul&gt;
        &lt;li&gt;ab 12. Juli (Anmeldung vom 09.05.2016 bis 07.07.2016)*&lt;/li&gt;
        &lt;li&gt;ab 26. Juli (Anmeldung vom 08.07.2016 bis 22.07.2016)*&lt;/li&gt;
      &lt;/ul&gt;
      &lt;p&gt;
        NB: Bitte die Uhrzeit f&uuml;r die Anmeldung beachten (siehe Bewerbungsportal).
      &lt;/p&gt;
      &lt;p&gt;
        Die Pr&uuml;fungen finden gegebenenfalls auch an den jeweils darauf folgenden Tagen statt.
      &lt;/p&gt;
      &lt;p&gt;
        Bitte beachten Sie beim Anlegen des Benutzerkontos f&uuml;r die Bewerbung darauf, dass Ihre pers&ouml;nlichen Angaben mit den Daten in Ihrem Identit&auml;tsausweis &uuml;bereinstimmen! Diesen Ausweis m&uuml;ssen Sie zu Beginn der Pr&uuml;fung vorlegen. 
      &lt;/p&gt;
      &lt;p&gt;
        F&uuml;r Kandidatinnen und Kandidaten der C1-Pr&uuml;fungen sind &ndash; &uuml;ber die computergest&uuml;tzten Pr&uuml;fungen hinaus &ndash; Zusatzpr&uuml;fungen vorgesehen. Nur wer die jeweilige Pr&uuml;fung am PC bestanden hat, wird zu diesen Pr&uuml;fungen zugelassen. Der Kalender f&uuml;r diese Pr&uuml;fungen wird am Tag der Pr&uuml;fung am PC ver&ouml;ffentlicht.
      &lt;/p&gt;
      {{# button-exam }}
        {{&gt; atoms-button }}
      {{/ button-exam }}
      &lt;p&gt;
        Die Demo-Version ist genauso aufgebaut wie der &bdquo;echte&ldquo; computerbasierte Test und besteht aus drei Teilen, n&auml;mlich Grammatik/Wortschatz, Leseverstehen und H&ouml;rverstehen. Am Ende erhalten Sie ein kurzes graphisches Feedback zum Testverlauf. Au&szlig;erdem k&ouml;nnen Sie die Demo-Version ausdrucken und einem Lehrer oder Sprachlernberater vorlegen, um besser zu verstehen, wo Sie eventuell Nachholbedarf haben.  
      &lt;/p&gt;
      &lt;p&gt;
        Bevor Sie anfangen noch ein paar Tipps:
      &lt;/p&gt;
      &lt;ul&gt;
        &lt;li&gt;Machen Sie den Test m&ouml;glichst ungest&ouml;rt und ohne Unterbrechungen&lt;/li&gt;
        &lt;li&gt;
          Nehmen Sie keine Hilfsmittel zur Hand. Die haben Sie auch w&auml;hrend der &bdquo;echten&ldquo; Pr&uuml;fung nicht!
        &lt;/li&gt;
        &lt;li&gt;
          Halten Sie einen Kopfh&ouml;rer f&uuml;r den Testteil &bdquo;H&ouml;rverstehen&ldquo; bereit.
        &lt;/li&gt;
        &lt;li&gt;
          Nehmen Sie sich Zeit f&uuml;r diesen Test.  
        &lt;/li&gt;
      &lt;/ul&gt;
      &lt;p&gt;
        Viel Erfolg w&uuml;nscht Ihnen das Team des Sprachenzentrums.
      &lt;/p&gt;
      {{# button-test }}
        {{&gt; atoms-button }}
      {{/ button-test }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}