&lt;section class=&quot;l-section banner&quot; role=&quot;banner&quot; {{# banner-image }}style=&quot;background-image:url({{ img.background.src }})&quot;{{/ banner-image}}&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{# banner-title }}
      {{&gt; atoms-heading-1 (class:&quot;class='banner_title'&quot;) }}
    {{/ banner-title }}
    {{# banner-text }}
      {{&gt; atoms-text-paragraph (class:&quot;class='banner_text'&quot;) }}
    {{/ banner-text }}
    {{# banner-button }}
      {{&gt; atoms-button }}
    {{/ banner-button }}
  &lt;/div&gt;
&lt;/section&gt;