&lt;header class=&quot;js-header header&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;header_inner&quot;&gt;
      {{&gt; atoms-logo  }}
      &lt;div class=&quot;mainNav&quot;&gt;
        {{&gt; molecules-nav }}
      &lt;/div&gt;
      &lt;div class=&quot;utility&quot;&gt;
        &lt;a class=&quot;nav_item nav_item-utility js-nav_item&quot; href=&quot;{{ url }}&quot; data-toggle-elem=&quot;#nav-languages&quot;&gt;EN&lt;/a&gt;
        &lt;a class=&quot;nav_item nav_item-utility js-nav_item&quot; href=&quot;{{ url }}&quot; data-toggle-elem=&quot;#nav-services&quot;&gt;Services&lt;/a&gt;
        &lt;div class=&quot;utility_search&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;utility_hamburger&quot;&gt;
          &lt;div class=&quot;burger&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;

&lt;div class=&quot;navSecondary_wrapper&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{&gt; molecules-nav-study-course }}
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;navLinks_wrapper&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{&gt; molecules-nav-links-university }}
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;navLinks_wrapper&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{&gt; molecules-nav-links-faculty }}
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;navGrid_wrapper&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{&gt; molecules-nav-grid-bachelor }}
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;navGrid_wrapper&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{&gt; molecules-nav-grid-master }}
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;navGrid_wrapper&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{&gt; molecules-nav-grid-phd }}
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;navGrid_wrapper&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{&gt; molecules-nav-grid-lifelong }}
  &lt;/div&gt;
&lt;/div&gt;

&lt;div id=&quot;nav-mobile&quot; class=&quot;navMobile_wrapper&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{&gt; molecules-nav-mobile }}
  &lt;/div&gt;
&lt;/div&gt;