&lt;header class=&quot;header&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;header_inner&quot;&gt;
      &lt;div class=&quot;logo&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;nav&quot;&gt;
        {{&gt; molecules-primary-nav }}
        {{&gt; molecules-secondary-nav }}
        {{&gt; molecules-nav-links }}
        {{&gt; molecules-nav-grid }}
      &lt;/div&gt;
      &lt;div class=&quot;mobile-nav&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;utility&quot;&gt;
        &lt;a href=&quot;{{ url }}&quot;&gt;Services&lt;/a&gt;
        &lt;div class=&quot;utility_search&quot;&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;