{{# people-section }}
  &lt;section class=&quot;l-sectionSmall&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;l-container_left&quot;&gt;
        {{&gt; atoms-heading-3 (class:&quot;h-theme&quot;) }}
      &lt;/div&gt;
      &lt;div class=&quot;g-row g-md-clear-2 g-lg-clear-3&quot;&gt;
        {{# people }}
          &lt;div class=&quot;g g-md-12 g-lg-8&quot;&gt;
            {{&gt; molecules-block-person }}
          &lt;/div&gt;
        {{/ people }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;
{{/ people-section }}