<div class="timetable_nav">
  <div class="tt_navBtnWrapper tt_navBtnWrapper-lft">
    {{> atoms-button-nav-left (class:"tt_navBtn") }}
  </div>
  <div class="tt_navDays">
    <div class="tt_navDay">
      <span class="tt_navDayName">Mon</span>
      <span class="tt_navDayNum">2</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Tue</span>
      <span class="tt_navDayNum">3</span>
    </div>
    <div class="tt_navDay tt_navDay-current">
      <span class="tt_navDayName">Wed</span>
      <span class="tt_navDayNum">4</span>
      <span class="tt_navDayMonth">OCT</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Thu</span>
      <span class="tt_navDayNum">5</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Fri</span>
      <span class="tt_navDayNum">6</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Sat</span>
      <span class="tt_navDayNum">7</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Sun</span>
      <span class="tt_navDayNum">8</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Mon</span>
      <span class="tt_navDayNum">9</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Tue</span>
      <span class="tt_navDayNum">10</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Wed</span>
      <span class="tt_navDayNum">11</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Thu</span>
      <span class="tt_navDayNum">12</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Fri</span>
      <span class="tt_navDayNum">13</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Fri</span>
      <span class="tt_navDayNum">13</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Sat</span>
      <span class="tt_navDayNum">14</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Sun</span>
      <span class="tt_navDayNum">15</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Mon</span>
      <span class="tt_navDayNum">16</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Tue</span>
      <span class="tt_navDayNum">17</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Wed</span>
      <span class="tt_navDayNum">18</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Thu</span>
      <span class="tt_navDayNum">19</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Fri</span>
      <span class="tt_navDayNum">20</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Sat</span>
      <span class="tt_navDayNum">21</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Sun</span>
      <span class="tt_navDayNum">22</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Mon</span>
      <span class="tt_navDayNum">23</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Tue</span>
      <span class="tt_navDayNum">24</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Wed</span>
      <span class="tt_navDayNum">25</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Thu</span>
      <span class="tt_navDayNum">26</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Fri</span>
      <span class="tt_navDayNum">27</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Sat</span>
      <span class="tt_navDayNum">28</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Sun</span>
      <span class="tt_navDayNum">29</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Mon</span>
      <span class="tt_navDayNum">30</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Tue</span>
      <span class="tt_navDayNum">31</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Wed</span>
      <span class="tt_navDayNum">1</span>
      <span class="tt_navDayMonth">NOV</span>
    </div>
    <div class="tt_navDay">
      <span class="tt_navDayName">Thu</span>
      <span class="tt_navDayNum">2</span>
    </div>
  </div>
  <div class="tt_navBtnWrapper tt_navBtnWrapper-rgt">
    {{> atoms-button-nav-right (class:"tt_navBtn") }}
  </div>
</div>