<div class="timetable_navMonth">
  <div class="tt_navMonthNav">
    <div class="tt_navMonthBtnWrapper">
      {{> atoms-button-nav-left (class:"tt_navMonthBtn")}}
    </div>
      <span class="tt_navMonthName">October 2015</span>
    <div class="tt_navMonthBtnWrapper">
      {{> atoms-button-nav-right (class:"tt_navMonthBtn")}}
    </div>
  </div>
  <div class="tt_navMonthDays">
    <span class="tt_navMonthDay">Mon</span>
    <span class="tt_navMonthDay">Tue</span>
    <span class="tt_navMonthDay">Wed</span>
    <span class="tt_navMonthDay">Thu</span>
    <span class="tt_navMonthDay">Fri</span>
    <span class="tt_navMonthDay">Sat</span>
    <span class="tt_navMonthDay">Sun</span>
  </div>
  <div class="tt_navMonthCalendar">
    <span class="tt_navMonthDayNum tt_navMonthDayNum-inactive">28</span>
    <span class="tt_navMonthDayNum tt_navMonthDayNum-inactive">29</span>
    <span class="tt_navMonthDayNum tt_navMonthDayNum-inactive">30</span>
    <span class="tt_navMonthDayNum">1</span>
    <span class="tt_navMonthDayNum">2</span>
    <span class="tt_navMonthDayNum">3</span>
    <span class="tt_navMonthDayNum">4</span>
    <span class="tt_navMonthDayNum">5</span>
    <span class="tt_navMonthDayNum">6</span>
    <span class="tt_navMonthDayNum">7</span>
    <span class="tt_navMonthDayNum">8</span>
    <span class="tt_navMonthDayNum">9</span>
    <span class="tt_navMonthDayNum">10</span>
    <span class="tt_navMonthDayNum">11</span>
    <span class="tt_navMonthDayNum">12</span>
    <span class="tt_navMonthDayNum">13</span>
    <span class="tt_navMonthDayNum">14</span>
    <span class="tt_navMonthDayNum tt_navMonthDayNum-current">15</span>
    <span class="tt_navMonthDayNum">16</span>
    <span class="tt_navMonthDayNum">17</span>
    <span class="tt_navMonthDayNum">18</span>
    <span class="tt_navMonthDayNum">19</span>
    <span class="tt_navMonthDayNum">20</span>
    <span class="tt_navMonthDayNum">21</span>
    <span class="tt_navMonthDayNum">22</span>
    <span class="tt_navMonthDayNum">23</span>
    <span class="tt_navMonthDayNum">24</span>
    <span class="tt_navMonthDayNum">25</span>
    <span class="tt_navMonthDayNum">26</span>
    <span class="tt_navMonthDayNum">27</span>
    <span class="tt_navMonthDayNum">28</span>
    <span class="tt_navMonthDayNum">29</span>
    <span class="tt_navMonthDayNum">30</span>
    <span class="tt_navMonthDayNum">31</span>
    <span class="tt_navMonthDayNum tt_navMonthDayNum-inactive">1</span>
  </div>
</div>