<div class="timetable_tools">
  {{> atoms-button-toggle (class:"tt_toolToggle tt_toolToggle-search", icon:"i-search") }}
  {{> atoms-input-search (class:"tt_toolSearch", icon:"i-search") }}
  {{> atoms-button-toggle (class:"tt_toolToggle", icon:"i-filter") }}
  {{> atoms-button-toggle (class:"tt_toolToggle", icon:"i-calendar") }}
</div>