&lt;div class=&quot;banner&quot; role=&quot;banner&quot; {{# empty }}{{/ empty }}{{^ empty }}style=&quot;background-image:url({{ img.background.src }})&quot;{{/ empty }}&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{# banner-heading }}
      {{&gt; atoms-heading-1 (class:&quot;class='banner_title'&quot;) }}
    {{/ banner-heading }}
    {{# banner-sub-heading }}
      {{&gt; atoms-heading-2 (class:&quot;class='banner_subTitle'&quot;) }}
    {{/ banner-sub-heading }}
    {{# banner-text }}
      {{&gt; atoms-text-paragraph (class:&quot;class='banner_text'&quot;) }}
    {{/ banner-text }}
    {{# banner-button }}
      {{# empty }}
        {{&gt; atoms-button-alternate }}
      {{/ empty }}
      {{^ empty }}
        {{&gt; atoms-button }}
      {{/ empty }}
    {{/ banner-button }}
  &lt;/div&gt;
&lt;/div&gt;