&lt;nav id=&quot;nav-bachelor&quot; class=&quot;js-nav navGrid&quot; data-nav-level=&quot;3&quot;&gt;
  &lt;ul class=&quot;nav_wrap navGrid_wrap&quot;&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;ECON&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Wirtschaftswissenschaften und Betriebsf&uuml;hrung&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;ECON&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;{{ link.pages-bachelor-ppe }}&quot;&gt;&Ouml;konomie und Sozialwissenschaften&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;ECON&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;{{ link.pages-bachelor-tourism }}&quot;&gt;Tourismus-, Sport- und Eventmanagement&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;COMP&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Informatik und Informatik-Ingenieurwesen&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;TECH&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Agrarwissenschaften und Umweltmanagement&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;TECH&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Industrie- und Maschineningenieurwesen&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;EDU&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Kommunikations- und Kulturwissenschaften&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;EDU&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Sozialarbeit&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;EDU&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Sozialp&auml;dagogik&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;DSGN&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Design und K&uuml;nste&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav id=&quot;nav-master&quot; class=&quot;js-nav navGrid {{ class }}&quot; data-nav-level=&quot;3&quot;&gt;
  &lt;ul class=&quot;nav_wrap navGrid_wrap&quot;&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;ECON&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;&Ouml;konomie und Management des &ouml;ffentlichen Sektors&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;ECON&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;{{ link.pages-master-entrepr }}&quot;&gt;Unternehmensf&uuml;hrung und Innovation&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;COMP&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Informatik&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;COMP&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;European Master's Program in Computational Logic (EMCL)&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;TECH&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;{{ link.pages-master-emma }}&quot;&gt;Umweltmanagement in Bergregionen&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;TECH&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Energy Engineering&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;TECH&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;International Horticultural Science&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;EDU&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Innovation in Forschung und Praxis Sozialer Arbeit&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;DSGN&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;&Ouml;kosoziales Design (Glocal Design)&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav id=&quot;nav-master-one-cycle&quot; class=&quot;js-nav navGrid {{ class }}&quot; data-nav-level=&quot;3&quot;&gt;
  &lt;ul class=&quot;nav_wrap navGrid_wrap&quot;&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;EDU&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Bildungswissenschaften f&uuml;r den Primarbereich&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav id=&quot;nav-phd&quot; class=&quot;js-nav navGrid {{ class }}&quot; data-nav-level=&quot;3&quot;&gt;
  &lt;ul class=&quot;nav_wrap navGrid_wrap&quot;&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;COMP&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Informatik&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;TECH&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Mountain Environment and Agriculture&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;TECH&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Sustainable Energy and Technologies&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;ECO&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Management and Economics on Organizational and Institutional Outliers&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item is-inactive&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;EDU&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Allgemeine P&auml;dagogik, Sozialp&auml;dagogik und Allgemeine Didaktik&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;&lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;