&lt;div class=&quot;thumbBlock&quot;&gt;
  &lt;a class=&quot;thumbBlock_figure&quot; href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-landscape-4x3 (class:&quot;class='thumbBlock_thumb'&quot;)}}
  &lt;/a&gt;
  &lt;div class=&quot;thumbBlock_body&quot;&gt;
    {{&gt; atoms-heading-2 (class:&quot;class='thumbBlock_title'&quot;)}}
    {{&gt; atoms-text-paragraph (class:&quot;class='thumbBlock_text'&quot;)}}
  &lt;/div&gt;
&lt;/div&gt;