&lt;div class=&quot;highlights&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;g-row&quot;&gt;
      {{# highlights }}
        {{&gt; molecules-block-highlight (class: &quot;g g-md-12 g-xl-8&quot;) }}
      {{/ highlights }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;