{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}


  {{# page-filters }}
    {{&gt; organisms-filters }}
  {{/ page-filters }}

  {{# page-programs }}
    &lt;section class=&quot;l-section&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        {{# programs }}
          &lt;div class=&quot;typography&quot;&gt;
            {{&gt; atoms-heading-3 }}
          &lt;/div&gt;
          &lt;div class=&quot;program_wrap&quot;&gt;
            {{# program }}
              {{&gt; molecules-block-study-program }}
            {{/ program }}
          &lt;/div&gt;
        {{/ programs }}
      &lt;/div&gt;
    &lt;/section&gt;
  {{/ page-programs }}
&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}