&lt;section class=&quot;l-section&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{# block-titles }}
      &lt;div class=&quot;l-container_left&quot;&gt;
        {{&gt; atoms-heading-3 (class:&quot;h-theme u-push-btm-half&quot;)}}
      &lt;/div&gt;
      &lt;div class=&quot;gridTitle&quot;&gt;
        {{# title }}
          {{&gt; molecules-block-title }}
        {{/ title }}
      &lt;/div&gt;
    {{/ block-titles }}
  &lt;/div&gt;
&lt;/section&gt;