//============================================
// Layout
//============================================


// Container
//============================================

.l-containerSmall,
.l-container
  max-width: $layout-width-xs
  padding: 0 $layout-gutter-xs
  margin: 0 auto
  +mq($bp-sm)
    max-width: $layout-width-sm
    padding: 0 $layout-gutter-sm
  +mq($bp-md)
    max-width: $layout-width-md
    padding: 0 $layout-gutter-md
  +mq($bp-lg)
    max-width: $layout-width-lg
    padding: 0 $layout-gutter-lg
  +mq($bp-xl)
    max-width: $layout-width-xl
    padding: 0 $layout-gutter-xl

.l-container_left,
.l-containerSmall
  max-width: $layout-width-xs
  +mq($bp-sm)
    max-width: $layout-width-sm
  +mq($bp-md)
    padding: 0
    max-width: 574px
  +mq($bp-lg)
    max-width: 688px
  +mq($bp-xl)
    max-width: 768px


// Section
//============================================

.l-section
  margin: 0 auto $space-and-half auto
  +mq($bp-lg)
    margin-bottom: $space-double

.l-sectionLarge
  margin: 0 auto $space-double auto
  +mq($bp-lg)
    margin-bottom: $space-double+$space-half

.l-sectionSmall
  margin: 0 auto $space-half auto
  +mq($bp-lg)
    margin-bottom: $space