//============================================
// Layout
//============================================


// Container
//============================================

.l-container
  max-width: $layout-width-xs
  padding: 0 $layout-gutter-xs
  margin: 0 auto
  +mq($bp-sm)
    max-width: $layout-width-sm
    padding: 0 $layout-gutter-sm
  +mq($bp-md)
    max-width: $layout-width-md
    padding: 0 $layout-gutter-md
  +mq($bp-lg)
    max-width: $layout-width-lg
    padding: 0 $layout-gutter-lg
  +mq($bp-xl)
    max-width: $layout-width-xl
    padding: 0 $layout-gutter-xl

.l-container-small
  max-width: $layout-width-xs
  padding: 0 $layout-gutter-xs
  margin: 0 auto
  +mq($bp-sm)
    max-width: $layout-width-sm
    padding: 0 $layout-gutter-sm
  +mq($bp-md)
    max-width: 574px
    padding: 0
  +mq($bp-lg)
    max-width: 688px
    padding: 0
  +mq($bp-xl)
    max-width: 768px
    padding: 0

.l-container-small-left
  margin: 0
  padding: 0


// Header
//============================================

.l-header
  margin-bottom: $space
  +mq($bp-md)
    margin-bottom: $space*1.5
  +mq($bp-lg)
    margin-bottom: $space*2


// Section
//============================================

.l-section
  margin: 0 auto $space*1.5 auto
  +mq($bp-lg)
    margin-bottom: $space*2
  +mq($bp-xl)
    margin-bottom: $space*3