//============================================
// Layout
//============================================


// Container
//============================================

.l-container
  max-width: $layout-width-xs
  padding: 0 $layout-gutter-xs
  margin: 0 auto

+mq($bp-sm)
  .l-container
    max-width: $layout-width-sm
    padding: 0 $layout-gutter-sm

+mq($bp-md)
  .l-container
    max-width: $layout-width-md
    padding: 0 $layout-gutter-md

+mq($bp-lg)
  .l-container
    max-width: $layout-width-lg
    padding: 0 $layout-gutter-lg

+mq($bp-xl)
  .l-container
    max-width: $layout-width-xl
    padding: 0 $layout-gutter-xl

.l-container:last-child
  margin-bottom: 0


// Header
//============================================

.l-header
  margin-bottom: $space
  +mq($bp-md)
    margin-bottom: $space*1.5
  +mq($bp-lg)
    margin-bottom: $space*2


// Section
//============================================

.l-section
  max-width: 1440px
  margin: 0 auto $space*2 auto
  +mq($bp-md)
    margin-bottom: $space*3
  +mq($bp-lg)
    margin-bottom: $space*4
  +mq($bp-xl)
    margin-bottom: $space*5

.l-section:last-child
  margin-bottom: 0