{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;g-row&quot;&gt;
        &lt;div class=&quot;g g-lg-16&quot;&gt;
          {{&gt; molecules-post-header }}
          {{# post-intro }}
            &lt;div class=&quot;typography typography-left&quot;&gt;
              {{&gt; atoms-text-paragraph (class:&quot;intro-post&quot;)}}
            &lt;/div&gt;
          {{/ post-intro }}
        &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section post_section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;g-row&quot;&gt;
        &lt;div class=&quot;g g-lg-16&quot;&gt;
          &lt;div class=&quot;typography typography-left&quot;&gt;
            &lt;p&gt;
              Un progetto che, prendendo spunto dal passato, crea &lt;strong&gt;la tavola da snowboard del futuro&lt;/strong&gt;. &Egrave; la sostanza del progetto presentato dal designer Matthias Gruber, ventisettenne di Lana (BZ), al Milano Montagna Vibram Factory, la manifestazione collaterale di Milano Montagna 2015, la vetrina italiana che mette in mostra il meglio della produzione mondiale in fatto di attrezzature e prodotti per gli appassionati della montagna e della neve. 
            &lt;/p&gt;
            &lt;p&gt;
              &lt;strong&gt;60 Degrees &egrave; il nome del progetto&lt;/strong&gt; il cui scopo dichiarato del progetto &egrave; attirare sulle piste nuovi seguaci della tavola. Il designer altoatesino, lui stesso un appassionato snowboarder, ha studiato i limiti della tavola che, da qualche anno, sta perdendo la competizione con gli sci. Chiedendosi cosa avrebbe desiderato dalla sua tavola da snowboard, Gruber ha realizzato un prototipo ispirandosi al concetto dello &lt;strong&gt;snakeboard, un particolare skateboard&lt;/strong&gt; in voga negli anni &rsquo;90. L&rsquo;innovazione consiste nella trasformazione della classica tavola in un attrezzo composto da due moduli mobili agganciati da una cinghia. Ci&ograve; consente allo sportivo pi&ugrave; esigente di superare i tradizionali limiti della tavola ed esplorare nuovi movimenti.
            &lt;/p&gt;
            {{# accordion }}
              {{&gt; molecules-accordion }}
            {{/ accordion }}
            &lt;p&gt;
              &ldquo;Si tratta di una tavola multi-funzionale che offre all&rsquo;atleta nuove possibilit&agrave; di variazioni nella guida&rdquo;, spiega Gruber, &ldquo;ho disegnato una funboard che, grazie alla sua flessibilit&agrave;, permette di compiere trick inediti, garantendo divertimento sulle piste e negli snowpark&rdquo;. 
            &lt;/p&gt;
            &lt;div class=&quot;embed embed-16-9&quot;&gt;
              &lt;iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/rr7F4vJFBok&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;
            &lt;/div&gt;
            &lt;p&gt;
              Il concorso &lt;a href=&quot;#&quot;&gt;Milano Montagna Vibram Factory&lt;/a&gt; offre ai partecipanti la possibilit&agrave; di entrare in contatto con i responsabili Ricerca e Sviluppo di aziende del settore interessate a produrre nuovi progetti e con societ&agrave; che si occupano di finanziare startup di prodotti innovativi. 
            &lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;g g-lg-8&quot;&gt;
          &lt;!-- Related articles? --&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;
  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      {{&gt; molecules-social-share }}
    &lt;/div&gt;
  &lt;/section&gt;
&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}