{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}

  {{# page-header }}
    {{&gt; organisms-post-header }}
  {{/ page-header }}

  {{# page-content }}
    {{&gt; organisms-block-typography }}
  {{/ page-content }}
&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}