<div class="blockLecture">
  {{> atoms-text-span (class: "blockLecture_meta") }}
  <a href="{{ url }}">
    {{> atoms-heading-3 (class: "blockLecture_title") }}
  </a>
  {{> atoms-button-text (class: "blockLecture_btn")}}
</div>