//============================================
// Buttons
//============================================


// General buttons styles
//============================================

.btn
  display: inline-block
  width: auto
  margin-bottom: $space
  padding: 10px $space-half 8px $space-half
  font-size: $fs
  font-family: inherit
  letter-spacing: 1px
  text-transform: uppercase
  text-align: center
  vertical-align: middle
  white-space: nowrap
  border-width: 1px
  border-style: solid
  border-radius: $radius
  transition: all .5s $motion
  color: $white
  background-color: $primary
  border-color: $primary
  white-space: normal
  +dark-box-shadow
  +dark-text-shadow
  &:hover
    background-color: shade($primary, 10%)
    border-color: shade($primary, 30%)
  &:active
    box-shadow: inset 0 0 1000px rgba($black, .3)


// Button dark
//===========================================

.btn-dark
  color: $white
  background-color: shade($black, 95%)
  border-color: shade($black, 90%)
  +dark-box-shadow
  +dark-text-shadow
  &:hover
    background-color: shade($black, 95%)
    border-color: shade($black, 90%)
  &:active
    box-shadow: inset 0 0 1000px rgba($white, .2)


// Button alternate
//===========================================

.btn-alt
  color: $primary
  background-color: light($white, 95%)
  border-color: light($white, 90%)
  +light-box-shadow
  text-shadow: none
  &:hover
    background-color: $gray-light
    border-color: light($gray-light, 10%)
  &:active
    box-shadow: inset 0 0 1000px rgba($gray-dark, .2)


// Button disabled
//===========================================

.btn.disabled,
.btn[disabled],
.btn-disabled
  background-color: $gray
  border-color: $gray
  color: $gray-dark
  cursor: not-allowed
  +light-box-shadow
  text-shadow: none
  &:hover
    color: $gray-dark
    background-color: $gray
    border-color: $gray
  &:active
    box-shadow: none


// Buttons paddings
//===========================================

.btn-small
  padding: 4px 6px 3px 6px
  font-size: small

.btn-big
  position: relative
  padding: $space $space*2 $space $space
  width: 100%
  font-size: large
  line-height: 1.4
  text-align: left
  white-space: normal
  &:after
    position: absolute
    right: $space
    top: 48%
    transform: translateY(-50%)
    content: "→"
    line-height: 1


// Button Text
//===========================================

.btn-text
  display: inline-block
  margin-bottom: $space
  line-height: 1.3
  letter-spacing: 1px
  text-transform: uppercase
  &:after
    display: inline-block
    content: "→"
    margin-top: 3px
    margin-left: $space-half
    line-height: 1.3
    font-size: small
    vertical-align: top
  &:hover
    text-decoration: underline

.btn-text-alt
  color: $white
  +dark-text-shadow
  &:hover
    text-decoration: none

.btn-text-primary
  color: $primary

.btn-text-small
  font-size: $fs-small
  font-weight: 500
  &:after
    margin-top: 0


// Button navigation
//===========================================

.btn-nav
  position: relative
  display: block
  width: 40px
  height: 40px
  text-align: center
  color: $white
  background-color: $gray
  border-radius: 50%

.btn-nav-left
  &:after
    position: absolute
    top: 48%
    left: 50%
    transform: translate(-50%, -48%)
    content: "←"

.btn-nav-right
  &:after
    position: absolute
    top: 48%
    left: 50%
    transform: translate(-50%, -48%)
    content: "→"


//============================================
// Buttons brand colors
//============================================

=button-branded($theme)
  .btn
    background-color: $theme
    border-color: shade($theme, 20%)
    &:hover
      background-color: shade($theme, 10%)
      border-color: shade($theme, 30%)
  .btn-alt
    color: $theme
    background-color: light($theme, 95%)
    border-color: light($theme, 90%)
    &:hover
      background-color: light($theme, 85%)
      border-color: light($theme, 80%)
    &:active
      box-shadow: inset 0 0 1000px rgba($theme, .2)
  .btn-text-primary
    color: $theme

.t_des-art
  +button-branded($des-art)

.t_edu
  +button-branded($edu)

.t_eco
  +button-branded($eco)

.t_comp-science
  +button-branded($comp-science)

.t_science-tech
  +button-branded($science-tech)

.t_library
  +button-branded($library)