//============================================
// Headings styles
//============================================

.headingTitle
  +h1
  margin-bottom: $space*4

.headingSub
  +h3 
  margin-bottom: $space

.headingTitle-center,
.headingSub-center
  text-align: center