//============================================
// Headings styles
//============================================

.h-title
  +h1
  margin-bottom: $space
  +mq($bp-md)
    margin-bottom: $space*1.5
  +mq($bp-lg)
    margin-bottom: $space*2

.h-subtitle
  +h4 
  margin-bottom: $space-half
  +mq($bp-md)
    margin-bottom: $space

.h-title-center,
.h-subtitle-center
  text-align: center