//============================================
// Headings styles
//============================================

.headingTitle
  +h1
  margin-bottom: $space
  +mq($bp-sm)
    margin-bottom: $space*2

.headingSub
  +h3 
  margin-bottom: $space

.headingTitle-center,
.headingSub-center
  text-align: center