//============================================
// Maps
//============================================

.maps
  position: relative
  width: 100%
  padding-bottom: 75%
  margin-bottom: $space*2
  height: 0
  overflow: hidden

.maps_iframe
  position: absolute
  top: 0
  left: 0
  width: 100% !important
  height: 100% !important