//============================================
// Tables
//============================================

table
  font-size: $fs-small
  +mq($bp-md)
    font-size: $fs

table
  width: $layout-width-sm
  +mq($bp-md)
    width: $layout-width-md
    margin-left: -75px
  +mq($bp-lg)
    width: $layout-width-lg
    margin-left: -150px

thead, tfoot
  color: $white
  background-color: $primary

th
  font-weight: 300

th, td
  padding: $space-quarter $space-quarter 4px $space-quarter

tr:nth-child(2n)
  background-color: $gray-light

tr > a,
td > a
  +linkUnderlines($white, $color-text)
  font-size: $fs-small
  +mq($bp-md)
    font-size: $fs

.table_container
  margin-top: $space-half
  +mq($bp-sm-down)
    overflow: hidden

.table_inner
  +mq($bp-sm-down)
    position: relative
    overflow-x: scroll
    overflow-y: hidden
    -webkit-overflow-scrolling: touch
    padding-bottom: $space
    margin-bottom: -$space
    white-space: nowrap


// Brand colors
//============================================

.t_dsgn
  thead,
  tfoot
    background-color: $dsgn
  tr > a,
  td > a
    +linkUnderlines($white, $dsgn)

.t_eco
  thead,
  tfoot
    background-color: $eco
  tr > a,
  td > a
    +linkUnderlines($white, $eco)

.t_edu
  thead,
  tfoot
    background-color: $edu
  tr > a,
  td > a
    +linkUnderlines($white, $edu)

.t_comp
  thead,
  tfoot
    background-color: $comp
  tr > a,
  td > a
    +linkUnderlines($white, $comp)

.t_tech
  thead,
  tfoot
    background-color: $tech
  tr > a,
  td > a
    +linkUnderlines($white, $tech)

.t_library
  thead,
  tfoot
    background-color: $library
  tr > a,
  td > a
    +linkUnderlines($white, $library)