//============================================
// Typography
//============================================


// Headings
//============================================

.h-title
  +h1
  margin-bottom: $space
  +mq($bp-md)
    margin-bottom: $space*1.5
  +mq($bp-lg)
    margin-bottom: $space*2

.h-subtitle
  +h4 
  margin-bottom: $space-quarter
  +mq($bp-md)
    margin-bottom: $space-half

.h-title-center,
.h-subtitle-center
  text-align: center


// Excerpt
//============================================

.excerpt
  margin-bottom: $space

.excerpt-center
  text-align: center


// Byline
//============================================

.byline
  display: block
  font-size: calc($fs - 2px)
  margin-bottom: $space-half
  line-height: 1.3
  color: $gray-dark
  +mq($bp-xl)
    font-size: $fs


// Block general style
//============================================

.block_wrap
  max-width: $layout-width-lg
  margin: 0 auto


// Tag
//============================================

.tag
  display: block
  margin-bottom: $space-quarter
  text-transform: uppercase
  color: $gray-dark


// Intro text
//============================================

.intro
  +h4
  margin-bottom: 0