//============================================
// Typography
//============================================


// Headings
//============================================

.h-title
  +h1
  margin-bottom: $space
  +mq($bp-md)
    margin-bottom: $space*1.5
  +mq($bp-lg)
    margin-bottom: $space*2

.h-subtitle
  +h4 
  margin-bottom: $space-quarter
  +mq($bp-md)
    margin-bottom: $space-half

.h-title-center,
.h-subtitle-center
  text-align: center


// Excerpt
//============================================

.excerpt
  margin-bottom: $space

.excerpt-center
  text-align: center


// Byline
//============================================

.byline
  display: block
  font-size: $fs-small
  margin-bottom: $space-quarter
  line-height: 1
  color: $gray-dark
  +mq($bp-xl)
    font-size: $fs


// Block general style
//============================================

.block_wrap
  max-width: $layout-width-lg
  margin: 0 auto


// Tag
//============================================

.tag
  display: block
  margin-bottom: $space-quarter
  text-transform: uppercase
  color: $gray-dark


// Specific styles
//============================================

.academia
  overflow: hidden
  padding: $space 0
  background-color: $black
  color: $white
  +mq($bp-xs)
    padding: $space*2 0
  +mq($bp-md)
    padding: $space*3 0
  +mq($bp-lg)
    padding: $space*4 0
  +mq($bp-xl)

.bg-academia
  background-color: $academia
  border-color: $academia
  &:hover
    background-color: shade($academia, 10%)
    border-color: shade($academia, 30%)
  &:active
    box-shadow: inset 0 0 1000px rgba($black, .3)
    padding: $space*5 0