<header class="js-header header">
  <div class="l-container">
    <div class="header_inner">
      {{> atoms-logo  }}
      <div class="mainNav">
        {{> molecules-nav }}
      </div>
      <div class="utility">
        <a class="utility_lang" href="#">EN</a>
        <a class="utility_service" href="{{ url }}">Services</a>
        <div class="utility_search"></div>
        <div class="utility_hamburger">
          <div class="burger"></div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="navSecondary_wrapper">
  <div class="l-container">
    {{> molecules-nav-study-course }}
  </div>
</div>

<div class="navLinks_wrapper">
  <div class="l-container">
    {{> molecules-nav-links-university }}
  </div>
</div>

<div class="navLinks_wrapper">
  <div class="l-container">
    {{> molecules-nav-links-faculty }}
  </div>
</div>

<div class="navGrid_wrapper">
  <div class="l-container">
    {{> molecules-grid-bachelor }}
  </div>
</div>

<div class="navGrid_wrapper">
  <div class="l-container">
    {{> molecules-grid-master }}
  </div>
</div>

<div class="navGrid_wrapper">
  <div class="l-container">
    {{> molecules-grid-phd }}
  </div>
</div>

<div class="navGrid_wrapper">
  <div class="l-container">
    {{> molecules-grid-lifelong }}
  </div>
</div>