<header class="js-header header">
  <div class="l-container">
    <div class="header_inner">
      {{> atoms-logo  }}
      <div class="mainNav">
        {{> molecules-nav }}
      </div>
      <div class="utility">
        {{# nav-utilities }}
          <a class="nav_item nav_item-utility js-nav_item" href="{{ url }}" data-toggle-elem="#nav-languages">{{ language }}</a>
          <a class="nav_item nav_item-utility js-nav_item" href="{{ url }}" data-toggle-elem="#nav-services">{{ service }}</a>
        {{/ nav-utilities }}
        <div class="utility_search"></div>
        <div class="utility_hamburger">
          <div class="burger"></div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="navSecondary_wrapper">
  <div class="l-container">
    {{> molecules-nav-study-course }}
  </div>
</div>

<div class="navLinks_wrapper">
  <div class="l-container">
    {{> molecules-nav-links-university }}
  </div>
</div>

<div class="navLinks_wrapper">
  <div class="l-container">
    {{> molecules-nav-links-faculty }}
  </div>
</div>

<div class="navLinks_wrapper">
  <div class="l-container">
    {{> molecules-nav-links-services }}
  </div>
</div>

<div class="navLinks_wrapper">
  <div class="l-container">
    {{> molecules-nav-links-languages }}
  </div>
</div>

<div class="navGrid_wrapper">
  <div class="l-container">
    {{> molecules-nav-grid-bachelor }}
  </div>
</div>

<div class="navGrid_wrapper">
  <div class="l-container">
    {{> molecules-nav-grid-master }}
  </div>
</div>

<div class="navGrid_wrapper">
  <div class="l-container">
    {{> molecules-nav-grid-phd }}
  </div>
</div>

<div class="navGrid_wrapper">
  <div class="l-container">
    {{> molecules-nav-grid-lifelong }}
  </div>
</div>

<div id="nav-mobile" class="navMobile_wrapper">
  <div class="l-container">
    {{> molecules-nav-mobile }}
  </div>
</div>