<footer class="footer">
  <div class="l-container">
    <div class="g-row g-sm-clear-2 g-lg-clear-4">
      <div class="g g-sm-12 g-lg-6 u-push-btm-double">
        <strong>Kontakte</strong>
        {{> molecules-address }}
      </div>
      <div class="g g-sm-12 g-lg-6 u-push-btm-double">
        <strong>Universität</strong><br>
        Profil<br>
        Oraganisationbr<br>
        Kooperationen<br>
        Jobs<br>
        Ausschreibungen<br>
        Press
      </div>
      <div class="g g-sm-12 g-lg-6 u-push-btm-double">
        <strong>Fakultäten</strong><br>
        Informatik<br>
        Wirtschaftswissenschaften<br>
        Bildungswissenschaften<br>
        Design und Künste<br>
        Naturwissenschaften und Technik
      </div>
      <div class="g g-sm-12 g-lg-6 u-push-btm-double">
        <strong>Network</strong><br>
        Facebook<br>
        Twitter<br>
        Instagram<br>
        Newsletter
      </div>
    </div>
  </div>
</footer>