<footer class="footer">
  <div class="l-container">
    <div class="g-row g-sm-clear-2 g-lg-clear-4">
      <div class="g g-sm-12 g-lg-6 u-push-btm-double u-xs-push-btm-none">
        <strong>Sede di Bolzano</strong><br>
        piazza Università, 1<br>
        I – 39100, Bolazno<br>
        Tel. +39 0471 011000<br>
        Fax +39 0471 011009<br>
        <a href="#">administration@unibz.it</a><br>
        <a href="#">info@unibz.it</a><br>
        <a href="#">administration@pec.unibz.it</a>
      </div>

      <div class="g g-sm-12 g-lg-6 u-push-btm-double u-xs-push-btm-none">
        <strong>Sede di Bressanone</strong><br>
        viale Ratisbona, 16<br>
        I - 39042 Bressanone<br>
        Tel. +39 0472 014000<br>
        Fax +39 0472 014009<br>
        <a href="#">education@unibz.it</a><br>
        <a href="#">info@unibz.it</a><br>
        <a href="#">administration@pec.unibz.it</a>
      </div>

      <div class="g g-sm-12 g-lg-6 u-push-btm-double u-xs-push-btm-none">
        <strong>Sede di Brunico</strong><br>
        Piazzetta dell'Università, 1<br>
        I - 39031 Brunico<br>
        Tel +39 0474 013600<br>
        Fax +39 0474 013609<br>
        <a href="#">info@unibz.it</a><br>
        <a href="#">tourism@unibz.it</a><br>
        <a href="#">administration@pec.unibz.it</a>
      </div>

      <div class="g g-sm-12 g-lg-6">
        <strong>Network</strong><br>
        Facebook<br>
        Twitter<br>
        Instagram<br>
        LinkedIn (Company Page)<br>
        LinkedIn (University Page)<br>
        Newsletter
      </div>
    </div>
  </div>
</footer>