<footer class="footer">
  <div class="l-container">
    <div class="g-row">
      <div class="g g-md-8 u-push-btm-double u-xs-push-btm-none">
        <strong>Segreteria</strong><br>
        piazza Università, 5<br>
        I – 39100, Bolazno<br>
        Tel. +39 0471 017000<br>
        Fax +39 0471 017009<br>
        <a href="#">science.technology@unibz.it</a><br>
      </div>

      <div class="g g-md-8 u-push-btm-double u-xs-push-btm-none">
        <strong>Orari d'apertura</strong><br>
        lunedí e martedí<br>
        10:00 - 12:00<br>
        giovedí e venerdí<br>
        14.30 - 16.30<br>
      </div>
  
      <div class="g g-md-8">
        <strong>Network</strong><br>
        Facebook<br>
        Twitter<br>
        Instagram<br>
        Newsletter
      </div>
    </div>
  </div>
</footer>