<footer class="footer">
  <div class="l-container">
    <div class="g-row">
      <div class="g g-md-8 u-push-btm-double u-xs-push-btm-none">
        <strong>Sekretariat</strong><br>
        Universitätsplatz 1<br>
        I – 39100, Bozen<br>
        Tel. +39 0471 013000<br>
        Fax +39 0471 013009<br>
        <a href="#">schoolofeconomics@unibz.it</a><br>
      </div>

      <div class="g g-md-8 u-push-btm-double u-xs-push-btm-none">
        <strong>Öffnungszeiten</strong><br>
        Montag 14:00 - 16:00<br>
        Mittwoch<br>
        10:00 - 12:00<br>
        14:00 - 16:00<br>
        Donnerstag 10:00 - 12:00<br>
        Freitag 10:00 - 12:00<br>
      </div>
  
      <div class="g g-md-8">
        <strong>Network</strong><br>
        Facebook<br>
        Twitter<br>
        Instagram<br>
        LinkedIn<br>
        Newsletter
      </div>
    </div>
  </div>
</footer>