<footer class="footer">
  <div class="l-container">
    <div class="g-row">
      <div class="g g-md-8 u-push-btm-double u-xs-push-btm-none">
        <strong>Segreteria</strong><br>
        piazza Università, 1<br>
        I – 39100, Bolazno<br>
        Tel. +39 0471 013000<br>
        Fax +39 0471 013009<br>
        <a href="#">schoolofeconomics@unibz.it</a><br>
      </div>

      <div class="g g-md-8 u-push-btm-double u-xs-push-btm-none">
        <strong>Orari d'apertura</strong><br>
        lunedí<br>
        14:00 - 16:00<br>
        mercoledí<br>
        10:00 - 12:00<br>
        14:00 - 16:00<br>
        giovedí<br>
        10:00 - 12:00<br>
        venerdí<br>
        10:00 - 12:00<br>
      </div>
  
      <div class="g g-md-8">
        <strong>Network</strong><br>
        Facebook<br>
        Twitter<br>
        Instagram<br>
        LinkedIn<br>
        Newsletter
      </div>
    </div>
  </div>
</footer>