<footer class="footer">
  <div class="l-container">
    <div class="g-row g-sm-clear-2 g-lg-clear-4">
      <div class="g g-sm-12 g-lg-6 u-push-btm-double u-xs-push-btm-none">
        <strong>Campus Bozen</strong><br>
        Universitätsplatz 1<br>
        I – 39100, Bozen (BZ)<br>
        Tel. +39 0471 011000<br>
        Fax +39 0471 011009<br>
        <a href="#">administration@unibz.it</a><br>
        <a href="#">info@unibz.it</a><br>
        <a href="#">administration@pec.unibz.it</a>
      </div>

      <div class="g g-sm-12 g-lg-6 u-push-btm-double u-xs-push-btm-none">
        <strong>Campus Brixen</strong><br>
        Regensburger Allee 16<br>
        I - 39042 Brixen<br>
        Tel. +39 0472 014000<br>
        Fax +39 0472 014009<br>
        <a href="#">education@unibz.it</a><br>
        <a href="#">info@unibz.it</a><br>
        <a href="#">administration@pec.unibz.it</a>
      </div>

      <div class="g g-sm-12 g-lg-6 u-push-btm-double u-xs-push-btm-none">
        <strong>Campus Bruneck</strong><br>
        Universitätsplatz 1<br>
        I - 39031 Bruneck<br>
        Tel +39 0474 013600<br>
        Fax +39 0474 013609<br>
        <a href="#">info@unibz.it</a><br>
        <a href="#">tourism@unibz.it</a><br>
        <a href="#">administration@pec.unibz.it</a>
      </div>

      <div class="g g-sm-12 g-lg-6">
        <strong>Network</strong><br>
        Facebook<br>
        Twitter<br>
        Instagram<br>
        Newsletter
      </div>
    </div>
  </div>
</footer>