//============================================
// Defaults
//============================================


// Reset box-model
//============================================

*
  box-sizing: border-box

:before, :after
  box-sizing: inherit


// IE
//============================================

@-ms-viewport
  width: device-width


// Root
//============================================

html
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  font-size: 100%


// Body
//============================================

body
  font: #{$fs}/#{$lh} $font
  font-weight: 300
  background: $color-bg
  color: $color-text


// Vertical rhythm
//============================================

p, table, blockquote, address, pre, iframe, form
  margin: 0 0 $space-half


// Anchors
//============================================

a
  text-decoration: none
  color: inherit

.link
  +link


// Tag
//============================================

.tag
  +tag

// Lists (enumeration)
//============================================

ul, ol
  margin-top: 0
  margin-bottom: $space

  ul, ol
    margin-bottom: 0

// helper class
.list-reset, .list-unstyled
  padding-left: 0
  list-style: none

// checkboxes and radio buttons lists
.options
  ul
    padding: 0
    list-style-type: none


// Lists (definition)
//============================================

dl
  margin-top: 0
  margin-bottom: $space

dt
  font-weight: bold

dd
  margin-left: 0


// Font and font styles
//============================================

strong
  font-weight: 600

em
  font-style: italic


// Embeded Content
//============================================

img
  display: block
  max-width: 100%
  -ms-interpolation-mode: bicubic

embed, object, iframe
  border: 0
  vertical-align: bottom

video
  display: block
  width: 100%


// Figure
//============================================

figure
  margin: 0 0 $space 0

figcaption
  margin-top: $space-half
  color: $color-text-gray
  font-size: smaller
  line-height: 1.4


// Tables
//============================================

td, th
  vertical-align: top

th
  text-align: left
  font-weight: bold


// Address
//============================================

address
  font-style: normal


// Horizontal rule
//============================================

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid $primary
  margin: $space 0
  padding: 0
  clear: both

.t_dsgn
  hr
    border-top-color: $dsgn

.t_eco
  hr
    border-top-color: $eco

.t_edu
  hr
    border-top-color: $edu

.t_comp
  hr
    border-top-color: $comp

.t_tech
  hr
    border-top-color: $tech

.t_library
  hr
    border-top-color: $library


// Code
//============================================

pre, code, kbd, samp
  font-family: $font-mono
  font-size: $fs-small

kbd
  padding: 1px 2px
  background-color: $gray
  border: 1px solid shade($gray, 10%)
  border-radius: 2px

pre
  background-color: $gray-light
  overflow: auto
  padding: $space-half
  line-height: inherit
  white-space: pre
  text-align: left


// Quotes
//============================================

blockquote
  padding-left: 15px
  font-weight: 600
  border-left: 2px solid $color-text

q
  quotes: "\201C" "\201D" "\2018" "\2019"

html[lang="de"] q
  quotes: "\201E" "\201D" "\00AB" "\00BB"


// Citation
//============================================

cite
  color: $gray-dark
  font-style: normal
  font-weight: 300


// Mark
//============================================

mark
  padding: 3px 3px 2px 3px
  background-color: $primary
  color: $white

.t_dsgn
  mark
    background-color: $dsgn

.t_eco
  mark
    background-color: $eco

.t_edu
  mark
    background-color: $edu

.t_comp
  mark
    background-color: $comp

.t_tech
  mark
    background-color: $tech

.t_library
  mark
    background-color: $library


// Abbreviation
//============================================

abbr, abbr[title]
  border: none


// Animations
//============================================

.animate-fade
  transition: opacity 0.8s $motion
  &:hover
    opacity: 0

.animate-move > .demo-shape
  transition: all 0.8s $motion