//============================================
// Defaults
//============================================


// Reset box-model
//============================================

*
  box-sizing: border-box

:before, :after
  box-sizing: inherit


// IE
//============================================

@-ms-viewport
  width: device-width


// Root
//============================================

html
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  font-size: 100%
  padding: 1rem // temporary


// Body
//============================================

body
  font: #{$fs}/#{$lh} $font
  background: $color-bg
  color: $color-text


// Vertical rhythm
//============================================

p, table, blockquote, address, pre, iframe, form
  margin: 0 0 $space


// Anchors
//============================================

a
  text-decoration: none
  color: inherit

.text-link
  border-bottom: 1px solid $color-text
  transition: color .2s $motion, border-bottom-color .2s $motion

  &:hover
    color: $primary
    text-decoration: none
    border-bottom-color: $primary


// Lists (enumeration)
//============================================

ul, ol
  margin-top: 0
  margin-bottom: $space

  ul, ol
    margin-bottom: 0

// helper class
.list-reset, .list-unstyled
  padding-left: 0
  list-style: none

// checkboxes and radio buttons lists
.options
  ul
    padding: 0
    list-style-type: none


// Lists (definition)
//============================================

dl
  margin-top: 0
  margin-bottom: $space

dt
  font-weight: bold

dd
  margin-left: 0


// Font and font styles
//============================================

em
  font-family: $font-italic

strong, b
  font-family: $font-medium


.font-secondary
  font-family: $font-secondary

  em
    font-family: $font-secondary
    font-style: italic

  strong
    font-family: $font-secondary
    font-weight: 600


// Embeded Content
//============================================

img
  -ms-interpolation-mode: bicubic
  vertical-align: bottom

embed, object, iframe
  border: 0
  vertical-align: bottom


// Tables
//============================================

td, th
  vertical-align: top

th
  text-align: left
  font-weight: bold


// Address
//============================================

address
  font-style: normal


// Horizontal rule
//============================================

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid $primary
  margin: $space 0
  padding: 0
  clear: both


// Code
//============================================

pre, code, kbd, samp
  font-family: $font-mono
  font-size: 14px

kbd
  padding: 1px 2px
  background-color: $gray
  border: 1px solid shade($gray, 10%)
  border-radius: 2px

pre
  background-color: $gray-light
  overflow: auto
  padding: $space-half
  line-height: inherit
  white-space: pre
  text-align: left


// Quotes
//============================================

blockquote
  padding-left: 15px
  border-left: 2px solid $primary

q
  quotes: "\201C" "\201D" "\2018" "\2019"

html[lang="de"] q
  quotes: “\201E” “\201D” “\00AB” “\00BB”


// Mark
//============================================

mark
  padding: 3px 3px 2px 3px
  background-color: $primary
  color: $white


// Abbreviation
//============================================

abbr, abbr[title]
  border: none

// Abbreviation
//============================================

time
  color: $gray-dark

// Animations
//============================================

.animate-fade
  transition: opacity 0.8s $motion
  &:hover
    opacity: 0

.animate-move > .demo-shape
  transition: all 0.8s $motion

// Tables
//============================================
table
  width: 100%

th
  display: none

tr:not(:last-of-type)
  +mq($bp-sm-down)
    td:last-of-type
      border-bottom: 1px solid $primary

td
  display: block
  &:before
    content: attr(data-th)": "
    display: inline-block
    margin-right: $space
    +mq($bp-sm)
      display: none

th, td
  padding: 14px $space-half $space-half $space-half
  +mq($bp-sm)
    display: table-cell

thead, tfoot
  color: $white
  background-color: $primary

td:nth-child(2n)
  +mq($bp-sm-down)
    background-color: $gray-light

tr:nth-child(2n)
  +mq($bp-sm)
    background-color: $gray-light