//============================================
// Form
//============================================


// Additional reset
//============================================

input,
button,
optgroup,
select,
textarea
  vertical-align: middle

form
  position: relative

fieldset
  margin: 0
  padding: 0
  border: none

label
  display: inline-block

label[for]
  cursor: pointer

button,
input[type="submit"]
  outline: 0


// Inputs
//============================================

textarea,
select,
.form_input
  -webkit-appearance: none
  outline: 0
  width: 100%
  color: inherit
  font-family: inherit
  font-size: inherit
  font-weight: inherit
  line-height: $lh
  border: 1px solid $gray
  border-radius: 3px
  background: $white
  margin-bottom: $space
  padding: 10px $space-half $space-quarter $space-half
  transition: border-color .5s ease-out

  &.disabled,
  &[disabled]
    background: $gray-light
    cursor: default
    color: $gray

  &:focus
    box-shadow: none
    border: 1px solid $primary

.form_input-error
  color: $des-art 
  border-color: $des-art


// Selects
//============================================

select[multiple]
  height: auto
  background-image: none


// Textareas
//============================================

textarea
  vertical-align: top
  height: auto
  min-height: 100px
  resize: vertical


// Checkboxes & Radiobuttons
//============================================

input[type="radio"],
input[type="checkbox"]
  margin: 0 $space-quarter 0 0
  line-height: inherit
  vertical-align: baseline



//============================================
// Browser Specific
//============================================


// Webkit
@media screen and (-webkit-min-device-pixel-ratio: 0)
  select
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwIiB5PSIwIiB3aWR0aD0iMTkiIGhlaWdodD0iNSIgdmlld0JveD0iMCAwIDE5IDUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE5IDUiIHhtbDpzcGFjZT0icHJlc2VydmUiPiAgPHBvbHlnb24gZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHBvaW50cz0iMCwwIDQuNSw1IDksMCAiLz48L3N2Zz4=)
    background-repeat: no-repeat
    background-position: right center
    padding-right: 26px

  select[multiple]
    padding: 0
    background-image: none