//============================================
// Headings
//============================================

h1, h2, h3, h4, h5, h6
  margin: 0
  font-family: $font
  font-weight: 500

=h1
  margin-bottom: $space-quarter
  font-size: $fs-h1
  line-height: 1.1
  +mq($bp-sm)
    font-size: $fs-sm-h1
  +mq($bp-md)
    font-size: $fs-md-h1
  +mq($bp-xl)
    font-size: $fs-xl-h1

=h2
  margin-bottom: $space-quarter
  font-size: $fs-h2
  line-height: 1.1
  +mq($bp-sm)
    font-size: $fs-sm-h2
  +mq($bp-md)
    font-size: $fs-md-h2
  +mq($bp-xl)
    font-size: $fs-xl-h2

=h3
  margin-bottom: $space-quarter
  font-size: $fs-h3
  line-height: 1.2
  +mq($bp-sm)
    font-size: $fs-sm-h3
  +mq($bp-md)
    font-size: $fs-md-h3
  +mq($bp-xl)
    font-size: $fs-xl-h3

=h4
  margin-bottom: $space-quarter
  font-size: $fs-h4
  line-height: 1.4
  font-weight: 500
  +mq($bp-sm)
    font-size: $fs-sm-h4
  +mq($bp-md)
    font-size: $fs-md-h4
  +mq($bp-xl)
    font-size: $fs-xl-h4

=h5
  margin-bottom: $space-quarter
  font-size: $fs-h5
  line-height: 1.3
  +mq($bp-sm)
    font-size: $fs-sm-h5
  +mq($bp-md)
    font-size: $fs-md-h5
  +mq($bp-xl)
    font-size: $fs-xl-h5

=h6
  margin-bottom: $space-quarter
  font-size: $fs-h6
  line-height: $lh
  +mq($bp-sm)
    font-size: $fs-sm-h6
  +mq($bp-md)
    font-size: $fs-md-h6
  +mq($bp-xl)
    font-size: $fs-xl-h6

.h1
  +h1

.h2
  +h2

.h3
  +h3

.h4
  +h4

.h5
  +h5

.h6
  +h6