//============================================
// Headings
//============================================

h1, h2, h3, h4, h5, h6
  margin: 0
  font-family: $font
  font-weight: 500

=h1
  margin-bottom: $space-quarter
  font-size: $fs-h1
  line-height: 1.1

=h2
  margin-bottom: $space-quarter
  font-size: $fs-h2
  line-height: 1.1

=h3
  margin-bottom: $space-quarter
  font-size: $fs-h3
  line-height: 1.2

=h4
  margin-bottom: $space-quarter
  font-size: $fs-h4
  line-height: 1.4
  font-weight: 500

=h5
  margin-bottom: $space-quarter
  font-size: $fs-h5
  line-height: 1.3

=h6
  margin-bottom: $space-quarter
  font-size: $fs-h6
  line-height: $lh

.h1
  +h1

.h2
  +h2

.h3
  +h3

.h4
  +h4

.h5
  +h5

.h6
  +h6