//============================================
// Typography
//============================================

// Container
//============================================

.typography
  margin: 0 auto
  max-width: 574px
  +mq($bp-sm)
    font-size: 17px
  +mq($bp-md)
    font-size: 18px
  +mq($bp-lg)
    max-width: 688px
    font-size: 19px
  +mq($bp-xl)
    max-width: 768px
    font-size: 20px


// Links
//============================================

.typography a
  +link

// Lists
//============================================

.typography ul
  list-style-type: none
  padding-left: 20px

.typography li
  margin-bottom: $space-quarter

.typography ul li a,
.typography ol li a
    +link

.t_des-art
  .typography ul li a,
  .typography ol li a
    +link($des-art)

.t_edu
  .typography ul li a,
  .typography ol li a
    +link($edu)

.t_edu
  .typography ul li a,
  .typography ol li a
    +link($edu)

.t_comp-science
  .typography ul li a,
  .typography ol li a
    +link($comp-science)

.t_science-tech
  .typography ul li a,
  .typography ol li a
    +link($science-tech)

.t_library
  .typography ul li a,
  .typography ol li a
    +link($library)

.typography ul li
  display: flex

.typography ul li::before
  content: "–"
  margin-right: $space-half


// Images
//============================================

.typography
  img
    margin-bottom: $space

.typography
  img.left
    +mq($bp-sm)
      float: left
      margin: 7px $space $space 0
      width: 50%
    +mq($bp-md)
      margin-left: -57px
    +mq($bp-lg)
      margin-left: -132px
      width: 60%
    +mq($bp-xl)
      margin-left: -224px
      width: 60%

.typography
  img.right
    +mq($bp-sm)
      float: right
      margin: 7px 0 $space $space
      width: 50%
    +mq($bp-md)
      margin-right: -57px
    +mq($bp-lg)
      margin-right: -132px
      width: 60%

// Headings
//============================================

.typography
  h1
    +h1
    margin-top: $space*2
    +mq($bp-md)
      margin-top: $space*2.5
    +mq($bp-lg)
      margin-top: $space*3
    +mq($bp-xl)
      margin-top: $space*4
  h2
    +h2
    margin-top: $space*2
    margin-bottom: $space-half
    +mq($bp-md)
      margin-top: $space*2.5
    +mq($bp-lg)
      margin-top: $space*3
    +mq($bp-xl)
      margin-top: $space*4
  h3
    +h3
    margin-top: $space*1.5
    margin-bottom: $space-half
  h4
    +h4
  h5
    +h5
  h6
    +h6


// Intro text
//============================================

.typography
  .intro
    +h4
    font-weight: 300
    margin-bottom: 0
    line-height: 1.6
  .intro-bold
    +h5
    margin-bottom: 0
    font-weight: 600
    color: $gray-dark
    line-height: 1.6
  .intro > a
    font-size: inherit


// Component specific
//============================================

// Block Image Excerpt Title
.typography
  .thumbBlock_title
    margin-top: 0
    padding-left: 0
  .thumbBlock_body
    padding-left: 0

.typography
  :first-child
    margin-top: 0

.typography
  .post_thumb
    margin-bottom: $space-half