//============================================
// Typography
//============================================


// Container
//============================================

.typography
  +cf
  line-height: 1.6


// Links
//============================================

.typographyLink-download
  &:after
    content: "↓"
    display: inline-block
    vertical-align: top
    margin-left: $space-quarter
    margin-top: -1px
    font-size: $fs-small
    +mq($bp-sm)
      margin-top: -3px
      vertical-align: middle

.typographyLink-external
  &:after
    content: "↗"
    display: inline-block
    vertical-align: top
    margin-left: $space-quarter
    font-size: $fs-small
    +mq($bp-sm)
      margin-top: 1px

.typographyLink-internal
  &:after
    content: "→"
    display: inline-block
    vertical-align: top
    margin-left: $space-quarter
    font-size: $fs-small
    +mq($bp-sm)
      margin-top: 1px

// Lists
//============================================

.typography ul
  list-style-type: none
  padding: $space-quarter 0 0 20px

.typography li
  margin-bottom: $space-quarter

.typography li ul,
.typography li ol
  padding-top: 0

.typography li ul li,
.typography li ol li
  margin-bottom: 0

.typography ul li a,
.typography ol li a
    +link

.t_dsgn
  .typography ul li a,
  .typography ol li a
    +link($dsgn)

.t_eco
  .typography ul li a,
  .typography ol li a
    +link($eco)

.t_edu
  .typography ul li a,
  .typography ol li a
    +link($edu)

.t_comp
  .typography ul li a,
  .typography ol li a
    +link($comp)

.t_tech
  .typography ul li a,
  .typography ol li a
    +link($tech)

.t_library
  .typography ul li a,
  .typography ol li a
    +link($library)

.typography ul li::before
  display: inline-block
  content: "–"
  margin-right: $space-half

.typography li + ul
  padding-top: 0


// Images
//============================================

.typography
  img
    display: block
    margin-bottom: $space-half

.typography
  img.left
    +mq($bp-sm)
      float: left
      margin: 4px $space $space-half 0
      width: 50%
    +mq($bp-md)
      margin-left: -57px
    +mq($bp-lg)
      margin-left: -132px
      width: 60%
    +mq($bp-xl)
      margin-left: -176px
      width: 60%

.typography
  img.right
    +mq($bp-sm)
      float: right
      margin: 4px 0 $space-half $space
      width: 50%
    +mq($bp-md)
      margin-right: -57px
    +mq($bp-lg)
      margin-right: -132px
      width: 60%
    +mq($bp-xl)
      margin-right: -176px
      width: 60%


// Headings
//============================================

.typography
  h1
    +h1
    margin-top: $space*2
  h2
    +h2
    margin-top: $space*1.5
  h3
    +h3
    margin-top: $space
  h4
    +h4
  h5
    +h5
  h6
    +h6


// Headings Theme
//============================================

.h-theme
  color: $unibz

.t_dsgn
  .h-theme
    color: $dsgn

.t_eco
  .h-theme
    color: $eco

.t_edu
  .h-theme
    color: $edu

.t_comp
  .h-theme
    color: $comp

.t_tech
  .h-theme
    color: $tech

.t_library
  .h-theme
    color: $library


// Typography embed
//============================================

.typography
  .embed
    margin: $space 0


// Typography Figure Caption
//============================================

.typography
  figcaption
    margin-top: -$space-half
    font-family: $font


// Intro text
//============================================

.typography
  .intro-post
    +h4
    margin-bottom: 0
    font-weight: 500
    line-height: 1.6


// Typography Blockquote
//============================================

.typography
  blockquote
    font-size: 1.15rem
    line-height: 1.5