//============================================
// Global variables
//============================================


// Colors
//============================================

$primary:     #007be4 !default;
$black:       #000;
$white:       #fff;

$gray:        #dbdbdb;
$gray-light:  #f5f5f5;
$gray-dark:   #ababab;

$color-heading:    #444;
$color-text:       #202020;
$color-text-gray:  #767676;
$color-bg:         #fff;

// University color
$unibz: #007be4;

// Faculties colors
$comp: #f86b07;
$dsgn: #ed331a;
$edu: #6cc3ab;
$eco: #ac145a;
$tech: #1a8c64;

// Services colors
$library: #e1a22e;
$academia: #48baaa;

// Social colors
$facebook: #3b5998;
$twitter: #55acee;
$instagram: #3f729b;
$linkedin: #0077b5;


// Dimensions
//============================================

$space: 24px;
$space-half: $space * 0.5;
$space-quarter: $space * 0.25;
$radius: 4px;


// Typography
//============================================

$font: "ff-din-web", Arial, sans-serif;
// $font-secondary: "freight-display-pro", Georgia, serif;
// $font-secondary: "ff-tisa-web-pro";
$font-secondary: "adelle";
// $font-secondary: "utopia-std";
$font-mono: "Roboto Mono", Monaco, monospace;

$fs: 16px;
$lh: 1.6;
$fs-small: $fs - 2px;

$fs-h1: 2.074em;
$fs-h2: 1.728em;
$fs-h3: 1.44em;
$fs-h4: 1.2em;
$fs-h5: 1em;
$fs-h6: 0.8em;

$fs-sm-h1: 34px;
$fs-sm-h2: 30px;
$fs-sm-h3: 26px;
$fs-sm-h4: 24px;
$fs-sm-h5: 21px;
$fs-sm-h6: 16px;

$fs-md-h1: 40px;
$fs-md-h2: 34px;
$fs-md-h3: 30px;
$fs-md-h4: 26px;
$fs-md-h5: 22px;
$fs-md-h6: 18px;

$fs-xl-h1: 48px;
$fs-xl-h2: 36px;
$fs-xl-h3: 32px;
$fs-xl-h4: 28px;
$fs-xl-h5: 24px;
$fs-xl-h6: 20px;


// Animation
//============================================

$motion: cubic-bezier(.55,0,.1,1);


// Layout
//============================================

// XS
$layout-gutter-xs: 16px;
$layout-width-xs:  368px;

// SM
$layout-gutter-sm: 18px;
$layout-width-sm:  560px;

// MD
$layout-gutter-md: 18px;
$layout-width-md:  724px;

// LG
$layout-gutter-lg: 18px;
$layout-width-lg:  988px;

// XL
$layout-gutter-xl: 26px;
$layout-width-xl:  1268px;


// Breakpoints
//============================================

$bp-xs:       "(min-width: #{$layout-width-xs + ($layout-gutter-xs * 2)})";
$bp-sm:       "(min-width: #{$layout-width-sm + ($layout-gutter-sm * 2)})";
$bp-md:       "(min-width: #{$layout-width-md + ($layout-gutter-md * 2)})";
$bp-lg:       "(min-width: #{$layout-width-lg + ($layout-gutter-lg * 2)})";
$bp-xl:       "(min-width: #{$layout-width-xl + ($layout-gutter-xl * 2)})";

$bp-xs-down:  "(max-width: #{($layout-width-xs + ($layout-gutter-xs * 2)) - 1px})";
$bp-sm-down:  "(max-width: #{($layout-width-sm + ($layout-gutter-sm * 2)) - 1px})";
$bp-md-down:  "(max-width: #{($layout-width-md + ($layout-gutter-md * 2)) - 1px})";
$bp-lg-down:  "(max-width: #{($layout-width-lg + ($layout-gutter-lg * 2)) - 1px})";
$bp-xl-down:  "(max-width: #{($layout-width-xl + ($layout-gutter-xl * 2)) - 1px})";


// Grid
//============================================

$grid-columns: 24;

$grid-config-xs: (
  "name": "",
  "cols": $grid-columns,
  "gutter": $layout-gutter-xs,
  "bp": false,
  "off": false,
  "pull": false,
  "push": false,
  "clear": 2
);

$grid-config-sm: (
  "name": "sm",
  "cols": $grid-columns,
  "gutter": $layout-gutter-sm,
  "bp": $bp-sm,
  "off": true,
  "pull": true,
  "push": true,
  "clear": 2
);

$grid-config-md: (
  "name": "md",
  "cols": $grid-columns,
  "gutter": $layout-gutter-md,
  "bp": $bp-md,
  "off": true,
  "pull": true,
  "push": true,
  "clear": 2 3
);

$grid-config-lg: (
  "name": "lg",
  "cols": $grid-columns,
  "gutter": $layout-gutter-lg,
  "bp": $bp-lg,
  "off": true,
  "pull": true,
  "push": true,
  "clear": 2 3 4
);

$grid-config-xl: (
  "name": "xl",
  "cols": $grid-columns,
  "gutter": $layout-gutter-xl,
  "bp": $bp-xl,
  "off": true,
  "pull": true,
  "push": true,
  "clear": 2 3 4
);


// Dimension Utility
//============================================

$dimension-utility-sizes: (
  "quarter": $space-quarter,
  "half": $space-half,
  "": $space,
  "double": $space * 2,
  "none": 0
);

$dimension-utility-config-xs: (
  "name": "",
  "pull": true,
  "push": true,
  "padd": true,
  "bp": false,

  "sizes": $dimension-utility-sizes
);

$dimension-utility-config-sm: (
  "name": "sm",
  "pull": true,
  "push": true,
  "padd": true,
  "bp": $bp-sm,

  "sizes": $dimension-utility-sizes
);

$dimension-utility-config-md: (
  "name": "md",
  "pull": true,
  "push": true,
  "padd": true,
  "bp": $bp-md,

  "sizes": $dimension-utility-sizes
);

$dimension-utility-config-lg: (
  "name": "lg",
  "pull": true,
  "push": true,
  "padd": true,
  "bp": $bp-lg,

  "sizes": $dimension-utility-sizes
);

$dimension-utility-config-xl: (
  "name": "xl",
  "pull": true,
  "push": true,
  "padd": true,
  "bp": $bp-xl,

  "sizes": $dimension-utility-sizes
);