<div class="l-container">
  <div class="searchFind">
    {{# tools }}
      {{> molecules-find-tools }}
    {{/ tools }}

    {{# filters }}
      {{> molecules-filters }}
    {{/ filters }}

    {{# cal-days }}
      {{> molecules-calendar-days }}
    {{/ cal-days }}

    {{# cal-months }}
      {{> molecules-calendar-month }}
    {{/ cal-months }}
  </div>
</div>