<section class="l-sectionLarge">
  <div class="l-containerSmall">
    {{> atoms-heading-2 }}
    {{# accordion-text }}
      <div class="typography">
          {{> atoms-text-paragraph }}
      </div>
    {{/ accordion-text }}
    {{# accordion }}
      {{> molecules-accordion }}
    {{/ accordion }}
  </div>
</section>