{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;p&gt;&lt;a class=&quot;typographyLink-download&quot; href=&quot;#&quot;&gt;Organisationsmodell&lt;/a&gt; genehmigt vom Universit&auml;tsrat am 19. April 2013&lt;/p&gt;
        &lt;h3&gt;Gremien&lt;/h3&gt;
        &lt;h5&gt;Leitungsgremien&lt;/h5&gt;
        &lt;ul&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Universit&auml;tsrat&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Pr&auml;sident, Vizepr&auml;sident&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Senat&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Rektor, Prorektoren&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Universit&auml;tsdirektor&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;h5&gt;Zentrale akademische Gremien&lt;/h5&gt;
        &lt;ul&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Forschungskommission&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Studienkommission&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Qualit&auml;tspr&auml;sidium&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;h5&gt;Gremien der Fakult&auml;ten&lt;/h5&gt;
        &lt;ul&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Dekane und Dekaninnen der Fakult&auml;ten&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Fakult&auml;tsr&auml;te&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Studiengangsr&auml;te&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Parit&auml;tisch-didaktische Kommissionen&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;h5&gt;Weitere Gremien&lt;/h5&gt;
        &lt;ul&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Rechnungspr&uuml;ferkollegium&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Evaluierungskomitee&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Disziplinarkommission&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Ethikkommission&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Studierendenbeirat&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Beirat f&uuml;r Chancengleichheit&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;h3&gt;Verwaltung&lt;/h3&gt;
        &lt;h5&gt;Universit&auml;tsleitung und Stabsstellen&lt;/h5&gt;
        &lt;ul&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Sekretariat des Pr&auml;sidenten und des Vizepr&auml;sidenten&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Sekretariat des Rektors und der Prorektoren&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Sekretariat des Universit&auml;tsdirektors&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Controlling&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Presse und Veranstaltungsmanagement&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Qualit&auml;t und Strategieentwicklung &lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Rechtsangelegenheiten&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;h5&gt;Bereiche und Servicestellen&lt;/h5&gt;
        &lt;ul&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Finanzen und Rechnungswesen&lt;/a&gt;&lt;/li&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Bilanz- und Rechnungswesen&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Einkauf&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;ICT und Facility Management&lt;/a&gt;&lt;/li&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Facility Management&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;ICT&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Lehre und Forschung&lt;/a&gt;&lt;/li&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Forschung und Innovation&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Studium und Lehre&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Personal&lt;/a&gt;&lt;/li&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Lehrpersonal&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Verwaltungspersonal&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Sprachenzentrum&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Studentische Dienste&lt;/a&gt;&lt;/li&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Internationale Beziehungen&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Praktika- und Jobservice&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Studienberatung&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Studentensekretariat&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Universit&auml;tsbibliothek&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;h5&gt;Fakult&auml;tssekretariate&lt;/h5&gt;
        &lt;ul&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Wirtschaftswissenschaften&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Bildungswissenschaften&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Informatik&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Design und K&uuml;nste&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Naturwissenschaften und Technik&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}