{{# error }}
  &lt;input {{ form.class }}  type=&quot;text&quot; placeholder=&quot;{{ form.placeholder }}&quot;&gt;
{{/ error }}
{{^ error }}
  &lt;input {{ form.class }}  type=&quot;text&quot; placeholder=&quot;{{ form.placeholder }}&quot;&gt;
{{/ error }}