{{# error }}
  &lt;input class=&quot;is-error&quot; type=&quot;text&quot; placeholder=&quot;{{ forms.input.placeholder.text }}&quot;&gt;
{{/ error }}
{{^ error }}
  &lt;input type=&quot;text&quot; placeholder=&quot;{{ forms.input.placeholder.text }}&quot;&gt;
{{/ error }}