&lt;ul class=&quot;sg-colors list-reset&quot;&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #444444;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;$color-heading&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;#444444&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #202020;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;$color-text&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;#202020&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ababab;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;$color-text-gray&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;#ababab&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #b4d5fe;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;$selection-color&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;#b4d5fe&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;