&lt;div class=&quot;banner&quot; role=&quot;banner&quot; {{# empty }}{{/ empty }}{{^ empty }}style=&quot;background-image:url('{{ img-background }}')&quot;{{/ empty }}&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{# banner-title }}
      {{&gt; atoms-heading-1 (class: &quot;banner_title&quot;) }}
    {{/ banner-title }}
    {{# banner-sub-title }}
      {{&gt; atoms-heading-2 (class: &quot;banner_subTitle&quot;) }}
    {{/ banner-sub-title }}
      {{&gt; atoms-text-paragraph (class: &quot;banner_text&quot;) }}
      {{# empty }}
        {{# banner-button }}
          {{&gt; atoms-button-alternate (class: &quot;banner_btn&quot;) }}
        {{/ banner-button }}
      {{/ empty }}
      {{^ empty }}
        {{# banner-button }}
          {{&gt; atoms-button (class: &quot;banner_btn&quot;) }}
        {{/ banner-button }}
      {{/ empty }}
  &lt;/div&gt;
&lt;/div&gt;