{{&gt; organisms-header-de }}
&lt;main class=&quot;{{ faculty }}&quot;&gt;
  &lt;section class=&quot;hero-small&quot; role=&quot;banner&quot;&gt;
      &lt;div class=&quot;hero-inner&quot;&gt;
        &lt;h1 class=&quot;hero_title&quot;&gt;
          Studienplan&lt;br&gt;Tourismus-, Sport- und Eventmanagement
        &lt;/h1&gt;
      &lt;/div&gt;
  &lt;/section&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;typography&quot;&gt;
      &lt;p&gt;
        Der &lt;a href=&quot;{{ link.pages-bachelor-tourism }}&quot;&gt;Bachelor in Tourismus-, Sport- und Eventmanagement&lt;/a&gt; umfasst 22 Lehrveranstaltungen mit insgesamt 159 Kreditpunkten (KP). Dazu kommen noch 21 KP (12 KP f&uuml;r Lehrveranstaltungen nach Wahl der Studierenden, 3 KP f&uuml;r die Abschlussarbeit und 6 KP f&uuml;r ein Pflichtpraktikum. Die regelstudienzeit betr&auml;gt 3 Jahre.
      &lt;/p&gt;
      &lt;h3&gt;1. Jahr&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class=&quot;blockLectures&quot;&gt;
      {{# lectures-year-one }}
        {{&gt; molecules-block-lecture }}
      {{/ lectures-year-one }}
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;typography&quot;&gt;
      &lt;h3&gt;2. Jahr&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class=&quot;blockLectures&quot;&gt;
      {{# lectures-year-two }}
        {{&gt; molecules-block-lecture }}
      {{/ lectures-year-two }}
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;typography&quot;&gt;
      &lt;h3&gt;3. Jahr&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class=&quot;blockLectures&quot;&gt;
      {{# lectures-year-three }}
        {{&gt; molecules-block-lecture }}
      {{/ lectures-year-three }}
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;typography&quot;&gt;
      &lt;p&gt;
        * Die Pr&uuml;fungen m&uuml;ssen in 2 der 3 angebotenen Fremdsprachen - Grundfachsprache Wirtschaft abgelegt werden, wobei die Hauptunterrichtssprache der Oberschule nicht gew&auml;hlt werden darf. 
      &lt;/p&gt;
      &lt;h5&gt;Fachtypische Lehrveranstaltung (1)&lt;/h5&gt;
      &lt;p&gt;
        Die Studierenden m&uuml;ssen eine der nachfolgenden Lehrveranstaltungen zu 6 KP w&auml;hlen:&lt;br&gt;
        Destinationsentwicklung&lt;br&gt;
        &Ouml;konomik des Tourismus&lt;br&gt;
        Sport- und Eventwirtschaft
      &lt;/p&gt;
      &lt;h5&gt;Fachtypische Lehrveranstaltungen (2)&lt;/h5&gt;
      &lt;p&gt;
        Die Studierenden m&uuml;ssen eine der nachfolgenden Lehrveranstaltungen zu 6 KP w&auml;hlen:&lt;br&gt;
        Management von Sport- und Eventinfrastrukturen&lt;br&gt;
        Eventmanagement und -planung&lt;br&gt;
        Distributionskan&auml;le und Mittler im Tourismus&lt;br&gt;
        Management von Reise- und Transportunternehmen
      &lt;/p&gt;
      &lt;h5&gt;Fachtypische Lehrveranstaltungen (3)&lt;/h5&gt;
      &lt;p&gt;
        Die Studierenden m&uuml;ssen eine der nachfolgenden Lehrveranstaltungen zu 6 KP w&auml;hlen:&lt;br&gt;
        Nachhaltiger Tourismus und l&auml;ndliche Entwicklung&lt;br&gt;
        Tourismus und regionale Produkte&lt;br&gt;
      &lt;/p&gt;
      &lt;h5&gt;Benachbarte/zus&auml;tzliche Lehrveranstaltungen (4)&lt;/h5&gt;
      &lt;p&gt;
        Die Studierenden m&uuml;ssen eine der nachfolgenden Lehrveranstaltungen zu 6 KP w&auml;hlen:&lt;br&gt;
        Internationales Tourismusmanagement&lt;br&gt;
        Internationales Sport- und Eventmanagement&lt;br&gt;
        Strategisches Tourismusmarketing und -management&lt;br&gt;
        Sport- und Eventmarketing und Sponsorship&lt;br&gt;
      &lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer-de-eco }}