&lt;div class=&quot;block block-news&quot;&gt;
  {{# empty }}
  &lt;a class=&quot;b-thumb&quot; href=&quot;{{ url }}&quot;&gt;
    &lt;div class=&quot;b-thumb-empty&quot;&gt;{{&gt; atoms-heading-3 }}&lt;/div&gt;
  &lt;/a&gt;
  {{/ empty }}
  {{^ empty }}
  &lt;a class=&quot;b-thumb&quot; href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-landscape-4x3 }}
  &lt;/a&gt;
  {{/ empty }}
  &lt;/a&gt;
  &lt;div class=&quot;b-text&quot;&gt;
    {{&gt; atoms-date }}
    {{&gt; atoms-heading-2 }}
    {{&gt; atoms-paragraph }}
    {{&gt; atoms-button-text-primary }}
  &lt;/div&gt;
&lt;/div&gt;