&lt;div class=&quot;block block-news&quot;&gt;
  &lt;div class=&quot;b-header&quot;&gt;
    &lt;time class=&quot;b-time&quot;&gt;{{&gt; atoms-time }}&lt;/time&gt;
    &lt;h2 class=&quot;h4 b-title&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.medium }}&lt;/a&gt;&lt;/h2&gt;
  &lt;/div&gt;
  &lt;a class=&quot;b-thumb-wrapper&quot; href=&quot;{{ url }}&quot;&gt;
    &lt;div class=&quot;b-thumb&quot; style=&quot;background-image:url('http://placekitten.com/g/700/500')&quot;&gt;&lt;/div&gt;
  &lt;/a&gt;
  &lt;div class=&quot;b-main&quot;&gt;
    &lt;p class=&quot;b-text&quot;&gt;{{ excerpt.medium }}&lt;/p&gt;
    &lt;a class=&quot;b-link&quot; href=&quot;{{ url }}&quot;&gt;{{ button }}&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;