{{&gt; organisms-header }}
&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero }}
  {{/ page-hero }}

  {{# page-description }}
    {{&gt; organisms-block-text }}
  {{/ page-description }}

  {{# page-contact }}
    {{&gt; organisms-contact-card }}
  {{/ page-contact }}

  {{# page-links }}
    {{&gt; organisms-block-links }}
  {{/ page-links }}

  {{# page-glance }}
    {{&gt; organisms-block-glance }}
  {{/ page-glance }}

  {{# page-banner }}
    {{&gt; organisms-banner }}
  {{/ page-banner }}
&lt;/main&gt;
{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}