&lt;section class=&quot;l-section&quot;&gt;
  {{# l-left }}
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;l-container_left&quot;&gt;
  {{/ l-left }}
  {{^ l-left }}
      &lt;div class=&quot;l-containerSmall&quot;&gt;
  {{/ l-left }}
        {{&gt; molecules-block-text }}
      &lt;/div&gt;
  {{# l-left }}
    &lt;/div&gt;
  {{/ l-left }}
&lt;/section&gt;