&lt;nav class=&quot;scrollNav&quot;&gt;
  &lt;div class=&quot;scrollNav-inner&quot;&gt;
    &lt;span class=&quot;scrollNav_item&quot;&gt;January&lt;/span&gt;
    &lt;span class=&quot;scrollNav_item&quot;&gt;February&lt;/span&gt;
    &lt;span class=&quot;scrollNav_item&quot;&gt;March&lt;/span&gt;
    &lt;span class=&quot;scrollNav_item&quot;&gt;April&lt;/span&gt;
    &lt;span class=&quot;scrollNav_item&quot;&gt;May&lt;/span&gt;
    &lt;span class=&quot;scrollNav_item&quot;&gt;June&lt;/span&gt;
    &lt;span class=&quot;scrollNav_item scrollNav_item-active&quot;&gt;July&lt;/span&gt;
    &lt;span class=&quot;scrollNav_item&quot;&gt;Agoust&lt;/span&gt;
    &lt;span class=&quot;scrollNav_item&quot;&gt;September&lt;/span&gt;
    &lt;span class=&quot;scrollNav_item&quot;&gt;October&lt;/span&gt;
    &lt;span class=&quot;scrollNav_item&quot;&gt;November&lt;/span&gt;
    &lt;span class=&quot;scrollNav_item&quot;&gt;December&lt;/span&gt;
  &lt;/div&gt;
&lt;/nav&gt;