&lt;section class=&quot;l-sectionLarge&quot;&gt;
  &lt;div class=&quot;l-containerSmall&quot;&gt;
    {{&gt; atoms-heading-2 }}
    {{# accordion-text }}
      &lt;div class=&quot;typography&quot;&gt;
          {{&gt; atoms-text-paragraph }}
      &lt;/div&gt;
    {{/ accordion-text }}
    {{# accordion }}
      {{&gt; molecules-accordion-study-course }}
    {{/ accordion }}
  &lt;/div&gt;
&lt;/section&gt;