&lt;nav class=&quot;navMain&quot;&gt;
	&lt;ul class=&quot;nav_wrap&quot;&gt;
		&lt;li&gt;
      &lt;a class=&quot;nav_item&quot; href=&quot;{{ url }}&quot;&gt;Universit&auml;t&lt;/a&gt;
    &lt;/li&gt;
		&lt;li&gt;
      &lt;a id=&quot;faculties&quot; class=&quot;nav_item&quot; href=&quot;#nav-links&quot;&gt;Fakult&auml;ten&lt;/a&gt;
    &lt;/li&gt;
		&lt;li&gt;
      &lt;a id=&quot;study-courses&quot; class=&quot;nav_item&quot; href=&quot;#nav-secondary&quot;&gt;Studieng&auml;nge&lt;/a&gt;
    &lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;