{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero }}
  {{/ page-hero }}

  {{# page-intro }}
    {{&gt; organisms-block-typography }}
  {{/ page-intro }}

  {{# page-study-course }}
    {{&gt; organisms-accordion-study-courses }}
  {{/ page-study-course }}

  {{# page-glance }}
    {{&gt; organisms-block-glance }}
  {{/ page-glance }}
  
  {{# page-wohnen }}
    {{&gt; organisms-block-typography }}
  {{/ page-wohnen }}

  {{# page-contact }}
    {{&gt; organisms-contact-card }}
  {{/ page-contact }}

  {{# page-open-day }}
    {{&gt; organisms-block-typography }}
  {{/ page-open-day }}
&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}