&lt;div class=&quot;block block-news&quot;&gt;
  {{# empty }}
  &lt;a class=&quot;b-thumb&quot; href=&quot;{{ url }}&quot;&gt;
    &lt;div class=&quot;b-thumb-empty&quot;&gt;{{&gt; atoms-heading-3 (content: &quot;News&quot;) }}&lt;/div&gt;
  &lt;/a&gt;
  {{/ empty }}
  {{^ empty }}
  &lt;a class=&quot;b-thumb&quot; href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-landscape-4x3 }}
  &lt;/a&gt;
  {{/ empty }}
  &lt;/a&gt;
  &lt;div class=&quot;b-text&quot;&gt;
    {{&gt; atoms-time (class: &quot;b-time&quot;) }}
    {{&gt; atoms-heading-2 (content: &quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit. (72 characters)&quot;) }}
    {{&gt; atoms-paragraph (class: b-text, content: &quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ni (210 characters)&quot;) }}
    {{&gt; atoms-button-text-primary (content: &quot;Lorem ipsum&quot;) }}
  &lt;/div&gt;
&lt;/div&gt;