&lt;form class=&quot;form {{ class }}&quot; role=&quot;search&quot;&gt;
  {{&gt; atoms-forms-input-search (class=&quot;form_input-search&quot;) }}
  &lt;a class=&quot;form_inputSearchButton&quot; href=&quot;#&quot;&gt;&lt;i class=&quot;i i-search-gray&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;/form&gt;