{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}

  {{# page-people }}
  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      {{&gt; organisms-people-section }}
    &lt;/div&gt;
  &lt;/section&gt;
  {{/ page-people }}

  {{# page-content }}
    &lt;section class=&quot;l-section&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        &lt;div class=&quot;typography typography-left&quot;&gt;
          {{&gt; atoms-heading-4 (class:&quot;h-theme&quot;) }}
          {{&gt; atoms-text-wrapper }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/section&gt;
  {{/ page-content }}
&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}