&lt;nav id=&quot;nav-bachelor&quot; class=&quot;js-nav navGrid&quot; data-nav-level=&quot;3&quot;&gt;
  &lt;ul class=&quot;nav_wrap navGrid_wrap&quot;&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;ECON&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Economics and Management&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;ECON&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;{{ link.pages-bachelor-ppe }}&quot;&gt;Economics and Social Sciences&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;ECON&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;{{ link.pages-bachelor-tourism }}&quot;&gt;Tourism, Sport and Event Management&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;COMP&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Computer Science and Engineering&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;TECH&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Agricultural and Agro-Environmental Sciences&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;TECH&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Industrial and Mechanical Engineering&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;EDU&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Communication Sciences and Culture&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;EDU&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Social Education&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;EDU&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Social Work&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;DSGN&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Design and Art&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav id=&quot;nav-master&quot; class=&quot;js-nav navGrid {{ class }}&quot; data-nav-level=&quot;3&quot;&gt;
  &lt;ul class=&quot;nav_wrap navGrid_wrap&quot;&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;ECON&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Economics and Management of the Public Sector&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;ECON&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;{{ link.pages-master-entrepr }}&quot;&gt;Entrepreneurship and Innovation&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;COMP&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Computer Science&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;COMP&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;European Master's Program in Computational Logic (EMCL)&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;TECH&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;{{ link.pages-master-emma }}&quot;&gt;Environmental Management of Mountain Areas&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;TECH&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Energy Engineering&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;TECH&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;International Horticultural Science&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;EDU&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Innovation and Research for Social Work and Social Education&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;DSGN&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Eco-Social Design (Glocal Design)&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav id=&quot;nav-master-one-cycle&quot; class=&quot;js-nav navGrid {{ class }}&quot; data-nav-level=&quot;3&quot;&gt;
  &lt;ul class=&quot;nav_wrap navGrid_wrap&quot;&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;EDU&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Primary Education&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav id=&quot;nav-phd&quot; class=&quot;js-nav navGrid {{ class }}&quot; data-nav-level=&quot;3&quot;&gt;
  &lt;ul class=&quot;nav_wrap navGrid_wrap&quot;&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;COMP&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Computer Science&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;TECH&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Mountain Environment and Agriculture&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;TECH&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Sustainable Energy and Technologies&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;ECO&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;Management and Economics on Organizational and Institutional Outliers&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span class=&quot;gridItem_label&quot;&gt;EDU&lt;/span&gt;
      &lt;div class=&quot;gridItem_name&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;General Pedagogy, Social Pedagogy and General Education&lt;/a&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;&lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;