<nav class="js-nav {{ class }}" data-nav-level="{{ level }}">
	<ul class="nav_wrap">
    {{# items }}
  		<li>
        <a class="js-nav_item nav_item" href="{{ url }}" data-toggle-elem="{{ toggle }}">{{ item }}</a>
      </li>
    {{/ items }}
	</ul>
</nav>