<nav class="js-nav navMain">
	<ul class="nav_wrap">
		<li>
      <a class="js-nav-item js-nav-item-primary nav_item" href="#" data-toggle-elem="#nav-university">Universität</a>
    </li>
		<li>
      <a class="js-nav-item js-nav-item-primary nav_item" href="#" data-toggle-elem="#nav-faculties">Fakultäten</a>
    </li>
		<li>
      <a class="js-nav-item js-nav-item-primary nav_item" href="#" data-toggle-elem="#nav-study-courses">Studiengänge</a>
    </li>
	</ul>
</nav>