<nav class="js-nav navMain" data-nav-level="1">
	<ul class="nav_wrap">
		<li>
      <a class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-university">University</a>
    </li>
		<li>
      <a class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-faculties">Faculties</a>
    </li>
		<li>
      <a class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-study-courses">Study courses</a>
    </li>
	</ul>
</nav>