<nav class="navMain">
	<ul class="nav_wrap">
		<li>
      <a class="nav_item" href="{{ url }}">University</a>
    </li>
		<li>
      <a class="nav_item" href="{{ url }}">Faculties</a>
    </li>
		<li>
      <a class="nav_item" href="#nav-secondary">Study Courses</a>
    </li>
	</ul>
</nav>