<nav class="js-nav navMain" data-nav-level="1">
	<ul class="nav_wrap">
		<li>
      <a class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-university">Universität</a>
    </li>
		<li>
      <a class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-faculties">Fakultäten</a>
    </li>
		<li>
      <a class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-study-courses">Studiengänge</a>
    </li>
	</ul>
</nav>