<div class="nav is-open">
  <nav class="navMain">
  	<ul class="nav_wrap">
  		<li>
        <a class="nav_item" href="{{ url }}">University</a>
      </li>
  		<li>
        <a class="nav_item" href="{{ url }}">Faculties</a>
      </li>
  		<li>
        <a class="nav_item is-active" href="{{ url }}">Study Courses</a>
      </li>
  	</ul>
  </nav>

  <nav class="navSecondary is-open">
    <ul class="nav_wrap">
      <li>
        <a class="nav_item is-active" href="{{ url }}">Bachelor</a>
      </li>
      <li>
        <a class="nav_item" href="{{ url }}">Master</a>
      </li>
      <li>
        <a class="nav_item" href="{{ url }}">Master (one cycle)</a>
      </li>
      <li>
        <a class="nav_item" href="{{ url }}">Phd</a>
      </li>
      <li>
        <a class="nav_item nav_link" href="{{ url }}">Further offer</a>
      </li>
    </ul>
  </nav>

  <nav class="navLinks">
    <ul class="nav_wrap navLinks_wrap">
      <li class="navLinks_item"><a href="#">Economics and Managment</a></li>
      <li class="navLinks_item"><a href="#">Computer Science</a></li>
      <li class="navLinks_item"><a href="#">Science and Technology</a></li>
      <li class="navLinks_item"><a href="#">Education</a></li>
      <li class="navLinks_item"><a href="#">Design and Art</a></li>
    </ul>
  </nav>

  <nav class="navGrid is-open">
    <ul class="nav_wrap navGrid_wrap">
      <li class="navGrid_item">
        <span class="gridItem_label">ECON</span>
        <div class="gridItem_name">
          <a href="#">Economics and Management</a>
        </div>
      </li>
      <li class="navGrid_item">
        <span class="gridItem_label">ECON</span>
        <div class="gridItem_name">
          <a href="#">Economics and Social Sciences</a>
        </div>
      </li>
      <li class="navGrid_item">
        <span class="gridItem_label">ECON</span>
        <div class="gridItem_name">
          <a href="#">Tourism, Sport and Event Management</a>
        </div>
      </li>
      <li class="navGrid_item">
        <span class="gridItem_label">COMP</span>
        <div class="gridItem_name">
          <a href="#">Computer Science and Engineering</a>
        </div>
      </li>
      <li class="navGrid_item">
        <span class="gridItem_label">TECH</span>
        <div class="gridItem_name">
          <a href="#">Agricultural and Agro-Environmental Sciences</a>
        </div>
      </li>
      <li class="navGrid_item">
        <span class="gridItem_label">TECH</span>
        <div class="gridItem_name">
          <a href="#">Industrial and Mechanical Engineering</a>
        </div>
      </li>
      <li class="navGrid_item">
        <span class="gridItem_label">EDU</span>
        <div class="gridItem_name">
          <a href="#">Communication Sciences and Culture</a>
        </div>
      </li>
      <li class="navGrid_item">
        <span class="gridItem_label">EDU</span>
        <div class="gridItem_name">
          <a href="#">Social Education</a>
        </div>
      </li>
      <li class="navGrid_item">
        <span class="gridItem_label">EDU</span>
        <div class="gridItem_name">
          <a href="#">Social Work</a>
        </div>
      </li>
      <li class="navGrid_item">
        <span class="gridItem_label">DSGN</span>
        <div class="gridItem_name">
          <a href="#">Design and Art</a>
        </div>
      </li>
    </ul>
  </nav>
</div>