<nav id="nav-study-courses" class="js-nav navSecondary {{ class }}" data-nav-level="2">
  <ul class="nav_wrap">
    <li>
      <a id="bachelor" class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-bachelor">Bachelor</a>
    </li>
    <li>
      <a class="js-nav_item nav_item" href="#">Master</a>
    </li>
    <li>
      <a class="js-nav_item nav_item" href="#">Master (one cycle)</a>
    </li>
    <li>
      <a class="js-nav_item nav_item" href="#">Phd</a>
    </li>
    <li>
      <a class="js-nav_item nav_item nav_link" href="#">Further offer</a>
    </li>
  </ul>
</nav>