<nav id="study-courses-nav" class="navSecondary {{ class }}">
  <ul class="nav_wrap">
    <li>
      <a id="bachelor" class="nav_item" href="{{ url }}">Bachelor</a>
    </li>
    <li>
      <a class="nav_item" href="{{ url }}">Master</a>
    </li>
    <li>
      <a class="nav_item" href="{{ url }}">Master (one cycle)</a>
    </li>
    <li>
      <a class="nav_item" href="{{ url }}">Phd</a>
    </li>
    <li>
      <a class="nav_item nav_link" href="{{ url }}">Further offer</a>
    </li>
  </ul>
</nav>