<nav id="nav-study-courses" class="js-nav navSecondary" data-nav-level="2">
  <ul class="nav_wrap">
    <li>
      <a id="bachelor" class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-bachelor">Laurea</a>
    </li>
    <li>
      <a class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-master">Laurea magistrale</a>
    </li>
    <li>
      <a class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-master-one-cycle">Laurea magistrale ciclo unico</a>
    </li>
    <li>
      <a class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-phd">Dottorati</a>
    </li>
  </ul>
</nav>