<nav id="nav-study-courses" class="js-nav navSecondary" data-nav-level="2">
  <ul class="nav_wrap">
    <li>
      <a id="bachelor" class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-bachelor">Bachelor</a>
    </li>
    <li>
      <a class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-master">Master</a>
    </li>
    <li>
      <a class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-master-one-cycle">Master (einstufig)</a>
    </li>
    <li>
      <a class="js-nav_item nav_item" href="#" data-toggle-elem="#nav-phd">Doktoratsstudien</a>
    </li>
  </ul>
</nav>