<nav id="nav-faculties" class="js-nav navLinks" data-nav-level="2">
  <ul class="nav_wrap navLinks_wrap">
    <li class="navLinks_item"><a class="js-nav-item is-inactive" href="#">Scienze e Tecnologie informatiche</a></li>
    <li class="navLinks_item"><a class="js-nav-item is-inactive" href="#">Economia</a></li>
    <li class="navLinks_item"><a class="js-nav-item is-inactive" href="#">Scienze della Formazione</a></li>
    <li class="navLinks_item"><a class="js-nav-item is-inactive" href="#">Design e Arti</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="{{ link.pages-faculty-natech }}">Scienze e Tecnologie</a></li>
  </ul>
</nav>

<nav id="nav-university" class="js-nav navLinks {{ class }}" data-nav-level="2">
  <ul class="nav_wrap navLinks_wrap">
    <li class="navLinks_item"><a class="js-nav-item is-inactive" href="#">Profilo</a></li>
    <li class="navLinks_item"><a class="js-nav-item is-inactive" href="#">Organizzazione</a></li>
    <li class="navLinks_item"><a class="js-nav-item is-inactive" href="#">Cooperazione</a></li>
    <li class="navLinks_item"><a class="js-nav-item is-inactive" href="#">Offerte lavorative</a></li>
    <li class="navLinks_item"><a class="js-nav-item is-inactive" href="#">Bandi e concorsi</a></li>
    <li class="navLinks_item"><a class="js-nav-item is-inactive" href="#">Ufficio stampa</a></li>
  </ul>
</nav>