<nav id="nav-faculties" class="js-nav navLinks" data-nav-level="2">
  <ul class="nav_wrap navLinks_wrap">
    <li class="navLinks_item"><a class="js-nav-item" href="#">Informatik</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Wirtschaftswissenschaften</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Bildungswissenschaften</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Design und Künste</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="{{ link.pages-faculty-natech }}">Naturwissenschaften und Technik</a></li>
  </ul>
</nav>

<nav id="nav-university" class="js-nav navLinks {{ class }}" data-nav-level="2">
  <ul class="nav_wrap navLinks_wrap">
    <li class="navLinks_item"><a class="js-nav-item" href="#">Profil</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Organisation</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Kooperationen</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Jobs</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Ausschreibungen</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Press</a></li>
  </ul>
</nav>