<nav id="nav-faculties" class="js-nav navLinks {{ class }}" data-nav-level="2">
  <ul class="nav_wrap navLinks_wrap">
    <li class="navLinks_item"><a href="#">Informatik</a></li>
    <li class="navLinks_item"><a href="#">Wirtschaftswissenschaften</a></li>
    <li class="navLinks_item"><a href="#">Bildungswissenschaften</a></li>
    <li class="navLinks_item"><a href="#">Design und Künste</a></li>
    <li class="navLinks_item"><a href="{{ link.pages-faculty-natech }}">Naturwissenschaften und Technik</a></li>
  </ul>
</nav>

<nav id="nav-university" class="js-nav navLinks {{ class }}" data-nav-level="2">
  <ul class="nav_wrap navLinks_wrap">
    <li class="navLinks_item"><a href="#">Profil</a></li>
    <li class="navLinks_item"><a href="#">Organisation</a></li>
    <li class="navLinks_item"><a href="#">Kooperationen</a></li>
    <li class="navLinks_item"><a href="#">Jobs</a></li>
    <li class="navLinks_item"><a href="#">Ausschreibungen</a></li>
    <li class="navLinks_item"><a href="#">Press</a></li>
  </ul>
</nav>