<nav class="navLinks {{ class }}">
  <ul class="nav_wrap navLinks_wrap">
    <li class="navLinks_item"><a href="#">Economics and Managment</a></li>
    <li class="navLinks_item"><a href="#">Computer Science</a></li>
    <li class="navLinks_item"><a href="#">Science and Technology</a></li>
    <li class="navLinks_item"><a href="#">Education</a></li>
    <li class="navLinks_item"><a href="#">Design and Art</a></li>
  </ul>
</nav>