<nav id="nav-faculties" class="js-nav navLinks" data-nav-level="2">
  <ul class="nav_wrap navLinks_wrap">
    <li class="navLinks_item"><a class="js-nav-item" href="#">Computer Science</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Economics and management</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Education</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Design and Art</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="{{ link.pages-faculty-natech }}">Science and Technology</a></li>
  </ul>
</nav>

<nav id="nav-university" class="js-nav navLinks {{ class }}" data-nav-level="2">
  <ul class="nav_wrap navLinks_wrap">
    <li class="navLinks_item"><a class="js-nav-item" href="#">Profile</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Organisation</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Cooperation</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Carrers</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Calls</a></li>
    <li class="navLinks_item"><a class="js-nav-item" href="#">Press office</a></li>
  </ul>
</nav>