<nav id="nav-bachelor" class="js-nav navGrid" data-nav-level="3">
  <ul class="nav_wrap navGrid_wrap">
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="#">Wirtschaftswissenschaften und Betriebsführung</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="{{ link.pages-bachelor-ppe }}">Ökonomie und Sozialwissenschaften</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="{{ link.pages-bachelor-tourism }}">Tourismus-, Sport- und Eventmanagement</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">COMP</span>
      <div class="gridItem_name">
        <a href="#">Informatik und Informatik-Ingenieurwesen</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Agrarwissenschaften und Umweltmanagement</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Industrie- und Maschineningenieurwesen</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Kommunikations- und Kulturwissenschaften</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Sozialarbeit</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Sozialpädagogik</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">DSGN</span>
      <div class="gridItem_name">
        <a href="#">Design und Künste</a>
      </div>
    </li>
  </ul>
</nav>

<nav id="nav-master" class="js-nav navGrid {{ class }}" data-nav-level="3">
  <ul class="nav_wrap navGrid_wrap">
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="#">Ökonomie und Management des öffentlichen Sektors</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="{{ link.pages-master-entrepr }}">Unternehmensführung und Innovation</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">COMP</span>
      <div class="gridItem_name">
        <a href="#">Informatik</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">COMP</span>
      <div class="gridItem_name">
        <a href="#">European Master's Program in Computational Logic (EMCL)</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="{{ link.pages-master-emma }}">Umweltmanagement in Bergregionen</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Energy Engineering</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">International Horticultural Science</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Innovation in Forschung und Praxis Sozialer Arbeit</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">DSGN</span>
      <div class="gridItem_name">
        <a href="#">Ökosoziales Design (Glocal Design)</a>
      </div>
    </li>
  </ul>
</nav>

<nav id="nav-master-one-cycle" class="js-nav navGrid {{ class }}" data-nav-level="3">
  <ul class="nav_wrap navGrid_wrap">
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Bildungswissenschaften für den Primarbereich</a>
      </div>
    </li>
  </ul>
</nav>

<nav id="nav-phd" class="js-nav navGrid {{ class }}" data-nav-level="3">
  <ul class="nav_wrap navGrid_wrap">
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">COMP</span>
      <div class="gridItem_name">
        <a href="#">Informatik</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Mountain Environment and Agriculture</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Sustainable Energy and Technologies</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">ECO</span>
      <div class="gridItem_name">
        <a href="#">Management and Economics on Organizational and Institutional Outliers</a>
      </div>
    </li>
    <li class="navGrid_item is-inactive">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Allgemeine Pädagogik, Sozialpädagogik und Allgemeine Didaktik</a>
      </div>
    </li>
    <li class="navGrid_item"></li>
    <li class="navGrid_item"></li>
  </ul>
</nav>