<nav id="nav-bachelor" class="js-nav navGrid" data-nav-level="3">
  <ul class="nav_wrap navGrid_wrap">
    <li class="navGrid_item">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="#">Economics and Management</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="{{ link.pages-bachelor-ppe }}">Scienze Economiche e Sociali</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="{{ link.pages-bachelor-tourism }}">Management del Turismo, dello Sport e degli Eventi</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">COMP</span>
      <div class="gridItem_name">
        <a href="#">Scienze e Ingegneria dell'Informazione</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Ingegneria Industriale Meccanica</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Scienze Agrarie e Agroambientali</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Educatore sociale</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Scienze della Comunicazione e Cultura</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Servizio sociale</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">DSGN</span>
      <div class="gridItem_name">
        <a href="#">Design e Arti</a>
      </div>
    </li>
  </ul>
</nav>

<nav id="nav-master" class="js-nav navGrid {{ class }}" data-nav-level="3">
  <ul class="nav_wrap navGrid_wrap">
    <li class="navGrid_item">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="#">Economia e Management del Settore Pubblico</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="{{ link.pages-master-entrepr }}">Imprenditorialità e Innovazione</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">COMP</span>
      <div class="gridItem_name">
        <a href="#">Informatica</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">COMP</span>
      <div class="gridItem_name">
        <a href="#">European Master's Program in Computational Logic</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Innovazione e Ricerca per gli Interventi socio-assistenziali-educativi</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="{{ link.pages-master-emma }}">Gestione sostenibile dell’ambiente montano</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Energy Engineering</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">International Horticultural Science</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">DSGN</span>
      <div class="gridItem_name">
        <a href="#">Design eco-sociale (Glocal Design)</a>
      </div>
    </li>
  </ul>
</nav>

<nav id="nav-master-one-cycle" class="js-nav navGrid {{ class }}" data-nav-level="3">
  <ul class="nav_wrap navGrid_wrap">
    <li class="navGrid_item">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Scienze della Formazione primaria</a>
      </div>
    </li>
  </ul>
</nav>

<nav id="nav-phd" class="js-nav navGrid {{ class }}" data-nav-level="3">
  <ul class="nav_wrap navGrid_wrap">
    <li class="navGrid_item">
      <span class="gridItem_label">COMP</span>
      <div class="gridItem_name">
        <a href="#">Informatica</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Mountain Environment and Agriculture</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Sustainable Energy and Technologies</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">ECO</span>
      <div class="gridItem_name">
        <a href="#">Management and Economics on Organizational and Institutional Outliers</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Pedagogia generale, Pedagogia sociale e Didattica generale</a>
      </div>
    </li>
    <li class="navGrid_item"></li>
    <li class="navGrid_item"></li>
  </ul>
</nav>