<nav id="nav-bachelor" class="js-nav navGrid {{ class }}" data-nav-level="3">
  <ul class="nav_wrap navGrid_wrap">
    <li class="navGrid_item">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="#">Economics and Management</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="{{ link.pages-bachelor-ppe }}">Economics and Social Sciences</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="{{ link.pages-bachelor-tourism }}">Tourism, Sport and Event Management</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">COMP</span>
      <div class="gridItem_name">
        <a href="#">Computer Science and Engineering</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Agricultural and Agro-Environmental Sciences</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Industrial and Mechanical Engineering</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Communication Sciences and Culture</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Social Education</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Social Work</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">DSGN</span>
      <div class="gridItem_name">
        <a href="#">Design and Art</a>
      </div>
    </li>
  </ul>
</nav>

<nav id="nav-master" class="js-nav navGrid {{ class }}" data-nav-level="3">
  <ul class="nav_wrap navGrid_wrap">
    <li class="navGrid_item">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="#">Economics and Management of the Public Sector</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">ECON</span>
      <div class="gridItem_name">
        <a href="{{ link.pages-master-entrepr }}">Entrepreneurship and Innovation</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">COMP</span>
      <div class="gridItem_name">
        <a href="#">Computer Science</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">COMP</span>
      <div class="gridItem_name">
        <a href="#">European Master's Program in Computational Logic (EMCL)</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="{{ link.pages-master-emma }}">Environmental Management of Mountain Areas</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Energy Engineering</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">International Horticultural Science</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Innovation and Research for Social Work and Social Education</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">DSGN</span>
      <div class="gridItem_name">
        <a href="#">Eco-Social Design (Glocal Design)</a>
      </div>
    </li>
  </ul>
</nav>

<nav id="nav-master-one-cycle" class="js-nav navGrid {{ class }}" data-nav-level="3">
  <ul class="nav_wrap navGrid_wrap">
    <li class="navGrid_item">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">Primary Education</a>
      </div>
    </li>
  </ul>
</nav>

<nav id="nav-phd" class="js-nav navGrid {{ class }}" data-nav-level="3">
  <ul class="nav_wrap navGrid_wrap">
    <li class="navGrid_item">
      <span class="gridItem_label">COMP</span>
      <div class="gridItem_name">
        <a href="#">Computer Science</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Mountain Environment and Agriculture</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">TECH</span>
      <div class="gridItem_name">
        <a href="#">Sustainable Energy and Technologies</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">ECO</span>
      <div class="gridItem_name">
        <a href="#">Management and Economics on Organizational and Institutional Outliers</a>
      </div>
    </li>
    <li class="navGrid_item">
      <span class="gridItem_label">EDU</span>
      <div class="gridItem_name">
        <a href="#">General Pedagogy, Social Pedagogy and General Education</a>
      </div>
    </li>
    <li class="navGrid_item"></li>
    <li class="navGrid_item"></li>
  </ul>
</nav>