<div class="tabs">
	<ul class="tab_list">
		<li class="tab_item tab_item-active"><a class="tab_link" href="{{ url }}">Bachelors</a></li>
		<li class="tab_item"><a class="tab_link" href="{{ url }}">Masters</a></li>
		<li class="tab_item"><a class="tab_link" href="{{ url }}">PHDs</a></li>
	</ul>
</div>