{{# nav-study-course }}
  <nav class="js-nav navSecondary" data-nav-level="2">
  	<ul class="nav_wrap">
      {{# items }}
    		<li>
          <a class="js-nav_item nav_item" href="{{ url }}" data-toggle-elem="{{ toggle }}">{{ item }}</a>
        </li>
      {{/ items }}
  	</ul>
  </nav>
{{/ nav-study-course }}