{{# nav-links-languages }}
  <nav id="nav-languages" class="js-nav navLinks" data-nav-level="2">
    <ul class="nav_wrap navLinks_wrap">
      {{# items }}
        <li class="navLinks_item">
          <a class="js-nav-item" href="{{ url }}">{{ item }}</a>
        </li>
      {{/ items }}
    </ul>
  </nav>
{{/ nav-links-languages }}