<div class="pagination">
  {{> atoms-button-round (class:"pagination_button", icon:"i-arrow-left") }}
  <div class="pagination_pagesWrapper">
    <span class="pagination_page">1</span>
    <span class="pagination_page">2</span>
    <span class="pagination_page">3</span>
    <span class="pagination_page">4</span>
    <span class="pagination_page">5</span>
    <span class="pagination_page">6</span>
    <span class="pagination_page">7</span>
    <span class="pagination_page">8</span>
    <span class="pagination_page">9</span>
    <span class="pagination_page">10</span>
  </div>
  {{> atoms-button-round (class:"pagination_button", icon:"i-arrow-right") }}
</div>
