<nav id="nav-mobile" class="navMobile">
	<ul class="navMobile_wrap">
		<li>
      <a class="navMobile_item" href="{{ url }}">University</a>
    </li>
		<li>
      <a class="navMobile_item" href="#nav-mobile-second">Faculties</a>
      <ul class="navMobile_second">
        <li><a class="navMobile_item navMobile_link" href="#">Economics and Managment</a></li>
        <li><a class="navMobile_item navMobile_link" href="#">Computer Science</a></li>
        <li><a class="navMobile_item navMobile_link" href="#">Science and Technology</a></li>
        <li><a class="navMobile_item navMobile_link" href="#">Education</a></li>
        <li><a class="navMobile_item navMobile_link" href="#">Design and Art</a></li>
      </ul>
    </li>
		<li>
      <a class="navMobile_item" href="#nav-mobile-second">Study Courses</a>
      <ul id="nav-mobile-second" class="navMobile_second">
        <li>
          <a class="navMobile_item" href="#nav-mobile-third">Bachelor</a>
          <ul id="nav-mobile-third" class="navMobile_third">
            <li class="mobileItem_wrap">
              <span class="mobileItem_label">ECON</span>
              <div class="mobileItem_name">
                <a href="#">Economics and Management</a>
              </div>
            </li>
            <li class="mobileItem_wrap">
              <span class="mobileItem_label">ECON</span>
              <div class="mobileItem_name">
                <a href="#">Economics and Social Sciences</a>
              </div>
            </li>
            <li class="mobileItem_wrap">
              <span class="mobileItem_label">ECON</span>
              <div class="mobileItem_name">
                <a href="#">Tourism, Sport and Event Management</a>
              </div>
            </li>
            <li class="mobileItem_wrap">
              <span class="mobileItem_label">COMP</span>
              <div class="mobileItem_name">
                <a href="#">Computer Science and Engineering</a>
              </div>
            </li>
            <li class="mobileItem_wrap">
              <span class="mobileItem_label">TECH</span>
              <div class="mobileItem_name">
                <a href="#">Agricultural and Agro-Environmental Sciences</a>
              </div>
            </li>
            <li class="mobileItem_wrap">
              <span class="mobileItem_label">TECH</span>
              <div class="mobileItem_name">
                <a href="#">Industrial and Mechanical Engineering</a>
              </div>
            </li>
            <li class="mobileItem_wrap">
              <span class="mobileItem_label">EDU</span>
              <div class="mobileItem_name">
                <a href="#">Communication Sciences and Culture</a>
              </div>
            </li>
            <li class="mobileItem_wrap">
              <span class="mobileItem_label">EDU</span>
              <div class="mobileItem_name">
                <a href="#">Social Education</a>
              </div>
            </li>
            <li class="mobileItem_wrap">
              <span class="mobileItem_label">EDU</span>
              <div class="mobileItem_name">
                <a href="#">Social Work</a>
              </div>
            </li>
            <li class="mobileItem_wrap">
              <span class="mobileItem_label">DSGN</span>
              <div class="mobileItem_name">
                <a href="#">Design and Art</a>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a class="navMobile_item" href="#">Master</a>
        </li>
        <li>
          <a class="navMobile_item" href="#">Master (one cycle)</a>
        </li>
        <li>
          <a class="navMobile_item" href="#">PhD</a>
        </li>
        <li>
          <a class="navMobile_item navMobile_link" href="#">Further offer</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="navMobile_item navMobile_link" href="#">Services</a>
    </li>
	</ul>
</nav>