&lt;div class=&quot;blockResearch&quot;&gt;
  &lt;div class=&quot;blockResearch_image&quot;&gt;
    {{&gt; atoms-image-4x3 }}
  &lt;/div&gt;
  &lt;a href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-heading-3 (class:&quot;blockResearch_title&quot;) }}
    {{&gt; atoms-text-paragraph (class:&quot;blockResearch_excerpt&quot;)}}
  &lt;/a&gt;
&lt;/div&gt;