&lt;div class=&quot;{{ programme-theme }}&quot;&gt;
  &lt;div class=&quot;programme&quot;&gt;
    {{&gt; atoms-text-span (class:&quot;programme_tag&quot;)}}
    {{&gt; atoms-heading-3 (class:&quot;programme_title&quot;)}}
    {{&gt; atoms-text-span (class:&quot;programme_lang&quot;)}}
    {{&gt; atoms-text-span (class:&quot;programme_location&quot;)}}
  &lt;/div&gt;
&lt;/div&gt;