&lt;div class=&quot;translate&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;translate_inner&quot;&gt;
      &lt;p class=&quot;u-push-btm-none&quot;&gt;This page is only avaible in English at the moment. We apology for any inconvinience.&lt;/p&gt;
      &lt;a class=&quot;translate_close&quot; href=&quot;#&quot;&gt;✕&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;