&lt;div class=&quot;accordion {{# open }}accordion-open{{/ open }}&quot;&gt;
  &lt;span class=&quot;accordion_toggle&quot;&gt;&lt;/span&gt;
  {{&gt; atoms-text-span (class:&quot;accordion_title&quot;) }}
  &lt;div class=&quot;accordion_body&quot;&gt;
    {{&gt; atoms-text-paragraph }}
  &lt;/div&gt;
&lt;/div&gt;