//============================================
// Blocks
//============================================

// General blocks styles
//============================================

.block
  overflow: hidden
  img
    max-width: 100%


// Media block
//============================================

.media-block
  .b-text
    padding: $space-half $space-half 6px $space-half
    background-color: $primary
    color: $white
    +mq($bp-xs)
      padding: $space $space 18px $space
    +mq($bp-sm)
      position: relative
      float: left
      width: 50%
      height: 0
      padding: 0 $space (3 / 4) * 50% $space
    +mq($bp-md)
      padding-left: $space*2
      padding-right: $space*2

.media-block
  .b-thumb
    height: 0
    padding-bottom: (9 / 16) * 100%
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    +mq($bp-xs)
      padding-bottom: (9 / 16) * 100%
    +mq($bp-sm)
      float: left
      width: 50%
      height: 0
      padding-bottom: (3 / 4) * 50%

.media-block
  h2
    @extend .h4
    +mq($bp-sm)
      padding-top: $space
    +mq($bp-md)
      margin-bottom: $space
      padding-top: $space*2

.media-block
  .btn-text-alt
    +mq($bp-sm)
      +pos($space, bottom)
    +mq($bp-md)
      bottom: $space*2
    &:after
      +mq($bp-sm)
        margin-top: 0


// Block Highlight
//============================================

.block-highlight
  .b-thumb
    height: 0
    padding-bottom: (3 / 4) * 100%
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.block-highlight
  .b-text
    padding: $space-half
    background-color: $primary
    color: $white
    +mq($bp-xs)
      padding: $space
    +mq($bp-md)
      padding: $space*2
    p
      margin-bottom: 0


// Block Info
//============================================

.block-info
  .b-text
    overflow: hidden
    padding: $space-half
    background-color: $primary
    color: $white
    +mq($bp-xs)
      padding: $space
    +mq($bp-md)
      padding: $space*2
    h2
      @extend .h4
      +mq($bp-sm)
        float: left
        width: 48.5%
    p
      margin-bottom: 0
      +mq($bp-sm)
        float: right
        width: 48.5%


// Block News
//============================================

.block-news
  @extend .g-row
  .b-thumb
    display: block
    margin-bottom: $space
    max-width: 242px
    @extend .g
    @extend .g-sm-8
  .b-text
    @extend .g
    @extend .g-sm-15
    @extend .g-sm-push-1
    time
      display: block
      margin-bottom: $space-half
      color: $gray-dark
      font-size: small
    h2
      @extend .h4
      +mq($bp-sm)
        margin-bottom: $space
    p
      +mq($bp-sm)
        margin-bottom: $space-half

.block-news
  .b-thumb-empty
    padding: 0 $space-half (3 / 4) * 100% $space-half
    height: 0
    background-color: $primary
    color: $white
    letter-spacing: 1px
    text-transform: uppercase

    h3
      padding-top: $space-half


// Block Event
//============================================

.block-event
  .b-thumb
    +mq($bp-sm)
      width: 50%
      float: left

.block-event
  .b-text
    position: relative
    padding: $space-half
    background-color: $primary
    color: $white
    +mq($bp-xs)
      padding: $space
    +mq($bp-sm)
      float: right
      padding-top: 0
      padding-bottom: (3 / 4) * 50%
      width: 50%
      height: 0
    +mq($bp-md)
      padding-left: $space*2
      padding-right: $space*2

.block-event
  .b-text
    h2
      @extend .h4
      +mq($bp-sm)
        padding-top: $space
      +mq($bp-md)
        padding-top: $space*2

.block-event
  .b-text
    time, span
      display: block

.block-event
  .b-text
    a
      margin-top: $space
      +mq($bp-sm)
        position: absolute
        margin: $space
        right: 0
        bottom: 0
      +mq($bp-md)
        margin: $space*2

.block-event
  .b-info
    +mq($bp-sm)
      position: absolute
      margin: $space
      left: 0
      bottom: 0
    +mq($bp-md)
      margin: $space*2

.block-event
  .b-thumb-empty
    padding: 0 $space-half (3 / 4) * 100% $space-half
    height: 0
    background-color: light($primary, 60%)
    color: $white
    letter-spacing: 1px
    text-transform: uppercase
    +mq($bp-xs)
      padding-right: $space
      padding-left: $space
    +mq($bp-md)
      padding-right: $space*2
      padding-left: $space*2
    h3
      padding-top: $space-half
      +mq($bp-xs)
        padding-top: $space
      +mq($bp-md)
        padding-top: $space*2


// Block Publication
//============================================

.block-publication
  .b-thumb
    display: block
    max-width: 180px
    margin-bottom: $space-half

.block-publication
  .b-info
    time, p
      display: inline-block
      margin: 0 $space-quarter 0 0

.block-publication
  .b-data
    margin-bottom: $space-half 
    p
      margin-bottom: 0

.block-publication
  .b-title
    h2
      margin-bottom: $space-quarter

.block-publication
  .b-authors
    margin-bottom: $space-half
    p
      display: inline-block
      margin-bottom: 0
    p:not(:last-child):after
      content: "; "
    +mq($bp-xs)
      margin-bottom: $space

.block-publication
  .b-text
    +mq($bp-xs)
      margin-bottom: $space*2

.block-publication
  input
    width: auto
    margin-bottom: 0

.block-publication
  .b-price
    display: inline-block
    vertical-align: middle
    p
      margin-bottom: 0
      padding: 10px 12px 6px 12px
      line-height: 1

.block-publication
  .b-thumb-empty
  .b-thumb-empty
    padding: 0 $space-half (1.4 / 1) * 100% $space-half
    height: 0
    background-color: $primary
    color: $white
    letter-spacing: 1px
    text-transform: uppercase
    +mq($bp-xs)
      padding-right: $space
      padding-left: $space
    h3
      padding-top: $space-half
      +mq($bp-xs)
        padding-top: $space


// Block Person
//============================================

.block-person
  text-align: center

.block-person
  .b-thumb
    display: block
    margin-bottom: $space

.block-person
  .b-name
    @extend h4
    margin-bottom: $space-quarter

.block-person
  .b-position
    color: $gray-dark

.block-person
  .b-contact
    margin-bottom: $space