//============================================
// Buttons
//============================================

.btn, .btn-alt, .btn-disabled
  display: inline-block
  width: auto
  padding: 10px $space-half $space-quarter $space-half
  font-size: inherit
  font-weight: normal
  font-family: inherit
  line-height: $lh
  letter-spacing: 1px
  text-transform: uppercase
  text-shadow: none
  text-align: center
  vertical-align: middle
  white-space: nowrap
  border-width: 1px
  border-style: solid
  border-radius: $radius
  transition: all .2s $motion

.btn, .btn-text-alt
  color: $white

.btn-alt
  background-color: $white

.btn-text, .btn-text-alt
  letter-spacing: 1px
  text-transform: uppercase

.btn-disabled
  background-color: $gray
  border-color: $gray
  color: $gray-dark
  cursor: not-allowed

.unibz
  .btn
    background-color: $primary
    border-color: $primary
    &:hover
      color: $primary
  .btn-alt
    color: $primary
    border-color: $primary
    &:hover
      background-color: $primary
      color: $white

.btn:hover, .btn-alt:hover
  background-color: $white