&lt;div class=&quot;maps&quot;&gt;
  &lt;iframe class=&quot;maps_iframe&quot; src=&quot;{{ map-src }}&quot; height=&quot;300&quot; frameborder=&quot;0&quot; style=&quot;border:0&quot;&gt;&lt;/iframe&gt;
&lt;/div&gt;