{{&gt; organisms-header }}
&lt;main class=&quot;{{ faculty }}&quot;&gt;
	&lt;div class=&quot;l-container&quot;&gt;

    &lt;header class=&quot;l-header&quot;&gt;
  		{{&gt; atoms-heading-1 (class:&quot;class='h-title h-title-center'&quot;) }}
    &lt;/header&gt;
		
    &lt;div class=&quot;l-section&quot;&gt;
      {{&gt; organisms-calendar }}
    &lt;/div&gt;

    {{# timetable-slot  }}
    &lt;div class=&quot;timetable_section&quot;&gt;
      &lt;div class=&quot;g-row&quot;&gt;
        &lt;div class=&quot;g g-sm-12 u-push-btm-half&quot;&gt;
          {{&gt; atoms-text-time (class:&quot;class='timetable_startTime'&quot;)}}
        &lt;/div&gt;
        &lt;div class=&quot;g g-sm-12&quot;&gt;
          {{# timetable-element  }}
            &lt;article class=&quot;timetable_item&quot;&gt;
              &lt;p class=&quot;timetable_endTime&quot;&gt;Until &lt;time&gt;{{ end-time }}&lt;/time&gt;&lt;/p&gt;
              {{&gt; atoms-heading-3 (class:&quot;class='timetable_title'&quot;) }}
              {{&gt; atoms-button-text }}
              &lt;p class=&quot;timetable_room&quot;&gt;{{ room }}&lt;/p&gt;
            &lt;/article&gt;
          {{/ timetable-element  }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    {{/ timetable-slot }}

  &lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}