{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}

  {{# page-people }}
    {{&gt; organisms-people-section }}
  {{/ page-people }}

  {{# page-content }}
    {{&gt; organisms-block-text }}
  {{/ page-content }}
&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}