{{# block-text-headline }}
  {{&gt; atoms-heading-2 (class:&quot;h2&quot;)}}
{{/ block-text-headline }}

&lt;div class=&quot;typography&quot;&gt;
  {{# block-text-image }}
    {{&gt; atoms-image-4x3 }}
  {{/ block-text-image }}

  {{# block-text-paragraph }}
    {{&gt; atoms-text-paragraph }}
  {{/ block-text-paragraph }}

  {{# block-text-button }}
    &lt;p&gt;
      {{&gt; atoms-button-text-primary }}
    &lt;/p&gt;
  {{/ block-text-button }}
&lt;/div&gt;