{{# block-text-headline }}
  {{&gt; atoms-heading-2 }}
{{/ block-text-headline }}

&lt;div class=&quot;u-cf&quot;&gt;
  {{# block-text-image }}
    {{&gt; atoms-image-4x3 }}
  {{/ block-text-image }}

  {{# block-text-paragraph }}
    {{&gt; atoms-text-paragraph }}
  {{/ block-text-paragraph }}

  {{# block-text-button }}
    {{&gt; atoms-button }}
  {{/ block-text-button }}
&lt;/div&gt;