{{&gt; organisms-header }}
&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero}}
  {{/ page-hero }}

  {{# page-intro }}
  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        {{&gt; atoms-text-paragraph (class: &quot;intro-bold&quot;) }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;
  {{/ page-intro }}

  {{# page-description }}
    {{&gt; organisms-block-text }}
  {{/ page-description }}

  {{# page-banner }}
    {{&gt; organisms-banner }}
  {{/ page-banner }}
  
  {{# page-study-courses }}
    {{&gt; organisms-block-links }}
  {{/ page-study-courses }}

  {{# page-research }}
    {{&gt; organisms-block-text }}
  {{/ page-research }}

  {{# page-people }}
    {{&gt; organisms-block-media }}
  {{/ page-people }}

  {{# page-partner }}
    {{&gt; organisms-block-text }}
  {{/ page-partner }}

  {{# page-news }}
    {{&gt; organisms-latest-post }}
  {{/ page-news }}

  {{# page-events }}
    {{&gt; organisms-latest-events }}
  {{/ page-events }}
&lt;/main&gt;
{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}