&lt;div class=&quot;job&quot;&gt;
  {{^ empty }}
    &lt;div class=&quot;job_thumb&quot;&gt;
      {{&gt; atoms-image-4x3 (class: &quot;job_thumb&quot;) }}
    &lt;/div&gt;
  {{/ empty }}
  &lt;div class=&quot;job_body&quot;&gt;
    {{# job-brand }}
      {{&gt; atoms-text-span (class: &quot;job_brand&quot;) }}
    {{/ job-brand }}
    {{# job-location }}
      {{&gt; atoms-text-span (class: &quot;job_location&quot;) }}
    {{/ job-location }}
    &lt;a href=&quot;{{ url }}&quot;&gt;
      {{&gt; atoms-heading-5 (class: &quot;job_title&quot;) }}
    &lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;