&lt;div class=&quot;mediaBlock&quot;&gt;
  &lt;a class=&quot;mediaBlock_figure&quot; href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-image-4x3 (class: &quot;mediaBlock_thumb&quot;) }}
  &lt;/a&gt;
	&lt;div class=&quot;mediaBlock_body&quot;&gt;
    {{&gt; atoms-heading-2 (class: &quot;mediaBlock_title&quot;) }}
    &lt;div class=&quot;mediaBlock_excerpt&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        {{&gt; atoms-text-paragraph }}
      &lt;/div&gt;
    &lt;/div&gt;
    {{&gt; atoms-button-text-alternate (class: &quot;mediaBlock_btn&quot;) }}
	&lt;/div&gt;
&lt;/div&gt;