&lt;div class=&quot;block media-block&quot;&gt;
  &lt;a class=&quot;b-thumb&quot; href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-landscape-4x3 }}
  &lt;/a&gt;
	&lt;div class=&quot;b-text&quot;&gt;
		{{&gt; atoms-heading-2 }}
		{{&gt; atoms-text-paragraph }}
    {{&gt; atoms-button-text-alternate }}
	&lt;/div&gt;
&lt;/div&gt;