&lt;section class=&quot;hero&quot; role=&quot;banner&quot; style=&quot;background-image:url({{ img.background.src }})&quot;&gt;
  &lt;div class=&quot;hero-inner&quot;&gt;
    {{# hero-title }}
      {{&gt; atoms-heading-1 (class:&quot;class='hero_title'&quot;) }}
    {{/ hero-title }}
    {{# hero-button }}
      {{&gt; atoms-button }}
    {{/ hero-button }}
  &lt;/div&gt;
&lt;/section&gt;