//============================================
// Blocks
//============================================

// General blocks styles
//============================================

.block
  img
    @extend .u-img-max


// Media block
//============================================

.media-block
  .b-text
    padding: $space-half $space-half 6px $space-half
    background-color: $primary
    color: $white
    +mq($bp-xs)
      padding: $space $space 18px $space
    +mq($bp-sm)
      position: relative
      float: left
      width: 50%
      height: 0
      padding: 0 $space (3 / 4) * 50% $space
    +mq($bp-md)
      padding-left: $space*2
      padding-right: $space*2

.media-block
  .b-thumb
    height: 0
    padding-bottom: (9 / 16) * 100%
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    +mq($bp-xs)
      padding-bottom: (9 / 16) * 100%
    +mq($bp-sm)
      float: left
      width: 50%
      height: 0
      padding-bottom: (3 / 4) * 50%

.media-block
  .b-title
    +mq($bp-sm)
      padding-top: $space
    +mq($bp-md)
      margin-bottom: $space
      padding-top: $space*2

.media-block
  .b-link
    @extend .btn-text-alt
    +mq($bp-sm)
      +pos($space, bottom)
    +mq($bp-md)
      bottom: $space*2
    &:after
      +mq($bp-sm)
        margin-top: 0


// Block Highlight
//============================================

.block-highlight
  .b-thumb
    height: 0
    padding-bottom: (3 / 4) * 100%
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.block-highlight
  .b-text
    padding: $space-half
    background-color: $primary
    color: $white
    +mq($bp-xs)
      padding: $space
    +mq($bp-md)
      padding: $space*2
    .b-content
      margin-bottom: 0


// Block Info
//============================================

.block-info
  .b-text
    overflow: hidden
    padding: $space-half
    background-color: $primary
    color: $white
    +mq($bp-xs)
      padding: $space
    +mq($bp-md)
      padding: $space*2
    .b-title
      +mq($bp-sm)
        float: left
        width: 48.5%
    .b-content
      margin-bottom: 0
      +mq($bp-sm)
        float: right
        width: 48.5%


// Block News
//============================================

.block-news
  .b-thumb
    height: 0
    margin-bottom: $space
    padding-bottom: (9 / 16) * 100%
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.block-news
  .b-link
    @extend .btn-text
    color: $primary