//============================================
// Blocks
//============================================

// General blocks styles
//============================================

.block
  overflow: hidden
  img
    @extend .u-img-max


// Media block
//============================================

.media-block
  .b-text
    padding: $space-half $space-half 6px $space-half
    background-color: $primary
    color: $white
    +mq($bp-xs)
      padding: $space $space 18px $space
    +mq($bp-sm)
      position: relative
      float: left
      width: 50%
      height: 0
      padding: 0 $space (3 / 4) * 50% $space
    +mq($bp-md)
      padding-left: $space*2
      padding-right: $space*2

.media-block
  .b-thumb
    height: 0
    padding-bottom: (9 / 16) * 100%
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    +mq($bp-xs)
      padding-bottom: (9 / 16) * 100%
    +mq($bp-sm)
      float: left
      width: 50%
      height: 0
      padding-bottom: (3 / 4) * 50%

.media-block
  h2
    @extend .h4
    +mq($bp-sm)
      padding-top: $space
    +mq($bp-md)
      margin-bottom: $space
      padding-top: $space*2

.media-block
  .btn-text-alt
    +mq($bp-sm)
      +pos($space, bottom)
    +mq($bp-md)
      bottom: $space*2
    &:after
      +mq($bp-sm)
        margin-top: 0


// Block Highlight
//============================================

.block-highlight
  .b-thumb
    height: 0
    padding-bottom: (3 / 4) * 100%
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.block-highlight
  .b-text
    padding: $space-half
    background-color: $primary
    color: $white
    +mq($bp-xs)
      padding: $space
    +mq($bp-md)
      padding: $space*2
    p
      margin-bottom: 0


// Block Info
//============================================

.block-info
  .b-text
    overflow: hidden
    padding: $space-half
    background-color: $primary
    color: $white
    +mq($bp-xs)
      padding: $space
    +mq($bp-md)
      padding: $space*2
    h2
      @extend .h4
      +mq($bp-sm)
        float: left
        width: 48.5%
    p
      margin-bottom: 0
      +mq($bp-sm)
        float: right
        width: 48.5%


// Block News
//============================================

.block-news
  @extend .g-row
  .b-thumb
    display: block
    margin-bottom: $space
    max-width: 242px
    @extend .g
    @extend .g-sm-8
  .b-text
    @extend .g
    @extend .g-sm-15
    @extend .g-sm-push-1
    time
      display: block
      margin-bottom: $space-half
      color: $gray-dark
      font-size: small
    h2
      @extend .h4
      +mq($bp-sm)
        margin-bottom: $space
    p
      +mq($bp-sm)
        margin-bottom: $space-half

.block-news
  .b-thumb-empty
    padding: 0 $space-half (3 / 4) * 100% $space-half
    height: 0
    background-color: $primary
    color: $white
    letter-spacing: 1px
    text-transform: uppercase

    h3
      padding-top: $space-half


// Block Event
//============================================

.block-event
  .b-text
    position: relative
    padding: $space-half
    background-color: $primary
    color: $white
    +mq($bp-xs)
      padding: $space
    h2
      @extend .h4
    time, span
      display: block
    a
      margin-top: $space
      +mq($bp-sm)
        position: absolute
        margin: $space
        right: 0
        bottom: 0