&lt;section&gt;
	&lt;h2&gt;Latest Publications&lt;/h2&gt;
	&lt;ul class=&quot;list-unstyled&quot;&gt;
    {{# latest-publ }}
		  &lt;li&gt;{{&gt; molecules-block-publication }}&lt;/li&gt;
    {{/ latest-publ }}
	&lt;/ul&gt;
	&lt;a href=&quot;#&quot;&gt;View more posts&lt;/a&gt;
&lt;/section&gt;