{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;p&gt;&lt;strong&gt;Area&lt;/strong&gt;&lt;br&gt;Betriebswirtschaftslehre&lt;/p&gt;
        &lt;p&gt;&lt;strong&gt;Faculty&lt;/strong&gt;&lt;br&gt;Fakult&auml;t f&uuml;r Wirtschaftswissenschaften&lt;/p&gt;
        &lt;p&gt;&lt;strong&gt;Offers counter&lt;/strong&gt;&lt;br&gt;3&lt;/p&gt;
        &lt;p&gt;
          &lt;strong&gt;Call&lt;/strong&gt;&lt;br&gt;Dekret des Rektors Nr. 08/2015 vom 13.01.2015&lt;br&gt;
          &lt;a class=&quot;typographyLink-download&quot; href=&quot;#&quot;&gt;Ausschreibung&lt;/a&gt;&lt;br&gt;
          &lt;a class=&quot;typographyLink-download&quot; href=&quot;#&quot;&gt;Vorlage CV&lt;/a&gt;&lt;br&gt;
          &lt;a class=&quot;typographyLink-download&quot; href=&quot;#&quot;&gt;Informationsblatt Privacy&lt;/a&gt;
        &lt;/p&gt;
        &lt;p&gt;&lt;strong&gt;Deadline for presenting requests&lt;/strong&gt;&lt;br&gt;26.02.2015&lt;/p&gt;
        &lt;p&gt;
          &lt;strong&gt;Decree&lt;/strong&gt;&lt;br&gt;&lt;a class=&quot;typographyLink-download&quot; href=&quot;#&quot;&gt;Dekret der Prorektorin n. 05/2015 vom 27.02.2015&lt;/a&gt;
        &lt;/p&gt;
        &lt;p&gt;&lt;strong&gt;Criteria&lt;/strong&gt;&lt;br&gt;
          &lt;a class=&quot;typographyLink-download&quot; href=&quot;#&quot;&gt;Protokoll vom 17.03.2015&lt;/a&gt;
        &lt;/p&gt;
        &lt;p&gt;&lt;strong&gt;Deadline for delivering documents&lt;/strong&gt;&lt;br&gt;18.05.2015&lt;/p&gt;
        &lt;p&gt;&lt;strong&gt;Deadline for approval of documents&lt;/strong&gt;&lt;br&gt;
          &lt;a class=&quot;typographyLink-download&quot; href=&quot;#&quot;&gt;Dekret des Rektors Nr. 101/2015&lt;/a&gt;
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}