&lt;div class=&quot;blockLink_wrapper g-row&quot;&gt;
  {{# links }}
    &lt;div class=&quot;g g-sm-12 g-md-12 g-lg-8 g-xl-6&quot;&gt;
        {{&gt; molecules-block-link }}
    &lt;/div&gt;
  {{/ links }}
&lt;/div&gt;