&lt;div class=&quot;cookie&quot;&gt;
  &lt;p class=&quot;u-sm-push-btm-none u-sm-padd-rgt&quot;&gt;This website makes use of cookies to enhance browsing experience and provide additional functionality. &lt;a class=&quot;cookie_link&quot; href=&quot;#&quot;&gt;More info&lt;/a&gt;&lt;/p&gt;
  &lt;a class=&quot;btn btn-medium btn-alt&quot; href=&quot;#&quot;&gt;Accept&lt;/a&gt;
&lt;/div&gt;