&lt;div class=&quot;l-container&quot;&gt;
  {{# filters-label }}
    {{&gt; atoms-text-span (class:&quot;filter_label&quot;)}}
  {{/ filters-label }}
  {{# filters }}
    {{&gt; atoms-button-filter }}
  {{/ filters }}
&lt;/div&gt;