&lt;section class=&quot;hero&quot; role=&quot;banner&quot; style=&quot;background-image:url(https://www.apple.com/v/environment/e/overview/renewable_large.jpg)&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{# hero-title }}
      {{&gt; atoms-heading-1 (class:&quot;class='hero_title'&quot;) }}
    {{/ hero-title }}
    {{# hero-button }}
      {{&gt; atoms-button }}
    {{/ hero-button }}
  &lt;/div&gt;
&lt;/section&gt;