&lt;section class=&quot;l-section&quot;&gt;
  {{&gt; organisms-search-find }}
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;l-container-small {{ container-class }}&quot;&gt;
      {{# tenders }}
        {{&gt; molecules-block-tender }}
      {{/ tenders }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;