&lt;div class=&quot;intership&quot;&gt;
  {{^ empty }}
    &lt;div class=&quot;intership_thumb&quot;&gt;
      {{&gt; atoms-image-4x3 (class: &quot;intership_thumb&quot;) }}
    &lt;/div&gt;
  {{/ empty }}
  &lt;div class=&quot;intership_body&quot;&gt;
    {{# intership-brand }}
      {{&gt; atoms-text-span (class: &quot;intership_brand&quot;) }}
    {{/ intership-brand }}
    {{# intership-location }}
      {{&gt; atoms-text-span (class: &quot;intership_location&quot;) }}
    {{/ intership-location }}
    &lt;a href=&quot;{{ url }}&quot;&gt;
      {{&gt; atoms-heading-5 (class: &quot;intership_title&quot;) }}
    &lt;/a&gt;
    {{&gt; atoms-button-text-small-primary (class: &quot;intership_button&quot;) }}
  &lt;/div&gt;
&lt;/div&gt;