&lt;section class=&quot;l-section&quot;&gt;
  &lt;div class=&quot;l-container-small&quot;&gt;
    {{&gt; atoms-heading-2 (class: &quot;h2&quot;)}}
    {{# latest-events }}
      {{&gt; molecules-block-event }}
    {{/ latest-events }}
    {{&gt; atoms-button-medium }}
  &lt;/div&gt;
&lt;/section&gt;
