&lt;div class=&quot;l-container&quot;&gt;
  &lt;div class=&quot;typography&quot;&gt;
    &lt;div class=&quot;filtersAlone_wrapper&quot;&gt;
      {{# filters-toggle }}
        {{&gt; atoms-button-outline (class:&quot;filtersAlone_toggle&quot;)}}
      {{/ filters-toggle }}
      &lt;div class=&quot;filtersAlone_list&quot;&gt;
        {{# filter }}
          {{&gt; atoms-button-outline }}
        {{/ filter }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;