&lt;div class=&quot;block block-info&quot;&gt;
  &lt;div class=&quot;b-text&quot;&gt;
    &lt;h2 class=&quot;h4 b-title&quot;&gt;{{ headline.short }}&lt;/h2&gt;
    &lt;p class=&quot;b-content&quot;&gt;{{ excerpt.medium }}&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;