&lt;div class=&quot;highlight&quot;&gt;
  &lt;a href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-landscape-4x3 (class: &quot;highlight_thumb&quot;) }}
  &lt;/a&gt;
  &lt;div class=&quot;highlight_body&quot;&gt;
    {{&gt; atoms-text-paragraph (class:&quot;highlight_text&quot;) }}
  &lt;/div&gt;
&lt;/div&gt;