&lt;nav id=&quot;nav-faculties&quot; class=&quot;js-nav navLinks&quot; data-nav-level=&quot;2&quot;&gt;
  &lt;ul class=&quot;nav_wrap navLinks_wrap&quot;&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Computer Science&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Economics and management&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Education&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Design and Art&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item&quot; href=&quot;{{ link.pages-faculty-natech }}&quot;&gt;Science and Technology&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav id=&quot;nav-university&quot; class=&quot;js-nav navLinks {{ class }}&quot; data-nav-level=&quot;2&quot;&gt;
  &lt;ul class=&quot;nav_wrap navLinks_wrap&quot;&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Profile&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Organisation&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Cooperation&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Carrers&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Calls&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Press office&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;