{{&gt; organisms-header }}
&lt;main&gt;
  {{# bachelor-hero }}
    {{&gt; organisms-hero }}
  {{/ bachelor-hero }}

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Beschreibung des Studienganges&lt;/h3&gt;
        &lt;p&gt;
          Die Lehrveranstaltungen finden am Campus der Universit&auml;t in Bruneck, einer Zweigstelle der Fakult&auml;t f&uuml;r Wirtschaftswissenschaften, statt.
          W&auml;hrend des Studiums eignen Sie sich Kenntnisse im internationalen Tourismusmanagement an. Sie lernen, Veranstaltungen zu konzipieren, zu planen und zu implementieren. Internationale Professoren und Dozenten, die &uuml;ber ein breites Fachwissen verf&uuml;gen und sich in der Forschung engagieren, sorgen f&uuml;r eine optimale Studienbetreuung und ebnen den Weg f&uuml;r die touristischen Fachleute sowie f&uuml;r die Event- und Sportmanager von morgen.
        &lt;/p&gt;
        &lt;p&gt;
          Die Unterrichtssprachen sind Deutsch, Italienisch und Englisch.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;glance&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        &lt;h3 class=&quot;glance_title&quot;&gt;Kurz info zum Studiengang&lt;/h3&gt;
        &lt;div class=&quot;glance_text&quot;&gt;
          &lt;ul&gt;
            &lt;li&gt;Bachelorklasse: L-33 &lt;/li&gt;
            &lt;li&gt;ECTS: 180&lt;/li&gt;
            &lt;li&gt;Regelstudienzeit: 3 Jahre&lt;/li&gt;
            &lt;li&gt;Unterrichtssprachen: Italienisch, Deutsch und Englisch&lt;/li&gt;
            &lt;li&gt;Studienpl&auml;tze: 50 EU + 5 Nicht-EU&lt;/li&gt;
            &lt;li&gt;Campus: Brunek&lt;/li&gt;
            &lt;li&gt;Studiengeb&uuml;hren: 1343,50&euro;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Aufbau des Studienganges&lt;/h3&gt;
        &lt;p&gt;
          In der ersten Studienh&auml;lfte lernen Sie betriebswirtschaftliche, volkswirtschaftliche und juridische Grundlagen kennen. Dazu geh&ouml;ren zum Beispiel Veranstaltungen zu Rechtssystemen, Rechnungswesen oder Kommunikation und Strategie.
          In der zweiten Studienh&auml;lfte besuchen Sie fachspezifische Lehrveranstaltungen aus den Bereichen Tourismus-, Sport- und Eventmanagement. Das Studium setzt sich dabei zu gleichen Teilen aus theoretischen und anwendungsorientierten Lehrveranstaltungen zusammen.
          W&auml;hrend eines Pflichtpraktikums erhalten Sie zudem die M&ouml;glichkeit, ihre erworbenen Kenntnisse und Kompetenzen praktisch umzusetzen. Aufgrund der internationalen Ausrichtung des Studienganges sollten Sie das Praktikum m&ouml;glichst im Ausland absolvieren. So k&ouml;nnen Sie Auslandserfahrungen sammeln und gleichzeitig Ihre Fremdsprachenkenntnisse erweitern.
        &lt;/p&gt;
        {{# bachelor-structure }}
          {{&gt; atoms-button }}
        {{/ bachelor-structure }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;M&ouml;gliche Berufsfelder&lt;/h3&gt;
        &lt;p&gt;
          Nach Studienabschluss er&ouml;ffnen sich Ihnen vielf&auml;ltige M&ouml;glichkeiten. Sie k&ouml;nnen als Abteilungsleiter, Junior Manager, als Fachkr&auml;fte in Freizeiteinrichtungen, in Tourismusorganisationen, in der Hotellerie und in Sportclubs und Sportorganisationen t&auml;tig sein. Aber auch der Einstieg in Event- und PR-Agenturen oder bei Messe- und Kongressveranstaltern ist m&ouml;glich. Ferner k&ouml;nnen Sie an ihren Bachelorabschluss ein weiterf&uuml;hrendes Masterstudium in internationalem Management, Tourismus-, Sport- und Eventmanagement oder Betriebsf&uuml;hrung und Betriebsorganisation anschlie&szlig;en.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Zulassung&lt;/h3&gt;
        &lt;p&gt;
          Voraussetzung f&uuml;r die Zulassung ist der Nachweis von Niveau B2 in zwei der drei Unterrichtssprachen (Italienisch, Deutsch, Englisch).
          Wenn Sie kein anerkanntes Sprachzertifikat besitzen, k&ouml;nnen Sie die &lt;a href=&quot;#&quot;&gt;Sprachpr&uuml;fung&lt;/a&gt; an der unibz ablegen.
        &lt;/p&gt;
        &lt;h4&gt;Bewerbungsverfahren&lt;/h4&gt;
        &lt;ol&gt;
          &lt;li&gt;Online-Bewerbung bis zum 22. Juli 2016.&lt;/li&gt;
          &lt;li&gt;
            Auswahlkriterien: Notendurchschnitt des drittletzten und vorletzten Schuljahres (90%), Motivationsschreiben (10%).
          &lt;/li&gt;
        &lt;/ol&gt;
        &lt;p&gt;Mehr Infos im &lt;a href=&quot;#&quot;&gt;Studienmanifest&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        {{# bachelor-submit }}
          {{&gt; atoms-button-big }}
        {{/ bachelor-submit }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}