{{&gt; organisms-header-it }}
&lt;main class=&quot;{{ faculty }}&quot;&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;typography&quot;&gt;
      &lt;p&gt;
        Il corso di &lt;a href=&quot;{{ link.pages-master-entrepr }}&quot;&gt;laurea magistrale in Imprenditorialit&agrave; e Innovazione&lt;/a&gt; comprende 120 crediti formativi universitari (CFU). La durata del corso di studio &egrave; di 2 anni. La descrizione dei singogli insegnamenti sono disponibili sulla pagina dei corsi. 
      &lt;/p&gt;
      &lt;h3&gt;1&deg; anno&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class=&quot;blockLectures&quot;&gt;
      {{# lectures-year-one }}
        {{&gt; molecules-block-lecture }}
      {{/ lectures-year-one }}
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;typography&quot;&gt;
      &lt;h3&gt;2&deg; anno&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class=&quot;blockLectures&quot;&gt;
      {{# lectures-year-two }}
        {{&gt; molecules-block-lecture }}
      {{/ lectures-year-two }}
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;blockLecture&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;typography&quot;&gt;
      &lt;p&gt;
        *Attivit&agrave; caratterizzanti&lt;br&gt;Gli studenti dovranno scegliere due dei seguenti insegnamenti pari a 12 CFU in totale:
      &lt;/p&gt;
      &lt;ul&gt;
        &lt;li&gt;Ricerche di mercato, 6 CFU&lt;/li&gt;
        &lt;li&gt;Marketing industriale e gestione vendite, 6 CFU&lt;/li&gt;
        &lt;li&gt;Progetto NPD (Sviluppo nuovi prodotti), 6 CFU&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}