{{&gt; organisms-header }}
&lt;main class=&quot;{{ faculty }}&quot;&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;typography&quot;&gt;
      &lt;p&gt;
        Il corso di laurea comprende 180 crediti formativi universitari (CFU). La durata del corso di studio &egrave; di 3 anni. La descrizione dei singogli insegnamenti sono disponibili sulla pagina dei corsi. 
      &lt;/p&gt;
      &lt;h3&gt;1&deg; anno&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class=&quot;blockLectures&quot;&gt;
      {{# page-lectures }}
        {{&gt; molecules-block-lecture }}
      {{/ page-lectures }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}