{{&gt; organisms-header }}
&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero }}
  {{/ page-hero }}
  {{# page-content }}
    {{&gt; organisms-latest-post }}
  {{/ page-content }}
  {{&gt; organisms-pagination }}
&lt;/main&gt;
{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}