&lt;a class=&quot;btn-toggle-label {{ class }}&quot; href=&quot;#&quot;&gt;
  &lt;span class=&quot;btn-toggle-label_label&quot;&gt;{{ button }}&lt;/span&gt;
  &lt;i class=&quot;i {{ icon }}&quot;&gt;&lt;/i&gt;
&lt;/a&gt;