&lt;section class=&quot;l-section&quot;&gt;
  {{&gt; atoms-image-avatar }}
  &lt;div class=&quot;testiomonial {{ class }}&quot; role=&quot;banner&quot;&gt;
    {{&gt; atoms-heading-3 }}
    {{&gt; atmos-text-span }}
    {{&gt; atoms-text-paragraph }}
  &lt;/div&gt;
&lt;/section&gt;