&lt;a href=&quot;#&quot; class=&quot;btn btn-filter {{ class }}&quot;&gt;
  &lt;span class=&quot;btn-filter_label&quot;&gt;{{ button }}&lt;/span&gt;
  &lt;span class=&quot;btn-filter_counter&quot;&gt;({{ span }})&lt;/span&gt;
  &lt;span class=&quot;btn-filter_close&quot;&gt;✕&lt;/span&gt;
&lt;/a&gt;