&lt;section class=&quot;l-section&quot;&gt;
  &lt;div class=&quot;l-containerSmall&quot;&gt;
    {{&gt; atoms-heading-3 (class:&quot;h3&quot;) }}
  &lt;/div&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;latest-highlights&quot;&gt;
      {{# latest-highlights }}
        {{&gt; molecules-block-highlight }}
      {{/ latest-highlights }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;