{{&gt; organisms-header }}
&lt;main class=&quot;{{ faculty }}&quot;&gt;
  {{&gt; organisms-hero }}
  &lt;div class=&quot;l-container&quot;&gt;
    {{&gt; atoms-text-paragraph }}
  &lt;/div&gt;
  {{&gt; organisms-banner }}
  {{&gt; molecules-tabs }}
&lt;/main&gt;
{{&gt; organisms-footer }}