&lt;div class=&quot;timetable_nav&quot;&gt;
  &lt;div class=&quot;tt_navBtnWrapper tt_navBtnWrapper-lft&quot;&gt;
    {{&gt; atoms-button-nav-left (class:&quot;tt_navBtn&quot;) }}
  &lt;/div&gt;
  &lt;div class=&quot;tt_navDays&quot;&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Mon&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;2&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Tue&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;3&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay tt_navDay-current&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Wed&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;4&lt;/span&gt;
      &lt;span class=&quot;tt_navDayMonth&quot;&gt;OCT&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Thu&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;5&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Fri&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;6&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Sat&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;7&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Sun&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;8&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Mon&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;9&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Tue&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;10&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Wed&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;11&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Thu&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;12&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Fri&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;13&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Fri&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;13&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Sat&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;14&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Sun&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;15&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Mon&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;16&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Tue&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;17&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Wed&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;18&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Thu&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;19&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Fri&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;20&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Sat&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;21&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Sun&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;22&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Mon&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;23&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Tue&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;24&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Wed&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;25&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Thu&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;26&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Fri&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;27&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Sat&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;28&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Sun&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;29&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Mon&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;30&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Tue&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;31&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Wed&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;1&lt;/span&gt;
      &lt;span class=&quot;tt_navDayMonth&quot;&gt;NOV&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tt_navDay&quot;&gt;
      &lt;span class=&quot;tt_navDayName&quot;&gt;Thu&lt;/span&gt;
      &lt;span class=&quot;tt_navDayNum&quot;&gt;2&lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;tt_navBtnWrapper tt_navBtnWrapper-rgt&quot;&gt;
    {{&gt; atoms-button-nav-right (class:&quot;tt_navBtn&quot;) }}
  &lt;/div&gt;
&lt;/div&gt;