{{&gt; organisms-header-en }}
&lt;main&gt;
  {{# master-hero }}
    {{&gt; organisms-hero }}
  {{/ master-hero }}

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;p class=&quot;intro-med&quot;&gt;
          This double degree programme focuses on sustainable landscape development as well as ecosystem and land-use management in mountain regions. It has an interdisciplinary focus and is offered in cooperation with the University of Innsbruck. The cooperation between the two universities combines in an integrative way the ecological as well as the socio-economic perspective of ecology and management of mountain landscapes.
        &lt;/p&gt;
        &lt;p&gt;
          The master programme takes advantage of the particular location of the partner universities and includes both student and teacher mobility between the two countries. Courses will be taught by professors from both universities. 
        &lt;/p&gt;
        &lt;p&gt;
          The official teaching language is English. Elective compulsory subjects are offered in English, German or Italian.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;glance&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        &lt;h3 class=&quot;glance_title&quot;&gt;Quick facts&lt;/h3&gt;
        &lt;div class=&quot;glance_text&quot;&gt;
          &lt;ul&gt;
            &lt;li&gt;Degree Class: LM-37&lt;/li&gt;
            &lt;li&gt;ECTS credits: 120&lt;/li&gt;
            &lt;li&gt;Duration: 2 years&lt;/li&gt;
            &lt;li&gt;Teaching language: English&lt;/li&gt;
            &lt;li&gt;Study places: 25 EU + 10 non-E&lt;/li&gt;
            &lt;li&gt;Campuses: Bozen-Bolzano and Innsbruck&lt;/li&gt;
            &lt;li&gt;Tuition fees: 1343,50&euro; (per year)&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Course structure&lt;/h3&gt;
        &lt;p&gt;
          The first study year is to be completed at the Free University of Bozen-Bolzano and conveys a combination of natural science and technical skills and competences in nine compulsory modules. The second study year at the University of Innsbruck with two compulsory modules and several elective modules, gives students the possibility to focus on environmental and resource management, nature protection, landscape ecology and planning, agriculture and forestry as well as water and waste management. 
          Regardless of the chosen specialization, students learn to research scientifically, to approach target- and results-oriented and to work project-related in the course of their master&rsquo;s thesis.
        &lt;/p&gt;
        {{# master-structure }}
          {{&gt; atoms-button }}
        {{/ master-structure }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Career Opportunities&lt;/h3&gt;
        &lt;p&gt;
          The interdisciplinary and research-oriented master's programme opens up a wide range of occupational opportunities for graduates, in particular environmental assessment, monitoring and management of protected areas, projecting and eco-certification in the fields of agriculture and forestry, analysis and natural hazard assessment of hydrogeological origin, and elaboration of development plans of agricultural mountain areas, and scientific careers.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;mediaBlock&quot;&gt;
        &lt;a class=&quot;mediaBlock_figure&quot; href=&quot;#&quot;&gt;
          &lt;img class=&quot;mediaBlock_thumb&quot; src=&quot;https://dl.dropboxusercontent.com/u/13990214/www/unibz/emma-people.png&quot; alt=&quot;&quot;&gt;
        &lt;/a&gt;
        &lt;div class=&quot;mediaBlock_body&quot;&gt;
          &lt;h2 class=&quot;mediaBlock_title&quot;&gt;People&lt;/h2&gt;
          &lt;p&gt;
            Director of the Degree Course: Prof. Stefan Zerbe.&lt;br&gt;
            Student representative: Frederick Manck.&lt;br&gt;
            Other professors: Prof. Francesco Comiti; Prof. Ulrike Tappeiner.
          &lt;/p&gt;
          &lt;a href=&quot;#&quot; class=&quot;btn-text btn-text-alt mediaBlock_btn&quot;&gt;Other people&lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Application and Admission&lt;/h3&gt;
        &lt;ol&gt;
          &lt;li&gt;Application by 22 July 2016&lt;/li&gt;
          &lt;li&gt;English language at B2 level (international certificate or language exam at unibz)&lt;/li&gt;
          &lt;li&gt;Requirements: first degree in Engineering, Natural Sciences or similar&lt;/li&gt;
        &lt;/ol&gt;
        &lt;p&gt;
          Detailed information about the study programme can be found in the Study Manifesto which contains information about the study plan, admission requirements, language requirements, application, admission procedures, enrollment and tuition fees.
        &lt;/p&gt;

        {{# master-submit }}
          {{&gt; atoms-button-big }}
        {{/ master-submit }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;
&lt;/main&gt;
{{&gt; organisms-footer-en-natech }}