{{# tools }}
  {{&gt; molecules-find-tools-sidebar }}
{{/ tools }}

{{# filters }}
  {{&gt; molecules-filters }}
{{/ filters }}

{{# cal-days }}
  {{&gt; molecules-calendar-days }}
{{/ cal-days }}

{{# cal-months }}
  {{&gt; molecules-calendar-month }}
{{/ cal-months }}