&lt;figure&gt;
  &lt;video controls&gt;
	  &lt;source src=&quot;http://www.w3schools.com/html/mov_bbb.mp4&quot; type=&quot;video/mp4&quot;&gt;
    Your browser does not support the video tag.
  &lt;/video&gt;
  {{# video-caption }}
    &lt;figcaption&gt;{{ excerpt }}&lt;/figcaption&gt;
  {{/ video-caption }}
&lt;/figure&gt;