<figure>
  <div class="embed embed-16-9">
	  <iframe width="560" height="315" src="https://www.youtube.com/embed/bDUDuQy3R7Y" frameborder="0" allowfullscreen></iframe>
  </div>
  <figcaption>This is an example of an image with a caption. Photo captions, also known as cutlines, are a few lines of text used to explain or elaborate on published photographs.</figcaption>
</figure>