&lt;section class=&quot;post_section&quot;&gt;
  &lt;div class=&quot;typography typography-left&quot;&gt;
    {{&gt; atoms-text-paragraph }}
    {{&gt; atoms-heading-2 }}
    {{&gt; atoms-text-paragraph }}
    {{&gt; atoms-button }}
    {{&gt; atoms-heading-3 }}
    {{&gt; atoms-text-paragraph }}
    {{&gt; atoms-heading-4 }}
    {{&gt; atoms-image-4x3 (class:&quot;right&quot;) }}
    {{&gt; atoms-text-paragraph }}
    {{&gt; atoms-heading-5 }}
    {{&gt; atoms-text-paragraph }}
    {{&gt; atoms-text-blockquote }}
    {{&gt; atoms-text-paragraph }}
    {{&gt; atoms-text-paragraph }}
    {{&gt; molecules-figure-with-caption }}
    {{&gt; atoms-text-paragraph }}
    {{&gt; molecules-embed-with-caption }}
    {{&gt; atoms-text-paragraph }}
    {{&gt; atoms-button-big }}
    {{&gt; atoms-heading-2 }}
    {{&gt; atoms-unordered }} 
    {{&gt; atoms-ordered }}
  &lt;/div&gt;
&lt;/section&gt;