<section class="hero" role="banner">
  <div class="hero_image" style="background-image:url({{ img-background }})">
    {{# hero-caption }}
      <span class="hero_caption">{{ headline }}</span>
    {{/ hero-caption }}
    {{# hero-search }}
      {{> molecules-form-search }}
    {{/ hero-search }}
  </div>
  {{# hero-headline }}
    <div class="hero_text">
      {{# hero-label }}
        {{> atoms-heading-5 (class:"hero_label") }}
      {{/ hero-label }}
      {{# hero-title }}
        {{> atoms-heading-1 (class:"hero_title") }}
      {{/ hero-title }}
    </div>
  {{/ hero-headline }}
  {{# hero-intro }}
  <div class="l-containerSmall">
    <div class="typography">
      {{> atoms-text-paragraph }}
    </div>
  </div>
  {{/ hero-intro }}
</section>