<section class="hero-small" role="banner">
  <div class="hero-small_background"></div>
  <div class="hero_text">
    {{> atoms-heading-5 (class:"hero_titleLabel") }}
    {{> atoms-heading-1 (class: "hero_title") }}
  </div>
</section>