<section class="hero" role="banner" style="background-image:url({{ img-background }})">
  <div class="hero-inner">
    <div class="hero_heading">
      {{> atoms-heading-5 (class:"hero_titleLabel") }}
      {{> atoms-heading-1 (class:"hero_title") }}
    </div>
  </div>
</section>