<section class="hero-small" role="banner">
  <div class="hero-small_background"></div>
  <div class="hero_text">
    {{# hero-label }}
      {{> atoms-heading-5 (class:"hero_titleLabel") }}
    {{/ hero-label }}
    {{# hero-title }}
      {{> atoms-heading-1 (class: "hero_title") }}
    {{/ hero-title }}
  </div>
</section>