&lt;nav id=&quot;nav-faculties&quot; class=&quot;js-nav navLinks&quot; data-nav-level=&quot;2&quot;&gt;
  &lt;ul class=&quot;nav_wrap navLinks_wrap&quot;&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Informatik&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Wirtschaftswissenschaften&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Bildungswissenschaften&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Design und K&uuml;nste&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item&quot; href=&quot;{{ link.pages-faculty-natech }}&quot;&gt;Naturwissenschaften und Technik&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav id=&quot;nav-university&quot; class=&quot;js-nav navLinks {{ class }}&quot; data-nav-level=&quot;2&quot;&gt;
  &lt;ul class=&quot;nav_wrap navLinks_wrap&quot;&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Profil&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Organisation&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Kooperationen&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Jobs&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Ausschreibungen&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a class=&quot;js-nav-item is-inactive&quot; href=&quot;#&quot;&gt;Press&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;