//============================================
// Banner
//============================================


// Banner Wrapper
//============================================

.banner
  position: relative
  display: flex
  align-items: center
  padding: $space*2 0 $space*1.5 0
  margin-bottom: 2px
  min-height: 200px
  background-size: cover
  background-position: 50%
  background-repeat: no-repeat
  text-align: center
  +mq($bp-sm)
    min-height: 300px
  +mq($bp-lg)
    min-height: 360px

.banner-overlay:hover
  &::after
    background-color: rgba($black, 0)


// Banner Overlay
//============================================

.banner::after
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  content: ""
  background-color: rgba($black, .3)
  transition: background-color 0.3s $motion
  &:hover
    background-color: rgba($black, 0)

.t_dsgn
  .banner-overlay:hover::after
    background-color: rgba($black, 0)
  .banner::after
    background-color: rgba($black, .3)

.t_eco
  .banner-overlay:hover::after
    background-color: rgba($black, 0)
  .banner::after
    background-color: rgba($eco, .5)

.t_edu
  .banner-overlay:hover::after
    background-color: rgba($black, 0)
  .banner::after
    background-color: rgba($edu, .5)

.t_comp
  .banner-overlay:hover::after
    background-color: rgba($black, 0)
  .banner::after
    background-color: rgba($comp, .5)

.t_tech
  .banner-overlay:hover::after
    background-color: rgba($black, 0)
  .banner::after
    background-color: rgba($tech, .6)

.t_library
  .banner-overlay:hover::after
    background-color: rgba($black, 0)
  .banner::after
    background-color: rgba($library, .5)


// Banner Contents
//============================================

.banner_inner
  position: relative
  z-index: 1
  margin: 0 auto
  color: $white
  +dark-text-shadow


// Banner Title
//============================================

.banner_title
  +h2
  transition: opacity .3s $motion

.banner-overlay:hover
  .banner_title
    opacity: .5


// Banner Subtilte
//============================================

.banner_subTitle
  +h3
  margin-bottom: $space


// Banner Excerpt
//============================================

.banner_text
  margin-bottom: 0
  font-weight: 500

.banner_title + .banner_text
  margin-top: $space-half


// Banner Buttons
//============================================

.banner_btn
  display: block
  position: relative
  z-index: 1
  max-width: 300px
  margin: $space-half auto 0
  +mq($bp-lg)
    display: inline-block
    margin: $space-half $space-quarter 0