//============================================
// Calendar
//============================================


.calendar_weekdays,
.calendar_week
  display: flex

.calendar_week-current
  .calendar_day
    border-color: $primary

.calendar_weekdays
  margin-bottom: $space-half

.calendar_weekday,
.calendar_day
  width: calc(100% / 7)

.calendar_weekday
  color: $gray-dark
  text-transform: uppercase
  font-size: small
  +mq($bp-sm)
    font-size: smaller
    letter-spacing: 1px

.calendar_day
  margin-bottom: $space-quarter
  padding: $space-half 0 $space-quarter 0
  border: 1px solid $gray
  text-align: center
  +mq($bp-sm)
    padding: $space 0 20px 0
    margin-bottom: $space-half
    line-height: 1.5
    letter-spacing: 1px
  +mq($bp-lg)
    padding: $space*1.5 0 30px 0

.calendar_day-selected
  background-color: $primary
  color: $white
  border-color: $primary

.calendar_day-prevMonth,
.calendar_day-nextMonth,
  background-color: $gray
  color: $gray-dark
  border-color: $gray

.calendar_weekday:not(:last-child),
.calendar_day:not(:last-child)
  margin-right: $space-quarter
  +mq($bp-sm)
    margin-right: $space-half


// Brand colors
//============================================

.t_des-art
  .calendar_week-current
    .calendar_day
      border-color: $des-art
  .calendar_day-selected
    background-color: $des-art
    border-color: $des-art

.t_eco
  .calendar_week-current
    .calendar_day
      border-color: $des-art
  .calendar_day-selected
    background-color: $eco
    border-color: $eco

.t_edu
  .calendar_week-current
    .calendar_day
      border-color: $edu
  .calendar_day-selected
    background-color: $edu
    border-color: $edu

.t_comp-science
  .calendar_week-current
    .calendar_day
      border-color: $comp-science
  .calendar_day-selected
    background-color: $comp-science
    border-color: $comp-science

.t_science-tech
  .calendar_week-current
    .calendar_day
      border-color: $science-tech
  .calendar_day-selected
    background-color: $science-tech
    border-color: $science-tech

.t_library
  .calendar_week-current
    .calendar_day
      border-color: $library
  .calendar_day-selected
    background-color: $library
    border-color: $library