//============================================
// Filter
//============================================


// Filter Wrapper
//============================================

.filter_wrapper
  margin-bottom: $space
  +mq($bp-md)
    margin-bottom: $space*2

.filter_toggle
  width: 100%
  text-align: center
  color: $gray-dark
  border-color: $gray-dark
  &:after
    display: inline-block
    vertical-align: middle
    content: " "
    margin: -4px 0 0 12px
    width: 0
    height: 0
    border-left: 4px solid transparent
    border-right: 4px solid transparent
    border-top: 4px solid $gray-dark
    transition: border-color .3s $motion
  &:hover
    background-color: $gray-dark
    border-color: $gray-dark
    &:after
      border-top-color: $white
  +mq($bp-sm)
    display: none

.filter_list
  display: none
  +mq($bp-sm)
    display: block
    text-align: center

.filter_button
  margin-bottom: 2px
  +mq($bp-lg)
    padding: $space-half 8px 8px 8px;
