//============================================
// Footer
//============================================


.footer
  color: white
  background-color: $primary
  padding-btttom: $space
  font-size: $fs-small
  padding-bottom: $space*1.5

.t_dsgn
  .footer
    background-color: $dsgn

.t_eco
  .footer
    background-color: $eco

.t_edu
  .footer
    background-color: $edu

.t_comp
  .footer
    background-color: $comp

.t_tech
  .footer
    background-color: $tech

.t_library
  .footer
    background-color: $library


// Footer banner
//============================================

.footer_banner
  padding: $space-half 0 10px 0
  background-color: $color-text
  color: $white

.footer_bannerText
  margin-bottom: 0


// Footer typography
//============================================

.footer_title
  +h3
  padding-top: $space
  margin-bottom: $space
  +mq($bp-sm)
    padding-top: $space*1.5

.footer_image
  position: relative
  margin-bottom: $space-half
  max-width: 260px
  &:after
    position: absolute
    content: ""
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($unibz, .4)
    transition: opacity .3s $motion
  &:hover
    img
      filter: grayscale(0)
      opacity: 1
    &:after
      opacity: 0
  +mq($bp-sm)
    max-width: 100%

.t_dsgn
  .footer_image:after
    background-color: rgba($dsgn, .4)

.t_eco
  .footer_image:after
    background-color: rgba($eco, .4)

.t_edu
  .footer_image:after
    background-color: rgba($edu, .4)

.t_comp
  .footer_image:after
    background-color: rgba($comp, .4)

.t_tech
  .footer_image:after
    background-color: rgba($tech, .4)

.t_library
  .footer_image:after
    background-color: rgba($library, .4)


.footer_image > img
  filter: grayscale(100%)
  opacity: .75
  transition: filter .3s $motion, opacity .3s $motion
    

.footer_address
  margin-bottom: 0
  line-height: 1.5

.footer_link
  text-decoration: underline
  line-height: 1.5

.footer_link-block
  display: block


// Footer forms
//============================================

.footer_form
  display: flex

.footer_input
  flex: 1
  margin: 0 $space-half 0 0
  color: $color-text

.footer_button
  margin-bottom: 0
