//============================================
// Footer
//============================================

.footer
  color: white
  background-color: $primary
  padding: $space*2 0
  font-size: $fs-small
  +mq($bp-md)
    padding: $space*3 0
  +mq($bp-lg)
    font-size: $fs

.footer a
  border-bottom-color: $white
.footer a:hover
  border-bottom-color: $white
  color: $white

// Brand colors
//============================================

.t_des-art
  .footer
    background-color: $des-art
  .footer a
    border-bottom-color: $white
  .footer a:hover
    border-bottom-color: $white
    color: $white

.t_eco
  .footer
    background-color: $eco
  .footer a
    border-bottom-color: $white
  .footer a:hover
    border-bottom-color: $white
    color: $white

.t_edu
  .footer
    background-color: $edu
  .footer a
    border-bottom-color: $white
  .footer a:hover
    border-bottom-color: $white
    color: $white

.t_comp-science
  .footer
    background-color: $comp-science
  .footer a
    border-bottom-color: $white
  .footer a:hover
    border-bottom-color: $white
    color: $white

.t_science-tech
  .footer
    background-color: $science-tech
  .footer a
    border-bottom-color: $white
  .footer a:hover
    border-bottom-color: $white
    color: $white

.t_library
  .footer
    background-color: $library
  .footer a
    border-bottom-color: $white
  .footer a:hover
    border-bottom-color: $white
    color: $white
