//============================================
// Footer
//============================================


.footer
  color: white
  background-color: $primary
  padding: $space*1.5 0
  font-size: $fs-small

.t_dsgn
  .footer
    background-color: $dsgn

.t_eco
  .footer
    background-color: $eco

.t_edu
  .footer
    background-color: $edu

.t_comp
  .footer
    background-color: $comp

.t_tech
  .footer
    background-color: $tech

.t_library
  .footer
    background-color: $library

.footer_section
  margin-bottom: $space


// Footer typography
//============================================

.footer_title
  +h3
  margin-bottom: $space

.footer_sectionTitle
  +h5
  margin-bottom: $space-quarter

.footer_image
  margin-bottom: $space-half

.footer_address
  margin-bottom: 0

.footer_link
  text-decoration: underline

.footer_link-block
  display: block


// Footer forms
//============================================

.footer_form
  display: flex

.footer_input
  flex: 1
  margin: 0 $space-half 0 0

.footer_button
  margin-bottom: 0