//============================================
// Grid titles
//============================================


.gridTitle
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  margin-bottom: $space

.gridTitle:last-child
  margin-bottom: 0