//============================================
// Header
//============================================

// Header elements
//============================================

.header
  padding: $space-half 0 6px 0
  background-color: transparent
  transition: all 500ms $motion

.header.is-open
  min-height: 100vh
  color: $white
  background-color: $primary

.header_inner
  display: flex
  justify-content: space-between


// Logo
//============================================

.logo
  flex-shrink: 0;
  margin: 7px $space*2 0 0
  width: 65px
  height: 52px
  background-image: url('../images/unibz-logo-black.svg')
  background-size: contain
  background-position: center
  background-repeat: no-repeat

.header.is-open .logo
  background-image: url('../images/unibz-logo-white.svg')


// Utility services and search
//============================================

.utility
  display: flex
  flex-shrink: 0
  padding: $space 0

.utility_lang
  flex-shrink: 0
  display: none
  +mq($bp-lg)
    display: block

.utility_service
  display: none
  margin-left: $space
  +mq($bp-lg)
    display: block

.utility_search
  flex-shrink: 0
  margin-left: $space
  width: 22px
  height: 22px
  background-image: url('../images/unibz-search-black.svg')
  background-size: contain
  background-position: center
  background-repeat: no-repeat

.header.is-open .utility_search
  background-image: url('../images/unibz-search-white.svg')


// Utility burger
//============================================

.utility_hamburger
  position: relative
  margin-left: $space
  width: 22px
  height: 22px
  cursor: pointer
  +mq($bp-lg)
    display: none

.burger
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: 100%
  height: 3px
  background-color: $black
  transition: all 500ms $motion

.burger::before,
.burger::after
  content: ""
  position: absolute
  width: 100%
  height: 3px
  background-color: $black
  transition: all 500ms $motion

.burger::before
  margin-top: -9px

.burger::after
  margin-top: 9px

.header.is-open .burger,
.header.is-open .burger::before,
.header.is-open .burger::after
  background-color: $white

.utility_hamburger.is-open
  .burger
    background-color: transparent
  .burger::before
    margin: 0
    transform: rotate(45deg)
  .burger::after
    margin: 0
    transform: rotate(-45deg)


// Brand colors
//============================================

.t_des-art
  .header.is-open
    background-color: $des-art

.t_eco
  .header.is-open
    background-color: $eco

.t_edu
  .header.is-open
    background-color: $edu

.t_comp-science
  .header.is-open
    background-color: $comp-science

.t_science-tech
  .header.is-open
    background-color: $science-tech

.t_library
  .header.is-open
    background-color: $library
