//============================================
// Hero
//============================================

.hero
  position: relative
  margin-bottom: $space*2
  width: 100%
  height: 260px
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  +mq($bp-sm)
    height: 380px
  +mq($bp-md)
    margin-bottom: $space*3
    height: 480px
  +mq($bp-lg)
    margin-bottom: $space*4
  +mq($bp-xl)
    margin-bottom: $space*5
    height: 580px

.hero-small
  position: relative
  margin-bottom: $space*2
  width: 100%
  height: 180px
  background-color: $primary
  +mq($bp-sm)
    height: 200px
  +mq($bp-md)
    height: 220px
  +mq($bp-xl)
    height: 260px

.hero-inner
  position: absolute
  z-index: 1
  left: 50%
  bottom: 0
  transform: translateX(-50%)
  width: 100%

.hero_title
  +h1
  margin: 0 auto -14px auto
  max-width: 368px
  padding: 16px 16px 0 16px
  font-weight: 600
  line-height: 1.2
  background-color: $white
  +mq($bp-sm)
    padding: $space $space 0 $space
    box-sizing: content-box
    max-width: 524px
  +mq($bp-md)
    padding: $space*2 $space*2 0 $space*2
    max-width: 574px
  +mq($bp-lg)
    max-width: 688px
  +mq($bp-xl)
    max-width: 768px
    padding: $space*3 $space*3 0 $space*3

.hero_title + .btn
  margin-top: $space


// Brand colors
//============================================

.t_des-art
  .hero-small
    background-color: $des-art

.t_eco
  .hero-small
    background-color: $eco

.t_edu
  .hero-small
    background-color: $edu

.t_comp-science
  .hero-small
    background-color: $comp-science

.t_science-tech
  .hero-small
    background-color: $science-tech

.t_library
  .hero-small
    background-color: $library