//============================================
// Hero
//============================================

// Hero Wrapper
//============================================

.hero
  margin-bottom: $space*2
  +mq($bp-lg)
    margin-bottom: $space*2
  +mq($bp-xl)
    margin-bottom: $space*3


// Hero Image
//============================================

.hero_image
  position: relative
  width: 100%
  height: 300px
  +mq($bp-sm)
    height: 380px
  +mq($bp-md)
    height: 480px
  +mq($bp-xl)
    height: 580px
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat


// Hero Image Caption
//============================================

.hero_caption
  position: absolute
  right: 5px
  bottom: -20px
  color: #ccc
  font-size: $fs-small


// Hero Text
//============================================

.hero_text
  position: relative
  margin: 0 auto
  max-width: 368px
  padding: 16px 16px 0 16px
  background-color: $white
  +mq($bp-sm)
    margin-top: -60px
    padding: $space $space 0 $space
    box-sizing: content-box
    max-width: 524px
  +mq($bp-md)
    margin-top: -88px
    padding: $space*2 $space*2 0 $space*2
    max-width: 574px
  +mq($bp-lg)
    max-width: 688px
  +mq($bp-xl)
    max-width: 768px
    margin-top: -$space*5
    padding: $space*3 $space*3 0 $space*3


// Hero Titles
//============================================

.hero_titleLabel
  +h5
  font-weight: 600

.hero_title
  +h2
  font-weight: 600
  line-height: 1.2


// Hero Search
//============================================

.hero_search
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  max-width: 80%


// Hero Small
//============================================

.hero-small
  margin-bottom: $space*2

.hero-small_background
  height: 30px
  background-color: $primary
  +mq($bp-sm)
    height: 140px
  +mq($bp-md)
    height: 180px
  +mq($bp-xl)
    height: 260px

.t_dsgn
  .hero-small,
  .hero-small_background
    background-color: $dsgn

.t_eco
  .hero-small,
  .hero-small_background
    background-color: $eco

.t_edu
  .hero-small,
  .hero-small_background
    background-color: $edu

.t_comp
  .hero-small,
  .hero-small_background
    background-color: $comp

.t_tech
  .hero-small,
  .hero-small_background
    background-color: $tech

.t_library
  .hero-small,
  .hero-small_background
    background-color: $library