//============================================
// Section Magazine 
//============================================


// Section Magazine Wrapper
//============================================

.magazine
  overflow: hidden
  background-color: $color-text
  color: $white
  padding: $space 0
  +mq($bp-md)
    padding: $space*2 0
  +mq($bp-lg)
    padding: $space*3 0

// Section Magazine Inner Wrapper
//============================================

.magazine_inner
  margin: 0 auto
  max-width: 574px
  +mq($bp-sm)
    font-size: 17px
  +mq($bp-md)
    font-size: 18px
  +mq($bp-lg)
    max-width: 688px
    font-size: 19px
  +mq($bp-xl)
    max-width: 768px
    font-size: 20px


// Section Magazine Title
//============================================

.magazine_title
  +h3
  margin-bottom: $space-quarter


// Section Magazine Cover
//============================================

.magazine_cover
  width: auto
  max-height: 300px
  margin: 0 $space $space 0
  +mq($bp-sm)
    float: left
    margin: 7px $space $space 0
  +mq($bp-md)
    margin-left: -57px
  +mq($bp-lg)
    margin-left: -132px
  +mq($bp-xl)
    margin-left: -224px
  +mq($bp-lg)
    max-height: 400px

// Section Magazine Article Title
//============================================

.magazineArticle_title
  +h5