//============================================
// Person
//============================================


.person_meta
  +mq($bp-sm)
    display: flex
  +mq($bp-md)
    display: block

.person_metaPhoto
  +mq($bp-sm)
    margin-right: $space-half

// Person Profile Photo
//============================================

.person_photo
  margin-bottom: $space-half
  max-width: 215px
  +mq($bp-md)
    max-width: 100%


// Person Department (Faculty of Office)
//============================================

.person_department
  font-weight: 600
  text-transform: uppercase
  letter-spacing: 1px
  color: $primary

.t_dsgn
  .person_department
    color: $dsgn

.t_eco
  .person_department
    color: $eco

.t_edu
  .person_department
    color: $edu

.t_comp
  .person_department
    color: $comp

.t_tech
  .person_department
    color: $tech

.t_library
  .person_department
    color: $library


// Person Position
//============================================

.person_position
  margin-left: $space-quarter
  color: $color-text-gray
  font-weight: 500


// Person Contacts
//============================================

.person_mail,
.person_phone
  display: block

.person_mail:hover
  text-decoration: underline


// Person Office
//============================================

.person_office
  margin-top: 2px
  font-weight: 600
  font-size: $fs-small
  color: $primary
  text-transform: uppercase

.t_dsgn
  .person_office
    color: $dsgn

.t_eco
  .person_office
    color: $eco

.t_edu
  .person_office
    color: $edu

.t_comp
  .person_office
    color: $comp

.t_tech
  .person_office
    color: $tech

.t_library
  .person_office
    color: $library


// Person Link
//============================================

.person_link
  margin-bottom: 0

// Person Address
//============================================

.person_address
  margin-top: $space-half


// Person Address
//============================================

.person_lectures
  margin-bottom: $space*1.5