//============================================
// Power Tools
//============================================


.powerTools
  display: flex
  +mq($bp-md)
    display: block
    padding: $space-half $space-half 4px $space-half
    margin-bottom: $space
    border: 1px solid $gray
    border-radius: $radius
    +light-box-shadow

// Power tools expanded
//============================================

.powerTools_tag,
.powerTools_calendar,
.powerTools_filters,
.powerTools_search
  display: none
  +mq($bp-md)
    display: block

.powerTools_search
  margin-bottom: $space

.powerTools_calendar
  margin-top: $space

// .powerTools_filters
//   padding: $space-half $space-half 4px $space-half
//   margin-bottom: $space
//   border: 1px solid $gray
//   border-radius: $radius
//   +light-box-shadow

// Power tools tag
//============================================

.powerTools_tag
  letter-spacing: 0


// Power tools toggle
//============================================

.powerTools_toggle
  flex-basis: 100%
  margin-bottom: $space-half
  +mq($bp-md)
    display: none
    
.powerTools_toggle:not(:last-of-type)
  margin-right: $space-half