//============================================
// Search Section
//============================================


// Search Section Wrapper
//============================================

.searchSection
  padding: $space 0
  background-color: $primary
  +mq($bp-md)
    padding-top: $space*2
    padding-bottom: $space*2


// Search Section Title
//============================================

.searchSection_headline
  +h2
  color: $white
  margin-bottom: $space-half