//============================================
// Testimonial
//============================================


// Testimonial Wrapper
//============================================

.testimonial
  background-color: $primary
  color: $white
  text-align: center
  padding: 73px 0 $space 0
  margin-top: -50px
  +mq($bp-md)
    padding: 73px 0 $space*2 0
  
.t_dsgn
  .testimonial
    background-color: $dsgn

.t_eco
  .testimonial
    background-color: $eco

.t_edu
  .testimonial
    background-color: $edu

.t_comp
  .testimonial
    background-color: $comp

.t_tech
  .testimonial
    background-color: $tech

.t_library
  .testimonial
    background-color: $library


// Testimonial Avatar
//============================================

.testimonial_avatar
  margin: 0 auto
  width: 100px
  height: 100px
  border-radius: 50%
  +mq($bp-md)
    width: 160px
    height: 160px


// Testimonial Name
//============================================

.testimonial_name
  +h3


// Testimonial Role
//============================================

.testimonial_role
  +tag
  color: $white
  font-weight: 300


// Testimonial Text
//============================================

.testimonial_text
  margin-top: $space-half
  margin-bottom: 0