//============================================
// Timetable 
//============================================


// Timetable Day Wrapper
//============================================

.timetable_day
  margin-bottom: $space*2
  +mq($bp-lg)
    display: flex

.timetable_item
  margin-bottom: $space-half
  +mq($bp-lg)
    margin-bottom: $space

.timetable_date
  +h3
  margin-bottom: $space-half
  +mq($bp-lg)
    flex: 0 0 33%
    margin-right: $space
    margin-bottom: 0