//============================================
// Timetable 
//============================================

// Timetable Day
//============================================

.timetable_day
  margin-bottom: $space*2
  +mq($bp-lg)
    display: flex

.timetable_item
  margin-bottom: $space

.timetable_date
  +h4
  margin-bottom: $space
  +mq($bp-lg)
    flex: 0 0 33%
    margin-right: $space
    margin-bottom: 0