//============================================
// Timetable Tools Search and Filter
//============================================


// Timetable Months Navigation Wrapper
//============================================

.timetable_tools
  display: flex
  justify-content: space-between
  margin-top: $space-half
  +mq($bp-sm)
    margin-top: $space
  +mq($bp-lg)
    margin-top: $space*2
    margin-bottom: $space

.tt_toolToggle
  flex-basis: 30%
  +mq($bp-sm)
    flex: 0 0 40px
    margin-left: $space-half
  +mq($bp-md)
    flex-basis: 80px

.tt_toolToggle-search
  +mq($bp-sm)
    display: none

.tt_toolSearch
  display: none
  margin-bottom: 0
  +mq($bp-sm)
    display: block