&lt;div class=&quot;pagination&quot;&gt;
  {{&gt; atoms-button-round (class:&quot;pagination_button&quot;, icon:&quot;i-arrow-left&quot;) }}
  &lt;div class=&quot;pagination_pagesWrapper&quot;&gt;
    &lt;span class=&quot;pagination_page&quot;&gt;1&lt;/span&gt;
    &lt;span class=&quot;pagination_page&quot;&gt;2&lt;/span&gt;
    &lt;span class=&quot;pagination_page&quot;&gt;3&lt;/span&gt;
    &lt;span class=&quot;pagination_page&quot;&gt;4&lt;/span&gt;
    &lt;span class=&quot;pagination_page&quot;&gt;5&lt;/span&gt;
    &lt;span class=&quot;pagination_page&quot;&gt;6&lt;/span&gt;
    &lt;span class=&quot;pagination_page&quot;&gt;7&lt;/span&gt;
    &lt;span class=&quot;pagination_page&quot;&gt;8&lt;/span&gt;
    &lt;span class=&quot;pagination_page&quot;&gt;9&lt;/span&gt;
    &lt;span class=&quot;pagination_page&quot;&gt;10&lt;/span&gt;
  &lt;/div&gt;
  {{&gt; atoms-button-round (class:&quot;pagination_button&quot;, icon:&quot;i-arrow-right&quot;) }}
&lt;/div&gt;
