&lt;section class=&quot;l-section&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;g-row&quot;&gt;
      &lt;div class=&quot;g g-md-8 g-lg-8 g-md-push-16&quot;&gt;
        {{# office-image }}
          {{&gt; atoms-image-4x3 (class:&quot;office_image&quot;)}}
        {{/ office-image }}
      &lt;/div&gt;
      &lt;div class=&quot;g g-md-16 g-lg-14 g-xl-14 g-md-pull-8&quot;&gt;
        {{# office-description }}
          {{&gt; atoms-text-paragraph }}
        {{/ office-description }}
        {{# office-contacts }}
          {{&gt; atoms-text-paragraph }}
        {{/ office-contacts }}
        {{# office-openings }}
          {{&gt; atoms-text-paragraph }}
        {{/ office-openings }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;