//============================================
// Block Student Work
//============================================

.thumbBlock_figure
  display: block
  margin-bottom: $space

.thumbBlock_thumb
  max-width: 100%

.thumbBlock_title
  +h4