//============================================
// Media Block
//============================================


// Media Block Wrapper
//============================================

.mediaBlock
  overflow: hidden


// Media Block Figure
//============================================

.mediaBlock_figure
  +mq($bp-lg)
    float: left
    width: 50%

.mediaBlock_thumb
  width: 100%


// Media Block Body
//============================================

.mediaBlock_body
  padding: $space-half $space-half 6px $space-half
  background-color: $primary
  color: $white
  +dark-text-shadow
  +mq($bp-xs)
    padding: $space $space 18px $space
  +mq($bp-lg)
    position: relative
    float: left
    width: 50%
    padding: 0 $space (3 / 4) * 50% $space
    width: 50%
    height: 0
  +mq($bp-xl)
    padding-left: $space*2
    padding-right: $space*2

.t_des-art
  .mediaBlock_body
    background-color: $des-art

.t_eco
  .mediaBlock_body
    background-color: $eco

.t_edu
  .mediaBlock_body
    background-color: $edu

.t_comp-science
  .mediaBlock_body
    background-color: $comp-science

.t_science-tech
  .mediaBlock_body
    background-color: $science-tech

.t_library
  .mediaBlock_body
    background-color: $library


// Media Block Title
//============================================

.mediaBlock_title
  +h4
  font-weight: 300
  margin-bottom: $space-half
  +mq($bp-lg)
    +h3
    padding-top: $space
  +mq($bp-xl)
    padding-top: $space*2


// Media Block Content
//===========================================

.mediaBlock_excerpt a
  +link-light($primary)

.t_des-art
  .mediaBlock_excerpt a
    +link-light($des-art)

.t_eco
  .mediaBlock_excerpt a
    +link-light($eco)

.t_edu
  .mediaBlock_excerpt a
    +link-light($edu)

.t_comp-science
  .mediaBlock_excerpt a
    +link-light($comp-science)

.t_science-tech
  .mediaBlock_excerpt a
    +link-light($science-tech)

.t_library
  .mediaBlock_excerpt a
    +link-light($library)


// Media Block Button
//===========================================

.mediaBlock_btn
  margin-bottom: 0
  font-size: $fs-small
  font-weight: 600
  +mq($bp-lg)
    +pos($space, bottom)
  +mq($bp-xl)
    bottom: $space*2
  &:after
    +mq($bp-sm)
      margin-top: 0