//============================================
// Timetable Item
//============================================


// Timetable Item Wrapper
//============================================

.timetable_item
  +mq($bp-sm)
    display: flex


// Timetable Item Location
//============================================

.tt_itemLocation
  flex-shrink: 0
  margin-right: $space-half
  width: 80px
  color: $white
  color: $primary

.t_dsgn
  .timetable_item .tt_itemLocation
    color: $dsgn

.t_eco
  .timetable_item .tt_itemLocation
    color: $eco

.t_edu
  .timetable_item .tt_itemLocation
    color: $edu

.t_comp
  .timetable_item .tt_itemLocation
    color: $comp

.t_tech
  .timetable_item .tt_itemLocation
    color: $tech

.t_library
  .timetable_item .tt_itemLocation
    color: $library


// Timetable Item Room
//============================================

.tt_itemRoom
  display: block
  font-weight: 600


// Timetable Item Title
//============================================

.tt_itemTitleLink
  display: block

.tt_itemTitle
  +h5
  margin: 0
  &:hover
    text-decoration: underline


// Timetable Item Label
//============================================

.tt_itemLabel
  +tag
  display: inline-block
  margin: 0
  &:before
    content: "·"
    margin-right: $space-quarter
    color: $color-text


// Timetable Item Time
//============================================

.tt_itemTime
  +tag
  display: inline-block
  color: $color-text
  margin-bottom: 0


// Timetable Item Button
//============================================

.tt_itemButton
  margin: 2px 0 0