//============================================
// Block Tender
//============================================

// Block Tender Wrappers
//============================================

.tender
  margin-bottom: $space


.tender_faculty
  +tag
  display: inline-block
  margin-right: $space-half

.t_dsgn
  .tender_faculty
    color: $dsgn

.t_eco
  .tender_faculty
    color: $eco

.t_edu
  .tender_faculty
    color: $edu

.t_comp
  .tender_faculty
    color: $comp

.t_tech
  .tender_faculty
    color: $tech

.t_library
  .tender_faculty
    color: $library


.tender_deadline
  +tag
  display: inline-block
  text-transform: capitalize


.tender_text
  margin-bottom: $space-quarter


.tender_title
  +h4
  &:hover
    text-decoration: underline

.tender_link
  display: block
  margin-bottom: $space-quarter
  font-weight: 600
  &:after
    content: "↓"
  +mq($bp-md)
    display: inline-block
    margin-right: $space

.tender-old
  color: $gray
  .tender_deadline,
  .tender_faculty
    color: $gray