//============================================
// Block Highlight
//============================================

.highlight_thumb
  max-width: 100%


.highlight_body
  padding: $space-half
  background-color: $primary
  color: $white
  +mq($bp-xs)
    padding: $space
  +mq($bp-md)
    padding: $space*2
  p
    margin-bottom: 0