//============================================
// Block Glance
//============================================

.glance
  overflow: hidden
  padding: $space-half
  background-color: $primary
  color: $white
  +dark-text-shadow
  +mq($bp-xs)
    padding: $space
  +mq($bp-md)
    padding: $space*2

.glance_title
  +h4
  +mq($bp-sm)
    float: left
    width: 48.5%

.glance_text
  margin-bottom: 0
  +mq($bp-sm)
    float: right
    width: 48.5%


// Brand colors
//============================================

.t_des-art
  .glance
    background-color: $des-art

.t_eco
  .glance
    background-color: $eco

.t_edu
  .glance
    background-color: $edu

.t_comp-science
  .glance
    background-color: $comp-science

.t_science-tech
  .glance
    background-color: $science-tech

.t_library
  .glance
    background-color: $library