//============================================
// Block Post
//============================================

.post
  overflow: hidden

.post_figure
  display: block
  margin-bottom: $space
  +mq($bp-sm)
    position: relative
    float: left
    margin-right: 4.16667%
    width: 33.33333%

.post_body
  +mq($bp-sm)
    position: relative
    float: left
    width: 62.5%

.post_thumb
  max-width: 222px

.post_title
  +h4
  margin-top: $space-quarter
  margin-bottom: 0

.post_excerpt
  +mq($bp-sm)
    margin-bottom: $space-half

.post_thumb-empty
  padding: $space-half
  width: 222px
  height: 166px
  background-color: $primary
  color: $white
  +dark-text-shadow
  letter-spacing: 1px
  text-transform: uppercase

.post_thumbTitle
  +h3


// Brand colors
//============================================

.t_des-art
  .post_thumb-empty
    background-color: $des-art

.t_eco
  .post_thumb-empty
    background-color: $eco

.t_edu
  .post_thumb-empty
    background-color: $edu

.t_comp-science
  .post_thumb-empty
    background-color: $comp-science

.t_science-tech
  .post_thumb-empty
    background-color: $science-tech

.t_library
  .post_thumb-empty
    background-color: $library