//============================================
// Block Event
//============================================

.event
  margin-bottom: $space


// Block Event Figure
//============================================

.event_figure
  display: block
  width: 100%
  height: 180px
  background-size: cover
  background-position: center
  background-repeat: no-repeat


// Block Event Body
//============================================

.event_body
  padding: $space-half
  background-color: $primary
  color: $white
  +dark-text-shadow
  +mq($bp-xs)
    padding: $space
  +mq($bp-xl)
    padding-left: $space*2
    padding-right: $space*2

.t_dsgn
  .event_body
    background-color: $dsgn

.t_eco
  .event_body
    background-color: $eco

.t_edu
  .event_body
    background-color: $edu

.t_comp
  .event_body
    background-color: $comp

.t_tech
  .event_body
    background-color: $tech

.t_library
  .event_body
    background-color: $library


// Block Event Title
//============================================

.event_title
  +h5
  font-weight: 300
  margin-bottom: $space
  &:hover
    text-decoration: underline


// Block Event Details
//============================================

.event_details
  margin-bottom: $space


// Block Event Meta Information
//============================================

.event_meta
  display: block


// Block Event Button
//============================================

.event_btn
  margin-bottom: 0
  font-weight: 600


// Block Event Button
//============================================

.event-old
  opacity: .25
  .event_body
    text-shadow: none