//============================================
// Block Job
//============================================

// Block Job Wrapper
//============================================

.job
  display: flex
  align-items: center
  margin-bottom: $space
  +mq($bp-lg)
    flex: 0 0 48%


// Block Job Thumb
//============================================

.job_thumb
  flex: 0 0 50px
  margin-right: $space-half
  min-width: 0
  +mq($bp-sm)
    flex: 0 0 100px
    margin-right: $space


// Block Job Title
//============================================

.job_title
  +h5
  display: inline
  margin-bottom: 0
  &:hover
    +linkUnderlines($white, $color-text)


// Block Job Brand
//============================================

.job_brand
  +tag
  display: inline-block
  margin: 0
  color: $color-text
  &:after
    content: " "
    margin-right: $space-quarter


// Block Job Location
//============================================

.job_location
  +tag
  text-transform: capitalize
  display: inline-block
  margin: 0