//============================================
// Block Headline Button
//============================================

.headlineBlock
  margin-bottom: $space-half
  +mq($bp-sm)
    margin-bottom: $space

.headlineBlock_title
  +h4
  color: $primary


// Brand colors
//============================================

.t_des-art
  .headlineBlock_title
    color: $des-art

.t_eco
  .headlineBlock_title
    color: $eco

.t_edu
  .headlineBlock_title
    color: $edu

.t_comp-science
  .headlineBlock_title
    color: $comp-science

.t_science-tech
  .headlineBlock_title
    color: $science-tech

.t_library
  .headlineBlock_title
    color: $library