//============================================
// Block Person
//============================================


// Block Person Wrapper
//============================================

.person
  text-align: center
  margin-bottom: $space*2


// Block Person Figure
//============================================

.person_figure
  display: block
  margin-bottom: $space-half


// Block Photo or Avatar
//============================================

.person_avatar,
.person_portrait
  max-width: 100%


// Block Person Name
//============================================

.person_name
  +h5