//============================================
// Block Tender
//============================================

// Block Tender Wrappers
//============================================

.tender
  margin-bottom: $space
  +mq($bp-sm)
    display: flex


.tender_faculty
  +tag
  display: inline-block
  margin-right: $space-half
  margin-bottom: 0
  flex: 0 0 $space*2

.t_dsgn
  .tender_faculty
    color: $dsgn

.t_eco
  .tender_faculty
    color: $eco

.t_edu
  .tender_faculty
    color: $edu

.t_comp
  .tender_faculty
    color: $comp

.t_tech
  .tender_faculty
    color: $tech

.t_library
  .tender_faculty
    color: $library


.tender_deadline
  display: inline-block
  margin-bottom: 4px
  letter-spacing: 0
  font-weight: 600
  text-transform: capitalize
  color: $primary

.t_dsgn
  .tender_deadline
    color: $dsgn

.t_eco
  .tender_deadline
    color: $eco

.t_edu
  .tender_deadline
    color: $edu

.t_comp
  .tender_deadline
    color: $comp

.t_tech
  .tender_deadline
    color: $tech

.t_library
  .tender_deadline
    color: $library


.tender_text
  margin-bottom: 2px


.tender_title
  +h4
  margin-bottom: 4px
  &:hover
    text-decoration: underline


.tender_link
  display: block
  margin-bottom: $space-quarter
  font-weight: 600
  text-decoration: underline
  &:after
    content: ""
  +mq($bp-md)
    display: inline-block
    margin-right: $space

.tender-old
  color: $gray
  .tender_deadline,
  .tender_faculty
    color: $gray