//============================================
// Block Lecture
//============================================

// Block Lecture
//============================================

.blockTitle
  margin-bottom: $space
  flex: 0 0 100%
  +mq($bp-md)
    flex: 0 0 48%


// Block Lecture Meta Information
//============================================

.blockTitle_meta
  +tag
  margin-bottom: 4px


// Block Lecture Title
//============================================

.blockTitle_title
  +h5
  display: inline
  margin: 0 0 2px 1px
  &:hover
    +linkUnderlines($white, $color-text)


// Block Lecture Button
//============================================

.blockTitle_text
  margin-bottom: 0


// Block Lecture Button
//============================================

.blockTitle_btn
  margin-bottom: 0
