//============================================
// Block Job
//============================================


// Block Job Wrapper
//============================================

.job
  padding-bottom: $space
  margin-bottom: $space
  +mq($bp-sm)
    display: flex
    align-items: center
    padding-bottom: $space-half
    margin-bottom: $space-half

.job:not(:last-child)
  border-bottom : 1px solid $gray-light

// Block Job Thumb
//============================================

.job_thumb
  width: 100px
  margin-bottom: $space-quarter
  +mq($bp-sm)
    flex: 0 0 100px
    margin-right: $space
    margin-bottom: 0


// Block Job Title
//============================================

.job_title
  +h5
  margin-bottom: 0
  margin-left: -1px
  &:hover
    text-decoration: underline


// Block Job Brand
//============================================

.job_brand
  +tag
  display: inline-block
  margin: 0
  color: $color-text
  &:after
    content: " "
    margin-right: $space-quarter


// Block Job Location
//============================================

.job_location
  +tag
  text-transform: capitalize
  display: inline-block
  margin: 0


// Block Job Button
//============================================

.job_button
  font-weight: 600
  margin-bottom: 0