//============================================
// Block Factbox
//============================================

.post_section
  font-family: $font-secondary
  font-weight: 300

.factbox
  padding: $space-half
  background-color: $gray-light
  font-family: $font

.factbox_title
  margin-bottom: $space
  font-size: $fs-small
  color: $primary
  letter-spacing: 1px
  text-transform: uppercase

.factbox_body
  font-size: $fs-small
  font-weight: 500