//============================================
// Block Post
//============================================


// Block Post Wrapper
//============================================

.post_content
  overflow: hidden
  margin-bottom: $space
  +mq($bp-sm)
    display: flex


// Block Post Thumb
//============================================

.post_figure
  margin: 0 $space-half $space-half 0
  +mq($bp-sm)
    flex: 0 0 180px
    margin: 0 $space 0 0

.post_thumb
  width: 180px


// Block Post Title
//============================================

.post_title
  +h5
  &:hover
    text-decoration: underline


// Block Post Text
//============================================

.post_excerpt
  margin-bottom: 0


// Block Post Date
//============================================

.post_date
  color: $primary
  font-weight: 600
  font-size: $fs-small
  line-height: 1
  letter-spacing: 1px
  text-transform: uppercase
  +mq($bp-xl)
    font-size: $fs

.t_dsgn
  .post_date
    color: $dsgn

.t_eco
  .post_date
    color: $eco

.t_edu
  .post_date
    color: $edu

.t_comp
  .post_date
    color: $comp

.t_tech
  .post_date
    color: $tech

.t_library
  .post_date
    color: $library