//============================================
// Block Highlight
//============================================


.highlight
  margin-bottom: $space


// Block Highlight Figure
//============================================

.highlight_thumb
  width: 100%


// Block Highlight Body
//============================================

.highlight_body
  padding: $space-half $space-half 8px $space-half
  background-color: $primary
  color: $white
  +dark-text-shadow
  +mq($bp-sm)
    min-height: 110px
    max-height: 110px

.t_dsgn
  .highlight_body
    background-color: $dsgn

.t_eco
  .highlight_body
    background-color: $eco

.t_edu
  .highlight_body
    background-color: $edu

.t_comp
  .highlight_body
    background-color: $comp

.t_tech
  .highlight_body
    background-color: $tech

.t_library
  .highlight_body
    background-color: $library


// Block Contents
//============================================

.highlight_title
  +h5
  margin-bottom: 0

.highlight_text
  margin-bottom: 0

.highlight_title + .highlight_text
  margin-top: $space-half

.highlight_button
  margin-bottom: 0
  font-size: $fs-small
  font-weight: 600
  &:after
    margin-top: 0

.highlight_text + .highlight_button
  margin-top: $space