//============================================
// Media Block
//============================================

// General blocks styles
//============================================

.block
  overflow: hidden
  img
    max-width: 100%


// Media block
//============================================

.media-block
  .b-text
    padding: $space-half $space-half 6px $space-half
    background-color: $primary
    color: $white
    +mq($bp-xs)
      padding: $space $space 18px $space
    +mq($bp-sm)
      position: relative
      float: left
      width: 50%
      height: 0
      padding: 0 $space (3 / 4) * 50% $space
    +mq($bp-md)
      padding-left: $space*2
      padding-right: $space*2

.media-block
  .b-thumb
    +mq($bp-sm)
      float: left
      width: 50%

.media-block
  h2
    @extend .h4
    +mq($bp-sm)
      padding-top: $space
    +mq($bp-md)
      margin-bottom: $space
      padding-top: $space*2

.media-block
  .btn-text-alt
    +mq($bp-sm)
      +pos($space, bottom)
    +mq($bp-md)
      bottom: $space*2
    &:after
      +mq($bp-sm)
        margin-top: 0