//============================================
// Block Link
//============================================


// Block Link Wrapper
//============================================

.blockLink
  display: block
  margin-bottom: $space-half
  padding: $space-half
  min-height: 90px
  color: $white
  background-color: $primary
  border-color: $primary
  border-radius: $radius
  transition: background-color .5s $motion, border-color .5s $motion
  +dark-box-shadow
  +dark-text-shadow
  &:hover
    background-color: shade($primary, 10%)
    border-color: shade($primary, 30%)
  &:active
    box-shadow: inset 0 0 1000px rgba($black, .3)
  +mq($bp-sm)
    min-height: 120px
    margin-bottom: 18px
  +mq($bp-xl)
    margin-bottom: 26px

.t_des-art
  .blockLink
    background-color: $des-art
    border-color: $des-art
    &:hover
      background-color: shade($des-art, 10%)
      border-color: shade($des-art, 30%)

.t_eco
  .blockLink
    background-color: $eco
    border-color: $eco
    &:hover
      background-color: shade($eco, 10%)
      border-color: shade($eco, 30%)

.t_edu
  .blockLink
    background-color: $edu
    border-color: $edu
    &:hover
      background-color: shade($edu, 10%)
      border-color: shade($edu, 30%)

.t_comp-science
  .blockLink
    background-color: $comp-science
    border-color: $comp-science
    &:hover
      background-color: shade($comp-science, 10%)
      border-color: shade($comp-science, 30%)

.t_science-tech
  .blockLink
    background-color: $science-tech
    border-color: $science-tech
    &:hover
      background-color: shade($science-tech, 10%)
      border-color: shade($science-tech, 30%)

.t_library
  .blockLink
    background-color: $library
    border-color: $library
    &:hover
      background-color: shade($library, 10%)
      border-color: shade($library, 30%)


// Block Link Wrapper in Homepage
//============================================

.home
  .t_des-art
    .blockLink
      background-color: $primary
      border-color: $primary
      &:hover
        background-color: shade($des-art, 10%)
        border-color: shade($des-art, 30%)

  .t_eco
    .blockLink
      background-color: $primary
      border-color: $primary
      &:hover
        background-color: shade($eco, 10%)
        border-color: shade($eco, 30%)

  .t_edu
    .blockLink
      background-color: $primary
      border-color: $primary
      &:hover
        background-color: shade($edu, 10%)
        border-color: shade($edu, 30%)

  .t_comp-science
    .blockLink
      background-color: $primary
      border-color: $primary
      &:hover
        background-color: shade($comp-science, 10%)
        border-color: shade($comp-science, 30%)

  .t_science-tech
    .blockLink
      background-color: $primary
      border-color: $primary
      &:hover
        background-color: shade($science-tech, 10%)
        border-color: shade($science-tech, 30%)

  .t_library
    .blockLink
      background-color: $primary
      border-color: $primary
      &:hover
        background-color: shade($library, 10%)
        border-color: shade($library, 30%)