//============================================
// Block Student Work
//============================================

.thumbBlock
  +mq($bp-md)
    display: flex

.thumbBlock_figure
  display: block
  margin: 0 0 $space 0
  +mq($bp-md)
    width: 40%
    margin-right: $space

.thumbBlock_thumb
  max-width: 100%

.thumbBlock_body
  +mq($bp-md)
    width: 60%

.thumbBlock_title
  +h4