//============================================
// Block Post
//============================================


// Block Post Wrapper
//============================================

.post
  overflow: hidden


// Block Post Thumb
//============================================

.post_thumb
  max-width: 240px
  margin: 0 $space $space-half 0
  +mq($bp-sm)
    float: left
    margin-top: 7px


// Block Post Title
//============================================

.post_title
  +h3
  margin-bottom: $space


// Block Post Text
//============================================

.post_excerpt
  margin-bottom: 0


// Block Post Date
//============================================

.post_date
  color: $primary
  font-weight: 600
  font-size: $fs-small
  line-height: 1
  letter-spacing: 1px
  text-transform: uppercase
  +mq($bp-xl)
    font-size: $fs

.t_des-art
  .post_date
    color: $des-art

.t_eco
  .post_date
    color: $eco

.t_edu
  .post_date
    color: $edu

.t_comp-science
  .post_date
    color: $comp-science

.t_science-tech
  .post_date
    color: $science-tech

.t_library
  .post_date
    color: $library