//============================================
// Block Lecture
//============================================

// Block Lecture
//============================================

.blockLecture
  margin-bottom: $space
  flex: 0 0 100%
  +mq($bp-md)
    flex: 0 0 48%


// Block Lecture Meta Information
//============================================

.blockLecture_meta
  +tag
  margin-bottom: 4px


// Block Lecture Title
//============================================

.blockLecture_title
  +h5
  display: table-footer-group
  margin: 0 0 2px 1px
  line-height: 1.2
  &:hover
    +linkUnderlines($white, $color-text)


// Block Lecture Button
//============================================

.blockLecture_btn
  margin-bottom: 0
