//============================================
// Block Lecture
//============================================

.blockLectures
  display: flex
  flex-flow: row wrap
  justify-content: space-between

.blockLecture
  margin-bottom: $space
  flex: 0 0 100%
  +mq($bp-md)
    flex: 0 0 46%
  +mq($bp-lg)
    flex: 0 0 30%
    margin-bottom: $space*2

.blockLecture_title
  +h5
  margin-bottom: 4px