//============================================
// Block Person
//============================================


// Block Person Wrapper
//============================================

.person
  margin: $space-half 0
  text-align: center


// Block Person Figure
//============================================

.person_image
  margin-bottom: $space-quarter
  max-width: 80px


// Block Person Name
//============================================

.person_name
  +h5
  margin-bottom: 0