//============================================
// Block Headline Button
//============================================


// Headline Block Wrapper
//============================================

.headlineBlock
  margin-bottom: $space-half
  +mq($bp-sm)
    margin-bottom: $space


// Headline Block Title
//============================================

.headlineBlock_title
  +h4
  color: $primary

.t_dsgn
  .headlineBlock_title
    color: $dsgn

.t_eco
  .headlineBlock_title
    color: $eco

.t_edu
  .headlineBlock_title
    color: $edu

.t_comp
  .headlineBlock_title
    color: $comp

.t_tech
  .headlineBlock_title
    color: $tech

.t_library
  .headlineBlock_title
    color: $library