//============================================
// Block Student Work
//============================================

.thumbBlock
  overflow: hidden

.thumbBlock_figure
  display: block
  margin: 0 0 $space 0
  +mq($bp-sm)
    max-width: 60%
  +mq($bp-md)
    float: left
    width: 45%
    margin: 0 $space 0 0

.thumbBlock_thumb
  max-width: 100%

.thumbBlock_body
  +mq($bp-md)
    padding-left: 57px
  +mq($bp-lg)
    padding-left: 132px
  +mq($bp-xl)
    padding-left: 264px

.thumbBlock_title
  +h4