//============================================
// Block Person
//============================================


// Block Person Wrapper
//============================================

.person
  display: flex
  // align-items: center
  margin: 0 0 $space 0


// Block Person Thumb and Image
//============================================

.person_imageWrapper
  flex: 0 0 60px
  height: 60px
  margin-right: $space-half
  min-width: 0

.person_imageWrapper
  margin-bottom: 0

// Block Person Name
//============================================

.person_name
  +h5
  margin-bottom: 2px
  &:hover
    text-decoration: underline

.person_role,
.person_mail,
.person_office
  display: block
  line-height: 1.4

.person_role
  color: $color-text-gray
  font-size: $fs-small
  font-weight: 500

.person_mail
  text-decoration: underline
  font-size: $fs-small