//============================================
// Block Highlight
//============================================


// Block Highlight Figure
//============================================

.highlight_thumb
  width: 100%


// Block Highlight Body
//============================================

.highlight_body
  padding: $space-half
  background-color: $primary
  color: $white
  +dark-text-shadow
  +mq($bp-xs)
    padding: $space
  +mq($bp-md)
    padding: $space*2

.t_dsgn
  .highlight_body
    background-color: $dsgn

.t_eco
  .highlight_body
    background-color: $eco

.t_edu
  .highlight_body
    background-color: $edu

.t_comp
  .highlight_body
    background-color: $comp

.t_tech
  .highlight_body
    background-color: $tech

.t_library
  .highlight_body
    background-color: $library


// Block Contents
//============================================

.highlight_title
  +h4

.highlight_button
  margin-bottom: 0
  font-size: $fs-small
  font-weight: 600
  &:after
    margin-top: 0