//============================================
// Block Research
//============================================

// Block Research Wrapper
//============================================

.blockResearch
  margin-bottom: $space
  +mq($bp-sm)
    display: flex


// Block Research Image
//============================================

.blockResearch_image
  margin-bottom: $space-half
  max-width: 140px
  +mq($bp-sm)
    margin-right: $space
    flex: 0 0 140px
    min-width: 0
  +mq($bp-md)
    flex: 0 0 200px


// Block Research Title
//============================================

.blockResearch_title
  +h4
  margin-bottom: $space-quarter


// Block Research Excerpt
//============================================

.blockResearch_excerpt
  margin-bottom: 0