//============================================
// Block Event
//============================================

.event
  +mq($bp-sm)
    display: flex

.event:not(:last-of-type)
  margin-bottom: $space*1.5
.event:last-of-type
  margin-bottom: $space

.event_body
  +mq($bp-sm)
    flex: 1

// Block Event Figure (In events page)
//============================================

.event_figure
  width: 140px
  margin-bottom: $space-half
  filter: grayscale(100%)
  transition: filter .3s $motion
  &:hover
    filter: grayscale(0)
  +mq($bp-sm)
    flex: 0 0 140px
    margin-right: $space-half
    margin-bottom: 0
    min-width: 0


// Block Event Figure (In single event page)
//============================================

.event_poster
  max-width: 288px
  margin-bottom: $space
  +mq($bp-md)
    max-width: 100%


// Block Event Title
//============================================

.event_title
  +h4
  display: inline
  margin-bottom: 0
  line-height: 1.2
  &:hover
    +linkUnderlines($white, $color-text)

.event_subtitle
  +h5
  margin-top: 2px
  margin-bottom: $space-quarter
  +mq($bp-md)
    margin-bottom: 0


// Block Event Meta Information
//============================================

.event_meta
  color: $primary
  margin-bottom: $space-quarter
  :not(:last-child)
    margin-bottom: $space-quarter
  +mq($bp-sm)
    margin-bottom: 2px
    :not(:last-child)
      margin-bottom: 0
    :not(:first-child)
      margin-left: $space

.t_dsgn
  .event_meta
    color: $dsgn

.t_eco
  .event_meta
    color: $eco

.t_edu
  .event_meta
    color: $edu

.t_comp
  .event_meta
    color: $comp

.t_tech
  .event_meta
    color: $tech

.t_library
  .event_meta
    color: $library

.event_date,
.event_time,
.event_location
  display: block
  line-height: 1
  font-weight: 600
  +mq($bp-sm)
    display: inline-block
    margin-bottom: 0


// Block Event Old
//============================================

.event-old
  opacity: .75


// Event meta on single event page
//============================================

.eventDetail_meta
  margin: 0 0 $space-half 0
