//============================================
// Media Block
//============================================


.mediaBlock
  overflow: hidden

.mediaBlock-reversed
  .mediaBlock_figure
    +mq($bp-lg)
      float: left

.mediaBlock_figure
  +mq($bp-lg)
    float: right
    width: 50%

.mediaBlock_thumb
  max-width: 100%

.mediaBlock_body
  padding: $space-half $space-half 6px $space-half
  background-color: $primary
  color: $white
  +dark-text-shadow
  +mq($bp-xs)
    padding: $space $space 18px $space
  +mq($bp-lg)
    position: relative
    float: left
    padding: 0 $space (3 / 4) * 50% $space
    width: 50%
    height: 0
  +mq($bp-xl)
    padding-left: $space*2
    padding-right: $space*2

.mediaBlock_title
  +h2
  +mq($bp-lg)
    padding-top: $space
    margin-bottom: $space
  +mq($bp-xl)
    padding-top: $space*2

.mediaBlock_btn
  font-size: $fs-small
  +mq($bp-md)
    bottom: $space*2
  +mq($bp-lg)
    +pos($space, bottom)
  +mq($bp-xl)
    bottom: $space*2
  &:after
    +mq($bp-sm)
      margin-top: 0


// Brand colors
//============================================

.t_des-art
  .mediaBlock_body
    background-color: $des-art

.t_eco
  .mediaBlock_body
    background-color: $eco

.t_edu
  .mediaBlock_body
    background-color: $edu

.t_comp-science
  .mediaBlock_body
    background-color: $comp-science

.t_science-tech
  .mediaBlock_body
    background-color: $science-tech

.t_library
  .mediaBlock_body
    background-color: $library