//============================================
// Block Study Program
//============================================


// Study Program Wrapper
//============================================

.program_wrap
  display: flex
  flex-wrap: wrap
  justify-content: space-between


// Study Program Tag
//============================================

.program
  flex-basis: 100%
  margin-bottom: $space
  +mq($bp-lg)
    flex-basis: 48%
  +mq($bp-xl)
    flex-basis: 30%


// Study Program Tag
//============================================

.program_tag
  +tag
  color: $primary
  margin-bottom: 2px

.t_dsgn
  .program_tag
    color: $dsgn

.t_eco
  .program_tag
    color: $eco

.t_edu
  .program_tag
    color: $edu

.t_comp
  .program_tag
    color: $comp

.t_tech
  .program_tag
    color: $tech

.t_library
  .program_tag
    color: $library


// Study Program Title
//============================================

.program_title
  +h5
  display: inline
  margin-bottom: 0
  &:hover
    +linkUnderlines($white, $color-text)


// Study Program Details
//============================================

.program_details
  display: flex
  align-items: center


// Study Program Location
//============================================

.program_location
  +tag
  font-size: $fs
  margin-right: $space-half
  letter-spacing: 0
  margin-bottom: 0
  text-transform: capitalize