//============================================
// Block Intership
//============================================


// Block Intership Wrapper
//============================================

.intership
  padding-bottom: $space
  margin-bottom: $space
  +mq($bp-sm)
    display: flex
    align-items: center
    padding-bottom: $space-half
    margin-bottom: $space-half

.intership:not(:last-child)
  border-bottom : 1px solid $gray-light

// Block Intership Thumb
//============================================

.intership_thumb
  width: 140px
  margin-bottom: $space-quarter
  +mq($bp-sm)
    flex: 0 0 100px
    margin-right: $space
    margin-bottom: 0


// Block Intership Title
//============================================

.intership_title
  +h5
  margin-bottom: 0
  margin-left: -1px
  &:hover
    text-decoration: underline


// Block Intership Brand
//============================================

.intership_brand
  +tag
  display: inline-block
  margin: 0
  color: $color-text
  &:after
    content: " "
    margin-right: $space-quarter


// Block Intership Location
//============================================

.intership_location
  +tag
  text-transform: capitalize
  display: inline-block
  margin: 0


// Block Intership Button
//============================================

.intership_button
  font-weight: 600
  margin-bottom: 0