//============================================
// Block Contact
//============================================

.contactBlock
  clear: both
  +mq($bp-md)
    display: flex

.contactBlock_elem
  padding: $space
  +mq($bp-md)
    width: 50%

.elem_item
  margin-bottom: 0

.contactBlock_info
  color: $white
  background-color: $primary

.contactBlock_info a
  border-bottom: 1px solid $white

.contactBlock_time
  background-color: $gray-light