//============================================
// Timetable Month Navigation
//============================================

.calendarMonths
  margin-bottom: $space-half


// Timetable Months Navigation Wrapper
//============================================

.cm_navMonthNav
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: $space-half


// Timetable Month Navigation Buttons
//============================================

.cm_navMonthBtnWrapper
  flex-basis: calc(100% / 7)

.cm_navMonthBtn
  margin: 0 auto

// Timetable Month Name
//============================================

.cm_navMonthName
  flex-grow: 1
  font-weight: 600
  letter-spacing: 1px
  text-transform: uppercase
  text-align: center


// Timetable Month Days of the Week
//============================================

.cm_navMonthDays
  width: 100%
  display: flex

.cm_navMonthDay
  flex-basis: calc(100% / 7)
  text-align: center
  font-weight: 500


// Timetable Month Calendar
//============================================

.cm_navMonthCalendar
  display: flex
  flex-flow: row wrap


// Timetable Month Days in Calendar
//============================================

.cm_navMonthDay
  +h6
  margin-bottom: $space-quarter
  flex-basis: calc(100% / 7)
  text-align: center
  font-weight: 500

.cm_navMonthDayNum
  display: block
  margin: 0 auto
  padding: 8px 0 4px 0
  max-width: 40px
  &:hover
    cursor: pointer
    background-color: $primary
    color: $white
    border-radius: $radius
    font-weight: 500

.cm_navMonthDayNum-current
  background-color: $primary
  color: $white
  border-radius: $radius
  font-weight: 500

.cm_navMonthDayNum-inactive
  color: $gray