//============================================
// Timetable Day Navigation
//============================================


// Timetable Days Navigation Wrapper
//============================================

.calendarDays
  position: relative
  display: flex
  align-items: top
  overflow: hidden
  margin: 0 0 $space-half


// Timetable Navigation Buttons
//============================================

.cd_navBtnWrapper
  position: absolute
  z-index: 1
  width: 40px
  height: 100%

.cd_navBtnWrapper-lft
  left: 0
  width: 60px
  background: linear-gradient(90deg, $white, rgba($white, 0))

.cd_navBtnWrapper-rgt
  right: 0
  width: 60px
  background: linear-gradient(-90deg, $white, rgba($white, 0))
  .cd_navBtn
    right: 0

.cd_navBtn
  position: absolute
  top: 50%
  transform: translateY(-50%)


// Timetable Navigation Days
//============================================

.cd_navDays
  flex: 1
  display: flex
  margin-bottom: -$space
  overflow-x: scroll
  -webkit-overflow-scrolling: touch

.cd_navDay
  flex-shrink: 0
  margin-bottom: $space
  padding: 14px $space-half 8px $space-half
  text-align: center
  color: $color-text-gray
  font-weight: 500
  border-radius: $radius
  transition: all .3s $motion
  &:hover
    background-color: $gray-dark
    color: $white
    cursor: pointer
    .cd_navDayMonth
      opacity: 1


.cd_navDayName,
.cd_navDayNum,
.cd_navDayMonth
  display: block
  line-height: 1.2

.cd_navDayNum
  +h5
  margin-bottom: -1px
  +mq($bp-lg)
    margin-bottom: -2px

.cd_navDayMonth
  opacity: 0
  text-transform: uppercase
  transition: opacity .3s $motion

.cd_navDay-current
  font-weight: 600
  color: $white
  background-color: $primary
  padding-right: $space-half
  padding-left: $space-half
  margin-right: $space-quarter
  margin-left: $space-quarter
  &:hover
    background-color: $primary
  .cd_navDayMonth
    opacity: 1

