//============================================
// Social Share
//============================================

.shareItem
  display: inline-block
  margin-right: $space-half
  padding-top: 5px
  width: 40px
  height: 40px
  border-radius: 50%
  text-align: center

.shareItem-facebook
  background-color: #3b5998

.shareItem-twitter
  background-color: #55acee

.shareItem-linkedin
  background-color: #0077b5

.shareItem-mail,
.shareItem-print
  background-color: $gray-dark