//============================================
// Social Share
//============================================

.socialItem
  display: inline-block
  margin-right: $space-half
  padding-top: 7px
  width: 40px
  height: 40px
  border-radius: 50%
  text-align: center

.socialItem-facebook
  background-color: #3b5998

.socialItem-twitter
  background-color: #55acee

.socialItem-linkedin
  background-color: #0077b5

.socialItem-mail,
.socialItem-print
  background-color: $gray-dark