//============================================
// Cookie bar
//============================================

.cookie
  // position: absolute
  // bottom: 0
  // z-index: 999
  // width: 100%
  padding: $space-half
  background-color: $primary
  color: $white
  +mq($bp-sm)
    display: flex
    align-items: center
    justify-content: space-between
  +mq($bp-md)
    padding: $space

.t_dsgn
  .cookie
    background-color: $dsgn

.t_eco
  .cookie
    background-color: $eco

.t_edu
  .cookie
    background-color: $edu

.t_comp
  .cookie
    background-color: $comp

.t_tech
  .cookie
    background-color: $tech

.t_library
  .cookie
    background-color: $library

.cookie_text
  +mq($bp-sm)
    padding-right: $space
    margin-bottom: 0

.cookie_link
  border-bottom: 1px solid $white