//============================================
// Cookie bar
//============================================

.cookie
  // position: absolute
  // bottom: 0
  // z-index: 999
  // width: 100%
  padding: $space-half
  background-color: $primary
  color: $white
  +mq($bp-sm)
    display: flex
    align-items: center
    justify-content: space-between
  +mq($bp-md)
    padding: $space

.cookie_text
  +mq($bp-sm)
    padding-right: $space
    margin-bottom: 0

.cookie_link
  border-bottom: 1px solid $white