//============================================
// Timetable Tools Search and Filter
//============================================


// Timetable Months Navigation Wrapper
//============================================

.find_tools
  display: flex
  justify-content: space-between
  margin-bottom: $space-half

.find_toolToggle
  flex-basis: 30%
  +mq($bp-sm)
    flex: 0 0 40px
    margin-left: $space-half
  +mq($bp-md)
    flex-basis: 80px

.find_toolToggle-search
  +mq($bp-sm)
    display: none

.find_toolSearch
  display: none
  margin-bottom: 0
  +mq($bp-sm)
    display: block