//============================================
// Tools Search and Filter
//============================================

.find_tools
  display: flex
  justify-content: space-between
  margin-bottom: $space-half

.find_toolToggle
  flex-basis: 100%
  &:not(:first-child)
    margin-left: $space-half
  +mq($bp-sm)
    flex: 0 0 40px
  +mq($bp-md)
    flex-basis: 80px

.find_toolToggle-search
  +mq($bp-sm)
    display: none

.find_toolSearch
  display: none
  +mq($bp-sm)
    display: block
    flex: 1

.find_tools-sidebar
  display: flex
  +mq($bp-md)
    display: block

.find_tools-sidebar
  margin-bottom: $space-half
  .find_toolSearch
    +mq($bp-md)
      margin-bottom: $space-half
  .btn-toggle-label
    margin-left: $space-half
    flex-basis: 100%
    +mq($bp-sm)
      flex: 0 0 40px
    +mq($bp-md)
      margin-left: 0
      width: 100%

