//============================================
// Form Search
//============================================

.form_input-search
  margin-bottom: 0

.form_inputSearchButton
  position: absolute
  right: 0
  top: 0
  padding-right: $space-half
  height: 40px
  line-height: 40px