//============================================
// Form Search
//============================================

.form_input-search
  margin-bottom: 0

.form_inputSearchButton
  position: absolute
  right: 0
  top: 0
  padding-right: $space-half
  height: 40px
  line-height: 40px


// Search Bar in Hero
//============================================

.form-search
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 80%
  +mq($bp-md)
    max-width: 700px

.form-search
  +mq($bp-md)
    input
      padding: $space+4px $space $space $space
    .form_inputSearchButton
      height: 54px
      line-height: 54px