//============================================
// Heading Group
//============================================

.tag
  display: block
  margin-bottom: $space-quarter
  font-size: $fs-small
  letter-spacing: 1px
  text-transform: uppercase
  color: $gray-dark