//============================================
// Primary Navigation
//============================================

.nav
  background-color: $white

.nav.is-open
  color: $white
  background-color: $primary

.nav_wrap
  display: flex
  list-style-type: none
  padding: $space 0
  margin: 0

.nav_item
  margin-right: $space*1.5

.nav_item::after
  display: inline-block
  content: "\25BE"
  margin-left: $space-half

.nav_link::after
  content: "\25B8"
  margin-left: $space-half

.nav_item.is-active
  padding-bottom: 3px
  border-bottom: 1px solid $white

.nav_item.is-active::after
  transform: rotate(180deg)


// Nav Link
//============================================

.navSecondary
  display: none

.navSecondary.is-open
  display: block


// Nav Link
//============================================

.navLinks
  display: none

.navLinks.is-open
  display: block

.navLinks_wrap
  flex-wrap: wrap
  padding-top: 0

.navLinks_item
  width: 100%
  font-size: x-large

.navLinks_item:not(:last-child)
  margin-bottom: $space-half

// Nav Grid
//============================================

.navGrid
  display: none

.navGrid.is-open
  display: block

.navGrid_wrap
  flex-wrap: wrap
  justify-content: space-between

.navGrid_item
  flex-basis: 30%
  margin-bottom: $space

.gridItem_label
  display: block
  font-size: small
  letter-spacing: 1px

.gridItem_name
  position: relative
  padding-right: $space

.gridItem_name::after
  position: absolute
  top: 50%
  right: 0
  transform: translateY(-50%)
  content: "\25B8"