//============================================
// Navigations
//============================================

.nav
  display: none
  +mq($bp-lg)
    display: block

.nav_wrap
  display: flex
  align-items: center
  padding: 0
  list-style-type: none
  margin: 0

.nav_wrap li
  flex-shrink: 0

.nav_item
  display: flex
  align-items: center
  font-weight: 600
  margin-right: $space*1.5
  line-height: 1.3
  padding-bottom: 3px
  border-bottom: 1px solid transparent

.nav_item::after
  display: inline-block
  content: "\25BE"
  margin-left: $space-half
  transition: transform .5s $motion

.nav_item.is-active
  border-bottom-color: $white

.nav_item.is-active::after
  transform: rotate(180deg)


// Nav Link
//============================================

.navLinks_wrap
  flex-wrap: wrap

.navLinks_item
  width: 100%
  font-size: x-large

.navLinks_item:not(:last-child)
  margin-bottom: $space-half


// Nav Grid
//============================================

.navGrid_wrap
  flex-wrap: wrap
  justify-content: flex-start

.navGrid_item
  flex-basis: 33.3333%
  margin-bottom: $space

.gridItem_label
  +tag

.gridItem_name
  position: relative
  padding-right: $space