//============================================
// Pagination navigation
//============================================


// Pagination Wrapper
//============================================

.pagination
  display: flex
  align-items: center
  justify-content: space-between
  margin: 0 auto
  max-width: 600px


// Pagination Pages Wrapper
//============================================

.pagination_pagesWrapper
  display: flex
  justify-content: space-between
  width: 100%
  margin: 0 $space


// Pagination Button
//============================================

.pagination_button
  flex-shrink: 0


// Pagination Page
//============================================

.pagination_page
  padding: 7px 12px 4px
  cursor: pointer
  font-weight: 500
  border-radius: $radius
  transition: color .3s $motion, background-color .3s $motion
  &:hover
    color: $white
    background-color: $primary

.t_dsgn
  .pagination_page-current,
  .pagination_page:hover
    background-color: $dsgn

.t_eco
  .pagination_page-current,
  .pagination_page:hover
    background-color: $eco

.t_edu
  .pagination_page-current,
  .pagination_page:hover
    background-color: $edu

.t_comp
  .pagination_page-current,
  .pagination_page:hover
    background-color: $comp

.t_tech
  .pagination_page-current,
  .pagination_page:hover
    background-color: $tech

.t_library
  .pagination_page-current,
  .pagination_page:hover
    background-color: $library

.pagination_page:nth-child(n+6) 
  display: none
  +mq($bp-sm)
    display: block

.pagination_page-current
  color: $white
  background-color: $primary