//============================================
// Navigation Alphabet
//============================================

.navAlphabet
  +h2
  position: relative
  color: $primary
  overflow: hidden
  margin-bottom: $space
  +mq($bp-md)
    margin-bottom: $space*1.5
  +mq($bp-lg)
    margin-bottom: $space*2

.navAlphabet:before
  position: absolute
  z-index: 1
  top: 0
  left: 0
  content: " "
  width: $space*2
  height: 100%
  background: linear-gradient(to left, rgba($white, 0) , $white)

.navAlphabet:after
  position: absolute
  z-index: 1
  top: 0
  right: 0
  content: " "
  width: $space*2
  height: 100%
  background: linear-gradient(to right, rgba($white, 0) , $white)

.navAlphabet-inner
  position: relative
  white-space: nowrap
  padding: 0 $space*2 $space $space*2
  margin-bottom: -$space
  overflow-y: hidden
  overflow-x: scroll
  -webkit-overflow-scrolling: touch

.navAlphabet_letter:not(:last-child):after
  content: " ·"

.t_des-art
  .navAlphabet
    color: $des-art

.t_eco
  .navAlphabet
    color: $eco

.t_edu
  .navAlphabet
    color: $edu

.t_comp-science
  .navAlphabet
    color: $comp-science

.t_science-tech
  .navAlphabet
    color: $science-tech

.t_library
  .navAlphabet
    color: $library