//============================================
// Mobile navigation
//============================================

.navMobile
  display: none
  padding: $space-half 0

.navMobile.is-open
  display: block

.navMobile_wrap
  margin: 0
  padding: 0
  list-style-type: none

.navMobile_item
  display: block
  padding: $space-half 0

.navMobile_item::after
  display: inline-block
  content: "\25BE"
  margin-left: $space-half

.navMobile_link::after
  content: "\25B8"
  margin-left: $space-half

.navMobile_item.is-active
  padding-bottom: 3px
  border-bottom: 1px solid $white

.navMobile_item.is-active::after
  transform: rotate(180deg)


// Mobile second level
//============================================

.navMobile_second
  display: none
  margin: 0 0 0 $space
  padding: 0
  list-style-type: none

.navMobile_second.is-open
  display: block


// Mobile third level
//============================================

.navMobile_third
  display: none
  list-style-type: none
  margin: 0 0 0 $space
  padding: 0

.navMobile_third.is-open
  display: block

.mobileItem_wrap
  padding: $space-half 0

.mobileItem_label
  display: block
  font-size: small
  letter-spacing: 1px

.mobileItem_name
  position: relative
  padding-right: $space

.mobileItem_name::after
  position: absolute
  top: 50%
  right: 0
  transform: translateY(-50%)
  content: "\25B8"