//============================================
// Scroll Navigation
//============================================

.scrollNav
  +h2
  position: relative
  overflow: hidden
  color: $gray
  margin-bottom: $space
  +mq($bp-lg)
    margin-bottom: $space*1.5

.scrollNav:before
  position: absolute
  z-index: 1
  top: 0
  left: 0
  content: " "
  width: $space*2
  height: 100%
  background: linear-gradient(to left, rgba($white, 0) , $white)

.scrollNav:after
  position: absolute
  z-index: 1
  top: 0
  right: 0
  content: " "
  width: $space*2
  height: 100%
  background: linear-gradient(to right, rgba($white, 0) , $white)

.scrollNav-inner
  position: relative
  white-space: nowrap
  padding: 0 $space*2 $space $space*2
  margin-bottom: -$space
  overflow-y: hidden
  overflow-x: scroll
  -webkit-overflow-scrolling: touch

.scrollNav_item-active
  color: $primary

.scrollNav_item:not(:last-child):after
  content: " ·"
  color: $gray

.t_des-art
  .scrollNav_item-active
    color: $des-art

.t_eco
  .scrollNav_item-active
    color: $eco

.t_edu
  .scrollNav_item-active
    color: $edu

.t_comp-science
  .scrollNav_item-active
    color: $comp-science

.t_science-tech
  .scrollNav_item-active
    color: $science-tech

.t_library
  .scrollNav_item-active
    color: $library