//============================================
// Navigations
//============================================

.nav
  display: none
  +mq($bp-lg)
    display: block

.nav_wrap
  display: flex
  align-items: center
  padding: 0
  list-style-type: none
  margin: 0

.nav_wrap li
  flex-shrink: 0

.nav_item
  display: flex
  align-items: center
  font-weight: 600
  margin-right: $space
  line-height: 1.3
  padding-bottom: 3px
  border-bottom: 1px solid transparent
  transition: border-bottom-color .5s $motion

.nav_item-utility
  display: none
  font-weight: 300
  +mq($bp-lg)
    display: flex

.nav_item::after
  display: inline-block
  content: " "
  margin: 2px 0 0 $space-half
  width: 0 
  height: 0
  border-left: 4px solid transparent
  border-right: 4px solid transparent
  border-top: 4px solid $black
  transition: transform .5s $motion

.nav_item.is-active
  border-bottom-color: $color-text

.nav_item.is-active::after
  transform: rotate(180deg)

.navSecondary
  .nav_item.is-active
    border-bottom-color: $white
  .nav_item::after
    border-top-color: $white


// Nav Link
//============================================

.navLinks_wrap
  flex-wrap: wrap

.navLinks_item
  width: 100%
  font-size: x-large

.navLinks_item:not(:last-child)
  margin-bottom: $space-half


// Nav Grid
//============================================

.navGrid_wrap
  flex-wrap: wrap
  align-items: flex-start
  justify-content: flex-start

.navGrid_item
  flex-basis: 33.3333%
  margin-bottom: $space

.gridItem_label
  +tag
  margin-bottom: 0

.gridItem_name
  position: relative
  padding-right: $space*1.5

.navGrid
  .gridItem_label
    color: $white