//============================================
// Mobile navigation
//============================================

.navMobile
  padding: $space-half 0

.navMobile.is-open
  display: block

.navMobile_list
  margin: 0
  padding: 0
  list-style-type: none

.navMobile_item,
.navMobile_link
  display: block
  padding: $space-half 0

.navMobile_item::after
  display: inline-block
  vertical-align: middle
  content: " "
  margin: 0 0 0 $space-half
  width: 0 
  height: 0
  border-left: 4px solid transparent
  border-right: 4px solid transparent
  border-top: 4px solid $black
  transition: transform .5s $motion


// Mobile second level
//============================================

.navMobile_second
  margin: 0 0 0 $space
  padding: 0
  list-style-type: none


// Mobile third level
//============================================

.navMobile_third
  list-style-type: none
  margin: 0 0 0 $space
  padding: 0

.navMobile_label
  +tag
  margin-bottom: 0

.mobileItem_name
  position: relative
  padding-right: $space

.mobileItem_name::after
  position: absolute
  top: 50%
  right: 0
  transform: translateY(-50%)
  content: "\25B8"