//============================================
// Navigation Tabs
//============================================

.tabs
  overflow: hidden
  background-color: $primary
  margin-bottom: $space
  +mq($bp-sm)
    margin-bottom: $space*2

.tabs_title
  +h3
  color: $white
  text-align: center

.tabs_text
  color: $white
  text-align: center

.tabs_title + .tabs_text
  margin-top: $space

.tab_list
  overflow-y: hidden
  overflow-x: scroll
  -webkit-overflow-scrolling: touch
  white-space: nowrap
  margin: 0
  padding: 0
  list-style-type: none
  margin-bottom: -$space
  padding-bottom: $space

.tab_list:after
  content: ""
  padding-left: 16px

.tab_list:before
  content: ""
  padding-right: 16px

.tab_item
  display: inline-block
  color: $primary
  text-transform: uppercase
  letter-spacing: 1px
  background-color: light($primary, 95%)
  border-bottom: 1px solid $primary
  border-top-left-radius: $radius
  border-top-right-radius: $radius
  +light-text-shadow
  +light-box-shadow

.tab_item:not(:last-child)
  margin-right: $space-half

.tab_item-active
  color: $color-text
  background-color: $white
  border-color: $white
  +dark-box-shadow

.tab_link
  display: block
  padding: $space-half $space $space-quarter $space

// Brand colors
//============================================

.t_science-tech
  .tabs
    background-color: $science-tech
  .tab_item
    color: $science-tech
    background-color: light($science-tech, 95%)
    border-bottom-color: $science-tech
