//============================================
// Primary Navigation
//============================================

.nav_wrap
  display: flex
  list-style-type: none
  padding: 0

.nav_item
  margin-right: $space*1.5

.nav_item::after
  content: "\25BE"
  margin-left: $space-half

.nav_link::after
  content: "\25B8"
  margin-left: $space-half