//============================================
// Global Search
//============================================

.search
  display: flex

.search_input[type="search"]
  padding: $space 0 $space $space
  box-sizing: border-box
  width: 100%
  border: none
  border-bottom: 1px solid $gray
  outline: 0
  +mq($bp-lg)
    font-size: x-large

.search_button
  padding: $space
  border-bottom: 1px solid $gray