//============================================
// Text Address
//============================================

.vcard_contact
  display: block

.vcard_link
  border-bottom: 1px solid $color-text
  transition: color .2s $motion, border-bottom-color .2s $motion
  &:hover
    color: $primary
    text-decoration: none
    border-bottom-color: $primary