//============================================
// Cookie bar
//============================================

.translate
  padding: $space-half 0
  background-color: $gray
  +mq($bp-md)
    padding: $space 0

.translate_inner
  display: flex
  justify-content: space-between
  align-items: center

.translate_close
  padding-left: $space
  line-height: 1