&lt;div class=&quot;calendar&quot;&gt;
  &lt;div class=&quot;calendar_header&quot;&gt;
    {{&gt; molecules-scroll-nav-months }}
    &lt;div class=&quot;calendar_weekdays&quot;&gt;
      &lt;span class=&quot;calendar_weekday&quot;&gt;sun&lt;/span&gt;
      &lt;span class=&quot;calendar_weekday&quot;&gt;mon&lt;/span&gt;
      &lt;span class=&quot;calendar_weekday&quot;&gt;tue&lt;/span&gt;
      &lt;span class=&quot;calendar_weekday&quot;&gt;wed&lt;/span&gt;
      &lt;span class=&quot;calendar_weekday&quot;&gt;thu&lt;/span&gt;
      &lt;span class=&quot;calendar_weekday&quot;&gt;fri&lt;/span&gt;
      &lt;span class=&quot;calendar_weekday&quot;&gt;sat&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;calendar_days&quot;&gt;
      &lt;div class=&quot;calendar_row&quot;&gt;
        &lt;span class=&quot;calendar_day calendar_day-prevMonth&quot;&gt;30&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;1&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;2&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;3&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;4&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;5&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;6&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;calendar_row&quot;&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;7&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;8&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;9&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;10&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;11&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;12&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;13&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;calendar_row&quot;&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;14&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;15&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;16&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;17&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;18&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;19&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;20&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;calendar_row&quot;&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;21&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;22&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;23&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;24&lt;/span&gt;
        &lt;span class=&quot;calendar_day calendar_day-selected&quot;&gt;25&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;26&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;27&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;calendar_row&quot;&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;28&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;29&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;30&lt;/span&gt;
        &lt;span class=&quot;calendar_day&quot;&gt;31&lt;/span&gt;
        &lt;span class=&quot;calendar_day calendar_day-nextMonth&quot;&gt;1&lt;/span&gt;
        &lt;span class=&quot;calendar_day calendar_day-nextMonth&quot;&gt;2&lt;/span&gt;
        &lt;span class=&quot;calendar_day calendar_day-nextMonth&quot;&gt;3&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;