<div class="calendar">
  <div class="calendar_header">
    {{> molecules-scroll-nav-months }}
    <div class="calendar_weekdays">
      <span class="calendar_weekday">sun</span>
      <span class="calendar_weekday">mon</span>
      <span class="calendar_weekday">tue</span>
      <span class="calendar_weekday">wed</span>
      <span class="calendar_weekday">thu</span>
      <span class="calendar_weekday">fri</span>
      <span class="calendar_weekday">sat</span>
    </div>
    <div class="calendar_days">
      <div class="calendar_row">
        <span class="calendar_day calendar_day-prevMonth">30</span>
        <span class="calendar_day">1</span>
        <span class="calendar_day">2</span>
        <span class="calendar_day">3</span>
        <span class="calendar_day">4</span>
        <span class="calendar_day">5</span>
        <span class="calendar_day">6</span>
      </div>
      <div class="calendar_row">
        <span class="calendar_day">7</span>
        <span class="calendar_day">8</span>
        <span class="calendar_day">9</span>
        <span class="calendar_day">10</span>
        <span class="calendar_day">11</span>
        <span class="calendar_day">12</span>
        <span class="calendar_day">13</span>
      </div>
      <div class="calendar_row">
        <span class="calendar_day">14</span>
        <span class="calendar_day">15</span>
        <span class="calendar_day">16</span>
        <span class="calendar_day">17</span>
        <span class="calendar_day">18</span>
        <span class="calendar_day">19</span>
        <span class="calendar_day">20</span>
      </div>
      <div class="calendar_row">
        <span class="calendar_day">21</span>
        <span class="calendar_day">22</span>
        <span class="calendar_day">23</span>
        <span class="calendar_day">24</span>
        <span class="calendar_day calendar_day-selected">25</span>
        <span class="calendar_day">26</span>
        <span class="calendar_day">27</span>
      </div>
      <div class="calendar_row">
        <span class="calendar_day">28</span>
        <span class="calendar_day">29</span>
        <span class="calendar_day">30</span>
        <span class="calendar_day">31</span>
        <span class="calendar_day calendar_day-nextMonth">1</span>
        <span class="calendar_day calendar_day-nextMonth">2</span>
        <span class="calendar_day calendar_day-nextMonth">3</span>
      </div>
    </div>
  </div>
</div>