<div class="l-container">
  <div class="typography">
    <div class="filter_wrapper">
      {{# filters-toggle }}
        {{> atoms-button-outline (class:"filter_toggle")}}
      {{/ filters-toggle }}
      <div class="filter_list">
        {{# filters }}
          {{> atoms-button-outline }}
        {{/ filters }}
      </div>
    </div>
  </div>
</div>