{{&gt; organisms-header-de }}
&lt;main&gt;
  {{# bachelor-hero }}
    {{&gt; organisms-hero }}
  {{/ bachelor-hero }}

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;p class=&quot;intro-med&quot;&gt;
          Wenn Sie sich f&uuml;r dieses Studium entscheiden, sollten Sie keine Scheu davor haben, wirtschaftliche, politische und gesellschaftliche Fragestellungen aus verschiedenen Perspektiven zu betrachten. Welche wirtschaftspolitischen Handlungsm&ouml;glichkeiten haben politische Akteure, welchen Einfluss haben diese auf gesellschaftspolitische Entwicklungen und welche wirtschaftlichen Zusammenh&auml;nge bestehen? All diese Fragen lernen Sie w&auml;hrend ihrer Studienzeit zu beantworten. Dar&uuml;ber hinaus werden Fragen der Politik aufgeworfen - warum beispielsweise Staaten in den Krieg ziehen oder Frieden schlie&szlig;en oder wie sich Demokratie in einem Staat entwickelt. Im Bereich der Philosophie f&ouml;rdern renommierte Professoren zudem die Entwicklung des analytischen Denkens.
        &lt;/p&gt;
        &lt;p&gt;
          Die &lt;a href=&quot;{{ link.pages-study-3-languages-de }}&quot;&gt;Unterrichtssprachen&lt;/a&gt; sind Deutsch, Italienisch und Englisch.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;glance&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        &lt;h3 class=&quot;glance_title&quot;&gt;Kurzinfo zum Studiengang&lt;/h3&gt;
        &lt;div class=&quot;glance_text&quot;&gt;
          &lt;ul&gt;
            &lt;li&gt;Bachelorklasse: L-33 &lt;/li&gt;
            &lt;li&gt;ECTS: 180&lt;/li&gt;
            &lt;li&gt;Regelstudienzeit: 3 Jahre&lt;/li&gt;
            &lt;li&gt;Unterrichtssprachen: Italienisch, Deutsch und Englisch&lt;/li&gt;
            &lt;li&gt;Studienpl&auml;tze: 50 EU + 5 Nicht-EU&lt;/li&gt;
            &lt;li&gt;Campus: Bozen&lt;/li&gt;
            &lt;li&gt;Studiengeb&uuml;hren: 1343,50&euro;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Aufbau&lt;/h3&gt;
        &lt;p&gt;
          Dieser Studiengang ist interdisziplin&auml;r ausgerichtet und verbindet Volkswirtschaftslehre, Politikwissenschaften und Philosophie. Der Schwerpunkt liegt auf der Volkswirtschaftslehre: Sie vertiefen insbesondere klassische wirtschaftswissenschaftliche F&auml;cher wie Allgemeine Betriebswirtschaftslehre, Finanzm&auml;rkte und Institutionen, &Ouml;konometrie, Mathematik und  Statistik. F&auml;cher wie Politikwissenschaften, Grundlinien der Philosophie, &Ouml;ffentliches und Europ&auml;isches Recht und Wirtschaftsrecht runden das Angebot ab. Ein besonderer Fokus wird auf die Fremdsprachen gelegt. Es sind sowohl ein Praktikum als auch ein Auslandsaufenthalt vorgesehen.
        &lt;/p&gt;
        {{# bachelor-structure }}
          {{&gt; atoms-button }}
        {{/ bachelor-structure }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;mediaBlock&quot;&gt;
        &lt;a class=&quot;mediaBlock_figure&quot; href=&quot;#&quot;&gt;
          &lt;img class=&quot;mediaBlock_thumb&quot; src=&quot;https://dl.dropboxusercontent.com/u/13990214/www/unibz/natech-person.jpg&quot; alt=&quot;&quot;&gt;          &lt;/a&gt;
          &lt;div class=&quot;mediaBlock_body&quot;&gt;
            &lt;h2 class=&quot;mediaBlock_title&quot;&gt;Personen&lt;/h2&gt;
              &lt;p&gt;
                Studiengangsleiter: Prof. Prof. G&uuml;nter Schamel.&lt;br&gt;
                Studentenvertreter: Eleonora Moro.&lt;br&gt;
                Weitere Professoren: Dr. phil. Ivo De Gennaro; Dr. Roberto Farneti
              &lt;/p&gt;
              &lt;a href=&quot;#&quot; class=&quot;btn-text btn-text-alt mediaBlock_btn&quot;&gt;
                Weitere Personen
              &lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;M&ouml;gliche Berufsfelder&lt;/h3&gt;
        &lt;p&gt;
          Sie k&ouml;nnen im Dienstleistungssektor und Journalismus oder in &ouml;ffentlichen und privaten Organisationen beziehungsweise gemeinn&uuml;tzigen Einrichtungen t&auml;tig sein. Die Mehrheit der Studierenden entschlie&szlig;t sich jedoch f&uuml;r ein Weiterstudium in Bereichen wie beispielsweise internationales Management oder internationale Beziehungen.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Elena la Rocca, Absolventin des Studienganges&lt;/h3&gt;
        &lt;img class=&quot;left&quot; src=&quot;http://studiengaenge.zeit.de/uploads/images/course/ad68749/statement/2014_19_uni084FB_1.jpg&quot; alt=&quot;&quot;&gt;
        &lt;p&gt;
          My name is Elena, I am 21 years old and I come from Milan. I'm studying Economics and Social Sciences, commonly known as PPE. The reason I chose unibz? Because I can switch from one language to the other and create 'Genglitalian' neologisms (a mix of German, English and Italian) and the others do understand me! After my Abitur at the Deutsche Schule Mailand, I wanted to keep up my multilingualism. I did not want to study languages; I wanted to study in more languages. With PPE it was love at first sight: Philosophie, Politica and Economics &ndash; three study areas that intertwine in three languages. I can talk 'gemischt', communicating in the most spontaneous way 'quello che mi passa per la testa'. And that's what I like about unibz!
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Zulassung&lt;/h3&gt;
        &lt;p&gt;
          Voraussetzung f&uuml;r die Zulassung ist der Nachweis von Niveau B2 in zwei der drei Unterrichtssprachen (Italienisch, Deutsch, Englisch).
          Wenn Sie kein anerkanntes Sprachzertifikat besitzen, k&ouml;nnen Sie die &lt;a href=&quot;#&quot;&gt;Sprachpr&uuml;fung&lt;/a&gt; an der unibz ablegen.
        &lt;/p&gt;
        &lt;h4&gt;Bewerbungsverfahren&lt;/h4&gt;
        &lt;ol&gt;
          &lt;li&gt;Online-Bewerbung bis zum 22. Juli 2016.&lt;/li&gt;
          &lt;li&gt;
            Auswahlkriterien: Notendurchschnitt des drittletzten und vorletzten Schuljahres (90%), Motivationsschreiben (10%).
          &lt;/li&gt;
        &lt;/ol&gt;
        &lt;p&gt;
          Mehr Infos im &lt;a href=&quot;#&quot;&gt;Studienmanifest&lt;/a&gt;. Das Studienmanifest enth&auml;lt Informationen &uuml;ber Studiengang, Studienplan, Zulassungstitel, erforderliche Sprachkompetenzen, Bewerbung, Auswahlverfahren, Immatrikulation und Studiengeb&uuml;hren.
        &lt;/p&gt;

        {{# bachelor-submit }}
          {{&gt; atoms-button-big }}
        {{/ bachelor-submit }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}