&lt;section class=&quot;l-section&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{&gt; atoms-heading-3 (class:&quot;h3&quot;) }}
    {{&gt; atoms-forms-input-search }}
  &lt;/div&gt;
&lt;/section&gt;