&lt;div class=&quot;person&quot;&gt;
  {{# empty }}
  &lt;a class=&quot;person_figure&quot; href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-avatar (class:&quot;class='person_avatar'&quot;)}}
  &lt;/a&gt;
  {{/ empty }}
  {{^ empty }}
  &lt;a class=&quot;person_figure&quot; href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-square (class:&quot;class='person_portrait'&quot;)}}
  &lt;/a&gt;
  {{/ empty }}
  {{# person-name }}
    {{&gt; atoms-text-span (class:&quot;class='person_name'&quot;)}}
  {{/ person-name }}
  {{# person-meta }}
    {{&gt; atoms-text-span (class:&quot;class='person_meta'&quot;)}}
  {{/ person-meta }}
  {{&gt; atoms-button-small }}
&lt;/div&gt;