&lt;div class=&quot;blockTitle&quot;&gt;
  {{# tag }}
    {{&gt; atoms-text-span (class: &quot;blockTitle_meta&quot;) }}
  {{/ tag }}
  &lt;a class=&quot;u-blk&quot; href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-heading-3 (class: &quot;blockTitle_title&quot;) }}
  &lt;/a&gt;
  {{# text }}
    {{&gt; atoms-text-paragraph (class:&quot;blockTitle_text&quot;) }}
  {{/ text }}
  {{# btn-link }}
    {{&gt; atoms-button-text (class: &quot;btn-text-small blockTitle_btn&quot;) }}
  {{/ btn-link }}
&lt;/div&gt;