{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}

  {{# page-filters }}
    {{&gt; molecules-filters-alone }}
  {{/ page-filters }}

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container-small&quot;&gt;
      {{# tenders }}
        {{&gt; molecules-block-tender }}
      {{/ tenders }}
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container-small&quot;&gt;
      {{&gt; molecules-nav-pagination }}
    &lt;/div&gt;
  &lt;/section&gt;
&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}