<div class="demo">
  <div class="g-row">
    <div class="g g-24"></div>
  </div>
  <div class="g-row">
    <div class="g g-1"></div>
    <div class="g g-23"></div>
  </div>
  <div class="g-row">
    <div class="g g-2"></div>
    <div class="g g-22"></div>
  </div>
  <div class="g-row">
    <div class="g g-3"></div>
    <div class="g g-21"></div>
  </div>
  <div class="g-row">
    <div class="g g-4"></div>
    <div class="g g-20"></div>
  </div>
  <div class="g-row">
    <div class="g g-5"></div>
    <div class="g g-19"></div>
  </div>
  <div class="g-row">
    <div class="g g-6"></div>
    <div class="g g-18"></div>
  </div>
  <div class="g-row">
    <div class="g g-7"></div>
    <div class="g g-17"></div>
  </div>
  <div class="g-row">
    <div class="g g-8"></div>
    <div class="g g-16"></div>
  </div>
  <div class="g-row">
    <div class="g g-9"></div>
    <div class="g g-15"></div>
  </div>
  <div class="g-row">
    <div class="g g-10"></div>
    <div class="g g-14"></div>
  </div>
  <div class="g-row">
    <div class="g g-11"></div>
    <div class="g g-13"></div>
  </div>
  <div class="g-row">
    <div class="g g-12"></div>
    <div class="g g-12"></div>
  </div>
  <div class="g-row">
    <div class="g g-23"></div>
    <div class="g g-1"></div>
  </div>
  <div class="g-row">
    <div class="g g-22"></div>
    <div class="g g-2"></div>
  </div>
  <div class="g-row">
    <div class="g g-21"></div>
    <div class="g g-3"></div>
  </div>
  <div class="g-row">
    <div class="g g-20"></div>
    <div class="g g-4"></div>
  </div>
  <div class="g-row">
    <div class="g g-19"></div>
    <div class="g g-5"></div>
  </div>
  <div class="g-row">
    <div class="g g-18"></div>
    <div class="g g-6"></div>
  </div>
  <div class="g-row">
    <div class="g g-17"></div>
    <div class="g g-7"></div>
  </div>
  <div class="g-row">
    <div class="g g-16"></div>
    <div class="g g-8"></div>
  </div>
  <div class="g-row">
    <div class="g g-15"></div>
    <div class="g g-9"></div>
  </div>
  <div class="g-row">
    <div class="g g-14"></div>
    <div class="g g-10"></div>
  </div>
  <div class="g-row">
    <div class="g g-13"></div>
    <div class="g g-11"></div>
  </div>
</demo>