&lt;div class=&quot;timetable_day&quot;&gt;
  {{&gt; atoms-heading-3 (class: &quot;timetable_date&quot;)}}
  &lt;div class=&quot;timetable_items&quot;&gt;
    {{# timetable-items }}
      {{&gt; molecules-block-timetable-item }}
    {{/ timetable-items }}
  &lt;/div&gt;
&lt;/div&gt;
