{{&gt; organisms-header }}
&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero }}
  {{/ page-hero }}
  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;p class=&quot;intro-med&quot;&gt;
          Auf dieser Seite finden Bewerberinnen und Bewerber alle f&uuml;r das Studium relevanten Informationen von A wie Aufnahmeverfahren bis Z wie Zulassung.
        &lt;/p&gt;
        
        &lt;h3&gt;Dreisprachig studieren&lt;/h3&gt;
        &lt;img class=&quot;left&quot; src=&quot;http://unibz.github.io/wireframes/study/studienberatung.jpg&quot; alt=&quot;&quot;&gt;
        &lt;p&gt;
          Ein Gro&szlig;teil der Studieng&auml;nge an der unibz ist dreisprachig, das hei&szlig;t die Vorlesungen werden zum Teil in Deutsch, Italienisch und Englisch gehalten.
        &lt;/p&gt;
        &lt;p&gt;
          F&uuml;r die Zulassung zu einem Bachelorstudium ist ein Nachweis auf &lt;a href=&quot;#&quot;&gt;Niveau B2&lt;/a&gt; in mindestens 2 der drei Unterrichtssprachen erforderlich. &lt;a href=&quot;#&quot;&gt;Sprachanforderungen im Detail&lt;/a&gt;.
        &lt;/p&gt;
        &lt;p&gt;
          F&uuml;r den Nachweis der Sprachkenntnisse kann entweder ein anerkanntes &lt;a href=&quot;#&quot;&gt;Sprachzertifikat&lt;/a&gt; eingereicht oder eine &lt;a href=&quot;#&quot;&gt;Pr&uuml;fung am Sprachenzentrum&lt;/a&gt; abgelegt werden. Ein Schulabschluss in einer der drei Sprachen gilt als Sprachnachweis auf Niveau C1.
        &lt;/p&gt;
        
        &lt;h3&gt;Bewerbung&lt;/h3&gt;
        &lt;ol&gt;
          &lt;li&gt;Informationen einholen&lt;/li&gt;
          &lt;li&gt;Online-Bewerbung&lt;/li&gt;
          &lt;li&gt;Auswahlverfahren&lt;/li&gt;
          &lt;li&gt;Best&auml;tigung des Studienplatzes und Immatrikulation&lt;/li&gt;
        &lt;/ol&gt;
        
        &lt;h3&gt;Immatrikulation&lt;/h3&gt;
        &lt;ol&gt;
          &lt;li&gt;Erste Rate der Studiengeb&uuml;hren bezahlen und Best&auml;tigung im Portal hochladen&lt;/li&gt;
          &lt;li&gt;Online-Immatrikulation im Portal durchf&uuml;hren&lt;/li&gt;
        &lt;/ol&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;
      
  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Wohnen&lt;/h3&gt;
        &lt;img class=&quot;right&quot; src=&quot;http://unibz.github.io/wireframes/study/univercity.jpg&quot; alt=&quot;&quot;&gt;
        &lt;p&gt;
          Am Campus Bozen und Brixen stehen Studierenden mehr als 600 Wohnheimpl&auml;tze zur Verf&uuml;gung. Die Miete bel&auml;uft sich auf 290&euro; pro Monat im Einzelzimmer und auf 220&euro; in einem Doppelzimmer.
        &lt;/p&gt;
        &lt;p&gt;
          Die Antragsstellung f&uuml;r 2015/16 ist ab 14. April 2015 m&ouml;glich. Die Pl&auml;tze werden in chronologischer Reihenfolge zugewiesen, deshalb ist es ratsam den Antrag fr&uuml;hzeitig zu stellen. Die Pl&auml;tze werden zwischen Juli und August zugewiesen.
        &lt;/p&gt;
        &lt;p&gt;
          F&uuml;r die Wohnheime zust&auml;ndig ist das &lt;a href=&quot;#&quot;&gt;Amt f&uuml;r Hochschulf&ouml;rderung&lt;/a&gt;.
        &lt;/p&gt;
        &lt;p&gt;
          WG-Zimmer findet ihr auf &lt;a href=&quot;#&quot;&gt;accomodationunibz.blogspot.com&lt;/a&gt; und am schwarzen Brett der drei Campus.
        &lt;/p&gt;
        &lt;p&gt;
          Alle Studierenden k&ouml;nnen beim Amt f&uuml;r Hochschulf&ouml;rderung um eine &lt;a href=&quot;#&quot;&gt;ordentliche Studienbeihilfe&lt;/a&gt; ansuchen. Diese betr&auml;gt je nach Einkommen zwischen 1400&euro; und 5800&euro; pro Jahr.
        &lt;/p&gt;
        &lt;p&gt;
          Studierenden mit einem Notenurchschnitt von mindestens 27 k&ouml;nnen nach dem ersten Jahr au&szlig;erdem ein &lt;a href=&quot;#&quot;&gt;Leistungsstipendium&lt;/a&gt; beantragen.
        &lt;/p&gt;
        
        &lt;h3&gt;ABO+&lt;/h3&gt;
        &lt;p&gt;
          Studierende der unibz k&ouml;nnen f&uuml;r 150&euro; das &lt;a href=&quot;#&quot;&gt;ABO+&lt;/a&gt; der Provinz beantragen, und damit alle &ouml;ffentlichen Verkehrsmittel in S&uuml;dtirol sowie Z&uuml;ge bis nach Trient benutzen.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Studienberatung&lt;/h3&gt;
        &lt;p&gt;
          F&uuml;r eine individuelle Beratung oder Informationen zu den &lt;a href=&quot;#&quot;&gt;Studieng&auml;ngen&lt;/a&gt; k&ouml;nnen Sie sich an die Studienberatung wenden.
        &lt;/p&gt;
      &lt;/div&gt;
      &lt;div class=&quot;contactBlock&quot;&gt;
        &lt;div class=&quot;contactBlock_elem contactBlock_info&quot;&gt;
          &lt;p class=&quot;elem_item&quot;&gt;Info Point&lt;/p&gt;
          &lt;p class=&quot;elem_item&quot;&gt;Universit&auml;tsplatz 1 - piazza Universit&agrave;, 1&lt;/p&gt;
          &lt;p class=&quot;elem_item&quot;&gt;I - 39100 Bozen-Bolzano&lt;/p&gt;
          &lt;p class=&quot;elem_item&quot;&gt;Tel +39 0471 012500&lt;/p&gt;
          &lt;p class=&quot;elem_item&quot;&gt;Fax +39 0471 012509&lt;/p&gt;
          &lt;a href=&quot;#&quot;&gt;study@unibz.it&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;contactBlock_elem contactBlock_time&quot;&gt;
          &lt;p&gt;Orari di apertura&lt;/p&gt;
          &lt;p class=&quot;elem_item&quot;&gt;InfoPoint A1.01&lt;/p&gt;
          &lt;p class=&quot;elem_item&quot;&gt;Luned&iacute; 14:00 &ndash; 16:00&lt;/p&gt;
          &lt;p class=&quot;elem_item&quot;&gt;Marted&iacute; e gioved&iacute; 10:00 &ndash; 12:30&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;
      
  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Open Day&lt;/h3&gt;
        &lt;p&gt;
          Einmal im Jahr &ouml;ffnet unibz ihre Tore f&uuml;r zuk&uuml;nftige Studierende. Heuer ist das am 13. M&auml;rz 2015. Neben der Universit&auml;t k&ouml;nnen auch die Studentenheime besichtigt werden und Sprachpr&uuml;fungen abgelegt werden.
        &lt;/p&gt;
      &lt;/div&gt;
      &lt;div class=&quot;embed embed-16-9&quot;&gt;
        &lt;iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/DBc_InK3Cl4&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Barrierefreiheit&lt;/h3&gt;
        &lt;p&gt;
          Studieninteressierte mit Behinderungen k&ouml;nnen sich mit Fragen und Problemen (behindertengerechte Einrichtungen, Beantragung von Hilfsmitteln usw.) an die Studienberatung wenden.
        &lt;/p&gt;
        &lt;p&gt;
          Die Universit&auml;t organisiert auf Anfrage behindertengerechte Aufnahmepr&uuml;fungen und stellt den Studierenden technische und didaktische Hilfsmittel zur Verf&uuml;gung.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}