&lt;nav id=&quot;nav-study-courses&quot; class=&quot;js-nav navSecondary&quot; data-nav-level=&quot;2&quot;&gt;
  &lt;ul class=&quot;nav_wrap&quot;&gt;
    &lt;li&gt;
      &lt;a id=&quot;bachelor&quot; class=&quot;js-nav_item nav_item&quot; href=&quot;#&quot; data-toggle-elem=&quot;#nav-bachelor&quot;&gt;Bachelor&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;js-nav_item nav_item&quot; href=&quot;#&quot; data-toggle-elem=&quot;#nav-master&quot;&gt;Master&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;js-nav_item nav_item&quot; href=&quot;#&quot; data-toggle-elem=&quot;#nav-master-one-cycle&quot;&gt;Master (einstufig)&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;js-nav_item nav_item&quot; href=&quot;#&quot; data-toggle-elem=&quot;#nav-phd&quot;&gt;Doktoratsstudien&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;