{{&gt; organisms-header }}
&lt;main class=&quot;t_des-art&quot;&gt;
	&lt;div class=&quot;l-container&quot;&gt;
		{{&gt; atoms-heading-1 (headline.short:&quot;Faculty of Design and Art&quot;, class:&quot;class='h1 u-ta-center u-push-btm-double u-sm-padd-btm-double'&quot;) }}
		&lt;section class=&quot;l-section u-push-btm-double&quot;&gt;
			{{&gt; atoms-heading-3 (headline.short:&quot;Tenured full professor&quot;, class:&quot;class='h3 u-ta-center u-push-btm'&quot;) }}
			&lt;div class=&quot;g-row g-sm-clear-2 g-md-clear-3 g-lg-clear-4&quot;&gt;
				{{# contract-professor }}
					&lt;div class=&quot;g g-sm-12 g-md-8 g-lg-6&quot;&gt;
						{{&gt; molecules-block-person }}
					&lt;/div&gt;
				{{/ contract-professor }}
			&lt;/div&gt;
		&lt;/section&gt;
		&lt;section class=&quot;l-section u-push-btm-double&quot;&gt;
			{{&gt; atoms-heading-3 (headline.short:&quot;Tenured associate professors&quot;, class:&quot;class='h3 u-ta-center u-push-btm'&quot;) }}
			&lt;div class=&quot;g-row g-sm-clear-2 g-md-clear-3 g-lg-clear-4&quot;&gt;
				{{# contract-professor }}
					&lt;div class=&quot;g g-sm-12 g-md-8 g-lg-6&quot;&gt;
						{{&gt; molecules-block-person }}
					&lt;/div&gt;
				{{/ contract-professor }}
			&lt;/div&gt;
		&lt;/section&gt;
		&lt;section class=&quot;l-section u-push-btm-double&quot;&gt;
			{{&gt; atoms-heading-3 (headline.short:&quot;Researcher with a fixed-term contract&quot;, class:&quot;class='h3 u-ta-center u-push-btm'&quot;) }}
			&lt;div class=&quot;g-row g-sm-clear-2 g-md-clear-3 g-lg-clear-4&quot;&gt;
				{{# contract-professor }}
					&lt;div class=&quot;g g-sm-12 g-md-8 g-lg-6&quot;&gt;
						{{&gt; molecules-block-person }}
					&lt;/div&gt;
				{{/ contract-professor }}
			&lt;/div&gt;
		&lt;/section&gt;
		&lt;section class=&quot;l-section u-push-btm-double&quot;&gt;
			{{&gt; atoms-heading-3 (headline.short:&quot;Teaching staff&quot;, class:&quot;class='h3 u-ta-center u-push-btm'&quot;) }}
			&lt;div class=&quot;g-row g-sm-clear-2 g-md-clear-3 g-lg-clear-4&quot;&gt;
				{{# contract-professor }}
					&lt;div class=&quot;g g-sm-12 g-md-8 g-lg-6&quot;&gt;
						{{&gt; molecules-block-person }}
					&lt;/div&gt;
				{{/ contract-professor }}
			&lt;/div&gt;
		&lt;/section&gt;
		&lt;section class=&quot;l-section u-push-btm-double&quot;&gt;
			{{&gt; atoms-heading-3 (headline.short:&quot;Research assistants&quot;, class:&quot;class='h3 u-ta-center u-push-btm'&quot;) }}
			&lt;div class=&quot;g-row g-sm-clear-2 g-md-clear-3 g-lg-clear-4&quot;&gt;
				{{# contract-professor }}
					&lt;div class=&quot;g g-sm-12 g-md-8 g-lg-6&quot;&gt;
						{{&gt; molecules-block-person }}
					&lt;/div&gt;
				{{/ contract-professor }}
			&lt;/div&gt;
		&lt;/section&gt;
	&lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}