&lt;div class=&quot;blockLecture&quot;&gt;
  {{# meta }}
    {{&gt; atoms-text-span (class: &quot;blockLecture_meta&quot;) }}
  {{/ meta }}
  &lt;a href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-heading-3 (class: &quot;blockLecture_title&quot;) }}
  &lt;/a&gt;
  {{# btn-link }}
    {{&gt; atoms-button-text (class: &quot;btn-text-small blockLecture_btn&quot;) }}
  {{/ btn-link }}
&lt;/div&gt;