&lt;div class=&quot;{{ class }} event&quot;&gt;
  &lt;div class=&quot;event_body&quot;&gt;
    &lt;div class=&quot;event_meta&quot;&gt;
      {{# event-date }}
        {{&gt; atoms-text-date (class: &quot;event_date&quot;) }}
      {{/ event-date }}
      {{# event-time }}
        {{&gt; atoms-text-time (class: &quot;event_time&quot;) }}
      {{/ event-time }}
      {{# event-location }}
        {{&gt; atoms-text-span (class: &quot;event_location&quot;) }}
      {{/ event-location }}
    &lt;/div&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;
      {{# event-title }}
        {{&gt; atoms-heading-2 (class: &quot;event_title&quot;) }}
      {{/ event-title }}
      {{# event-subtitle }}
        {{&gt; atoms-heading-4 (class: &quot;event_subtitle&quot;) }}
      {{/ event-subtitle }}
    &lt;/a&gt;
  &lt;/div&gt;
  &lt;div class=&quot;event_figure&quot;&gt;
    {{# event-image }}
      {{&gt; atoms-image-4x3 }}
    {{/ event-image }}
  &lt;/div&gt;
&lt;/div&gt;