{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container-small&quot;&gt;
      {{# interships }}
        {{&gt; molecules-block-intership }}
      {{/ interships }}
    &lt;/div&gt;
  &lt;/section&gt;
&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}