{{&gt; organisms-header }}
&lt;main class=&quot;{{ faculty }}&quot;&gt;
  {{# bachelor-hero }}
    {{&gt; organisms-hero }}
  {{/ bachelor-hero }}

  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;typography&quot;&gt;
      {{# bachelor-description }}
        {{&gt; atoms-heading-3 }}
        {{&gt; atoms-text-paragraph }}
      {{/ bachelor-description }}
    &lt;/div&gt;
  &lt;/div&gt;

    {{# bachelor-glance }}
      {{&gt; molecules-block-glance }}
    {{/ bachelor-glance }}

  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;typography&quot;&gt;
      {{# bachelor-structure }}
        {{&gt; atoms-heading-3 }}
        {{&gt; atoms-text-paragraph }}
        {{&gt; atoms-button }}
      {{/ bachelor-structure }}

      {{# bachelor-possibility }}
        {{&gt; atoms-heading-3 }}
        {{&gt; atoms-text-paragraph }}
      {{/ bachelor-possibility }}
    &lt;/div&gt;

    {{# bachelor-student }}
      {{&gt; molecules-media-block }}
    {{/ bachelor-student }}

    &lt;div class=&quot;typography&quot;&gt;
      {{# bachelor-admission }}
        {{&gt; atoms-heading-3 }}
        {{&gt; atoms-text-paragraph }}
        {{&gt; atoms-button-big }}
      {{/ bachelor-admission }}
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/main&gt;
{{&gt; organisms-footer }}