{{&gt; organisms-header }}
&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}

  {{# page-description }}
    {{&gt; organisms-block-text }}
  {{/ page-description }}

  &lt;section class=&quot;l-section&quot;&gt;
    {{# page-spaces }}
      {{&gt; organisms-banner }}
    {{/ page-spaces }}
  &lt;/section&gt;

  {{# page-content }}
    {{&gt; organisms-block-text }}
  {{/ page-content }}

&lt;/main&gt;
{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}