{{&gt; organisms-header }}
&lt;main class=&quot;home&quot;&gt;
  {{# page-hero }}
    {{&gt; organisms-hero}}
  {{/ page-hero }}

  {{# page-intro }}
    &lt;section class=&quot;l-section&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        &lt;div class=&quot;typography&quot;&gt;
          {{&gt; atoms-text-paragraph (class: &quot;intro&quot;) }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/section&gt;
  {{/ page-intro }}
  
  {{# page-faculties }}
    &lt;section class=&quot;l-section&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        &lt;div class=&quot;typography&quot;&gt;
          {{&gt; atoms-heading-2 }}
          {{&gt; atoms-text-paragraph }}
        &lt;/div&gt;
        {{&gt; organisms-block-links }}
      &lt;/div&gt;
    &lt;/section&gt;
  {{/ page-faculties }}

  {{# page-banner }}
    {{&gt; organisms-banner }}
  {{/ page-banner }}

  {{# page-research }}
    &lt;section class=&quot;l-section&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        &lt;div class=&quot;typography&quot;&gt;
          {{&gt; atoms-heading-2 }}
          {{&gt; atoms-image-4x3 (class:&quot;right&quot;) }}
          {{&gt; atoms-text-paragraph }}
          {{&gt; atoms-button-medium }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/section&gt;
  {{/ page-research }}

  {{# page-region }}
    &lt;section class=&quot;l-section&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        &lt;div class=&quot;typography&quot;&gt;
          {{&gt; atoms-heading-2 }}
          {{&gt; atoms-text-paragraph }}
          {{&gt; atoms-button-medium }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/section&gt;
  {{/ page-region }}

  {{# page-library }}
    &lt;section class=&quot;l-section&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        {{&gt; molecules-media-block }}
      &lt;/div&gt;
    &lt;/section&gt;
  {{/ page-library }}

  {{# page-news }}
    &lt;section class=&quot;l-section&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        &lt;div class=&quot;typography&quot;&gt;
          {{&gt; atoms-heading-2 }}
          {{&gt; organisms-latest-news }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/section&gt;
  {{/ page-news }}

  {{# page-events }}
    &lt;section class=&quot;l-section&quot;&gt;
      &lt;div class=&quot;l-container-small&quot;&gt;
        &lt;div class=&quot;typography&quot;&gt;
          {{&gt; atoms-heading-2 }}
        &lt;/div&gt;
        {{&gt; organisms-latest-events }}
        &lt;div class=&quot;typography&quot;&gt;
          {{&gt; atoms-button-medium }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/section&gt;
  {{/ page-events }}

  {{# page-magazine }}
    {{&gt; organisms-magazine }}
  {{/ page-magazine }}

&lt;/main&gt;
{{# footer }}
  {{&gt; organisms-footer }}
{{/ footer }}