{{&gt; organisms-header }}
&lt;main class=&quot;home&quot;&gt;
  {{# page-hero }}
    {{&gt; organisms-hero }}
  {{/ page-hero }}

  {{# page-intro }}
    &lt;section class=&quot;l-section&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        &lt;div class=&quot;typography&quot;&gt;
          {{&gt; atoms-text-paragraph (class: &quot;intro&quot;) }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/section&gt;
  {{/ page-intro }}
  
  {{# page-faculties }}
    {{&gt; organisms-block-links }}
  {{/ page-faculties }}

  {{# page-banner }}
    {{&gt; organisms-banner }}
  {{/ page-banner }}

  {{# page-research }}
    {{&gt; organisms-block-text }}
  {{/ page-research }}

  {{# page-region }}
    {{&gt; organisms-block-text }}
  {{/ page-region }}

  {{# page-library }}
    {{&gt; organisms-block-media }}
  {{/ page-library }}

  {{# page-news }}
    {{&gt; organisms-latest-post }}
  {{/ page-news }}

  {{# page-events }}
    {{&gt; organisms-latest-event }}
  {{/ page-events }}
&lt;/main&gt;
{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}