&lt;div class=&quot;timetable_tools&quot;&gt;
  {{&gt; atoms-button-toggle (class:&quot;tt_toolToggle tt_toolToggle-search&quot;, icon:&quot;i-search&quot;) }}
  {{&gt; atoms-input-search (class:&quot;tt_toolSearch&quot;, icon:&quot;i-search&quot;) }}
  {{&gt; atoms-button-toggle (class:&quot;tt_toolToggle&quot;, icon:&quot;i-filter&quot;) }}
  {{&gt; atoms-button-toggle (class:&quot;tt_toolToggle&quot;, icon:&quot;i-calendar&quot;) }}
&lt;/div&gt;