&lt;nav id=&quot;study-courses-nav&quot; class=&quot;navSecondary {{ class }}&quot;&gt;
  &lt;ul class=&quot;nav_wrap&quot;&gt;
    &lt;li&gt;
      &lt;a id=&quot;bachelor&quot; class=&quot;nav_item&quot; href=&quot;{{ url }}&quot;&gt;Bachelor&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;nav_item&quot; href=&quot;{{ url }}&quot;&gt;Master&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;nav_item&quot; href=&quot;{{ url }}&quot;&gt;Master (one cycle)&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;nav_item&quot; href=&quot;{{ url }}&quot;&gt;Phd&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;nav_item nav_link&quot; href=&quot;{{ url }}&quot;&gt;Further offer&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;