&lt;div class=&quot;blockLink_wrapper g-row&quot;&gt;
  {{# links }}
    &lt;div class=&quot;{{ links-class }}&quot;&gt;
        {{&gt; molecules-block-link }}
    &lt;/div&gt;
  {{/ links }}
&lt;/div&gt;