{{# nav-grid-master }}
  &lt;nav id=&quot;nav-master&quot; class=&quot;js-nav navGrid&quot; data-nav-level=&quot;3&quot;&gt;
    &lt;ul class=&quot;nav_wrap navGrid_wrap&quot;&gt;
      {{# items }}
        &lt;li class=&quot;navGrid_item&quot;&gt;
          &lt;span class=&quot;gridItem_label&quot;&gt;{{ tag-item }}&lt;/span&gt;
          &lt;div class=&quot;gridItem_name&quot;&gt;
            &lt;a href=&quot;{{ url }}&quot;&gt;{{ item }}&lt;/a&gt;
          &lt;/div&gt;
        &lt;/li&gt;
      {{/ items }}
      &lt;li class=&quot;navGrid_item&quot;&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/nav&gt;
{{/ nav-grid-master }}