{{&gt; organisms-header }}

&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}

  {{# page-programs }}
    &lt;section class=&quot;l-section&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        {{&gt; organisms-study-program  }}
      &lt;/div&gt;
    &lt;/section&gt;
  {{/ page-programs }}
&lt;/main&gt;

{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}