&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn-small&quot;&gt;Button small&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn-big&quot;&gt;Button big&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn-alt-small&quot;&gt;Alternate Button Small&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn-alt&quot;&gt;Alternate Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn-alt-big&quot;&gt;Alternate Button Big&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn-disabled-small&quot;&gt;Disabled Button Small&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn-disabled&quot;&gt;Disabled Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn-disabled-big&quot;&gt;Disabled Button Big&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn-text&quot;&gt;Text Button&lt;/a&gt;&lt;/p&gt;
&lt;p style=&quot;padding: 20px; background-color: #007be4;&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;btn-text-alt&quot;&gt;Alternate Text Button&lt;/a&gt;&lt;/p&gt;