&lt;section class=&quot;hero-small&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{# hero-label }}
      {{&gt; atoms-heading-5 (class:&quot;hero_label&quot;) }}
    {{/ hero-label }}
    {{# hero-title }}
      {{&gt; atoms-heading-1 (class: &quot;hero_title&quot;) }}
    {{/ hero-title }}
    {{# hero-subtitle }}
      {{&gt; atoms-heading-5 (class:&quot;hero_subtitle&quot;) }}
    {{/ hero-subtitle }}
  &lt;/div&gt;
&lt;/section&gt;