{{&gt; organisms-header }}
&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero }}
  {{/ page-hero }}

  {{# page-hours }}
    {{&gt; organisms-block-text }}
  {{/ page-hours }}

  {{# page-services }}
    {{&gt; organisms-block-links }}
  {{/ page-services }}

  {{# page-teaching }}
    {{&gt; organisms-block-media }}
  {{/ page-teaching }}

  {{# page-integrity }}
    {{&gt; organisms-latest-highlights }}
  {{/ page-integrity }}

  {{# page-tools }}
    {{&gt; organisms-block-text }}
  {{/ page-tools }}

  {{# page-news }}
    {{&gt; organisms-latest-post }}
  {{/ page-news }}

&lt;/main&gt;
{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}