&lt;div class=&quot;event&quot;&gt;
  {{# empty }}
  &lt;a class=&quot;event_figure&quot; href=&quot;{{ url }}&quot;&gt;
    &lt;div class=&quot;event_thumb-empty&quot;&gt;{{&gt; atoms-heading-3 (class:&quot;class='event_thumbTitle'&quot;)}}&lt;/div&gt;
  &lt;/a&gt;
  {{/ empty }}
  {{^ empty }}
  &lt;a class=&quot;event_figure&quot; href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-landscape-4x3 (class:&quot;class='event_thumb'&quot;)}}
  &lt;/a&gt;
  {{/ empty }}
  &lt;div class=&quot;event_body&quot;&gt;
    {{&gt; atoms-heading-2 (class:&quot;class='event_title'&quot;)}}
    &lt;div class=&quot;event_details&quot;&gt;
      {{# event-info }}
        {{&gt; atoms-text-span (class: &quot;class='event_meta'&quot;)}}
      {{/ event-info }}
      {{# event-time }}
        {{&gt; atoms-text-time (class: &quot;class='event_time'&quot;)}}
      {{/ event-time }}
    &lt;/div&gt;
    {{&gt; atoms-button-text-alternate (class: &quot;event_btn&quot;)}}
  &lt;/div&gt;
&lt;/div&gt;