{{&gt; organisms-header }}
&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero }}
  {{/ page-hero }}
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;typography&quot;&gt;
      &lt;p&gt;
        Sei uno studente iscritto a unibz e sei interessato a studiare o fare un tirocinio all&rsquo;estero?
      &lt;/p&gt;
      &lt;p&gt;
        Puoi scegliere uno dei seguenti programmi internazionali:
      &lt;/p&gt;
    &lt;/div&gt;
    {{&gt; organisms-block-links }}
    &lt;div class=&quot;typography&quot;&gt;
      &lt;h3&gt;Partecipare ai programmi&lt;/h3&gt;
      &lt;p&gt;
        Nell&rsquo;ambito dei programmi offerti da unibz, hai la possibilit&agrave; di scegliere fra molte &lt;a href=&quot;#&quot;&gt;universit&agrave; partner&lt;/a&gt; in tutto il mondo.
      &lt;/p&gt;
      &lt;p&gt;
        Per partecipare, occorre candidarsi e superare un procedimento di selezione. I &lt;a href=&quot;#&quot;&gt;bandi di selezione Erasmus+ e Programma Accordi Bilaterali&lt;/a&gt; illustrano i requisiti, le modalit&agrave; e le scadenze per candidarsi.
      &lt;/p&gt;
      &lt;p&gt;
        Il Servizio Relazioni Internazionali &egrave; il tuo riferimento per informazioni, candidature, finanziamenti ecc.
      &lt;/p&gt;
    &lt;/div&gt;
    {{&gt; molecules-block-contact }}
  &lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}