&lt;section class=&quot;l-section&quot;&gt;
  {{# section-title }}
    {{&gt; atoms-heading-3 (class:&quot;class='headingSub headingSub-center'&quot;) }}
  {{/ section-title }}
  &lt;div class=&quot;g-row g-sm-clear-2 g-md-clear-3 g-lg-clear-4&quot;&gt;
    {{# section-people }}
      &lt;div class=&quot;g g-sm-12 g-md-8 g-lg-6&quot;&gt;
        {{&gt; molecules-block-person }}
      &lt;/div&gt;
    {{/ section-people }}
  &lt;/div&gt;
&lt;/section&gt;