&lt;div class=&quot;navAlphabet&quot;&gt;
  &lt;div class=&quot;navAlphabet-inner&quot;&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;A&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;B&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;C&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;D&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;E&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;F&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;G&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;H&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;I&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;J&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;K&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;L&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;M&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;N&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;O&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;P&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;Q&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;R&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;S&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;T&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;U&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;V&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;W&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;Z&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;Y&lt;/a&gt;
    &lt;a class=&quot;navAlphabet_letter&quot; href=&quot;&quot;&gt;Z&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;