<div class="block media-block">
  <a class="b-thumb" href="{{ url }}">
    {{> atoms-landscape-4x3 }}
  </a>
	<div class="b-text">
		{{> atoms-heading-2 }}
		{{> atoms-text-paragraph }}
    {{> atoms-button-text-alternate }}
	</div>
</div>