<div class="unibz">
  <div class="block media-block">
    <a href="{{ url }}">
    	<div class="b-thumb" style="background-image:url('http://placekitten.com/g/600/400')"></div>
    </a>
  	<div class="b-text">
  		<h2 class="h4 b-title">{{ headline.short }}</h2>
  		<p>{{ excerpt.medium }}</p>
      <a class="b-link" href="{{ url }}">Visit library page</a>
  	</div>
  </div>
</div>