<div class="mediaBlock">
  <a class="mediaBlock_figure" href="{{ url }}">
    {{> atoms-image-4x3 (class: "mediaBlock_thumb") }}
  </a>
	<div class="mediaBlock_body">
    {{> atoms-heading-2 (class: "mediaBlock_title") }}
    <div class="mediaBlock_excerpt">
      <div class="typography">
        {{> atoms-text-paragraph }}
      </div>
    </div>
    {{> atoms-button-text-alternate (class: "mediaBlock_btn") }}
	</div>
</div>