<div class="block block-highlight">
	<a href="{{ url }}">
    <a href="{{ url }}">
      <div class="b-thumb" style="background-image:url('http://placekitten.com/g/800/600')"></div>
    </a>
    <div class="b-text">
      {{> atoms-paragraph }}
    </div>
	</a>
</div>