<div class="highlight {{ class }}">
  <a href="{{ url }}">
    {{> atoms-image-4x3 (class: "highlight_thumb") }}
  </a>
  <div class="highlight_body">
    {{# highlight-title  }}
      {{> atoms-heading-4 (class: "highlight_title") }}
    {{/ highlight-title  }}
    {{# highlight-text  }}
      {{> atoms-text-paragraph (class:"highlight_text") }}
    {{/ highlight-text  }}
    {{# highlight-button  }}
      {{> atoms-button-text-alternate (class: "highlight_button") }}
    {{/ highlight-button  }}
  </div>
</div>