<div class="block block-info">
  <div class="b-text">
    {{> atoms-heading-2 (content: "Lorem ipsum dolor sit (37 characters)") }}
    {{> atoms-paragraph (content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ni (210 characters)") }}
  </div>
</div>