<div class="glance">
  <div class="l-container">
    <div class="glance_inner">
      {{> atoms-heading-2 (class:"glance_title")}}
      {{> atoms-text-paragraph (class:"glance_text")}}
    </div>
  </div>
</div>