<div class="glance">
  <div class="l-container">
    <div class="glance_inner">
      {{> atoms-heading-2 (class:"glance_title")}}
      <div class="glance_text">
        {{> atoms-text-wrapper }}
      </div>
    </div>
  </div>
</div>