<div class="post">
  {{# empty }}
  <a class="post_figure" href="{{ url }}">
    <div class="post_thumb-empty">{{> atoms-heading-3 (class:"class='post_thumbTitle'")}}</div>
  </a>
  {{/ empty }}
  {{^ empty }}
  <a class="post_figure" href="{{ url }}">
    {{> atoms-landscape-4x3 (class:"class='post_thumb'")}}
  </a>
  {{/ empty }}
  <div class="post_body">
    {{> atoms-text-time (class:"class='byline'")}}
    {{> atoms-heading-2 (class:"class='post_title'")}}
    {{> atoms-text-paragraph (class:"class='post_excerpt'")}}
    {{> atoms-button-text-primary }}
  </div>
</div>