<div class="post">
  <a href="{{ url }}">
    {{> atoms-heading-5 (class: "post_title") }}
  </a>
  <div class="post_content">
    {{^ empty }}
      <div class="post_figure">
          {{> atoms-image-4x3 (class: "post_thumb") }}
      </div>
    {{/ empty }}
    <div class="post_body">
      {{> atoms-text-paragraph (class: "post_excerpt") }}
      {{> atoms-text-date (class: "post_date") }}
    </div>
  </div>
</div>