<div class="block block-news">
  {{# empty }}
  <a class="b-thumb" href="{{ url }}">
    <div class="b-thumb-empty">{{> atoms-heading-3 }}</div>
  </a>
  {{/ empty }}
  {{^ empty }}
  <a class="b-thumb" href="{{ url }}">
    {{> atoms-landscape-4x3 }}
  </a>
  {{/ empty }}
  </a>
  <div class="b-text">
    {{> atoms-date }}
    {{> atoms-heading-2 }}
    {{> atoms-paragraph }}
    {{> atoms-button-text-primary }}
  </div>
</div>