<div class="post {{# empty }}post-noImage{{/ empty }}">
  <div class="post_body">
    {{> atoms-heading-4 (class:"class='post_title'")}}
    {{# empty }}{{/ empty }}
    {{^ empty }}
      {{> atoms-landscape-4x3 (class:"class='post_thumb'")}}
    {{/ empty }}
    {{> atoms-text-time (class:"class='byline'")}}
    {{> atoms-text-paragraph (class:"class='post_excerpt'")}}
  </div>
</div>