<div class="event {{ class }}">
  {{^ empty }}
    <a class="event_figure" href="{{ url }}" style="background-image: url('{{ img-4x3 }}')"></a>
  {{/ empty }}
  <div class="event_body">
    {{# event-title }}
      <a href="{{ url }}">
        {{> atoms-heading-2 (class: "event_title") }}
      </a>
    {{/ event-title }}
    <div class="event_where">
      {{# event-campus }}
        {{> atoms-text-span (class: "event_campus") }}
      {{/ event-campus }}
      {{# event-room }}
        {{> atoms-text-span (class: "event_room") }}
      {{/ event-room }}
    </div>
    <div class="event_when">
      {{# event-date }}
        {{> atoms-text-date (class: "event_date") }}
      {{/ event-date }}
      {{# event-time }}
        {{> atoms-text-time (class: "event_time") }}
      {{/ event-time }}
    </div>
  </div>
</div>