<div class="event">
  {{^ empty }}
    <a class="event_figure" href="{{ url }}">
      {{> atoms-image-4x3 (class: "event_thumb") }}
    </a>
  {{/ empty }}
  <div class="event_body">
    {{# event-title }}
      {{> atoms-heading-2 (class: "event_title") }}
    {{/ event-title }}
    <div class="event_details">
      {{# event-campus }}
        {{> atoms-text-span (class: "event_meta") }}
      {{/ event-campus }}
      {{# event-room }}
        {{> atoms-text-span (class: "event_meta") }}
      {{/ event-room }}
      {{# event-time }}
        {{> atoms-text-time (class: "event_meta") }}
      {{/ event-time }}
      {{# event-date }}
        {{> atoms-text-date (class: "event_meta") }}
      {{/ event-date }}
    </div>
    {{# event-button }}
      {{> atoms-button-text-alternate (class: "event_btn") }}
    {{/ event-button }}
  </div>
</div>