<div class="block block-publication g-row">
  <div class="g g-sm-6">
    {{# empty }}
      <a class="b-thumb" href="{{ url }}">
        <div class="b-thumb-empty">{{> atoms-heading-3 }}</div>
      </a>
    {{/ empty }}
    {{^ empty }}
      <a class="b-thumb" href="{{ url }}">
        {{> atoms-portrait }}
      </a>
    {{/ empty }}

    <div class="b-info">
      {{> atoms-text-date }}
      {{> atoms-text-pages }}
      {{> atoms-text-size }}
    </div>

    <div class="b-data">
      {{> atoms-text-isbn }}
      {{> atoms-text-issn }}
    </div>
  </div>

  <div class="g g-sm-18">
    <div class="b-title">
      {{> atoms-heading-2 }}
    </div>

    <div class="b-authors">
      Ed. by
      {{# authors }}
        {{> molecules-byline }}
      {{/ authors }}
    </div>

    <div class="b-text">
      {{> atoms-text-paragraph }}
    </div>
    {{> atoms-forms-input-number }}
    {{> atoms-button }}
    <div class="b-price">
      {{> atoms-text-price }}
    </div>
  </div>
</div>