<div class="publication">
  <div class="g-row">
    <div class="g g-sm-6">
      {{# empty }}
        <a class="u-blk u-push-btm-half" href="{{ url }}">
          <div class="publication_thumb-none u-padd-half u-xs-padd">{{> atoms-heading-3 }}</div>
        </a>
      {{/ empty }}
      {{^ empty }}
        <a class="u-blk u-push-btm-half" href="{{ url }}">
          {{> atoms-portrait (class: "class='publication_thumb'") }}
        </a>
      {{/ empty }}

      {{> atoms-text-date (class: "class='u-push-rgt-quarter'") }}
      {{> atoms-text-pages (class: "class='u-push-rgt-quarter'" }}
      {{> atoms-text-size }}

      {{> atoms-text-isbn (class: "class='u-blk'"}}
      {{> atoms-text-issn (class: "class='u-blk u-push-btm-half'"}}
    </div>

  <div class="g g-sm-18">
    {{> atoms-heading-2 (class: "class='h4 u-push-btm-quarter'") }}

    <ul class="u-ibl u-push-none u-padd-none">
      <li class="u-ibl u-push-rgt-quarter">Ed. by</li>
      {{# authors }}
        <li class="u-ibl">{{> atoms-text-name }} {{> atoms-text-surname }};</li>
      {{/ authors }}
    </ul>

    {{> atoms-text-paragraph (class: "class='u-push-top-half'")}}
    {{> atoms-forms-input-number (class: "class='form_input u-push-none'")}}
    {{> atoms-button }}
    {{> atoms-text-price (class: "class='publication_price'")}}
  </div>
</div>