<div class="block block-person">
  {{# empty }}
  <a class="b-thumb" href="{{ url }}">
    {{> atoms-avatar }}
  </a>
  {{/ empty }}
  {{^ empty }}
  <a class="b-thumb" href="{{ url }}">
    {{> atoms-square }}
  </a>
  {{/ empty }}
  <div class="b-name">
    {{> molecules-byline }}
  </div>
  <div class="b-position">
    {{> atoms-text-span }}
  </div>
  <div class="b-contact">
    {{> atoms-text-span }}
  </div>
  {{> atoms-button-small }}
</div>