<div class="person">
  {{# empty }}
  <a class="person_figure" href="{{ url }}">
    {{> atoms-avatar (class:"class='person_avatar'")}}
  </a>
  {{/ empty }}
  {{^ empty }}
  <a class="person_figure" href="{{ url }}">
    {{> atoms-square (class:"class='person_portrait'")}}
  </a>
  {{/ empty }}
  <p class="person_name">
    {{# person-name }}
      {{> atoms-text-span }}
    {{/ person-name }}
  </p>
  {{# person-meta }}
    {{> atoms-text-span (class:"class='person_meta'")}}
  {{/ person-meta }}
  {{> atoms-button-small }}
</div>