<div class="studentWork">
  <a href="{{ url }}">
    {{> atoms-landscape-4x3 }}
  </a>
  {{> atoms-heading-2 }}
  <p class="studentWork_students">
    {{# students }}
      {{> atoms-text-span }};
    {{/ students }}
  </p>
</div>