<div class="thumbBlock">
  <a class="thumbBlock_figure" href="{{ url }}">
    {{> atoms-landscape-4x3 (class:"class='thumbBlock_thumb'")}}
  </a>
  <div class="thumbBlock_body">
    {{> atoms-heading-2 (class:"class='thumbBlock_title'")}}
    {{> atoms-text-paragraph (class:"class='thumbBlock_text'")}}
  </div>
</div>