<div class="contactBlock">
  <div class="contactBlock_elem contactBlock_contacts">
    {{# contact }}
      {{> atoms-heading-6 (class: "elem_title") }}
      {{# meta }}
        {{> atoms-text-paragraph (class: "elem_item") }}
      {{/ meta }}
      {{> atoms-text-link (class: "contactBlock_link") }}
    {{/ contact }}
  </div>
  <div class="contactBlock_elem contactBlock_details">
    {{# details }}
      {{> atoms-heading-6 (class: "elem_title") }}
      {{# meta }}
        {{> atoms-text-paragraph (class: "elem_item") }}
      {{/ meta }}
    {{/ details }}
  </div>
</div>