<div class="blockLecture">
  <span class="byline">{{ lecture.credits }}</span>
  <h4 class="blockLecture_title">{{ lecture.title }}</h4>
  <a class="btn-text" href="#">{{ lecture.professor }}</a>
</div>