<div class="{{ program-theme }} program">
  {{# program-tag }}
    {{> atoms-text-span (class:"program_tag")}}
  {{/ program-tag }}
  {{> atoms-heading-3 (class:"program_title")}}
  <div class="program_details">
    {{# program-location }}
      {{> atoms-text-span (class:"program_location")}}
    {{/ program-location }}
    {{# program-lang }}
      {{> atoms-text-span (class:"program_lang")}}
    {{/ program-lang }}
  </div>
</div>