<div class="tender">
  {{> atoms-text-span (class:"tender_deadline") }}
  {{> atoms-text-paragraph (class:"tender_text") }}
  {{> atoms-heading-5 (class:"tender_title") }}
  {{# links }}
    {{> atoms-button-text-small (class:"tender_link") }}
  {{/ links}}
</div>