<div class="{{ class }} tender">
  {{# tender-theme }}
    {{> atoms-text-span (class:"tender_faculty") }}
  {{/ tender-theme  }}
  <div class="tender_body">
    {{# tender-deadline }}
      {{> atoms-text-span (class:"tender_deadline") }}
    {{/ tender-deadline }}
    <a href="{{ url }}">
      {{> atoms-heading-5 (class:"tender_title") }}
    </a>
    {{> atoms-text-paragraph (class:"tender_text") }}
    {{# links }}
      {{> atoms-button-text-small (class:"tender_link") }}
    {{/ links}}
  </div>
</div>