<div class="{{ class }} person">
  {{# person-image }}
    <div class="person_imageWrapper">
      {{> atoms-avatar (class: "person_image") }}
    </div> 
  {{/ person-image }}
  <div class="person_body">
    <a href="{{ url }}">
      {{> atoms-heading-5 (class:"person_name") }}
    </a>
    {{# person-role }}
      {{> atoms-text-span (class:"person_role") }}
    {{/ person-role }}
    {{# person-contact }}
      {{> atoms-text-span (class:"person_contact") }}
    {{/ person-contact }}
  </div>
</div>