<div class="blockLecture">
  {{# meta }}
    {{> atoms-text-span (class: "blockLecture_meta") }}
  {{/ meta }}
  <a href="{{ url }}">
    {{> atoms-heading-3 (class: "blockLecture_title") }}
  </a>
  {{# btn-link }}
    {{> atoms-button-text (class: "btn-text-small blockLecture_btn") }}
  {{/ btn-link }}
</div>