<div class="blockLecture">
  {{> atoms-text-span (class: "blockLecture_meta") }}
  <a href="{{ url }}">
    {{> atoms-heading-3 (class: "blockLecture_title") }}
  </a>
  {{# professor }}
    {{> atoms-button-text (class: "btn-text-small blockLecture_btn") }}
  {{/ professor }}
</div>