<div class="blockResearch">
  <div class="blockResearch_image">
    {{> atoms-image-4x3 }}
  </div>
  <a href="{{ url }}">
    {{> atoms-heading-3 (class:"blockResearch_title") }}
    {{> atoms-text-paragraph (class:"blockResearch_excerpt")}}
  </a>
</div>