<div class="factbox">
  <h6 class="factbox_title">Buchtipps von Andreas Fachner</h6>
  <div class="factbox_body">
    <p>
      Roland Barthes (2010): Mythen des Alltags. Vollst. Ausg., 1. Aufl., Berlin: Suhrkamp Verlag
      <br><br>
      Stuart Hall (1994): Die Frage der kulturellen Identität. In: Hall, S., Rassismus und kulturelle Identität. Ausgewählte Schriften 2. Hamburg: Argument Verlag, S. 180-222
    </p>
  </div>
</div>