{{# block-text-headline }}
  {{> atoms-heading-2 (class:"h2")}}
{{/ block-text-headline }}

<div class="typography">
  {{# block-text-image }}
    {{> atoms-image-4x3 }}
  {{/ block-text-image }}

  {{# block-text-paragraph }}
    {{> atoms-text-paragraph }}
  {{/ block-text-paragraph }}

  {{# block-text-button }}
    <p>
      {{> atoms-button-text-primary }}
    </p>
  {{/ block-text-button }}
</div>