<section class="l-section">
  <div class="g-row g-sm-clear-2 g-md-clear-3 g-lg-clear-4 g-xl-clear-4">
    {{# section-people }}
      <div class="g g-sm-12 g-md-8 g-lg-6 g-xl-6">
        {{> molecules-block-person }}
      </div>
    {{/ section-people }}
  </div>
</section>