<section class="l-section u-push-btm-double">
  {{# section-title }}
    {{> atoms-heading-3 (class:"class='headingSub headingSub-center'") }}
  {{/ section-title }}
  <div class="g-row g-sm-clear-2 g-md-clear-3 g-lg-clear-4">
    {{# section-people }}
      <div class="g g-sm-12 g-md-8 g-lg-6">
        {{> molecules-block-person }}
      </div>
    {{/ section-people }}
  </div>
</section>