<section class="l-section">
  <div class="l-containerSmall">
    {{> atoms-heading-2 }}
    {{# block-links-text }}
      <div class="typography">
          {{> atoms-text-paragraph }}
      </div>
    {{/ block-links-text }}
  </div>
  <div class="l-container {{container-class}}">
    <div class="blockLink_wrapper g-row">
      {{# links }}
        <div class="{{ links-class }}">
            {{> molecules-block-link }}
        </div>
      {{/ links }}
    </div>
  </div>
</section>