<section class="l-section">
  <div class="l-container {{container-class}}">
    <div class="typography">
      {{> atoms-heading-2 }}
      {{# block-links-text }}
        {{> atoms-text-paragraph }}
      {{/ block-links-text }}
    </div>
    <div class="blockLink_wrapper g-row">
      {{# links }}
        <div class="{{ links-class }}">
            {{> molecules-block-link }}
        </div>
      {{/ links }}
    </div>
  </div>
</section>