<section class="l-section">
  <div class="l-container">
    <div class="l-container-small {{ container-class }}">
      {{# latest-post-title }}
        {{> atoms-heading-2 }}
      {{/ latest-post-title }}
      {{# latest-post }}
        {{> molecules-block-post }}
      {{/ latest-post }}
      {{# latest-post-button }}
        {{> atoms-button-medium }}
      {{/ latest-post-button }}
    </div>
  </div>
</section>