<div class="magazine">
  <div class="l-container">
    <div class="magazine_inner">
      {{> atoms-heading-2 (class:"magazine_title")}}
      {{> atoms-text-paragraph }}
      {{> atoms-image-2x3 (class:"magazine_cover")}}
      {{# articles }}
        {{> atoms-heading-5 (class:"magazineArticle_title")}}
        {{> atoms-text-paragraph }}
      {{/ articles }}
      {{> atoms-button }}
    </div>
  </div>
</div>