{{# people-section }}
  <div class="typography typography-left">
    {{> atoms-heading-3 (class:"h-theme") }}
  </div>
  <div class="g-row g-md-clear-2 g-lg-clear-3">
    {{# people }}
      <div class="g g-md-12 g-lg-8">
        {{> molecules-block-person }}
      </div>
    {{/ people }}
  </div>
{{/ people-section }}