{{# people-section }}
<section class="l-section">
  <div class="l-container-small">
    <div class="typography">
      {{> atoms-heading-3 }}
    </div>
    <div class="g-row g-sm-clear-2 g-lg-clear-3">
      {{# people }}
        <div class="g g-md-12 g-lg-8">
          {{> molecules-block-person }}
        </div>
      {{/ people }}
    </div>
  </div>
</section>
{{/ people-section }}