<section class="l-section">
  <div class="l-container">
    {{# block-titles }}
      <div class="l-container_left">
        {{> atoms-heading-3 (class:"h-theme u-push-btm-half")}}
      </div>
      <div class="gridTitle">
        {{# title }}
          {{> molecules-block-title }}
        {{/ title }}
      </div>
    {{/ block-titles }}
  </div>
</section>