{{# lectures }}
  <div class="typography typography-left">
    {{> atoms-heading-3 (class:"h-theme")}}
  </div>
  <div class="blockLectures">
    {{# lecture }}
      {{> molecules-lecture }}
    {{/ lecture }}
  </div>
{{/ lectures }}