<section class="l-section">
  <div class="l-container">
    {{# lectures }}
      <div class="typography typography-left">
        {{> atoms-heading-3 (class:"h-theme")}}
      </div>
      <div class="blockLectures">
        {{# lecture }}
          {{> molecules-block-lecture }}
        {{/ lecture }}
      </div>
    {{/ lectures }}
  </div>
</section>