{{# programs }}
<section class="l-sectionSmall">
  <div class="l-container">
      {{> atoms-heading-3 (class:"h-theme")}}
      <div class="program_wrap">
        {{# program }}
          {{> molecules-block-study-program }}
        {{/ program }}
      </div>
  </div>
</section>
{{/ programs }}