<section class="l-section">
  <div class="l-container">
    {{# programs }}
      <div class="typography typography-left">
        {{> atoms-heading-3 (class:"h-theme")}}
      </div>
      <div class="program_wrap">
        {{# program }}
          {{> molecules-block-study-program }}
        {{/ program }}
      </div>
    {{/ programs }}
  </div>
</section>