<section class="l-section">
  <div class="l-containerSmall">
    {{> atoms-heading-3 (class:"h3") }}
  </div>
  <div class="l-container">
    <div class="latest-highlights">
      {{# latest-highlights }}
        {{> molecules-block-highlight }}
      {{/ latest-highlights }}
    </div>
  </div>
</section>