<section class="l-section">
  {{> atoms-avatar (class:"testimonial_avatar")}}
  <div class="testimonial {{ class }}" role="banner">
    <div class="l-container-small">
      {{> atoms-heading-3 (class:"testimonial_name") }}
      {{> atoms-text-span (class:"testimonial_role") }}
      {{> atoms-text-paragraph (class:"testimonial_text")}}  
    </div>
  </div>
</section>