<section class="l-section">
  {{> organisms-search-find }}
  <div class="l-container">
    <div class="l-container-small {{ container-class }}">
      {{# tenders }}
        {{> molecules-block-tender }}
      {{/ tenders }}
    </div>
  </div>
</section>