<section class="l-section">
  <div class="l-container">
    <div class="g-row">
      <div class="g g-md-18 g-lg-14">
        {{> molecules-post-header }}
        {{# post-intro }}
          <div class="typography">
            {{> atoms-text-paragraph (class:"intro-post") }}
          </div>
        {{/ post-intro }}
      </div>
  </div>
</section>
<section class="l-section">
  <div class="l-container">
    <div class="g-row">
      <div class="g g-md-18 g-lg-14">
        {{# post-content }}
          {{> molecules-block-typography }}
        {{/ post-content }}
      </div>
  </div>
</section>