<section class="l-section">
  <div class="l-container">
    {{> atoms-heading-3 (class:"h3 h-theme") }}
    <div class="g-row">
      <div class="g g-lg-8">
        {{> atoms-text-paragraph }}
      </div>
      <div class="g g-lg-14 g-lg-off-2">
        {{> atoms-maps }}
      </div>
    </div>
  </div>
</section>