<section class="l-section">
  <div class="l-container">
    <div class="g-row">
      <div class="g g-md-8 g-lg-8 g-md-push-16">
        {{# office-image }}
          {{> atoms-image-4x3 (class:"office_image")}}
        {{/ office-image }}
      </div>
      <div class="g g-md-16 g-lg-14 g-xl-14 g-md-pull-8">
        {{# office-description }}
          {{> atoms-text-paragraph }}
        {{/ office-description }}
        {{# office-contacts }}
          {{> atoms-text-paragraph }}
        {{/ office-contacts }}
        {{# office-openings }}
          {{> atoms-text-paragraph }}
        {{/ office-openings }}
      </div>
    </div>
  </div>
</section>