<section class="l-section">
  <div class="l-container">
    <div class="g-row">
      <div class="g g-md-9 g-md-off-1 g-md-push-14">
        {{> organisms-power-tools }}
      </div>
      <div class="g g-md-14 g-md-pull-10">
        {{# latest-post }}
          {{> molecules-block-post }}
        {{/ latest-post }}
      </div>
    </div>
  </div>
</section>