<section>
	<h2>Latest Publications</h2>
	<ul class="list-unstyled">
    {{# latest-publ }}
		  <li>{{> molecules-block-publication }}</li>
    {{/ latest-publ }}
	</ul>
	<a href="#">View more posts</a>
</section>