<div class="share">
	<a class="socialItem socialItem-facebook" href="{{ url }}"><i class="i i-facebook"></i></a>
	<a class="socialItem socialItem-twitter" href="{{ url }}"><i class="i i-twitter"></i></a>
  <a class="socialItem socialItem-linkedin" href="{{ url }}"><i class="i i-linkedin"></i></a>
  <a class="socialItem socialItem-mail" href="{{ url }}"><i class="i i-mail"></i></a>
  <a class="socialItem socialItem-print" href="{{ url }}"><i class="i i-print"></i></a>
</div>