<div class="social">
	<a class="socialItem socialItem-facebook" href="{{ url }}"><i class="i i-facebook"></i></a>
	<a class="socialItem socialItem-twitter" href="{{ url }}"><i class="i i-twitter"></i></a>
  <a class="socialItem socialItem-linkedin" href="{{ url }}"><i class="i i-linkedin"></i></a>
</div>