<div class="l-container">
  <div class="typography">
    <div class="filtersAlone_wrapper">
      {{# filter-toggle }}
        {{> atoms-button-outline (class:"filtersAlone_toggle")}}
      {{/ filter-toggle }}
      <div class="filtersAlone_list">
        {{# filter }}
          {{> atoms-button-outline }}
        {{/ filter }}
      </div>
    </div>
  </div>
</div>