<div class="find_tools">
  {{> atoms-button-toggle (class:"find_toolToggle find_toolToggle-search", icon:"i-search") }}
  {{> atoms-forms-input-search (class:"find_toolSearch", icon:"i-search") }}
  {{> atoms-button-toggle (class:"find_toolToggle", icon:"i-filter") }}
  {{> atoms-button-toggle (class:"find_toolToggle", icon:"i-calendar") }}
</div>