<div class="calendarDays">
  <div class="cd_navBtnWrapper cd_navBtnWrapper-lft">
    {{> atoms-button-round (class:"cd_navBtn", icon:"i-arrow-left") }}
  </div>
  <div class="cd_navDays">
    <div class="cd_navDay">
      <span class="cd_navDayName">Mon</span>
      <span class="cd_navDayNum">2</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Tue</span>
      <span class="cd_navDayNum">3</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Wed</span>
      <span class="cd_navDayNum">4</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay cd_navDay-current">
      <span class="cd_navDayName">Thu</span>
      <span class="cd_navDayNum">5</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Fri</span>
      <span class="cd_navDayNum">6</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Sat</span>
      <span class="cd_navDayNum">7</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Sun</span>
      <span class="cd_navDayNum">8</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Mon</span>
      <span class="cd_navDayNum">9</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Tue</span>
      <span class="cd_navDayNum">10</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Wed</span>
      <span class="cd_navDayNum">11</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Thu</span>
      <span class="cd_navDayNum">12</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Fri</span>
      <span class="cd_navDayNum">13</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Fri</span>
      <span class="cd_navDayNum">13</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Sat</span>
      <span class="cd_navDayNum">14</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Sun</span>
      <span class="cd_navDayNum">15</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Mon</span>
      <span class="cd_navDayNum">16</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Tue</span>
      <span class="cd_navDayNum">17</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Wed</span>
      <span class="cd_navDayNum">18</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Thu</span>
      <span class="cd_navDayNum">19</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Fri</span>
      <span class="cd_navDayNum">20</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Sat</span>
      <span class="cd_navDayNum">21</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Sun</span>
      <span class="cd_navDayNum">22</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Mon</span>
      <span class="cd_navDayNum">23</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Tue</span>
      <span class="cd_navDayNum">24</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Wed</span>
      <span class="cd_navDayNum">25</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Thu</span>
      <span class="cd_navDayNum">26</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Fri</span>
      <span class="cd_navDayNum">27</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Sat</span>
      <span class="cd_navDayNum">28</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Sun</span>
      <span class="cd_navDayNum">29</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Mon</span>
      <span class="cd_navDayNum">30</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Tue</span>
      <span class="cd_navDayNum">31</span>
      <span class="cd_navDayMonth">OCT</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Wed</span>
      <span class="cd_navDayNum">1</span>
      <span class="cd_navDayMonth">NOV</span>
    </div>
    <div class="cd_navDay">
      <span class="cd_navDayName">Thu</span>
      <span class="cd_navDayNum">2</span>
      <span class="cd_navDayMonth">NOV</span>
    </div>
  </div>
  <div class="cd_navBtnWrapper cd_navBtnWrapper-rgt">
    {{> atoms-button-round (class:"cd_navBtn", icon:"i-arrow-right") }}
  </div>
</div>