<div class="calendarMonths">
  <div class="cm_navMonthNav">
    <div class="cm_navMonthBtnWrapper">
      {{> atoms-button-round (class:"cm_navMonthBtn", icon:"i-arrow-left") }}
    </div>
      <span class="cm_navMonthName">October 2015</span>
    <div class="cm_navMonthBtnWrapper">
      {{> atoms-button-round (class:"cm_navMonthBtn", icon:"i-arrow-right") }}
    </div>
  </div>
  <div class="cm_navMonthDays">
    <span class="cm_navMonthDay">Mon</span>
    <span class="cm_navMonthDay">Tue</span>
    <span class="cm_navMonthDay">Wed</span>
    <span class="cm_navMonthDay">Thu</span>
    <span class="cm_navMonthDay">Fri</span>
    <span class="cm_navMonthDay">Sat</span>
    <span class="cm_navMonthDay">Sun</span>
  </div>
  <div class="cm_navMonthCalendar">
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum cm_navMonthDayNum-inactive">28</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum cm_navMonthDayNum-inactive">29</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum cm_navMonthDayNum-inactive">30</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">1</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">2</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">3</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">4</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">5</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">6</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum cm_navMonthDayNum-current">7</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">8</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">9</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">10</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">11</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">12</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">13</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">14</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">15</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">16</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">17</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">18</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">19</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">20</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">21</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">22</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">23</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">24</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">25</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">26</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">27</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">28</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">29</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">30</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum">31</span>
    </div>
    <div class="cm_navMonthDay">
      <span class="cm_navMonthDayNum cm_navMonthDayNum-inactive">1</span>
    </div>
  </div>
</div>