<div class="accordion {{# open }}accordion-open{{/ open }}">
  <div class="accordion_toggle">
    <span class="accordion_icon"></span>
    {{> atoms-text-span (class:"accordion_title") }}
  </div>
  <div class="accordion_body">
  {{# accordion-body }}
    {{> atoms-text-wrapper }}
  {{/ accordion-body }}
  </div>
</div>