<div class="accordion {{# open }}accordion-open{{/ open }}">
  <span class="accordion_toggle"></span>
  {{> atoms-text-span (class:"accordion_title") }}
  <div class="accordion_body">
    {{> atoms-text-paragraph }}
  </div>
</div>