&lt;nav id=&quot;nav-study-courses&quot; class=&quot;js-nav navSecondary {{ class }}&quot;&gt;
  &lt;ul class=&quot;nav_wrap&quot;&gt;
    &lt;li&gt;
      &lt;a id=&quot;bachelor&quot; class=&quot;js-nav-item js-nav-item-secondary nav_item&quot; href=&quot;#&quot; data-toggle-elem=&quot;#nav-bachelor&quot;&gt;Bachelor&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;js-nav-item nav_item&quot; href=&quot;#&quot;&gt;Master&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;js-nav-item nav_item&quot; href=&quot;#&quot;&gt;Master (one cycle)&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;js-nav-item nav_item&quot; href=&quot;#&quot;&gt;Phd&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;js-nav-item nav_item nav_link&quot; href=&quot;#&quot;&gt;Further offer&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;