{{&gt; organisms-header }}
&lt;main class=&quot;t_des-art&quot;&gt;
	&lt;div class=&quot;l-container&quot;&gt;
		{{&gt; atoms-heading-1 (headline.short:&quot;Faculty of Design and Art&quot;, class:&quot;class='headingTitle headingTitle-center'&quot;) }}
		{{# people }}
			{{&gt; organisms-section-people }}
		{{/ people }}
	&lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}