&lt;main class=&quot;{{ faculty }}&quot;&gt;
	&lt;div class=&quot;l-container&quot;&gt;
		{{&gt; atoms-heading-1 (class:&quot;class='h-title h-title-center'&quot;) }}
    {{&gt; molecules-nav-alphabet }}
		{{# people }}
			{{&gt; organisms-section-people }}
		{{/ people }}
	&lt;/div&gt;
&lt;/main&gt;