&lt;section class=&quot;l-section&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;g-row&quot;&gt;
      &lt;div class=&quot;g g-md-9 g-md-off-1 g-md-push-14&quot;&gt;
        {{&gt; organisms-power-tools }}
      &lt;/div&gt;
      &lt;div class=&quot;g g-md-14 g-md-pull-10&quot;&gt;
        {{# latest-events }}
          {{&gt; molecules-block-event (class: &quot;u-padd-btm-half&quot;)}}
        {{/ latest-events }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;