&lt;section class=&quot;l-section&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;g-row&quot;&gt;
      &lt;div class=&quot;g g-lg-16&quot;&gt;
        {{&gt; molecules-post-header }}
        {{# post-intro }}
        &lt;div class=&quot;typography&quot;&gt;
          {{&gt; atoms-text-paragraph (class:&quot;intro-post&quot;) }}
        &lt;/div&gt;
        {{/ post-intro }}
      &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;