&lt;nav class=&quot;nav&quot;&gt;
	&lt;ul class=&quot;nav_wrap&quot;&gt;
		&lt;li&gt;
      &lt;a class=&quot;nav_item&quot; href=&quot;{{ url }}&quot;&gt;University&lt;/a&gt;
    &lt;/li&gt;
		&lt;li&gt;
      &lt;a class=&quot;nav_item&quot; href=&quot;{{ url }}&quot;&gt;Faculties&lt;/a&gt;
    &lt;/li&gt;
		&lt;li&gt;
      &lt;a class=&quot;nav_item&quot; href=&quot;{{ url }}&quot;&gt;Study Courses&lt;/a&gt;
    &lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;

&lt;nav class=&quot;nav&quot;&gt;
  &lt;ul class=&quot;nav_wrap&quot;&gt;
    &lt;li&gt;
      &lt;a class=&quot;nav_item&quot; href=&quot;{{ url }}&quot;&gt;Bachelor&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;nav_item&quot; href=&quot;{{ url }}&quot;&gt;Master&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;nav_item&quot; href=&quot;{{ url }}&quot;&gt;Master (one cycle)&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;nav_item&quot; href=&quot;{{ url }}&quot;&gt;Phd&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;nav_link&quot; href=&quot;{{ url }}&quot;&gt;Further offer&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav class=&quot;navLinks&quot;&gt;
  &lt;ul class=&quot;navLinks_wrap&quot;&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Economics and Managment&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Computer Science&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Science and Technology&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Education&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;navLinks_item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Design and Art&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav class=&quot;navGrid&quot;&gt;
  &lt;ul class=&quot;navGrid_wrap&quot;&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span&gt;ECON&lt;/span&gt;
      &lt;a href=&quot;#&quot;&gt;Economics and Management&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span&gt;ECON&lt;/span&gt;
      &lt;a href=&quot;#&quot;&gt;Economics and Social Sciences&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span&gt;ECON&lt;/span&gt;
      &lt;a href=&quot;#&quot;&gt;Tourism, Sport and Event Management&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span&gt;COMP&lt;/span&gt;
      &lt;a href=&quot;#&quot;&gt;Computer Science and Engineering&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span&gt;TECH&lt;/span&gt;
      &lt;a href=&quot;#&quot;&gt;Agricultural and Agro-Environmental Sciences&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span&gt;TECH&lt;/span&gt;
      &lt;a href=&quot;#&quot;&gt;Industrial and Mechanical Engineering&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span&gt;EDU&lt;/span&gt;
      &lt;a href=&quot;#&quot;&gt;Communication Sciences and Culture&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span&gt;EDU&lt;/span&gt;
      &lt;a href=&quot;#&quot;&gt;Social Education&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span&gt;EDU&lt;/span&gt;
      &lt;a href=&quot;#&quot;&gt;Social Work&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;navGrid_item&quot;&gt;
      &lt;span&gt;DSN&lt;/span&gt;
      &lt;a href=&quot;#&quot;&gt;Design and Art&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;