&lt;div class=&quot;glance&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;glance_inner&quot;&gt;
      {{&gt; atoms-heading-2 (class:&quot;glance_title&quot;)}}
      &lt;div class=&quot;glance_text&quot;&gt;
        {{&gt; atoms-text-wrapper }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;