<ul class="sg-colors list-reset">
  <li>
    <span class="sg-swatch" style="background: #ffffff;"></span>
    <span class="sg-label">$white</span>
    <span class="sg-label">#ffffff</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f5f5f5;"></span>
    <span class="sg-label">$gray-light</span>
    <span class="sg-label">#f5f5f5</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #dbdbdb;"></span>
    <span class="sg-label">$gray</span>
    <span class="sg-label">#dbdbdb</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ababab;"></span>
    <span class="sg-label">$gray-dark</span>
    <span class="sg-label">#ababab</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000000;"></span>
    <span class="sg-label">$black</span>
    <span class="sg-label">#000000</span>
  </li>
</ul>