<ul class="sg-colors list-reset">
  <li>
    <span class="sg-swatch" style="background: #444444;"></span>
    <span class="sg-label">$color-heading</span>
    <span class="sg-label">#444444</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #202020;"></span>
    <span class="sg-label">$color-text</span>
    <span class="sg-label">#202020</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ababab;"></span>
    <span class="sg-label">$color-text-gray</span>
    <span class="sg-label">#ababab</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #b4d5fe;"></span>
    <span class="sg-label">$selection-color</span>
    <span class="sg-label">#b4d5fe</span>
  </li>
</ul>