<ul class="sg-colors list-reset">
  <li>
    <span class="sg-swatch" style="background: #007be4;"></span>
    <span class="sg-label">#007be4</span>
    <span class="sg-label">Unibz</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f86b07;"></span>
    <span class="sg-label">#f86b07</span>
    <span class="sg-label">Comp Science</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ed331a;"></span>
    <span class="sg-label">#ed331a</span>
    <span class="sg-label">Des Art</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #6cc3ab;"></span>
    <span class="sg-label">#6cc3ab</span>
    <span class="sg-label">Edu</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ac145a;"></span>
    <span class="sg-label">#ac145a</span>
    <span class="sg-label">Eco</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #1a8c64;"></span>
    <span class="sg-label">#1a8c64</span>
    <span class="sg-label">Science Tech</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #e1a22e;"></span>
    <span class="sg-label">#e1a22e</span>
    <span class="sg-label">Library</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffffff;"></span>
    <span class="sg-label">#ffffff</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #dddddd;"></span>
    <span class="sg-label">#dddddd</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000000;"></span>
    <span class="sg-label">#000000</span>
  </li>
</ul>