<ul class="sg-colors list-reset">
  <li>
    <span class="sg-swatch" style="background: #007be4;"></span>
    <span class="sg-label">$unibz</span>
    <span class="sg-label">#007be4</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f86b07;"></span>
    <span class="sg-label">$comp</span>
    <span class="sg-label">#f86b07</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ed331a;"></span>
    <span class="sg-label">$dsgn</span>
    <span class="sg-label">#ed331a</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #6cc3ab;"></span>
    <span class="sg-label">$edu</span>
    <span class="sg-label">#6cc3ab</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ac145a;"></span>
    <span class="sg-label">$eco</span>
    <span class="sg-label">#ac145a</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #1a8c64;"></span>
    <span class="sg-label">$tech</span>
    <span class="sg-label">#1a8c64</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #e1a22e;"></span>
    <span class="sg-label">$library</span>
    <span class="sg-label">#e1a22e</span>
  </li>
</ul>