<ul class="sg-colors list-reset">
  <li>
    <span class="sg-swatch" style="background: #3b5998;"></span>
    <span class="sg-label">$facebook</span>
    <span class="sg-label">#3b5998</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #55acee;"></span>
    <span class="sg-label">$twitter</span>
    <span class="sg-label">#55acee</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #3f729b;"></span>
    <span class="sg-label">$instagram</span>
    <span class="sg-label">#3f729b</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #0077b5;"></span>
    <span class="sg-label">$linkedin</span>
    <span class="sg-label">#0077b5</span>
  </li>
</ul>