<p class="u-hide u-sm-blk">This text is hidden on smaller screens</p>

<p class="u-sm-hide"><em>This text is only visible on smaller screens</em></p>

<p class="u-md-hide">This text is hidden on medium screens only</p>

<p class="u-hide u-md-blk u-lg-hide"><em>This text is only visible on medium screens</em></p>

<p class="u-lg-hide">This text is hidden on large screens</p>

<p class="u-hide u-lg-blk"><em>This text is only visible on large screens</em></p>