{{&gt; organisms-header }}
&lt;main&gt;
  {{# hero }}
    {{&gt; organisms-hero }}
  {{/ hero }}
  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;p class=&quot;intro&quot;&gt;
          Die Freie Universit&auml;t Bozen befindet sich in einer der attraktivesten Regionen Europas an der Schnittstelle zwischen dem deutschen und italienischen Kultur- und Wirtschaftsraum. Die Dreisprachigkeit in &lt;a href=&quot;#&quot;&gt;Lehre&lt;/a&gt; und &lt;a href=&quot;#&quot;&gt;Forschung&lt;/a&gt; sowie ein ideales Studienumfeld und eine exzellente Ausstattung zeichnen sie aus.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;
  
  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Fakult&auml;ten&lt;/h3&gt;
        &lt;p&gt;
          Die unibz ist keine Volluniversit&auml;t. Ihr Studienangebot an den 5 Fakult&auml;ten und die Schwerpunkte in der Forschung spiegeln ihre starke regionale Verwurzelung und ihre gleichzeitige internationale Vernetzung wieder.
        &lt;/p&gt;
      &lt;/div&gt;
      &lt;!--
      {{# faculties}}
        {{&gt; organisms-block-links }}
      {{/ faculties }}
      --&gt;
      &lt;div class=&quot;blockLink_wrapper g-row&quot;&gt;
        &lt;div class=&quot;g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_edu&quot;&gt;
          &lt;a class=&quot;blockLink&quot; href=&quot;#&quot;&gt;Bildungswissenschaften&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_eco&quot;&gt;
          &lt;a class=&quot;blockLink&quot; href=&quot;#&quot;&gt;Wirtschaftswissenschaften&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_des-art&quot;&gt;
          &lt;a class=&quot;blockLink&quot; href=&quot;#&quot;&gt;Design und K&uuml;nste&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_comp-science&quot;&gt;
          &lt;a class=&quot;blockLink&quot; href=&quot;#&quot;&gt;Informatik&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_science-tech&quot;&gt;
          &lt;a class=&quot;blockLink&quot; href=&quot;#&quot;&gt;Naturwissenschaften und Technik&lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  {{# banner }}
    {{&gt; organisms-banner }}
  {{/ banner }}

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
        &lt;div class=&quot;typography&quot;&gt;
          &lt;h2&gt;Forschung&lt;/h2&gt;
          &lt;img class=&quot;right&quot; src=&quot;https://dl.dropboxusercontent.com/u/13990214/www/unibz/research.jpg&quot; alt=&quot;&quot;&gt;
          &lt;p&gt;
            Interdisziplinarit&auml;t und Nachhaltigkeit ebenso wie lokale und internationale Themen bestimmen die Ausrichtung der Forschung an der unibz. Geforscht wird an allen f&uuml;nf Fakult&auml;ten und an drei Kompetenzzentren. Die Forschungsfinanzierung erfolgt &uuml;ber interne Mittel und in j&uuml;ngster Zeit vermehrt &uuml;ber nationale und europ&auml;ische Finanzierungsprogramme und Drittmittel.
          &lt;/p&gt;
          &lt;a class=&quot;btn&quot; href=&quot;#&quot;&gt;Projekte&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
        &lt;div class=&quot;typography&quot;&gt;
          &lt;h2&gt;Verantwortung f&uuml;r Region und Gesellschaft&lt;/h2&gt;
          &lt;p&gt;
            Neben Lehre und Forschung erachtet es  die unibz als einen weiteren wichtigen Auftrag, mit Region und Gesellschaft in eine kooperative Austauschbeziehung zu treten. Dies geschieht &uuml;ber gezielte Formen des Technologietransfers, verst&auml;rkten Kooperationen mit Unternehmen, einem vielf&auml;ltigen Angebot im Bereich des &lt;a href=&quot;#&quot;&gt;Lebenslangen Lernens&lt;/a&gt; (JuniorUni, Studium Generale und Senior Student Card) sowie nicht zuletzt als Partnerinstitution f&uuml;r kulturelle Institutionen und Initiativen.
          &lt;/p&gt;
          &lt;a class=&quot;btn&quot; href=&quot;#&quot;&gt;Mehr info&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      {{# library }}
        {{&gt; molecules-media-block }}
      {{/ library }}
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h2&gt;Latest news&lt;/h2&gt;
        {{# news }}
          {{&gt; molecules-block-post }}
        {{/ news }}
        &lt;a class=&quot;btn&quot; href=&quot;#&quot;&gt;All news&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;div class=&quot;academia&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h2&gt;Academia #70&lt;/h2&gt;
        &lt;p&gt;
          Academia ist das Magazin der EURAC und unibz.
        &lt;/p&gt;
        &lt;img class=&quot;left&quot; src=&quot;https://dl.dropboxusercontent.com/u/13990214/www/unibz/academia.jpeg&quot; alt=&quot;&quot;&gt;
        &lt;span&gt;Titelthema&lt;/span&gt;
        &lt;h4&gt;Tra marmotte e sensori&lt;/h4&gt;
        &lt;p&gt;
          La Val di Mazia è entrata a far parte del consorzio internazionale LTER (Long Term Ecological Research Network) che comprende diversi siti di monitoraggio in tutto il mondo.
        &lt;/p&gt;
        &lt;a class=&quot;btn bg-academia&quot; href=&quot;#&quot;&gt;Online lesen&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/main&gt;
{{&gt; organisms-footer }}