{{&gt; organisms-header-de }}
&lt;main class=&quot;home&quot;&gt;
  &lt;section class=&quot;hero hero-home&quot; role=&quot;banner&quot;&gt;&lt;/section&gt;
  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;p class=&quot;intro&quot;&gt;
          Die &lt;strong&gt;Freie Universit&auml;t Bozen&lt;/strong&gt; befindet sich in einer der attraktivesten Regionen Europas an der Schnittstelle zwischen dem deutschen und italienischen Kultur- und Wirtschaftsraum. Die Dreisprachigkeit in &lt;a href=&quot;#&quot;&gt;Lehre&lt;/a&gt; und &lt;a href=&quot;#&quot;&gt;Forschung&lt;/a&gt; sowie ein ideales Studienumfeld und eine exzellente Ausstattung zeichnen sie aus.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;
  
  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h3&gt;Fakult&auml;ten&lt;/h3&gt;
        &lt;p&gt;
          Die unibz ist keine Volluniversit&auml;t. Ihr Studienangebot an den 5 Fakult&auml;ten und die Schwerpunkte in der Forschung spiegeln ihre starke regionale Verwurzelung und ihre gleichzeitige internationale Vernetzung wider.
        &lt;/p&gt;
      &lt;/div&gt;
      &lt;!--
      {{# faculties}}
        {{&gt; organisms-block-links }}
      {{/ faculties }}
      --&gt;
      &lt;div class=&quot;blockLink_wrapper g-row&quot;&gt;
        &lt;div class=&quot;g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_edu&quot;&gt;
          &lt;a class=&quot;blockLink&quot; href=&quot;#&quot;&gt;Bildungswissenschaften&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_eco&quot;&gt;
          &lt;a class=&quot;blockLink&quot; href=&quot;#&quot;&gt;Wirtschaftswissenschaften&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_comp-science&quot;&gt;
          &lt;a class=&quot;blockLink&quot; href=&quot;#&quot;&gt;Informatik&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_des-art&quot;&gt;
          &lt;a class=&quot;blockLink&quot; href=&quot;#&quot;&gt;Design und K&uuml;nste&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;g g-sm-12 g-md-12 g-lg-8 g-xl-6 t_science-tech&quot;&gt;
          &lt;a class=&quot;blockLink&quot; href=&quot;{{ link.pages-faculty-natech }}&quot;&gt;Naturwissenschaften und Technik&lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;div class=&quot;banner&quot; role=&quot;banner&quot; style=&quot;background-image:url('https://dl.dropboxusercontent.com/u/13990214/www/unibz/homepage-study-unibz.jpg')&quot;&gt;
      &lt;div class=&quot;l-container&quot;&gt;
        &lt;h2 class=&quot;banner_subTitle&quot;&gt;Studieren an der unibz&lt;/h2&gt;
        &lt;p class=&quot;banner_text&quot;&gt;
          Wir bieten mehrsprachige Studienprogramme in Deutsch, Italienisch und Englisch an sowie ein ideales Umfeld f&uuml;r Studium und Forschung in einer Region mit hohem Freizeitwert und &uuml;berdurchschnittlicher Lebensqualit&auml;t.
        &lt;/p&gt;
        &lt;a href=&quot;{{ link.pages-study-at-unibz }}&quot; class=&quot;btn&quot;&gt;Mehr info&lt;/a&gt;
      &lt;/div&gt;
  &lt;/div&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
        &lt;div class=&quot;typography&quot;&gt;
          &lt;h2&gt;Forschung&lt;/h2&gt;
          &lt;img class=&quot;right&quot; src=&quot;https://dl.dropboxusercontent.com/u/13990214/www/unibz/research.jpg&quot; alt=&quot;&quot;&gt;
          &lt;p&gt;
            Interdisziplinarit&auml;t und Nachhaltigkeit ebenso wie lokale und internationale Themen bestimmen die Ausrichtung der Forschung an der unibz. Geforscht wird an allen f&uuml;nf Fakult&auml;ten und an drei Kompetenzzentren. Die Forschungsfinanzierung erfolgt &uuml;ber interne Mittel und in j&uuml;ngster Zeit vermehrt &uuml;ber nationale und europ&auml;ische Finanzierungsprogramme und Drittmittel.
          &lt;/p&gt;
          &lt;a class=&quot;btn&quot; href=&quot;#&quot;&gt;Projekte&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
        &lt;div class=&quot;typography&quot;&gt;
          &lt;h2&gt;Verantwortung f&uuml;r Region und Gesellschaft&lt;/h2&gt;
          &lt;p&gt;
            Neben Lehre und Forschung erachtet es die unibz als einen weiteren wichtigen Auftrag, mit Region und Gesellschaft in eine kooperative Austauschbeziehung zu treten. Dies geschieht &uuml;ber gezielte Formen des &lt;a href=&quot;#&quot;&gt;Wissens- und Technologietransfers&lt;/a&gt;, verst&auml;rkte Kooperationen mit &lt;a href=&quot;#&quot;&gt;Unternehmen&lt;/a&gt;, einem vielf&auml;ltigen Angebot im Bereich des &lt;a href=&quot;#&quot;&gt;Lebenslangen Lernens&lt;/a&gt; (JuniorUni, Studium Generale und Senior Student Card) sowie nicht zuletzt als Partnerinstitution f&uuml;r kulturelle Institutionen und Initiativen.
          &lt;/p&gt;
          &lt;a class=&quot;btn&quot; href=&quot;#&quot;&gt;Mehr info&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      {{# library }}
        {{&gt; molecules-media-block }}
      {{/ library }}
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h2&gt;News&lt;/h2&gt;
        {{# news }}
          {{&gt; molecules-block-post }}
        {{/ news }}
        &lt;a class=&quot;btn&quot; href=&quot;#&quot;&gt;Alle news&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/section&gt;

  &lt;div class=&quot;academia&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      &lt;div class=&quot;typography&quot;&gt;
        &lt;h2&gt;Academia #70&lt;/h2&gt;
        &lt;p&gt;
          Academia ist das Magazin der EURAC und unibz.
        &lt;/p&gt;
        &lt;img class=&quot;left&quot; src=&quot;https://dl.dropboxusercontent.com/u/13990214/www/unibz/academia.jpeg&quot; alt=&quot;&quot;&gt;
        &lt;span style=&quot;text-transform: uppercase; font-size: smaller&quot;&gt;Titelthema&lt;/span&gt;
        &lt;p class=&quot;h4&quot;&gt;Tra marmotte e sensori&lt;/p class=&quot;h4&quot;&gt;
        &lt;p&gt;
          La Val di Mazia &egrave; entrata a far parte del consorzio internazionale LTER (Long Term Ecological Research Network) che comprende diversi siti di monitoraggio in tutto il mondo.
        &lt;/p&gt;
        &lt;p class=&quot;h4&quot;&gt;Scheitern ist kein Makel&lt;/p class=&quot;h4&quot;&gt;
        &lt;p&gt;
          Es gehört zum Repertoire eines Startuppers. Worauf es wirklich ankommt: möglichst früh und billig zu scheitern, um beim nächsten Mal einen Hit zu landen.
        &lt;/p&gt;
        &lt;p class=&quot;h4&quot;&gt;(Citizen) Journalist&lt;/p class=&quot;h4&quot;&gt;
        &lt;p&gt;
          American journalist Marc Cooper explains why journalists as we know them are a dying species.
        &lt;/p&gt;
        &lt;a class=&quot;btn bg-academia&quot; href=&quot;#&quot;&gt;Online lesen&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/main&gt;
{{&gt; organisms-footer }}