&lt;section class=&quot;l-sectionLarge searchSection&quot;&gt;
  &lt;div class=&quot;l-containerSmall&quot;&gt;
    {{&gt; atoms-heading-2 (class:&quot;searchSection_headline&quot;) }}
    {{&gt; molecules-form-search }}
  &lt;/div&gt;
&lt;/section&gt;