{{&gt; organisms-header }}
&lt;main class=&quot;{{ faculty }}&quot;&gt;
	&lt;div class=&quot;l-container&quot;&gt;
    &lt;header class=&quot;l-header&quot;&gt;
  		{{&gt; atoms-heading-1 (class:&quot;class='h-title h-title-center'&quot;) }}
      {{&gt; molecules-nav-alphabet }}
    &lt;/header&gt;
		{{# people }}
      {{&gt; atoms-heading-2 (class:&quot;class='h-subtitle h-subtitle-center'&quot;) }}
			{{&gt; organisms-people }}
		{{/ people }}
	&lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}