{{&gt; organisms-header-de }}
&lt;main class=&quot;{{ faculty }}&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;header class=&quot;l-header&quot;&gt;
      {{&gt; molecules-heading-group }}
    &lt;/header&gt;
    &lt;div class=&quot;l-section&quot;&gt;
      &lt;div class=&quot;g-row&quot;&gt;
        &lt;div class=&quot;g g-sm-8&quot;&gt;
          &lt;img src=&quot;http://placekitten.com/g/320/200&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;g g-sm-16&quot;&gt;
          {{&gt; atoms-text-paragraph }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;l-section&quot;&gt;
      &lt;h3 class=&quot;h-subtitle&quot;&gt;Contatti&lt;/h3&gt;
      Facolt&agrave; di Scienze della Formazione&lt;br&gt;
      Aula: DAN 3.25b, viale Ratisbona, 16&lt;br&gt;
      39042 Bressanone&lt;br&gt;
      T: +39 0472 014150&lt;br&gt;
      F: +39 0472 014009&lt;br&gt;
      walter.lorenz@unibz.it
    &lt;/div&gt;
    &lt;div class=&quot;l-section&quot;&gt;
      &lt;h3 class=&quot;h-subtitle&quot;&gt;Corsi&lt;/h3&gt;
      {{&gt; molecules-block-headline-button }}
    &lt;/div&gt;
    &lt;div class=&quot;l-section&quot;&gt;
      &lt;h3 class=&quot;h-subtitle&quot;&gt;News&lt;/h3&gt;
      {{&gt; molecules-block-post }}
      {{&gt; atoms-button }}
    &lt;/div&gt;
    &lt;div class=&quot;l-section&quot;&gt;
      &lt;h3 class=&quot;h-subtitle&quot;&gt;Events&lt;/h3&gt;
      {{&gt; molecules-block-event }}
      {{&gt; atoms-button }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}