&lt;section class=&quot;l-section&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    {{# lectures }}
      &lt;div class=&quot;l-container_left&quot;&gt;
        {{&gt; atoms-heading-3 (class:&quot;h-theme&quot;)}}
      &lt;/div&gt;
      &lt;div class=&quot;gridTitle&quot;&gt;
        {{# lecture }}
          {{&gt; molecules-block-lecture }}
        {{/ lecture }}
      &lt;/div&gt;
    {{/ lectures }}
  &lt;/div&gt;
&lt;/section&gt;