{{&gt; organisms-header }}
&lt;main&gt;
  {{# page-hero }}
    {{&gt; organisms-hero-small }}
  {{/ page-hero }}
  {{# page-content }}
    {{&gt; organisms-grid-title }}
  {{/ page-content }}
&lt;/main&gt;
{{# page-footer }}
  {{&gt; organisms-footer }}
{{/ page-footer }}