&lt;nav class=&quot;scrollNav&quot;&gt;
  &lt;div class=&quot;scrollNav-inner&quot;&gt;
    {{# scroll-nav-items }}
      &lt;span class=&quot;scrollNav_item {{ class }}&quot;&gt;{{ nav-item }}&lt;/span&gt;
    {{/ scroll-nav-items }}
  &lt;/div&gt;
&lt;/nav&gt;