&lt;section class=&quot;l-section&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;typography&quot;&gt;
      {{&gt; atoms-heading-2 }}
      {{# latest-news }}
        {{&gt; molecules-block-post }}
      {{/ latest-news }}
      {{&gt; atoms-button }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;